
.list-group-item-action:focus, .list-group-item-action:hover{
    all: unset;
      color: rgb(49, 148, 255) !important;
    }
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
      margin-left: 0;
    }
    
    @media (max-width: 768px) {
      #sidebar-wrapper {
        margin-left: 0;
      }
      #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }
      body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
      }
      .sidebar{
        bottom: auto !important;
        z-index: 999999999 !important;
      }
    }
    
    @media (min-width: 768px) {
      #sidebar-wrapper {
        margin-left: 0;
      }
      #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }
      body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
      }

    }
    .wrapper {
        left: -13px;
      position: relative;
      
    }
    
    
    .btn-primary{
        --bs-btn-bg: #04275d;
      }
      .btn:hover {
        color: var(--bs-btn-hover-color);
        background-color: #042452;
        border-color: #021a3d;
    }
    
    #sidebarToggle{
    
    border-radius: 5px;
    color: rgb(0, 149, 255);
    margin-right: 13px;
    cursor: pointer;
    }
    .alert-dismissible {
      top: 10vh !important;
      position: absolute !important;
      z-index: 9 !important;
    
    
    }
    
    .dash_toggle_logo{
    justify-content: space-around;
    align-items: center;
    
    
    }
    
    .list-group-flush>.list-group-item {
    all: unset;
    transform: translateX(0 0 0 0);
    background: WHITE ;
    color: #000000b8 ;
    cursor: pointer !important;
    transition: 0.3s;
    align-items: baseline;
    }
    
    #dashboard_navigations{
    background: rgb(255, 255, 255) !important;
    color: #000000b8 !important;
    }
    .active_dash{
    
    color: rgb(49, 148, 255) !important;


    border-left: 4px solid rgb(49, 148, 255) !important;
    font-weight: 500 !important;
    }
    
    
    

    
    
    
    
    
    
    
    
    /* BOOT */
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    
      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
    
      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }
    
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
    
      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }
    
      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    
      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
      .bi {
        display: inline-block;
        width: 1rem;
        height: 1rem;
      }
      
      /*
       * Sidebar
       */
      
      @media (min-width: 768px) {
        .sidebar .offcanvas-lg {
          position: -webkit-sticky;
          position: sticky;
          top: 48px;
        }
        .navbar-search {
          display: block;
        }
      }
      
      .sidebar .nav-link {
        font-size: .875rem;
        font-weight: 500;
      }
      .sidebar .nav-link {
        font-size: .875rem;
        font-weight: 500;
     
    }
      
      .sidebar .nav-link.active {
        color: rgb(49, 148, 255) !important;
        border-left: 4px solid #00f1ff;
    }
      
      .sidebar-heading {
        font-size: .75rem;
      }
      
      /*
       * Navbar
       */
      
      .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
      
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
      }
      
      .navbar .form-control {
        padding: .75rem 1rem;
      }
      
    a.list-group-item{
        align-items: baseline !important;
        padding: 14px 0 0px 23px !important;

        cursor: pointer !important;

        transition: 0.3s !important;
        font-weight: 400;
        font-weight: 400 !important ;
        font-size: 1rem !important;
    }

    a.list-group-item:focus{
     
      color: rgb(49, 148, 255) !important;

    }

    .sidebar{
        background: WHITE !important;
        border: none !important;
    }
    .sub-menu.nav-item:hover{
      color: rgb(49, 148, 255) !important;

        
    }
    .sidebar .nav-link:hover {

      color: rgb(49, 148, 255) !important;
    }


     

    @media screen and (max-width: 760px) {
      .sidebar{
        height:none !important;
      }
     
    }

    @media screen and (max-width: 760px) {
      .responsive-iframe{
        width: 22rem !important;
        height: 26rem !important;
      }

 .help_search{
      width: 100% !important;
    }
    #help_header {

      width: 109% !important;
  }

    }
    @media screen and (min-width: 760px) {
      .popular_topics{
        justify-content: flex-start !important;
        column-gap: 6rem !important;
        row-gap: 3rem;
        padding: 0 35px 0 35px ;
      }
         
    }

    .main_chart{
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .chart_child{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
      padding: 1rem;
    }


.popular_boxes{
  width: 18rem;
  display: flex;
  flex-direction: column;
}
    
.popular_topics{
  flex-wrap: wrap;
  justify-content: center;
}

.topics_linl{
  display: flex;
  flex-direction: column;
  gap: 4px;
}


#help_header{
  background-image: url(
    '../../img/HC20HeroBGv11920x360.jpg'
  );
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 1.5rem;
  position: relative;
  justify-content: center;
  margin-left: -25px;
  width: 104%;


}

.nav-item{
  font-weight: 700 !important;
  background: white !important;
  color: #000000ba !important;

}


.sidebar{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.first_finance_collapse,.finance_collapse{
  align-items: baseline !important;
}



.sidebar::-webkit-scrollbar {
  width: 10px;  /* adjust as needed */
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* adjust as needed */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888; /* adjust as needed */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* adjust as needed */
}

.algo_strategies{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2px solid #80808029;

}
.time_date_filter{
  display: flex;
  align-items: baseline;
  gap: 2rem;
   cursor: pointer;

}

.date_time_active{
  border-bottom: 3px solid #00a6ff;
    color: #00a6ff;
}
.market_header{
  margin: 0 0 30px 0;
}

.date_picker{
  display: flex;
  gap: 0.2rem;
  align-items: baseline;
}

.day,.week,.month,.year{
  clear: both;
    display: inline-block;
    white-space: nowrap;
}


@media screen and (max-width: 760px) {
 
  .time_date_filter{
    overflow: auto;
    align-items: baseline;
  
  }
  .algo_strategies {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid #80808029;
    flex-wrap: wrap;
    gap: 1.1rem;
}
.first_volume_main{
  clear: both;
  display: inline-block;
  white-space: nowrap;
  width: fit-content;
}
.trading_volume_head{
  overflow: auto;
  gap: 0.4rem !important;
}
}


.first_volume_card{
  align-items: center;
  gap: 0.4rem;
}
.trading_volume_head{
  display: flex;
  margin-top: 1rem;
  padding: 0 17px 7px 17px;
  justify-content: space-between;
}

.first_volume_main{
  padding: 7px 15px 7px 17px;
  border-radius: 7px;
  border: 0.5px solid #80808033;
}

.volume_main_active{
  border: 0.5px solid #0093ff;

  background-color: #0076ff1a;
}

.data_not_found_section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profit_loss_volume{
  display: flex;
  justify-content: space-between;
  padding: 9px;
      align-items: center;
}

.icons_ref_full{
  display: flex;
  gap: 1.2rem;
  font-size: 19px;
  padding: 0px 9px 0 0;
}

.bi{
  cursor: pointer;
}


.head_dashboard_img{

  padding: 19px;
  margin-left: -36px;
  color: white;
  width: 106%;
  height: 12rem;
}

.pa-1{
  display: flex;
  width: 100%;
  padding: 12px 0 0 0;
  justify-content: center;
}

.offcanvas-body,.nav.flex-column {
 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.list-group-item-light{
  --bs-list-group-bg:none  !important;
}
.nav-item{
  background: transparent !important;
}
a.list-group-item,.sidebar .nav-link{
  background: transparent ;
  color: rgba(0, 0, 0, 0.664) ;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -51px !important;
  width: fit-content !important;
  margin-top: var(--bs-dropdown-spacer);
}






.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
  right: 1  !important;

}

.dropdown-center:hover .dropdown-menu{
display: block;
margin-top: 0;   
right: 1  !important;
}
