
@media screen and (min-width: 1000px) {
    .swiper-wrapper {
        transform: translate3d(0,0,0) !important;
    }
    .swiper-slide-active{
        display: none !important;
    }
}
    
.card.swiper-slide{
  width: 249.667px !important;
  cursor: pointer;
}


.dropdown-menu{
    background-color: white !important;
    z-index: 999999999 !important;
}

.is-active{
background-color: linear-gradient(90deg, rgba(50,164,255,1) 0%, rgba(21,134,237,1) 65%, rgba(0,198,255,1) 100%) !important;
background: linear-gradient(90deg, rgba(50,164,255,1) 0%, rgba(21,134,237,1) 65%, rgba(0,198,255,1) 100%) !important;
}

