#dropdownMenuFutures{
all: unset;
display: flex;
align-items: center;

width: max-content;
cursor: pointer;
}

a.c-btn.c-btn--bg {
    color: #000;
border: none;
    background: #0089ffb5;
    display: flex;
}

button{
    all:unset;
}

.nav_scroll{
    top: -10px;
    position: relative;
    transition: 0.5s;
}

.header__wrapper{
    transition: 0.4s !important; 
}
.header{
    transition: 0.4s !important;
}

    /* swiper-container {
      width: 100%;
      height: 100%;
    } */

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-pagination-bullet {
        background: white !important;
    }    


    #dropdownMenuFutures:hover{
        color: #0089ffb5;
       
    }

    

#dropdownMenuFutures{
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    letter-spacing: .5px;
    color: #333;
    transition: color .3s ease-in-out;
}
.dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.1s ease-in !important;
    width: 13rem !important;
    padding: 19px !important;
    border-radius: 9px !important;
}
.dropdown-item{
    gap: 0.3rem !important;

}
@media screen and (max-width: 1200px) {
    .dropdown-menu {
        box-shadow: none !important;
    
    }
    
    }

.dropdown-item:hover{
    color: #0089ffb5 !important;
}
.dropdown-item span:hover{
    color: #0089ffb5;
   
}
.dropdown-item>div:hover{
    color: #0089ffb5;
    
}
.dropdown-item:focus{
    background-color: transparent !important;
    background: transparent !important;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;

}
.swiper-pagination-bullet{
    height: 10px !important;
    width: 10px !important;
    margin-top: 16px !important;
    background-color: #333 !important;
    transition: width .3s ease-in-out ,border-radius .3s ease-in-out,background-color .3s ease-in-out !important;
}
.swiper-pagination-bullet-active{
    background: linear-gradient(90deg, rgba(50,164,255,1) 0%, rgba(21,134,237,1) 65%, rgba(0,198,255,1) 100%) !important;
    width: 30px !important;
    border-radius: 7px !important;
}


.is-active{
    background-color: linear-gradient(90deg, rgba(50,164,255,1) 0%, rgba(21,134,237,1) 65%, rgba(0,198,255,1) 100%) !important;
    background: linear-gradient(90deg, rgba(50,164,255,1) 0%, rgba(21,134,237,1) 65%, rgba(0,198,255,1) 100%) !important;
    }

.c-btn {
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 110px;
    height: 40px;
    border: 1px solid #000000df;
    box-shadow: none;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .4px;
    gap: 1rem !important;
}

.c-btn--border {
    color: black !important;
}

.c-btn--bg{
    color: white !important;
}

.strategy__section{
    padding: 2rem !important;
}

.features__carousel-btn a{
    transition: 0.2s ease-out;
    font-size: 2rem;
}

.features__carousel-btn a:hover{
    color: white;
}

.strategy__card-tags{
    gap: 0.3rem;
}

#strategy_slide{
    width: 400px !important;
}

@media screen and (max-width: 600px) {
  
    #strategy_slide {
        width: 100% !important;
    }
    }


@media screen and (max-width: 600px) {
    .swiper-container-features .swiper-slide{
        width: 100% !important;
            }
    .swiper-container-features .swiper-slide-active{
        width: 300px !important;
    }
    #mac_features{
        display: none !important;
    }
    }


    .swiper-slide-cover{
        gap: 2rem !important;
    display: flex !important;
    justify-content: center !important;
    }
    .swiper-container-features .swiper-slide-active .swiper-slide-cover.i.bi.bi-cpu{
color: white !important;
    }




    .name_header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
  
      }
  
      .main_card_testimonials {
        width: 25rem;
        border: 1px solid;
        padding: 18px;
    border-radius: 10px;
  
      }
  
      .top_header_all {
        display: flex;
        justify-content: space-between;
      }

      .img img{
        border-radius: 50%;
    width: 33px;
      }

      .testimonials_content{
        margin-top: 1rem;
      }
#signInButton,#signUpButtonPopup{
    border: none !important;
}
#signInButton:hover{
    border:1px solid #0089ffb5 !important;
    color: #0089ffb5 !important;

}
#signUpButtonPopup:hover{
    border:1px solid #0089ffb5 !important;
    color: #0089ffb5 !important;

}

.modal__btn--facebook:focus .icon-font, .modal__btn--facebook:focus span, .modal__btn--facebook:hover .icon-font, .modal__btn--facebook:hover span {
    color: #0089ffb5 !important;
}

a.c-btn.c-btn--bg:hover{
    background-color: white !important;
    color: #0089ffb5 !important;
    border:1px solid #0089ffb5 !important;

}
.modal__btn>div {
    width: 19px !important;
}
.modal__btn>div:hover {
    width: 18px !important;
}

#controlVideoVolume{
    transition: 0.2s;
    cursor: pointer;
}


a.pricing__btn.c-btn.c-btn--bg {
    color: #fff;
    width: 150px !important;
}





.main__bg-col{
    display: none !important;
}