.market_header{
    align-items: center;
    gap: 0.2rem;
}
.bi.bi-exclamation-circle{
    cursor: pointer;
    font-size: 1rem;
    color: rgba(0, 85, 255, 0.87);
}

#market_input{
    border-radius: 0% !important;
    width: 21rem;
}
#market_search{
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: 10px 26px 26px 12px;
    color: rgba(0, 0, 0, 0.618);
}

.main_card{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.btn-market{
    color: #000000a8 ;
    border: 1px solid #00000042;
    background: transparent;
    padding: 0 13px 0 13px;
    transition: 0.3s;
}
.btn-market:hover,#market_search:hover{
    color: #0762ffa8 !important;
    border: 1px solid #0762ffa8;
    cursor: pointer;
}

.search_filter{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  
    flex-wrap: wrap;
}

#pagination_drop{
    color: #00000099  !important;
    background-color: transparent !important;
    border: 1px solid #00000054 !important;
}
.mode i.bi{
    border: 1px solid #0000004f;
    font-size: 1.2rem;
    padding: 10px 31px 26px 13px;
    color: #000000a8;
    transition: 0.3s;
}
.mode i.bi:hover{
    color: #0762ffa8 !important;
    border: 1px solid #0762ffa8;
    cursor: pointer;

}
.paginations_mode {
    margin-top: 1rem;
    justify-content: flex-end;
    gap: 0.3rem;
}

@media screen and (max-width: 600px) {
    .paginations_mode {
        display: none !important;
    }
    .main_card {
        display: flex;
        gap: 1rem !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        margin-top: 1rem !important;
    }
    }

    .left_card{
         
            display: flex;
            gap: 1rem;
    }
    
    .head_card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 11px 0 13px;
        margin-top: 0.5rem;
    }

    .fav_share{
        display: flex;
    gap: 0.6rem;

    }

    .setup_user{
        display: flex;
        justify-content: space-between;
        padding: 0 5px 0 6px;
    }

    .user{
        font-size: 12px;
        display: flex;
        align-items: baseline;
    }

  
    .anticon {
        display: inline-block;
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .anticon>* {
        line-height: 1;
    }

    .anticon svg {
        display: inline-block;
    }

    .anticon::before {
        display: none;
    }

    .anticon .anticon-icon {
        display: block;
    }

    .anticon[tabindex] {
        cursor: pointer;
    }

    .anticon-spin::before,
    .anticon-spin {
        display: inline-block;
        -webkit-animation: loadingCircle 1s infinite linear;
        animation: loadingCircle 1s infinite linear;
    }

    @-webkit-keyframes loadingCircle {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes loadingCircle {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }


    .capital_risk{
        display: flex;
        justify-content: space-around;
        background: #f4fafb;
        padding: 11px 0 11px 0;
        font-size: 14px;
    
    }

    .execute{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 0 0;
        margin-top: 1rem;
    }