.left_symbol{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.right_symbol{
    align-items: center;
    gap: 0.3rem;

}
.option_chain_name,.max_pain,.lot_size,.spot_price{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 13px;

}
.max_pain{
    display: flex;
    gap: 0;
    font-size: 13px;
    flex-direction: column;
}
.max_pain_inner{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.option_chain_symbol{
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 10px 20px 10px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
i.bi.bi-arrow-clockwise{
    width: 37px;
    border: 1px solid;
    padding: 10px;
    border-radius: 6px;
    height: 38px;
transition: 0.3s;
}

i.bi.bi-arrow-clockwise:hover{
    color: white !important;
    background-color: #042452;
    border-color: #021a3d;
}

.lot_size{
    display: flex;
    flex-direction: column;
    gap: 0;

}

.spot_price{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
}
.pre_build_strategies,.pre_build_fields,.builder_chart{
    display: flex;
    margin-top: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 10px 15px 10px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn-outline-primary:first-child:hover, .btn-outline-primary:focus-visible, .btn-outline-primary:hover, :not(.btn-check)+.btn-outline-primary:hover {
    border-color: #3b71ca !important;
    background: #3b71ca !important;
    color: white !important;
}