{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Black-Scholes Model</h1>
        <h5>The Black-Scholes model is an mathematical formula used to calculate call and put prices to determine an option's value.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <h1>The Black-Scholes Model: Pricing Options Contracts</h1>

    <p>
        The Black-Scholes model, also known as the Black-Scholes-Merton model, is a mathematical model used to price options contracts. The formula was created by Fisher Black and Myron Scholes, with contributions from Robert Merton.
    </p>

    <p>
        The options pricing model considers the current stock price, the option’s strike price, time remaining until expiration, interest rate, and implied volatility. The model uses these variables to determine the theoretical value of call and put options.
    </p>

    <h2>Calculating Options Prices with the Black-Scholes Formula</h2>

    <p>
        The Black-Scholes model is a mathematical formula that attempts to quantify the theoretical fair value of an option price based on five variable inputs:
    </p>

    <ol>
        <li><strong>Stock Price:</strong> the current price of the underlying stock.</li>
        <li><strong>Strike Price:</strong> the price at which the option holder can buy or sell the underlying asset.</li>
        <li><strong>Time Until Expiration:</strong> the amount of time left before an option expires.</li>
        <li><strong>Interest Rate:</strong> the risk-free rate.</li>
        <li><strong>Volatility:</strong> the measure of a security’s price change.</li>
    </ol>

    <p>
        Traders can use these components to estimate an option's value in the current market environment. The more accurate these estimates are, the better informed decisions can be made about which options to buy or sell.
    </p>

    <h2>How to Use the Black-Scholes Model</h2>

    <p>
        The most important variable in the Black-Scholes model is the implied volatility of the underlying asset because it is the only unknown input. Implied volatility is forward-looking; therefore, an estimate of where the underlying stock's price will expire. The higher the implied volatility of an asset, the more expensive the option contract.
    </p>

    <p>
        When using this formula, traders must consider all five components to get an accurate reading of how much an option should cost.
    </p>

    <h2>Black-Scholes in European-style vs. American-style Options</h2>

    <p>
        The Black-Scholes model is widely used to price European options. European options cannot be exercised or assigned before the expiration date. In contrast, American options can be exercised at any time before the expiration date. As a result, the pricing of American options is more complicated and must take into account the risk that an option may be exercised early. The Black-Scholes model does not provide an accurate price for American options, but it can be used as a starting point for further analysis.
    </p>

    <p>
        It should also be noted that the Black-Scholes model assumes no dividends will be paid on the underlying stock. This is a valid assumption for European options since they can only be exercised after the expiration date. For American options, however, this assumption may not hold true and must be considered when pricing the contract.
    </p>

    <h2>FAQs</h2>

    <p><strong>What is the Black-Scholes model?</strong></p>

    <p>
        The Black-Scholes model, also known as the Black-Scholes-Merton model, is a mathematical model used to price options contracts. The formula quantifies the theoretical fair value of an option price based on five variables.
    </p>

    <p><strong>What is assumed by the Black-Scholes-Merton model?</strong></p>

    <p>
        The Black-Scholes-Merton options pricing model uses the current stock price, the option’s strike price, time remaining until expiration, interest rate, and implied volatility to determine the theoretical value of a call and put options. All inputs are objective and easily found. However, implied volatility is forward-looking. A constant risk-free interest rate is assumed.
    </p>

    <p><strong>What is the Black-Scholes model used for?</strong></p>

    <p>
        The Black-Scholes model is used to price options contracts. Using five inputs, the formula attempts to calculate the theoretical fair value of an option.
    </p>
    </div>

</section>

{% endblock dashboard_body %}