{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Bear Market Definition</h1>
        <h5>A bear market is an extended period of stock market decline. Learn the definition, causes, and the average duration of bear markets.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
         <p>
            A bear market is a period when stock prices fall, and widespread pessimism about the economy is prevalent. Bear markets are worse than a correction, and is typically measured by a decline in the stock market index of 20% or more from its most recent high. Stock market corrections are defined as a drop of 10%. <br> <br>
            For example, if the Dow Jones Industrial Average (DJIA) reaches 30,000 and then falls to 24,000, it would be considered a bear market.
         </p>
         <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62debec33de04b2f7d14741c_Stock%20Market%20Annual%20Returns.png" loading="lazy" alt="Stock market annual returns" width="100%">      
    </div>

    <div class="mt-4">
     <h4>What does "bearish" mean?</h4>
     <p>
        "Bearish" is when an investor believes that the markets or a particular security will fall in value. <br> <br>
        Investors who are bearish on the market typically expect prices to continue to fall. They may try to profit by short selling stocks or buying put options. Selling securities short involves borrowing the security from somebody else, selling it, and hoping to repurchase it at a lower price so you can return it to the person you borrowed it from and pocket the difference. <br> <br>
        A bear market is typically associated with a high degree of bearish sentiment among market participants.
     </p>
    </div>

    <div class="mt-4">
     <h4>Bear market rallies</h4>
     <p>
        A bear market rally is when stock prices temporarily rise after declining for an extended time. This usually happens when investors believe the worst is over and start buying again. <br> <br>
        However, bear market rallies can be false recoveries, and the market may continue to fall after the rally. Bear market rallies are also called a dead cat bounce because even a dead cat will bounce if it falls far enough and fast enough.
     </p>
    </div>
    <div class="mt-4">
     <h4>Bear market causes</h4>
     <p>
        There can be many different reasons why bear markets occur. Some of the most common causes include:

        <li>Economic recessions: economic downturns with two or more quarters of negative GDP growth.</li>
        <li>Falling corporate profits: as companies make less money, their stock prices also usually fall.</li>
        <li>Rising interest rates: when rates go up, it becomes more expensive to borrow money, leading to a slowdown in economic activity.</li>
        <li>Geopolitical events: wars, presidential elections, and other events can cause bear markets.</li>
        <li>Natural disasters: floods, hurricanes, and other natural disasters can disrupt economic activity and lead to bear markets.</li>
        <li>High unemployment:  when people lose their jobs, they typically spend less money, leading to a bear market.</li>
     </p>

     <p>
        It is important to remember that bear markets are a normal part of the economic cycle and can provide opportunities for long-term investors to buy stocks at lower prices.
     </p>
    </div>

    <div class="mt-4">
     <h4>Bear market vs. recession</h4>
     <p>
        A bear market is typically measured by a decline in the stock market index of 20% or more from its recent high. <br> <br>

        A recession is defined as two consecutive quarters of negative economic growth measured by GDP. <br> <br>

        The key difference between a bear market and a recession is that a bear market affects stock prices while a recession affects the overall economy.
     </p>
    </div>

    <div class="mt-5">
     <h4>Average length of a bear market</h4>
     <p>
        How long do bear markets last?  Since 1900, the average bear market has lasted approximately 13 months and has seen a decline of about 32%. <br> <br>

However, there have been some bear markets that have lasted much longer. For example, the bear market from 2000 to 2002 lasted about 30 months and saw a decline of about 49%. <br> <br>

The bear market from 2007 to 2009 was even worse, lasting about 17 months and declining by about 56%. <br> <br>

Bear markets can be scary for investors, but it is important to remember that they are a normal part of the economic cycle. While bear markets may last for a while, they eventually end, and the market starts to rise again.
     </p>
     <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62debd8050487255a9f87eb8_Bull%26Bear%20Markets.png" loading="lazy" alt="Bear markets" width="100%">
    </div>

</section>

{% endblock dashboard_body %}