{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Beta Weighting</h1>
        <h5>Beta is a measurement of risk for an asset relative. Beta-weighting is a portfolio management tool that allows an investor to evaluate their portfolio to a benchmark.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
    <p>Delta is the amount an option price should change based on a $1 move in the underlying asset. Calls have a positive Delta between 0 and 1, while puts have a negative Delta between 0 and -1. Delta is constantly changing as the underlying asset approaches expiration and experiences movement in price or volatility.</p>

    <p>The delta neutral strategy uses the collective positions in a portfolio to neutralize one another to achieve a net-zero value of delta.</p>

    <p>For example, if a portfolio consisted of one position with a positive delta of .50, a new position could be added with a negative delta of -.50 to create a delta neutral portfolio.</p>

    <p>Investors may seek delta neutral positions to limit exposure to changing market conditions. The portfolio manager must be active and continuously manage the assets in the portfolio to maintain delta neutrality as the value of delta is always changing.</p>

    <p>Delta neutral is a balanced approach to investing and can be used to hedge so that the account remains flat, regardless of fluctuations in the underlying markets, or to take advantage of changes in time value or volatility in an underlying asset.</p>
    </div>

    <div>
        <h2>FAQs</h2>

    <h3>How is Weighted Beta Calculated?</h3>
    <p>Beta-weighting is a portfolio management tool that allows an investor to evaluate their portfolio against a specific stock or market index to determine how the portfolio’s assets will respond to volatility.</p>
    <p>For example, if an investor wanted to have multiple assets perform comparably to the S&P 500, they could beta-weight the portfolio against SPY to ensure that volatility and price changes in the overall broad market would have a similar impact on their account.</p>
    <p>To calculate the portfolio’s beta, multiply the beta of each individual stock within the portfolio by its percentage value of the portfolio, and add all the sums. A positive beta means a stock or portfolio will generally move in the same direction as the benchmark. A negative beta implies that the assets will move in the opposite direction of the beta-weighted benchmark.</p>
    <p>Beta-weighting helps distribute risk to keep a portfolio neutral and balanced against directional moves and highlights how the overall portfolio and the individual assets within will gain or lose money.</p>

    <h3>What is the Beta of a Risk-Free Asset?</h3>
    <p>A risk-free asset would have a beta of zero. A zero beta implies that the security has no systematic market risk.</p>

    <h3>What is Beta-weighted Delta?</h3>
    <p>Beta-weighting is a portfolio management tool that allows an investor to evaluate their portfolio against a specific stock or market index to determine how the portfolio’s assets will respond to volatility. Investors can use delta to balance the portfolio.</p>
    <p>For example, if a portfolio consisted of one position with a positive delta of .50, a new position could be added with a negative delta of -.50 to create a delta neutral portfolio.</p>

    </div>

</section>

{% endblock dashboard_body %}