{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Black Swan Event</h1>
        <h5>A black swan event is a rare and unexpected event that impacts financial markets and economic activity. This is a look at historical events with suggestions to prepare for future black swans.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <p>
            In his book “The Black Swan: The Impact of the Highly Improbable,” Nassim Taleb popularized the term black swan event. Taleb later used the term to refer to an event that surprises and has a profound impact, specifically in financial markets. <br>

A black swan event is unexpected, unpredictable, and challenging to mitigate entirely. Trying to predict a black swan event is nearly impossible, so it may be better to prepare for one instead. <br>

For traders, preparing for a black swan event can mean many things and is a function of the assets that make up your portfolio. <br>

Diversification is an excellent place to start, although it only eliminates unsystematic risk. All investments are subject to the systematic risk of a black swan event. Still, you don't want all of your eggs in a single basket of assets. <br>

Since the publication of Taleb's book, black swan events have become a popular topic of discussion among academics and business leaders <br>

Because the impact can be significant and unpredictable, leaders and investors attempt to build “robustness” into their governments, businesses, and portfolios to better handle the fallout of a black swan event.
        </p>
    </div>

    <div>
        <h4>Examples of black swan events</h4>
        <p>A black swan event has three keyidentifiers:</p>

        <ol>
            <li>It is unforeseeable</li>
            <li>It has a profound impact </li>
            <li>It seems predictable in hindsight</li>
        </ol>

        <p>
         Historical black swan examples include the 9/11 terrorist attacks, the Japanese tsunami, and the Flash Crash. <br>

         These events were unforeseen but had significant impacts on the world’s economy. <br>

         The impact of black swans varies and depends on the observer’s exposure to the event. A black swan event can negatively or positively impact financial markets and individual portfolios.
        </p>
    </div>

    <div>
        <h4>Fat tails</h4>
        <p>Options are priced based on the Black-Scholes model. The Black-Scholes model makes assumptions that recent research has challenged.</p>
    </div>

    <div class="mt-5">
      <h4>Returns on an underlying asset are log-normally distributed </h4>
      <p>
        Log normal distribution, otherwise known as the “Bell Curve,” is a probability model developed by Carl Freidrich Gauss in the 1800s. <br> <br>

The “Bell Curve” assumes a “mild” state of randomness in markets. <br> <br>

“Mild” randomness is what we see in much of nature, like temperature and pressure. Values only deviate so far from their average, allowing for prediction. <br> <br>

In actuality, markets demonstrate a “wild” form of randomness, similar to gas. <br>

The “Bell Curve” is an assumption of option pricing models, and that assumption of normal distribution is often faulty. <br>
      </p>
    </div>

    <div>
        <h4>The volatility of the underlying asset is known and constant </h4>
        <p>
            This assumption is a derivative of the “Bell Curve” and its interpretation of “mild” randomness, namely that markets are static,and the implied volatility of options should be the same across different strike prices. <br> <br>

Hindsight demonstrates this is not true. If you later compare an option's price with what was implied at the time, you’ll find a discrepancy in the implied volatility assigned to the option. <br> <br>

Implied volatility does not always equate to realized volatility, so options can be mispriced. <br> <br>

A 0.20-delta, 90 DTE put option on SPX purchased in January of 2020 turned out to be severely mispriced. The option’s implied volatility surged in the wake of the coronavirus pandemic, and the normally distributed bell curve assigned the wrong probability for SPX crashing to $2500. <br> <br>

The “tails” of a normal distribution curve are thin, implying a lesser chance of an extreme event.
        </p>

        <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/6046a5c0b36c8a1b75f93e2e_StandardDeviation.png" loading="lazy" alt="Normal distribution" width="100%">

        <p>In reality, the tails of a distribution curve can be fatter or “leptokurtic," implying a higher probability of an extreme event.</p>
        <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/6274423fff58aa4a0b64e470_Leptokurtic%20curve.png" loading="lazy" alt="Leptokurtic distribution curve" width="100%">

        <p>The “Fat Tail” lesson for investors might be to buy “tail hedges” when they're cheap. This tail hedge could be long VIX calls, out of the money puts on major indices, or many other protection-oriented trades.</p>
    </div>

    <div class="mt-5">
     <h4>What are the consequences of a black swan event?</h4>
     <p>
        Black swan events can have both positive and negative consequences. <br> <br>

        Positive consequences may include creating new opportunities or sparking innovation and creativity. For instance, the rise of the personal computer is a black swan event identified by Taleb that falls into this category. <br> <br>
        
        Negative consequences may include loss of life, damage to property, and economic hardship. Because black swan events are so rare and unpredictable, it is often difficult to prepare for them. This can make the consequences even more severe. 
     </p>
    </div>

    <div class="mt-5">
     <h4>How can you prepare for a black swan event?</h4>
     <p>Although there is no way to predict or avoid a black swan event, you can take steps to mitigate the impact on your investment portfolio.</p>
     <ol>
        <li>Diversify your portfolio across a range of assets, including some that may be less prone to black swan events (e.g., government bonds).</li>
        <li>Try to identify potential black swan events that could impact your portfolio and have a plan in place for how you would react if they occurred.</li>
        <li>Include hedging strategies in your portfolio that would help offset the impact of a black swan.</li>
        <li>Make sure your risk management plan in place that considers the potential for black swan events.</li>
        <li>Stay up to date with the latest news and events that could potentially trigger a black swan event.</li>
        <li>Be prepared to take quick and decisive act</li>
     </ol>
    </div>

    <div class="mt-5">
     <h4>Bottom line</h4>
     <p>Although black swan events are virtually impossible to predict, understanding what they are and how to identify them can help you be prepared for the consequences. Awareness of the inevitable black swan event ensures that your portfolio is as resilient as possible.</p>
    </div>
</section>

{% endblock dashboard_body %}