{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Bollinger Bands</h1>
        <h5>Bollinger bands are a volatility technical indicator that show the upper and lower range of normal price movement using standard deviation.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <p>Bollinger Bands, created by John Bollinger, are a widely used volatility indicator in technical analysis. They consist of a simple moving average (SMA) and two bands above and below the SMA, typically representing two standard deviations. The bands dynamically adjust, providing insights into changing volatility levels.</p>

    

    <h3>What are Bollinger Bands?</h3>
    <p>Bollinger Bands consist of a central SMA, often a 20-day moving average, and upper and lower bands that are two standard deviations away from the SMA. They act as a relative definition of high and low prices. Prices are considered high at the upper band and low at the lower band. Approximately 95% of the price action is expected to occur within the bands.</p>

    <h3>Using Bollinger Bands</h3>
    <p>Bollinger Bands are utilized to measure volatility and identify potential price channels or trends. Breakouts beyond the bands may signal the start of a new trend or indicate overextended prices. Traders employ various strategies, including mean reversion and trend following.</p>

    <h3>Calculating Bollinger Bands</h3>
    <p>The calculation involves three steps:</p>
    <ol>
        <li>Calculate a simple moving average of the asset’s price over a specific time period.</li>
        <li>Calculate the standard deviation over the same time period.</li>
        <li>Draw upper and lower bands 'n' standard deviations away from the SMA.</li>
    </ol>

    <h2>FAQs</h2>

    <h3>What are Bollinger Bands?</h3>
    <p>Bollinger Bands are a volatility indicator consisting of a simple moving average (SMA) and two bands above and below the SMA. They are used to gauge market volatility and define high and low prices on a relative basis.</p>

    <h3>How to read Bollinger Bands?</h3>
    <p>Bollinger Bands provide a relative definition of high and low prices. Prices are considered high at the upper band and low at the lower band. Traders use this information to assess whether prices are relatively high or low compared to past price action.</p>

    <h3>How do you use Bollinger Bands?</h3>
    <p>Bollinger Bands measure volatility, and traders use them to identify overextended price action. Mean reversion traders may enter positions when prices touch the lower band and exit at the upper band. Trend followers may interpret breakouts beyond the bands as signals of a continuing trend.</p>

    <h3>How Accurate are Bollinger Bands?</h3>
    <p>Bollinger Bands are a reliable tool for measuring market volatility. While they are a lagging indicator, their simplicity and effectiveness make them popular among traders. Traders often combine Bollinger Bands with other indicators for more accurate predictions of future price movements.</p>
    </div>

</section>

{% endblock dashboard_body %}