{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Bretton Woods Agreement</h1>
        <h5>The Bretton Woods Agreement was a watershed moment for global economies and set the tone for international trade in the future. Explore the history and effects of the agreement.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <h4>Bretton Woods Agreement Explained</h4>
     <p>
        Bretton Woods was a historic financial agreement signed on July 22, 1944. The agreement was named after the town of Bretton Woods, New Hampshire, where the representatives met to sign the agreement. <br> <br>

The agreement was signed by representatives of 44 nations and established the International Monetary Fund (IMF) and the World Bank. The deal was designed to stabilize currencies and promote international trade after World War II.  <br> <br>

Under the agreement, each participating country pegged its currency to gold and established a maximum allowed deviation from that peg. The Bretton Woods Agreement remained in effect until 1971 when the United States began to allow its currency to float on foreign exchange markets.
     </p>
    </div>
    <div class="mt-5">
<h4>Why the Bretton Woods System was created</h4>
<p>
    The agreement regulated the international monetary and financial order after World War II. It established the International Monetary Fund (IMF) and the International Bank for Reconstruction and Development (World Bank). <br> <br>

    The Bretton Woods Agreement also created a system of fixed exchange rates. Under this system, countries pegged their currencies to the US dollar. The US dollar was then pegged to gold. This system helped to stabilize the global economy and promote free trade.  <br> <br>
    
    However, it eventually broke down due to unsustainable US deficits.  
</p>
    </div>
    <div class="mt-5">
   <h4>Criticisms of the Bretton Woods System</h4>
   <p>
    The agreement has been criticized for being too rigid, not having enough power to control inflation, favoring developed countries over developing countries, and favoring creditors over debtors. <br> <br>

Some economists have argued that the agreement led to the eventual collapse of the Bretton Woods system in 1971. Nevertheless, the agreement was a significant step in the international regulation of currency and trade.
   </p>
    </div>
    <div class="mt-5">
<h4>Why did Bretton Woods end?</h4>
<p>
    There are many reasons why the Bretton Woods Agreement ended. The US trade deficit increased, and there were more dollars in circulation than there was gold to back them up. <br> <br>

    Other countries began to devalue their currencies to boost exports and reduce imports. Inflation began to rise, eroding the value of the US dollar. <br> <br>
    
    Finally, the Bretton Woods Agreement was becoming increasingly unpopular with developed countries. 
</p>
    </div>

    <div class="mt-5">
        <h4>Conclusion</h4>
        <p>
            The Bretton Woods Agreement was a significant step in the international regulation of currency and trade. The agreement was criticized for being too rigid, not having enough power to control inflation, favoring developed countries over developing countries, and favoring creditors over debtors. Nevertheless, the agreement helped stabilize the global economy after World War II. The agreement eventually broke down due to unsustainable US deficits and other economic factors.
        </p>

    </div>
</section>

{% endblock dashboard_body %}