{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Buying Stock</h1>
        <h5>There are multiple ways to purchase stock in the market. Learn more about the different ways to buy stock.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
        <p>There are two types of stock: common and preferred. Buying stock is possible through a number of avenues, most often through a broker. Brokerage accounts may be opened online or, in some cases, at physical locations. An initial deposit is made into the brokerage account via an ACH transfer, bank wire, or check. Initial deposit requirements vary depending on the broker, but often a minimum initial deposit of $500 to $2,000 is required.</p>
        <p>After the account is open and funded with the initial deposit, the investor may select one or more stocks to purchase and instructs the broker to purchase the stock with a buy order.</p>
        <p>Buy orders can be entered using an app, the broker’s website, or by calling the broker. To calculate the cost of a purchase, multiply the stock price by the number of shares acquired. For example, 50 shares of a $70 stock would cost $3,500. The broker may or may not charge a commission to execute the trade. A trade confirmation is sent from the broker to the investor and details the trade execution time and price.</p>
        <p>After the purchase, the shares are displayed as positions in the brokerage account for the investor to monitor.</p>
    </div>

    <div class="mt-5">
        <h4>Direct stock purchase plans</h4>
        <p>Direct stock purchase plans allow individual investors to purchase a company’s stock directly from the company. Because investors in direct stock purchase plans acquire shares of stock directly from the issuing company, a brokerage account is not required. Typically, a minimum initial investment, such as $500, is required, and then subsequent purchases have a smaller minimum, such as $50.</p>
        <p>The minimum initial investment for a direct stock purchase plan is usually smaller than the minimum initial investment required to open a brokerage account. Direct stock purchase plans typically have low or no transaction fees and provide opportunities for automatic investments. Sometimes direct stock purchase plans will allow investors to purchase shares at a discount.</p>
    </div>

    <div class="mt-5">
        <h4>Dividend reinvestment programs (DRIP)</h4>
        <p>Dividend reinvestment programs allow investors to reinvest cash dividends into additional shares of the company’s stock. Dividend reinvestment programs make it possible for investors to grow the number of shares in a company instead of receiving cash dividends. Fractional shares may be received.</p>
        <p>For example, if the company pays a $5 dividend and has a share price of $100 per share, investors in a dividend reinvestment program would receive 0.05 shares of the company’s stock for each share owned on the dividend payment date. Dividend reinvestment plans typically allow investors to participate with minimal commissions or fees.</p>
        <p>Like direct stock purchase plans, dividend reinvestment programs may allow investors to receive shares of stock at a discounted price. Long-term investors often utilize dividend reinvestment programs in retirement accounts.</p>
    </div>

    <div class="mt-5">
     <h4>Stock funds</h4>
     <p>Stock funds invest in equity securities and allow investors to purchase a basket of securities, providing diversification. Stock funds are pooled investments and typically structured as exchange-traded funds (ETFs) or mutual funds. Stock funds may track an index, such as the S&P 500 or a particular sector or industry, such as the financial or real estate sectors.</p>
     <p>Stock funds may be actively managed by portfolio managers who make investment decisions in an attempt to outperform a particular benchmark. Stock funds can also be passively managed where a specific index or sector dictates investment weighting.</p>
     <p>Stock funds provide diversification benefits because broad exposure to multiple companies or ETFs can be achieved with a single investment.</p>
    </div>

    <div>
        <h4>FAQ's</h4>

        <h5>How do you buy stock?</h5>

        <p>Stocks are shares of a company-issued to generate capital for the corporation. Shares of stock are issued in the primary market through an initial public offering (IPO) and then trade in the secondary market, typically on a stock exchange, through an intermediary known as a brokerage firm. Stock is bought and sold on exchanges such as the NYSE or the NASDAQ and these exchanges provide real-time pricing on the value of a company.</p>
        <p>Investors that purchase stock acquire an ownership stake in the company based on the number of shares they purchase. Companies issue a finite amount of shares during their IPO and may issue more shares to raise additional capital at a later date. Stock prices fluctuate continuously as investors evaluate the perceived future value of a company.</p>
        

        <h5>What are the best stocks to buy for beginners?</h5>
        <p>It is important to select stocks that allow for proper risk management, capital allocation, and position sizing relative to account size. All stocks offer risk and reward. Less volatile stocks may provide more stable returns with less profit potential. Buying stock is possible through several avenues, most often through a broker.</p>
        <p>Brokerage accounts may be opened online or, in some cases, at physical locations. An initial deposit is made into the brokerage account. After the account is open and funded with the initial deposit, the investor may select one or more stocks to purchase. </p>
    </div>

</section>

{% endblock dashboard_body %}