{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>How to Calculate Future Value</h1>
        <h5>Want to make better financial decisions for your future? Learn how to calculate future value and put that knowledge to work!</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <h4>What is future value?</h4>
     <p>
        Future value is the value of an asset at a future point in time. It is the amount of money you will have if you invest your money today and let it grow over time.  <br> <br>

When thinking about future value, it's important to consider things like inflation and interest rates. These factors can have a big impact on how much your money will be worth in the future.
     </p>
    </div>
    <div class="mt-5">
     <h4>How to calculate future value</h4>
     <p>The two most common methods are using a financial calculator and using a formula.</p>
     <div>
        <h4>Using a financial calculator</h4>
        <p>If you have a financial calculator, you can use its five time value of money buttons to calculate future value. To do this, you'll need to input the following information and then compute the future value:</p>
        <li>The present value of your investment: This is the amount of money that you're investing today.</li>
        <li>The interest rate: This is the rate of return that you're expecting to earn on your investment.</li>
        <li>The number of years: This is the number of years that you're investing for.</li>
        <li>The payments: This is the amount of payments received or deposits made over time. </li>
        <p>
            Once you have all of this information, you can input it into your calculator, and calculate the future value of your investment based on these inputs. If you know four of the variables, you can solve for the fifth variable. 
        </p>
     </div>
     <div>
         <h4>Using a formula</h4>
         <p>You can also calculate the future value using a formula. The formula is as follows:</p>
         <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62f0f7217b0e1c373e1692cc__WgnqY9w2L3YQXpzWzQjf2pm5RD2t0EjZc0F6JcEFWx-NQhbsPn_rOqRTSXzJ1B8POW-UZEeKHUOkYUgytxu6xf6059OY7VDp_tpTdquddIW3876lPmblTrRviHdiFa1isKmyrgoGyKDQrKr02b1lw.png" alt="Future Value Formula" width="100%">
         <span>Where:</span>
         <li>FV = future value</li>
         <li>PV = present value</li>
         <li>r = interest rate</li>
         <li>n = number of years</li>

         <p>
            You'll need to input the same information as you would for a financial calculator to use this formula. Once you have the necessary information, you can plug the inputs into the formula and solve for FV.
         </p>
     </div>
    </div>
    <div class="mt-5">
     <h4>Calculating the future value with a financial calculator</h4>
     <p>
        Suppose you have $10,000 to invest. You expect to earn an annual return of 5% on your investment. You're planning to invest for 10 years. You will make no additional deposits after the $10,000 investment.
     </p> <br> <br>
     <p>Using a financial calculator, you would input the following information:</p> <br> <br>

     <li>PV: $10,000</li>
     <li>I/Y: 5%</li>
     <li>N: 10</li>
     <li>PMT: 0</li>
     <li>FV: This is variable you will solve for on the financial calculator. </li>
     <p>
        The future value (FV) of your investment would be $16,289. Assuming an annual return of 5% each year over 10 years, you would have $16,289 if you invested $10,000 today.
     </p>
    </div>
    <div class="mt-5">
     <h4>Future value vs. Present value</h4>
     <p>
        It's important to understand the difference between future value and present value. Future value is the amount of money you will have in the future, while present value is the amount of money you have today. <br> <br>

Future value is important when you're investing money. You want to know how much your investment will be worth in the future so that you can make an informed decision about whether or not to invest. <br> <br>

Present value is important when you're thinking about taking out a loan. You need to know how much money you have available today so that you can borrow the appropriate amount.
     </p>
    </div>
    <div class="mt-5">
   <h4>Factors that affect future value calculations</h4>
   <p>
    There are a few factors that can affect future value calculations. These include:
   </p> <br> <br>

   <li>The interest rate: The higher the interest rate, the higher the future value of your investment will be. This is because you'll earn more money on your investment if the interest rate is higher.</li>
   <li>The number of years: The longer you invest, the higher the future value of your investment. This is because you'll have more time to earn interest on your investment.</li>
   <li>Inflation: Inflation can reduce the future value of your investment. This is because the money you have today will be worth less in the future if inflation is high.</li>

   <p>
    These are just a few factors that can impact future value calculations. There may be others that are specific to your situation, so it’s important to consider everything when making investment decisions.
   </p>
    </div>
    <div class="mt-5">
     <h4>Real-life examples of future value calculations</h4>
     <p>
        Future value calculations let you understand how your money will grow over time and can help you make informed decisions about your finances. Here are a few examples: <br> <br>

        Investing: You can use future value calculations to see how much your investment will be worth in the future. This can help you decide whether or not to invest your money. <br> <br>
        
        Retirement planning: You can use future value calculations to see how much money you'll need to have saved for retirement. This can help you make sure you're on track to reach your retirement goals. <br> <br>
        
        Budgeting: You can use future value calculations to see how much money you'll have in the future if you save a certain amount of money each month. This can help you create a realistic budget. 
     </p>
    </div>
</section>

{% endblock dashboard_body %}