{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>How to Calculate Present Value</h1>
        <h5>Calculating present value is a powerful tool that can help you make better financial decisions for your future.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <h4>What is present value?</h4>
     <p>
        Simply put, present value is the current worth of a future sum of money. It's important because it allows you to compare different investment options. <br> <br> 

For example, if you're trying to decide whether to invest in asset A or asset B, you can use present value calculations to see which is the more valuable investment today.  <br> <br>

When the timing and riskiness of cash flows vary between investment opportunities, calculating the present value allows you to compare the alternatives objectively.
     </p>
    </div>
    <div class="mt-5">
      <h4>How to calculate present value</h4>
      <p>
        The present value of a future amount is equal to the discounted value of that amount today. In other words, it's the amount you would need to invest today to have some amount in the future.  <br> <br>
        The discount rate is the rate of return used to discount future cash flows. For example, if you could earn a 5% return on a risk-free investment, inflation is 3%, and the risk premium for the investment is 2%, then the discount rate would be 10%.
      </p>
      <p>To calculate the present value, you need three pieces of information:</p>

      <ol>
        <li>Future value - The amount of money you expect to have in the future.</li>
        <li>Discount rate - The risk-adjusted required rate of return on the investment.</li>
        <li>Number of periods - The number of years until you expect to receive the future value.</li>
      </ol>
      <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62f17397d03a817b57a4a3d6_Present%20Value%20Formula%20%232.png" loading="lazy" alt="Present Value Formula #2" width="100%">
    </div>
    <div class="mt-5">
    <h4>Common mistakes when calculating present value</h4>
    <p>
        There are a few common mistakes people make when calculating present value.  <br> <br>

        Using the wrong discount rate can lead to errors. Remember, the discount rate should be the risk-adjusted rate of return on an investment. The riskier the project, the higher the required rate of return. <br> <br>
        
        Another common mistake is using an incorrect future value. Make sure you're using an accurate estimate of the amount you expect to have in the future. If you're too optimistic or pessimistic, it will throw off your calculation. <br> <br>
        
        Finally, don’t forget to account for inflation when calculating present value. Remember, present value compares different investment options. If you're not accounting for inflation, you won’t have an accurate projection of your future value in today's dollars.  
    </p>
    </div>
    <div class="mt-5">
     <h4>Using present value for better financial decisions</h4>
     <p>
        There are a number of ways you can use present value to make better financial decisions for your future. <br> <br>

        First, you can use it to compare different investment options. By calculating the present value of each option, you can see which one is more valuable today. This can help you make decisions about where to invest your money. <br> <br>
        
        Second, you can use present value to calculate how much money you need to save for retirement. By estimating your future expenses and discounting them back to today's dollars, you can come up with a savings goal that ensures you have enough money to cover your costs in retirement. <br> <br>
        
        Finally, present value can help you make decisions about taking out loans. By calculating the present value of your future loan payments, you can see how much those payments will be worth in today's dollars. This can help you decide whether or not a loan is a good idea. 
     </p>
    </div>
</section>

{% endblock dashboard_body %}