{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}


<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Call Options</h1>
        <h5>A call option gives the buyer the right, but not the obligation, to buy an underlying asset at a specific strike price on or before a specific expiration date. Learn more about call option basics and their payoff diagram.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="option_descriptions">
      
     <p> A call option gives the buyer the right, but no obligation, to buy an underlying asset at a specific strike price on or before an expiration date.</p>  

     <p>A call option seller is obligated to sell the underlying asset at the option’s strike price if the option is assigned or the option expires in-the-money. </p> 

      <p>Each equity option contract is equivalent to 100 shares of the underlying asset.</p>      
     
     <p>For example, if you buy a call option with a $100 strike price, you have the right to exercise the option and purchase 100 shares per contract at $100. </p> 

      <p>It the option costs $1.00, the maximum risk is $100 per contract, and the profit potential is unlimited.</p> 
    </div>

    <div class="option_faq ">
        <div class="mt-4">  
            <h4>FAQs</h4> 
             <h5>How do call options work?</h5>  
             <p>A call option gives the buyer the right, but not the obligation, to buy 100 shares of the underlying asset at a specific strike price on or before a specific expiration date.</p>  
        </div>
    </div>

</section>   
{% endblock dashboard_body %}