{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Chicago Board Options Exchange (CBOE)</h1>
        <h5>The Chicago Board Options Exchange (CBOE) is the world’s largest options exchange. The CBOE created the VIX volatility index and provides the put/call ratio for stocks and ETFs.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>
</section>

{% endblock dashboard_body %}