{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Clearing Transactions</h1>
        <h5>Clearing is the process of settling financial transactions. Clearing is a necessity of all transactions in the stock market.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <p>The system of clearing transactions plays a crucial role in ensuring that the buyer of a security receives timely delivery, and the seller receives immediate payment. Clearing involves the simultaneous confirmation of sufficient funds and the delivery of the purchased security, facilitated by an intermediary known as a clearing corporation or clearing house.</p>

        <p>Clearing corporations, such as the Options Clearing Corporation (OCC), are responsible for validating, delivering, and settling securities transactions. Major stock exchanges often have in-house clearing firms dedicated to handling all clearing activities.</p>
    
        <p>One of the primary functions of clearing firms is to reduce credit and counter-party risk for individual traders. They ensure that each party in a transaction can fulfill their end of the agreement, providing a secure and efficient process for buyers and sellers in the financial markets.</p>
    
        <p>Clearing fees are associated with the transaction process and are typically included in the charges and commissions incurred when trades are executed. These fees contribute to the operational costs of clearing corporations and facilitate the smooth functioning of the financial markets.</p>
    
        <h3>FAQs</h3>
    
        <h4>What is a clearing house?</h4>
        <p>The clearing house is an intermediary responsible for validating, delivering, and settling securities transactions. It facilitates the process between two parties from the commitment stage until the transaction is fully settled. Clearing is essential to ensure timely delivery of securities and simultaneous confirmation of sufficient funds for immediate payment to the seller.</p>
    
        <h4>What is settlement clearing?</h4>
        <p>Clearing is the process of settling financial transactions, a necessity in all stock market transactions. It ensures the buyer receives timely delivery of the purchased security, and the seller receives immediate payment. Settlement occurs when the exchange of money is complete, marking the conclusion of the transaction.</p>
    </div>

</section>

{% endblock dashboard_body %}