{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Common Stock</h1>
        <h5>Common stock represents an ownership stake in a corporation. Corporations issue common stock to raise capital for the business.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <p>
        Common stock represents an ownership stake in a corporation. Corporations issue common stock to raise capital for the business. <br> <br>

Common stock is the most basic form of stock and is typically what people reference when they talk about simply "stock." When you buy common stock, you purchase a piece of the company and become a shareholder. <br> <br>

Holders of common stock, called shareholders, own a portion of the company and have voting rights on corporate issues such as members on the board of directors or takeover bids. <br> <br>

 Because of the voting rights of common stock, shareholders essentially control the business. Common stockholders may also receive dividends from the company. <br> <br>

Common stock is different than preferred stock. Preferred stock is a type of stock that has certain privileges over common stock but does not carry voting rights. Like common stock, preferred shares represent an ownership stake in a corporation.  <br> <br>

One key difference between the two types of stock is that preferred shareholders have priority over common shareholders when it comes to dividends and assets in the event of liquidation. <br> <br>

Shares of common stock are issued in the primary market through an initial public offering (IPO) and then trade in the secondary market, typically on a stock exchange.  <br> <br>

Common stock is bought and sold on exchanges such as the NYSE or the NASDAQ, and these exchanges provide real-time pricing on the value of a company. Common stock is generally a liquid investment because stockholders can liquidate their shares readily at market prices.  <br> <br>

Common stock is the most widely held investment for retirement savings. Many people invest in common stock through retirement accounts such as 401(k)s and IRAs. Common stock is a popular investment for those looking to build long-term wealth.
     </p>
    </div>
</section>

{% endblock dashboard_body %}