{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Correlation</h1>
        <h5>Correlation is the measurement of how two different securities move in relation to one another.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <p>
        Correlation measures the strength of the relationship between the two assets. <br>

The correlation coefficient is a formula that assigns a value between -1 and 1 to assess the degree to which two securities move together. The correlation coefficient does not explain why securities are or are not related; the correlation coefficient only quantifies the relationship.
     </p>
    </div>

    <div class="mt-5">
     <h4>Positive correlation</h4>
     <p>Two securities that have a correlation of 1 are said to have perfect correlation and theoretically move identically. A positive correlation means that as one security moves up or down, the other tends to do the same. For example, an increase in oil prices is likely to lead to an increase in gasoline prices.</p>

    </div>

    <div class="mt-5">
      <h4>Negative correlation</h4>
      <p>
        A correlation of -1 indicates a perfect negative correlation and means that for every move one asset makes, the other asset moves in the reverse direction. A negative correlation occurs when the price of one asset rises while the other falls. For example, gold prices tend to fall as the U.S. dollar becomes stronger.
      </p>
      <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/613b667e87b71042932bad81_Correlation.png" loading="lazy" alt="Correlation" width="100%">
    </div>

    <div class="mt-5">
     <h4>Uncorrelated</h4>
     <p>
        A correlation coefficient of 0 means there is no relationship between the two securities; they are uncorrelated. If two securities are uncorrelated, it is impossible to predict the direction of one based on the movements of the other. For example, changes in the weather do not affect stock prices. <br>

Zero correlation is considered a strength of a balanced, diversified portfolio to ensure that all assets under management do not move in conjunction. Zero correlation suggests that while some stocks in a portfolio may decline in price, others will move independently. <br>

Investors may combine negatively correlated assets to serve as a hedge. Positively correlated assets may be combined to express a directional bias.
     </p>
    </div>

    <div class="mt-5">
     <h4>Autocorrelation</h4>
     <p>
        Autocorrelation is the degree to which a security's price movements are associated with its past price movements. If prices move in the same direction as they have in the past, they are said to be autocorrelated.

Positive autocorrelation means that a positive observation is likely to be followed by another positive observation. Negative autocorrelation means that a positive observation will be followed by a negative.
     </p>
    </div>

    <div class="mt-5">
    <h4>Correlation breakdowns</h4>
    <p>
        Research has shown that when volatility increases, assets with little or no previous correlation suddenly move in sync with one another, thus rendering diversification less effective when markets crash. Correlation breakdowns are often sudden and can have a significant impact on portfolios. Relative correlation can change as time progresses and securities demonstrate different characteristics.
    </p>
    <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/6010bf9a9cd61d095ab21470_sC9mJ87w8IuepFfjIoLhdJsLVAT4CCJRcEtNAo1smBy53NN6LCeq8r0F6aj1jWsQE48JhyaX3H3smwv1AiJ_8kJUX1rN-XZGEk87BffjCSqeOgA45xTndGfVSXUAf-pNBbZfLu9h.png" alt="Volatility Clustering image example" width="100%">
    </div>

    <div class="mt-5">
<h4>R-Squared</h4>
<p>
    R-squared measures the amount that a portfolio’s performance can be explained by the movement of a benchmark, like an index. <br>

    R-squared is the squared correlation of the portfolio or fund to the market. R-squared is measured on a scale of 0-100 percent. R-squared helps interpret a portfolio’s performance. <br>
    
    The higher the R-squared, the better a portfolio can be explained by movements in the benchmark. For example, if a portfolio has an R-squared of 80%, that means 80% of the portfolio’s performance can be explained by the performance of the benchmark, and 20% of the portfolio’s return is driven by the specific portfolio holdings. <br>
    
    A value of 1 indicates that the portfolio will behave exactly like the index. Values above .70 are said to be high. 
</p>
    </div>
</section>

{% endblock dashboard_body %}