{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Dead Cat Bounce</h1>
        <h5>Curious about the term "dead cat bounce?" This video explains everything you need to know. (No cats were harmed in the making of this video).</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
      <p>A dead cat bounce is a term given to a downtrending security that finds a temporary bottom and bounces. The relief rally gives the appearance that the stock is reversing before rolling over and dropping lower.</p>  

      <p>The price action gets the name “dead cat bounce” because even a dead cat will bounce when it hits the pavement.</p> 
    </div>
</section> 
{% endblock dashboard_body %}