{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Delta Neutral</h1>
        <h5>Delta neutral is a term used to describe a directionally balanced portfolio.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <p>
        Delta is the amount an option price should change based on a $1 move in the underlying asset. Calls have a positive Delta between 0 and 1, while puts have a negative Delta between 0 and -1. Delta is constantly changing as the underlying asset approaches expiration and experiences movement in price or volatility. <br> <br>

The delta neutral strategy uses the collective positions in a portfolio to neutralize one another to achieve a net-zero value of delta. <br> <br>

For example, if a portfolio consisted of one position with a positive delta of .50, a new position could be added with a negative delta of -.50 to create a delta neutral portfolio. <br> <br>

Investors may seek delta neutral positions to limit exposure to changing market conditions. The portfolio manager must be active and continuously manage the assets in the portfolio to maintain delta neutrality as the value of delta is always changing. <br> <br>

Delta neutral is a balanced approach to investing and can be used to hedge so that the account remains flat, regardless of fluctuations in the underlying markets, or to take advantage of changes in time value or volatility in an underlying asset. <br> <br>


     </p>
    </div>
</section>

{% endblock dashboard_body %}