{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>What Is Discounted Cash Flow Analysis?</h1>
        <h5>Discounted cash flow (DCF) analysis is used by businesses and investors to determine the value of a company or investment. This guide will explain what DCF is, how it's used, and how to do it yourself using Excel.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <h4>How to use discounted cash flow analysis</h4>
     <p>
        Discounted cash flow analysis is based on the principle that the value of a company or investment is the sum of all its future cash flows, discounted at a rate that reflects their riskiness. This discount rate is often referred to as the weighted average cost of capital (WACC)
     </p>

     <h5>There are two main uses for DCF analysis:</h5>
     <ol>
        <li>To estimate the intrinsic value of a company or investment</li>
        <li>To compare the relative value of different companies or investments</li>
     </ol>
     <p>
        Discounted cash flow analysis can estimate a company's intrinsic value by discounting its expected future cash flows back to the present using the company’s WACC.
        The terminal value is the present value of a company's future cash flows beyond the forecast period. It is calculated using a growth rate that reflects the expected long-term growth of the company's cash flows. <br> <br>

DCF analysis can also be used to compare the relative value of different companies or investments. This is often done by calculating each investment's net present value (NPV), which is the present value of all expected cash flows minus the initial investment cost. The investment with the highest NPV is typically considered the most attractive.
     </p>
    </div>

    <div class="mt-5">
    <h4>How to do a discounted cash flow analysis</h4>
    <p>There are two main steps in a DCF analysis: estimating a company's future cash flows and discounting them back to the present.</p>

    <ul>
        <li>
            Estimating future cash flows  <br> <br>
            The first step in a DCF analysis is estimating a company's future cash flows. This typically involves creating a financial forecast for the company. A financial forecast estimates a company's future financial performance based on its past performance and current trends. It typically covers a period of 3-5 years. <br> <br>
            Forecasting a company's future cash flows can be challenging, and there are many different ways to do it. The most important thing is to use assumptions that are realistic and supported by evidence.
        </li>
        <li>
            2. Discounting cash flows back to the present
            <p>
                The second step in doing a DCF analysis is discounting those expected future cash flows back to the present. This is done using the company's WACC as the discount rate. The higher a company's WACC, the greater the discount rate that will be applied to its future cash flows, meaning a company with a higher WACC will have a lower intrinsic value than a company with a lower WACC. <br> <br>

To calculate a company's WACC, you will need to know its cost of debt and cost of equity. The cost of debt is the interest rate the company pays on its borrowings. The cost of equity is the return investors expect to earn on their investment. <br> <br>

Once you have estimated a company's future cash flows and calculated its WACC, you can discount those cash flows back to the present using the following formula:
            </p>
        </li>

    </ul>
    <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62fbbab95c621e3db6b71a6e_Discounted%20Cash%20Flow%20Formula.png" loading="lazy" alt="Discounted cash flow formula" width="100%">
    <p>
        Where t is the number of years into the future that the cash flow is expected to occur. For example, if a company is expected to generate $100 in cash flow next year and its WACC is 10%, the present value of that cash flow would be $90.91:
    </p>
    <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62fbbadf37ba193c98ce30d7_Discounted%20Cash%20Flow%20Example.png" loading="lazy" alt="Discounted cash flow example" width="100%">
    <p>
        You can use the same formula to discount all of a company's expected future cash flows back to the present. The company's intrinsic value is the sum of all these discounted cash flows. <br> <br>

For example, let’s assume a company expects to receive the following stream of cash flows over the next five years and has a 10% WACC.
    </p>
    <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62fbbafb9496086540b652fd_Annual%20Cash%20Flows.png" loading="lazy" alt="Annual cash flows example" width="100%">
    <p>
        To calculate the present value, we apply the previous formula to each year and sum the results.
    </p>
    <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62fbbb6f220d231ac18413ab_Discounted%20Cash%20Flow%20Example%20%232.png" loading="lazy" alt="Discounted cash flow example #2" width="100%">
    <p>
        Adding the discounted cash flow for each of the five years gives a present value of $549 dollars. This represents the current worth of the business’ expected cash flow. Remember, the further out a cash flow is received, the less it is worth in today’s dollars.
    </p>
    </div>

    <div class="mt-5">
     <h4>How the discount rate is determined and how it affects the value of a business or investment</h4>
     <p>
        The discount rate is the interest rate used to discount a company's future cash flows back to the present. It is also known as the weighted average cost of capital (WACC). <br> <br>

        The WACC reflects the overall riskiness of a company's cash flows. The higher the WACC, the greater the discount that will be applied to its future cash flows and the lower its intrinsic value. <br> <br>
        
        To calculate a company's WACC, consider the company’s debt, equity, and preferred capital. Take the cost of each form of capital times the weight of that capital in the company’s overall capital structure and sum the pieces together.  <br> <br>
        
        Once you have estimated a company's future cash flows and calculated its WACC, you can discount those cash flows back to the present. 
     </p>
    </div>

    <div class="mt-5">
     <h4>How to use Excel to do a DCF analysis</h4>
     <p>
        One way to do a DCF analysis is to use Excel. Excel has a built-in function called the "discount function" that can be used to discount cash flows back to the present. <br> <br>

To use the discount function, you need to know the interest rate (i.e., the WACC) and the number of years into the future that the cash flow is expected to occur. <br> <br>

The syntax for the discount function is as follows: <br> <br>

=DISCOUNT(cash flow, interest rate, years) <br> <br>

For example, if a company is expected to generate $100 in cash flow one year from now, and its WACC is 10%, the present value of that cash flow would be $90.91: <br> <br>

=DISCOUNT($100, 10%, 1) <br> <br>

= $90.91 <br> <br>

You can use the same formula to discount all of a company's expected future cash flows back to the present. The company's intrinsic value is the sum of all these discounted cash flows.
     </p>
    </div>

    <div class="mt-5">
     <h4>Discounted cash flow analysis examples</h4>
     <p>
        Discounted cash flow analysis is a popular method for valuation in business and investing. It is often used to value companies, projects, and investments.
     </p>
     <span>DCF analysis can be used to value a wide range of things, including:</span>

     <ol>
        <li>Companies: DCF analysis is commonly used to value public companies. The most important inputs in a DCF analysis of a public company are the discount rate and the expected cash flows.</li>
        <li>Projects: DCF analysis is also commonly used to value individual projects. Projects that are riskier typically receive a higher, risk-adjusted WACC.</li>
        <li>Investments: DCF analysis can also be used to value investments. Again, the riskier the investment, the higher the WACC used to discount the expected cash flows.</li>
     </ol>
    </div>
</section>

{% endblock dashboard_body %}