{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Diversification</h1>
        <h5>Diversification is a portfolio strategy that combines multiple low or uncorrelated assets to reduce overall risk exposure.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <p>Diversification is a form of hedging and is key to a balanced portfolio. A mixture of diverse securities minimizes
            the unsystematic risk associated with allocating capital to a single stock or sector and reduces the effects of
            market volatility.</p>
    
        <p>Diversification has shown the ability to produce more consistent returns over long time periods. As with any form
            of hedging, diversification comes at a compromise of total profit potential.</p>
    
        <p>Diversification allows investors to construct a portfolio that maximizes return while limiting risk by varying
            asset allocation between domestic and international equities, bonds, money markets, commodities, and cash to help
            reduce the risk of individual security price fluctuations and maximize overall portfolio performance.</p>
    
        <p>Because different asset classes tend to perform better in different parts of the economic cycle, diversification
            provides exposure to assets that may outperform the returns of underperforming assets to bolster the overall
            portfolio.</p>
    
        <p>Investors may use beta-weighting, R-squared correlation, or delta-neutral strategies to measure their portfolio’s
            correlation to major index benchmarks to forecast how the portfolio will perform and react to changes in market
            conditions.</p>
    
        <p>Diversification can help lower the variance of a portfolio and help create a smoother equity curve over time. In
            theory, diversification works because some assets will perform well while others underperform. Research has shown
            that when volatility increases, investments tend to move in sync with one another, thus rendering diversification
            less effective when markets crash.</p>
    </div>

    <div>
        <h2>FAQ's</h2>

        <h3>How does diversification protect investors?</h3>
    <p>Diversification is a portfolio strategy that combines low or uncorrelated assets to reduce overall risk exposure.
        Because different asset classes tend to perform better in different parts of the economic cycle, diversification
        provides exposure to assets that may outperform under-performing assets’ returns to bolster the portfolio’s
        overall performance.</p>

    <p>A mixture of diverse securities minimizes the unsystematic risk associated with allocating capital to a single
        stock or sector and reduces the effects of market volatility. Diversification is a form of hedging and is key to a
        balanced portfolio. Diversification has shown the ability to produce more consistent returns over long time
        periods.</p>

    <p>As with any form of hedging, diversification comes at a compromise of total profit potential. Diversification
        allows investors to construct a portfolio that maximizes return while reducing risk by varying asset allocation
        between domestic and international equities, bonds, money market securities, commodities, real estate, alternative
        investments, and cash to help reduce the risk of individual security price fluctuations to maximize the overall
        portfolio performance.</p>

    <h3>What is an example of diversification?</h3>
    <p>Diversification allows investors to construct a portfolio that maximizes return while reducing risk by varying
        asset allocation between domestic and international equities, bonds, money market securities, commodities, real
        estate, alternative investments, and cash to help reduce the risk of individual security price fluctuations and
        maximize overall portfolio performance.</p>

    <p>Because the performance of different asset classes varies in different parts of the economic cycle,
        diversification provides exposure to assets that may outperform under-performing assets’ returns to bolster the
        portfolio’s overall performance.</p>

    <p>Investors may use beta-weighting, R-squared correlation, or delta-neutral strategies to measure their portfolio’s
        correlation to major index benchmarks and forecast how the portfolio will react to changes in market conditions.
    </p>

    <p>For example, with beta-weighting, if a portfolio consisted of one position with a positive delta of .50, a new
        position could be added with a negative delta of -.50 to create a diversified portfolio. Diversification can help
        lower the volatility of a portfolio and help create a smoother equity curve over time.</p>
    </div>

</section>

{% endblock dashboard_body %}