{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Dividend Assignment Risk</h1>
        <h5>Options sellers need to understand how dividends impact potential assignment. Learn what options are at risk of assignment and how to handle dividend risk.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <p>Many stocks and ETFs pay dividends to shareholders. If you sell options, there are associated assignment risks you should be aware of.</p>

    <p>As an options seller, option assignment is always a possibility. There are numerous factors that increase the odds of potential assignment, most notably in-the-money options approaching expiration.</p>

    <p>Dividends can increase the likelihood of option assignment. Dividend assignment risk is something every options trader needs to understand to avoid the risk of early assignment, specifically traders holding short call options on a stock or ETF’s ex-dividend date.</p>

    <h3>What is the ex-dividend date?</h3>
    <p>The ex-dividend date is the day a security begins trading without the value of the next dividend. To receive the upcoming dividend payment, the stock must be purchased or owned before the ex-dividend date. On the ex-dividend date, new purchasers of the stock are no longer entitled to receive the recently declared dividend.</p>

   

    <h3>How do dividends increase options assignment risk?</h3>
    <p>Short call option assignment potential increases on a stock's ex-dividend date. If the dividend is more than the corresponding put option, you are likely to be assigned because the option holder will exercise the option to collect the dividend. You would then be obligated to deliver shares at the strike price of the call option, plus any applicable commissions and fees.</p>

    <p>When a call option is assigned, the investor who owns the underlying stock will receive a dividend payment from the stock. If you are short the stock on the ex-dividend date, you’re required to pay this dividend to the investor who holds the underlying stock on the payment date, even if you’re no longer short the shares.</p>

    <h3>What is an example of dividend risk?</h3>
    <p>Not all in-the-money (ITM) call options are at risk of dividend assignment. Typically, the long call option holder will only exercise the option if the corresponding put option’s price is less than the dividend payment.</p>

    <p>For example, assume tomorrow is this stock’s ex-dividend date. The stock is trading at $188.38 and has a dividend payment of $0.72. The 180C is in-the-money, and the corresponding 180P has a mid-price of $0.44. Therefore, the call option will almost certainly be exercised.</p>

    <p>Why? The long option holder can exercise their 180C and purchase 100 shares per contract at $180. They could then buy the 180P for $44 while collecting a dividend of $72, guaranteeing a profit of $28 per contract, even if the stock falls below $180. If the stock drops, they could then exercise the long put to sell shares at $180; if not, they can sell the put or let it expire worthless. Either way, they’ve secured a risk-free profit of at least $28.</p>

    <p>The short call option seller is required to pay the $72 dividend on the payment date since they were short shares on the ex-dividend date.</p>

    <p>Remember, option assignment is random and can happen at any time for options with any moneyness. Out-of-the-money calls can also be assigned.</p>

    <h2>How to reduce assignment risk</h2>
    <p>To reduce assignment risk, you can close your position before the ex-dividend date or roll out your position to a higher strike price and/or later expiration date. However, keep in mind that rolling out also incurs additional transaction costs and could increase your position’s max loss.</p>

    <p>The risks associated with dividend assignment are primarily related to the fact that if you’re short shares of stock on the ex-dividend date, you’re obligated to pay the dividend. So, if you’re assigned a short call, you are required to pay the dividend to the trader that exercised the long call, because they now own the stock. Since each contract controls 100 shares, your payment is 100x the dividend amount per contract.</p>

    <p>Another risk associated with assignment and dividends is that when an option is assigned, it can often lead to additional margin requirements in your account. When an option position is assigned in a margin account, you must deposit cash or securities sufficient to cover any potential losses from being short stock. This requirement can often increase significantly when a dividend payment has been announced and could potentially exceed what was originally required for establishing your position.</p>

    <h2>FAQs</h2>

    <h3>What is dividend risk?</h3>
    <p>Dividend assignment risk is the risk of an investor having their shares of stock assigned when they are short call options and the company pays a dividend.</p>

    <h3>What option strategies are at risk of dividend assignment?</h3>
    <p>Traders using any options strategy that has a short call option should be aware of dividend dates. This includes single-leg naked short calls, short call spreads, iron condors, iron butterflies, and more.</p>

    <h3>Do I have to pay the dividend if assigned a short call option?</h3>
    <p>Yes, if you are assigned a short call option and are short shares on the stock’s ex-dividend date, you are required to pay the dividend to the option holder on the payment date.</p>
    </div>

</section>    

{% endblock dashboard_body %}