{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Duration</h1>
        <h5>Duration measures the sensitivity to changes in interest rates for fixed-income investments and is an important sensitivity measurement of bonds.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        
<p>Duration is represented in percentage terms or years, depending on the type of duration reference, and is different from time to maturity.</p>
<p>Duration is the weighted-average amount of time each principal dollar is outstanding or the expected change in the value of a security based on a given change in interest rates.</p>
<p>Duration explains how long it will take for interest payments from a fixed-income investment to repay the original principal. A bond with a higher duration has more price sensitivity to interest rate changes and is subject to more volatility. Bonds with a longer time to maturity have a longer duration than short-term bonds.</p>
<p>All else equal, bonds with higher coupon payments have a lower duration than bonds with lower coupon payments. All else equal, as the frequency of coupon payments increases, duration decreases.</p>
<p>Duration indicates how much risk an investor faces from changes in interest rates. Bond prices have an inverse relationship with interest rates.</p>
    </div>

    <div class="mt-5">
      <h4>Holding Period</h4>
      <p>The holding period is the amount of time an investment is held by an investor. The holding period is the difference between the date an investment is bought or sold and subsequently exited by reversing the trade entry. By definition, the holding period begins when a security is purchased and ends the day it is sold.</p>
      <p>The holding period has significant tax implications. Any position held for 365 days or less is considered a short-term investment. Any position held for more than 365 days is considered a long-term investment.</p>
      <p>Short-term and long-term capital gains and losses are subject to different tax considerations, with long-term capital gains the recipient of more favorable tax rates.</p>
    </div>

    <div class="mt-5">
        <h3>FAQ's</h3>
        <div class="faq-s">
            <div class="faq">
                <h3>Can duration be higher than maturity?</h3>
                <p>A bond’s duration will always be equal to or less than the maturity. Duration is represented in percentage terms or years, depending on the type of duration reference, and is different from time to maturity. Duration measures the sensitivity to changes in interest rates for fixed-income investments.</p>
                <p>If a bond does not make periodic interest payments, then duration and maturity are equal.</p>
            </div>
    
            <div class="faq">
                <h3>What is a short duration fixed income?</h3>
                <p>Short duration fixed-income securities have a duration of less than one. Short duration fixed-income securities may be Treasury bills, short-term corporate debt, or securities issued many years ago but are now approaching maturity.</p>
                <p>Bonds with shorter duration are less sensitive to interest rate changes than longer duration securities.</p>
            </div>
    
            <div class="faq">
                <h3>What is the difference between bond maturity and duration?</h3>
                <p>A bond’s maturity is the date a bond matures and outstanding principal is due. Duration measures the sensitivity to changes in interest rates.</p>
                <p>Duration is the weighted-average amount of time each principal dollar is outstanding or the expected change in the value of a security based on a given change in interest rates. Duration explains how long it will take for interest payments from a fixed-income investment to repay the original principal.</p>
            </div>
        </div>
    </div>
</section>

{% endblock dashboard_body %}