{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Efficient Frontier</h1>
        <h5>The Efficient Portfolio Frontier, introduced by Harry Markowitz in 1952, is a portfolio theory that rates investments in terms of return relative to risk.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <p>
        The efficient portfolio frontier is a concept used in modern portfolio theory to identify the most profitable and least risky investment portfolios. It is based on the principle that an investor should seek to maximize returns while minimizing risk and consists of a set of optimal portfolios that offer the greatest expected return for any given level of risk. <br>

At its core, the efficient portfolio frontier is founded on the notion that portfolio diversification can help to reduce portfolio risk without sacrificing return. This is achieved by combining assets with different levels of correlation, which results in more stable and less volatile returns over time.  <br>

By identifying and investing in assets along this frontier, investors can maximize the expected return of their portfolio while keeping risk at a minimum. <br>
     </p>
    </div>

    <div class="mt-5">
     <h4>How to read the efficient frontier graph</h4>
     <p>
        The efficient frontier graph is a visual representation of the efficient portfolio frontier. It plots the expected return on the x-axis and risk (measured as standard deviation) on the y-axis. The resulting curve shows all possible portfolios that can be constructed with a given set of assets, with each point on the curve representing a different portfolio.
     </p>
     <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/6272d8ff629f1477e0ef316d_Efficient%20Frontier.png" loading="lazy" alt="Efficient frontier graph" width="100%">

     <p>
        The x-axis represents return, with portfolios to the right offering higher expected returns. The y-axis represents risk, with portfolios to the top offering higher levels of risk. The efficient frontier is the curve that plots all possible portfolios that offer the highest expected return for any given level of risk. <br> <br>

Points that lie above the curve represent portfolios that offer a higher expected return than the efficient frontier, while those below the curve represent portfolios with lower expected returns. In general, the further away from the curve a portfolio lies, the greater its risk relative to its expected return.
     </p>
    </div>

    <div class="mt-5">
     <h4>Using the efficient portfolio frontier</h4>
     <p>
        There are several ways investors can use the efficient portfolio frontier to improve their portfolio management strategies.  <br>

For example, portfolio managers may seek to identify and capture the highest expected risk-adjusted return for each level of portfolio risk, or they may opt to construct portfolios with similar levels of portfolio risk but with lower minimum variance. Additionally, portfolio managers may also use the efficient frontier to create custom portfolio allocations tailored to meet their client’s needs and objectives. <br>

The efficient portfolio frontier is a powerful tool that investors can use to make better-informed investment decisions. By understanding the concept and how it works, investors can identify the portfolio that offers the best return-to-risk ratio and make decisions that are in line with their investment objectives. <br>
     </p>
    </div>

    <div class="mt-5">
     <h4>FAQ's</h4>

     <div>
        <h4>How do you calculate the efficient frontier?</h4>
        <p>
            The Efficient Portfolio Frontier takes every possible combination of portfolio asset configuration and plots their risk versus return. Combinations of the risk-free rate, domestic equities, international equities, and other asset classes are considered to determine the optimal portfolio composition for a given level of risk.
        </p>
     </div>
    </div>
</section>

{% endblock dashboard_body %}