{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>European vs American Options</h1>
        <h5>American and European are the two styles of options contracts. Learn more about the key differences between these two option contracts.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <h3>American and European Options</h3>
        <p>
            American and European are the two styles of options contracts. The two styles specify when the options contract
            can be exercised and have nothing to do with a geographic region. American-style options contracts can be
            exercised any day on or before the expiration date. For example, U.S. equity options are American-style options.
        </p>
    
        <p>
            European-style options contracts can only be exercised on the expiration date. Many index options are
            European-style options. European-style options cannot be assigned early to the option seller.
        </p>
    
        <h3>What is a European Option?</h3>
        <p>
            A European option is an option that can only be exercised at its expiration date. The holder of a European option
            does not have the right to exercise it prior to expiration. The lack of early exercise means that this type of
            option will usually have a lower premium than an equivalent American style option. It also means that it cannot
            take advantage of movements in the underlying asset before expiry.
        </p>
    
        
    
        <p>
            The Black-Scholes model uses European options in its option pricing formula.
        </p>
    
        <h3>What is an American Option?</h3>
        <p>
            American style options allow for early exercise prior to their expiration date. This gives traders more
            flexibility as they can choose when to realize their profits or losses. The downside for options sellers is
            assignment risk.
        </p>
    
        <h3>Differences between European and American Options</h3>
        <p>
            The main difference between European and American options is when the option can be exercised. A European option
            can only be exercised at expiration, while an American option can be exercised at any time before expiration.
            This makes American options more valuable than their European counterparts because the holder has more
            flexibility in timing their decision to exercise the option.
        </p>
    
        <p>
            Option sellers may prefer European type options, such as index options, to avoid early assignment. European
            options are cash-settled, meaning cash exchanges hands at settlement instead of an underlying security or
            physical commodity.
        </p>
    
        <h2>FAQs</h2>
    
        <h3>What option is better: European or American?</h3>
        <p>
            When it comes to deciding between European and American options, there is no single “right” answer. It depends
            on your individual situation and goals. European options are best for investors that are comfortable with the
            risk of not being able to exercise their option at any point prior to expiration. American options, on the other
            hand, provide more control over when an investor can exercise their option, but they also come with higher
            premiums due to the added benefit, and the seller is subject to assignment risk.
        </p>
    
        <h3>What is the difference between European and American Options?</h3>
        <p>
            The main difference between European and American options is when the option can be exercised. A European option
            can only be exercised at expiration, while an American option can be exercised at any time before expiration.
            This makes American options more valuable than their European counterparts because the holder has more
            flexibility in timing their decision to exercise the option.
        </p>
    
        <h3>Is American option worth more than European?</h3>
        <p>
            American options are typically more valuable than European-style option contracts because the holder has more
            flexibility in when they can exercise the option.
        </p>
    </div>

</section>    

{% endblock dashboard_body %}