{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Exchanges</h1>
        <h5>An exchange is any centralized financial marketplace where a variety of securities, such as equities, commodities, futures, and options, can be traded by investors.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>
</section>

{% endblock dashboard_body %}