{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Extrinsic Value</h1>
        <h5>Extrinsic value is used to calculate an option's value based on time until expiration and implied volatility.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>
<div>
    <h2>Extrinsic Value vs. Intrinsic Value</h2>

<p>
    <strong>Extrinsic value</strong> is the portion of an option’s price that is not intrinsic value. <strong>Intrinsic value</strong> is the amount an option in-the-money (ITM) or the difference between the underlying asset's current market price and the option contract's strike price.
</p>

<p>
    For example, assume a stock is trading at $50, and a call option has a $50 strike expiring in one month. The call option has no intrinsic value because it is not ITM; however, it still has extrinsic value because of the time until expiration. Before expiration, there is a chance the stock’s price will increase, and the call option will move in-the-money. Therefore, you are paying for this opportunity when you purchase this call.
</p>

<h3>Intrinsic Value</h3>

<p>
    If a stock trades at $60, the $50 strike price call option has an intrinsic value of $10 ($60 - $50 = $10). If you exercised the option at expiration, it would be worth $10.
</p>

<p>
    The extrinsic value can also be considered the time premium or cost of buying an option contract. This cost represents how much investors will pay for the time remaining on the contract before expiration. The more time remaining until expiration, the higher the premium because there is a greater chance that something could happen during this period that could impact the underlying asset’s price.
</p>

<p>
    As expiration approaches, the extrinsic value decays rapidly until only intrinsic value remains.
</p>

<h3>Calculating Extrinsic Value</h3>

<p>
    To calculate an option’s extrinsic value, subtract an option’s strike price from the stock’s current market price.
</p>

<p>
    For example, if an option has $5 of intrinsic value but its premium is $8, it has $3 of extrinsic value.
</p>

<h3>Factors that Influence Extrinsic Value</h3>

<p>
    The main factors influencing an option’s extrinsic value are time until expiration, volatility, interest rates, and dividend yield. Time until expiration has the most significant impact on extrinsic value because it affects how much time a stock has to move for the option to be profitable. The more time remaining until expiration, the more expensive an option will be.
</p>

<p>
    Every day an option loses time value as it approaches expiration. Options time decay is not linear. Time decay accelerates as the contract nears expiration, especially for near-the-money options.
</p>

<h4>Theta Decay</h4>

<p>
    <strong>Volatility</strong> also affects extrinsic value because it implies how far a stock can move within a given timeframe. Higher volatility increases an option's price because there is more potential for large price swings. Options with low volatility have less value because there is less potential for large price swings.
</p>

<p>
    <strong>Interest rates</strong> and <strong>dividend yields</strong> also have a small impact on extrinsic value. Higher interest rates make options more expensive because investors can potentially earn higher returns from other investments. Dividend yields have a similar effect since investors can earn income from stocks instead of buying options.
</p>

</div>

    <div>
        <h2>FAQs</h2>
        <h4>What is Extrinsic Value?</h4>
<p>
    Extrinsic value is the additional premium beyond the intrinsic value that someone is willing to pay for the option before expiration. This additional premium could be based on a variety of factors such as implied volatility or time decay. If an option costs $4, but its intrinsic value is $1, the remaining $3 is extrinsic value. Options have no extrinsic value at expiration because there is no time value.
</p>

<h3>How to Calculate the Extrinsic Value of an Option?</h3>
<p>
    An option’s extrinsic value is the amount it trades above its intrinsic value. To calculate extrinsic value, subtract the intrinsic value from the option's current market price.
    <br><br>
    For example, if an option has an intrinsic value of $2 and is currently trading for $6, its extrinsic value is $4.
</p>

<h3>Factors Impacting an Option’s Extrinsic Value</h3>
<p>
    Several factors impact an option’s extrinsic value:
    <br><br>
    <strong>1. Time Remaining Until Expiration (Theta):</strong> An option with a longer expiration date has more extrinsic value.
    <br><br>
    <strong>2. Implied Volatility (Vega):</strong> Stocks with higher implied volatility have more expensive options, contributing to higher extrinsic value.
    <br><br>
    <strong>3. Interest Rates (Rho):</strong> To a lesser extent, interest rates impact an option’s extrinsic value.
</p>

    </div>

</section>

{% endblock dashboard_body %}