{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Fill the Gap</h1>
        <h5>Gaps occur when a stock's overnight price action moves substantially higher or lower. Learn more about what it means to "fill the gap."</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
      <p>A stock gap is created when a security’s price opens significantly above or below its prior closing price.</p>  

     <p>The fill the gap concept implies that the security will eventually retrace the gap and trade at its pre-gap price. Gaps can fill immediately, over time, or not at all. </p>
    </div>
</section> 
{% endblock dashboard_body %}