{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Fractional Shares</h1>
        <h5>A fractional share of stock is less than one full share of a company’s common stock.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
      <p>
        Fractional shares of stock may be purchased through a brokerage firm, a dividend reinvestment program, a direct stock purchase plan, or acquired due to a corporate action such as a stock split. <br>

For example, company XYZ’s stock is trading at $100 per share. If an investor wanted to purchase just $10 of company XYZ’s stock, the investor would purchase 0.10 fractional shares. <br>

Fractional shares are not purchased in the open market; instead, they are purchased through a brokerage firm or corporate program. Fractional shares allow investors to purchase higher-priced shares of stock in accounts with small balances. If an investor with a $2,000 account wanted to purchase shares of a stock with a price per share of $1,000, it would be difficult to accomplish specific account goals like risk management and diversification. <br>

Many brokers offer the opportunity to purchase fractional shares of stock in increments as low as $1 to $5. Fractional shares of stock improve investment accessibility and provide cost-effective opportunities to diversify portfolio holdings with a customized selection of investments for those who would otherwise be unable to afford higher priced assets. <br>
      </p>
    </div>

    <div class="mt-5">
       <h3>FAQ's</h3>

       <h4>Do fractional shares pay dividends?</h4>
       <p>
        If the company issuing fractional shares pays dividends, then owners of fractional shares will receive a dividend. The dividend received will be proportional to the fractional share owned. For example, if an investor owned 0.10 fractional shares of a company, and the dividend is $0.50 per share, the shareholder would receive $0.05 in dividends. 
       </p>

       <h4>Is there a downside to fractional shares?</h4>
       <p>
        Ownership of fractional shares may receive less profit than owning full shares. Since it is technically impossible to own a fractional share, brokerages pool together multiple fractional shares to offer investors. Therefore, it may be more difficult to exit out of fractional shares than normal shares, as the seller may face liquidity issues. Transaction costs may not be reduced for fractional shares, so an investor may still have to pay full commission despite trading less shares.
       </p>

       <h4>What is the benefit of fractional shares?</h4>
       <p>
        Fractional shares of stock improve investment accessibility and provide cost-effective opportunities to diversify portfolio holdings with a customized selection of investments for those who would otherwise be unable to afford higher priced assets.
       </p>
    </div>
</section>

{% endblock dashboard_body %}