{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>How to Calculate Future Value of an Annuity</h1>
        <h5>Learn how to calculate the future value of an annuity and the factors that affect an annuity’s future value.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <h4>What is the future value?</h4>
     <p>
        Future value is the amount of money an investment will be worth at a specific time. It is is important to know because it can help you determine how much money you'll need to save to reach your financial goals. <br> <br>
       For example, if you're saving for retirement, you'll need to know how much your investments will be worth when you retire, how much you need to save regularly to reach your goal, and what factors may impact its value.
     </p>
    </div>

    <div class="mt-5">
     <h4>How to calculate the future value of an annuity </h4>
      <p>
        You can use the compound interest formula to calculate the future value of an annuity.  The equation is:
      </p>
      <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62f17460b36e4f6f4053fad8_Future%20Value%20of%20an%20Annuity%20Formula.png" loading="lazy" alt="Future Value of an Annuity Formula" width="100%">
      <span>Where:</span>
      <li>PV is the present value of the investment (the amount of money you have invested today)</li>
      <li>r is the interest rate</li>
      <li>n is the number of years until you need the money
    </li>
    <p>For example, if you plan to invest $1,000 each year for the next 20 years, and expect to earn 5% per year on your investments, you can calculate how much it will be worth in 20 years. Using the equation above, we would plug in the following values:</p>
      <li>P = $1,000</li>
      <li>r = 0.05 (5%)</li>
      <li>n = 20</li>

      <p>
        This gives us a future value of $ 33,065.95. If you invest $1,000 each year and earn 5% interest on it, it will be worth $ 33,065.95 in 20 years. <br> <br>

Now, let’s consider a retirement savings example. Assume you save $250 per month from age 25 until age 55 (30 years). You anticipate a 6% annual return.  <br> <br>

Because the savings are on a monthly basis, the annual return needs to be entered on a monthly basis also. To do this, take the annual return and divide by the number of periods per year (12). 6% annual return becomes 0.5% monthly return. You also adjust the number of periods into monthly terms by taking the number of periods per year (12) and multiplying by the number of years (30).
      </p>
      <span>Using a financial calculator, you would input the following information:</span>

      <li>PV: $0</li>
      <li>I/Y: 0.5</li>
      <li>N: 360</li>
      <li>PMT: 250</li>
      <li>FV: This is variable you will solve for. </li>
      <p>
        The future value (FV) of your investment would be $251,128.76. Compare the future amount to the initial amount deposited ($250 x 360 = $90,000) and you see the power of compounding interest. 
      </p>
    </div>

    <div class="mt-5">
     <h4>Factors that can affect future value annuity calculations</h4>
     <p>There are a few factors that can impact the future value of an annuity calculation:</p>
     <li>The interest rate: This is probably the most important factor, as it will determine how much your investment will grow over time. A higher interest rate will result in a higher future value, while a lower interest rate will result in a lower future value.</li>
     <li>The length of the investment: The longer you're invested, the more time your money has to grow. A longer investment will typically have a higher future value than a shorter investment.</li>
     <li>The frequency of payments: If you're making monthly payments into an annuity, this will affect the calculation. More frequent payments will typically result in a higher future value because of compounding interest.</li>
     <li>The payment or investment amount: This is the amount of money you're investing today. A higher payment will result in a higher future value since there's more money to grow over time.</li>
    </div>

    <div class="mt-5">
     <h4>How to use future value calculations to make sound financial decisions</h4>
     <p>
        Future value calculations can be a helpful tool when making financial decisions for your family or business. For example, if you're trying to decide whether to invest in a new piece of equipment for your business, you can use future value calculations to estimate how much money the investment will be worth in the future. This can help you determine whether the investment is worth the upfront cost. <br> <br>

        You can also use future value calculations to help you make decisions about your family's finances. For example, if you're trying to decide whether to send your child to private school or public school, you can use future value calculations to estimate how much money the investment will be worth down the road. 
     </p>
    </div>
</section>

{% endblock dashboard_body %}