{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Gold Standard Explained</h1>
        <h5>Learn the history of the gold standard and how it works in this comprehensive guide.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <p>The gold standard is a monetary system in which the value of a currency is linked to the value of gold. This means that a country's currency can be converted into gold, and vice versa.  <br> <br>

        Gold has been used as money for centuries, and the gold standard was once the most common form of monetary system in the world. </p>
    </div>

    <div class="mt-5">
    <h4>What is the gold standard and how does it work?</h4>
    <p>
        The gold standard is a monetary system in which the unit of currency is based on a fixed amount of gold. Under this system, paper money can be redeemed for a certain amount of gold, and central banks are required to hold reserves of gold to back up their currency. <br> <br>

        The gold standard was established as a way to ensure stability and prevent inflation.  <br> <br>
        
        The gold standard was used throughout most of history, but it began to fall out of favor in the early 20th century. One reason for its decline was the First World War, when many countries abandoned the gold standard in order to finance their war effort.  <br> <br>
        
        Another factor was the Great Depression, when the vast majority of countries stopped linking their currency to gold. <br> <br>
        
        In 1971, the United States officially abandoned the gold standard, and today most countries do not use it.  
    </p>
    </div>
    <div class="mt-5">
    <h4>The history of the gold standard</h4>
    <p>
        Gold has been used as a form of currency for centuries. The world’s first gold standard was established in Ancient Egypt and later adopted by the Roman Empire. Under this system, gold coins were used to purchase goods and services. <br> <br>

        The value of each coin was based on its weight in gold. This system helped to ensure that prices were stable and that trade was fair. However, it also had its drawbacks.  <br> <br>
        
        For example, if there was a sudden influx of gold into the economy, prices would rise and inflation would occur. As a result, many countries eventually abandoned the gold standard in favor of paper money.  <br> <br>
        
        Today, gold is no longer used as a form of currency, but it remains an important part of the global economy.
    </p>
    </div>
    <div class="mt-5">
    <h4>Benefits of the gold standard</h4>
    <p>
        Under the gold standard, governments and central banks are required to maintain a certain level of gold reserves, and they can only issue new currency if they have enough gold to back it up. This system has several advantages. <br> <br> 

        First, it provides a strong incentive for countries to manage their economies responsibly since they can only print new money if they have the gold to back it up.  <br> <br>
        
        Second, it helps to promote stability by reducing the risk of inflation. <br> <br>
        
        Finally, the gold standard gives people confidence in the value of a nation’s currency.
    </p>
    </div>

    <div class="mt-5">
    <h4>Drawbacks of the gold standard</h4>
    <p>
        One of the most significant drawbacks of the gold standard is that it can lead to hoarding. When citizens have the option to convert their paper money into gold, they may be tempted to stockpile the precious metal instead of spending it. This can lead to a decrease in demand for goods and services, which in turn can cause prices to fall and lead to an economic downturn. <br> <br> 

        Additionally, the gold standard can make it difficult for countries to engage in international trade. If one country's currency is worth more gold than another country's currency, then the first country may be reluctant to engage in trade with the second country, as they would likely end up losing money.  <br> <br>
        
        Finally, the gold standard can be inflationary. If the supply of gold decreases or the demand for gold increases, then the price of gold will go up. This will cause the prices of goods and services to increase as well, leading to inflation.
    </p>
    </div>

    <div class="mt-5">
    <h4>When did the gold standard end?</h4>
    <p>
        The gold standard was used throughout the 19th century, but it began to fall out of use during the early 20th century. <br> <br>

        World War I led to a large increase in government spending, and this increased demand for currency. At the same time, the supply of gold did not keep pace with the demand, leading to inflation. To finance the war effort, many countries abandoned the gold standard and began printing more paper money. <br> <br> 
        
        After the war, some countries returned to the gold standard, but it was eventually abandoned altogether during the Great Depression. <br> <br>
        
        The gold standard officially ended in 1971 when President Nixon announced that the United States would no longer exchange gold for dollars. Today, most countries do not use the gold standard, and paper money is no longer backed by gold.
    </p>
    </div>

    <div class="mt-5">
    <h4>Bottom line</h4>
    <p>
        Gold has been used as a way to measure the value of money for centuries.  The gold standard was established as a way to ensure stability and prevent inflation. By understanding how it works, we can better understand inflation and how it impacts our economy.
    </p>
    </div>
</section>

{% endblock dashboard_body %}