{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Hedging</h1>
        <h5>A hedge uses one position to help offset the risk of another position in a portfolio. The purpose of hedging is not to make money, and hedging comes at a compromise of profit.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <h4>What is a hedge?</h4>
     <p>
        A hedge is a position that offsets the risk of another position in a portfolio. A balanced and diversified portfolio is considered an effective start for hedging multiple positions. 
    
     </p>

     <blockquote>The purpose of hedging is not to make money, but to reduce the overall risk of a portfolio and control market exposure. Hedging comes at a compromise of profit.</blockquote>
     <p>
        There are multiple ways to hedge and different reasons for hedging. Derivatives like options or futures contracts can be used to hedge a position. <br> <br>

Consider, for example, the purchase of a protective put option in conjunction with a long stock position. Buying a put option is similar to buying insurance for the stock. You are willing to pay money-- the put option’s premium--to help protect the long stock position from a price decline. <br> <br> 

Although the put option increases the stock’s cost-basis and reduces the maximum profit, it protects the position’s downside and defines the maximum loss.
     </p>
     <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/60c23784516a17d1c9f4ac26_Protective%20Put%20Payoff%20Diagram.png" loading="lazy" alt="Protective put payoff diagram" width="100%">
     <p>
        Hedging can also be accomplished through uncorrelated or negatively correlated assets. Correlation is a historical measurement of how two securities moved together in the past. <br> <br>

For example, if you own a stock in the technology sector, you could short another stock in the same sector with a similar beta. If the original position declines in price, the hedged position will likely increase. <br> <br>

A negatively correlated position may also be used as a hedge. For example, gold and the US dollar have historically performed opposite of one another. The two securities could be purchased simultaneously, so that if one asset declines in value, the other asset should increase in value.
     </p>

     <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/613df64a24ba3bd1176155b2_Correlation%20-%20Gold%20and%20US%20Dollar.png" loading="lazy" alt="Correlation example: gold and US dollar " width="100%">
     <p>
        Hedges do not guarantee that a loss will be avoided. It is nearly impossible to find a perfect hedge that minimizes all potential risks without forfeiting some or all potential profit.
     </p>
    </div>

    <div class="mt-5">
     <h4>What is the difference between hedging and diversification? </h4>
     <p>
        Diversification is a form of hedging and is key to a balanced portfolio. A mixture of diverse securities minimizes the unsystematic risk associated with allocating capital to a single stock or sector and reduces the effects of market volatility.  <br> <br> 

The goal of diversification is to combine uncorrelated assets to smooth returns. Diversification allows investors to construct a portfolio that maximizes return while limiting risk by varying asset allocation to help reduce the risk of individual security price fluctuations. <br> <br>

As with any form of hedging, diversification comes at a compromise of total profit potential. In theory, diversification works because some assets will perform well while others underperform.  <br> <br>

When you think of hedging, you should think about a hyper-focused risk reduction event, where you're offsetting risk for a specific event, outcome, or time, not overall risk like with diversification. When hedging an asset in a portfolio, you are trying to invest in products with a strong, predictable, inverse correlation. The assumption is that if one asset goes down, the other will go up and offset the loss. <br> <br>

Listen to this Option Alpha podcast to learn more about the hedging vs. diversifying.
     </p>
    </div>

    <div class="mt-5">
     <h4>Why diversification alone is insufficient</h4>
     <p>
        When volatility increases, investments tend to move in sync with one another, thus rendering diversification less effective when markets crash. <br> <br>

        Volatility clustering is the tendency for large movements in security prices to group together and promote similarly volatile moves in the immediate future. <br> <br>
        
        When volatility increases, securities autocorrelate as assets with little or no previous correlation suddenly move in sync with one another, reducing or eliminating the benefits of diversification when markets crash. 
     </p>

     <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/6046a52abefba3f03f605797_VolatilityClustering3.png" loading="lazy" alt="Volatility clustering - SPY, GLD, and TLT" width="100%">
    </div>

    <div class="mt-5">
     <h4>Why should I hedge my portfolio? </h4>
     <p>
        You should hedge your portfolio because market drawdowns happen more frequently than you might think and they seem to happen when it is least advantageous for your portfolio. <br> <br>

        The chart below shows drawdowns from 52-week highs from September 2001 to September 2021. Despite a strong uptrend for the majority of the 20-year lookback period, a market decline of 10% or more occurred almost annually. 
     </p>
     <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/613a36dd747182f7033b967b_Corrections.png" loading="lazy" alt="S&amp;P 500 drawdown from 52-week high frequency" width="100%">
     <p>
        Short-term volatility can often shake many investors out of long-term trends. <br> <br>

How would you react to a 10% market drawdown? Could you hold through the volatility? Would you be willing to pay a small premium to help offset that loss? <br> <br>

Investors often skip hedging because of the potential drag on portfolio performance and the relatively high cost of some hedging strategies. Simply put: when everything is going well, hedging is a drag on portfolio performance. <br> <br>

However, the key to hedging (and diversifying) is to approach it consistently and mechanically. While the short-term cost of hedging may impact your portfolio returns, the purpose is to protect your investments from unpredictable black-swan events.<br> <br>

Further, volatility clustering and autocorrelation make some investors think any hedging strategy is futile. If correlations break down when you need the protection most, why hedge at all? <br> <br>

For some relatively conservative options portfolios, even moderate drops in the overall market can lead to a severe portfolio drawdown.  <br> <br>

For example, a portfolio 50% allocated to options selling strategies such as vertical spreads, iron condors, and iron butterflies may drop more than 20-30% when the market falls 10%. A more aggressive options portfolio could drop 50% or more during the same market decline.  <br> <br>

Perhaps the most significant reason to hedge is to smooth your equity curve. Reducing your drawdowns amplifies the benefits of compounding--not to mention the reduced stress! <br> <br>

Consider two unique investor scenarios. Investor O invests $10,000 and has annual returns of -10%, +10%, and +10%. Investor A invests $10,000 and has annual returns of -20%, +10%, and +10%.  <br> <br>

After three years, Investor O has $10,890 while Investor A has $9,680. Investor A is still trying to overcome the early drawdown, while Investor O is already reaching new highs. Large percentage drawdowns require even larger percentage climbs to break even.
     </p>

     <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/613df7075414040ce8f7c92c_Gain%20Required%20to%20Recoup%20Loss.png" loading="lazy" alt="Table - gain required to recoup loss" width="100%">
     <p>
        Hedging does not replace other risk-management tools such as position sizing, maintaining cash reserves, laddering entries, dollar-cost averaging, or diversification.
     </p>
     <blockquote>The goal of risk management and hedging is to survive so you can thrive. </blockquote>
     <p>
        By dramatically reducing the probability of suffering a loss you cannot recover from (“risk of ruin”), your portfolio can weather the market’s storms and live to fight another day. 
     </p>
    </div>

    <div class="mt-5">
     <h4>How do I hedge my portfolio?</h4>
     <p>Hedging your portfolio is a multi-step process involving multiple considerations.</p> <br> <br>

     <h4>Determine risk tolerance </h4>
     <p>
        How much of a portfolio decline can you tolerate? Is it a 10% drop, a 20% drop, a 50% drop, or somewhere in between? <br> <br>

Once you have determined your risk tolerance, you can begin constructing a hedge to protect your portfolio from a drop below that value. <br> <br>

Remember, the smaller the decline you are willing to accept, the more expensive the hedge and the greater the drag on portfolio performance during periods of rising prices.
     </p>
    </div>

    <div class="mt-5">
    <h4>Portfolio composition</h4>
    <p>
        What has a negative correlation to your portfolio? Similar to the concepts of beta weighting or maintaining a neutral portfolio, a hedge should offset the potential negative effects of directional bias or volatility exposure. <br> <br>

If your portfolio has a strong bullish lean, the hedge you select should protect against market declines below the risk tolerance you determined in the last step. 
    </p>
    </div>

    <div class="mt-5">
   <h4>Select a product</h4>
   <p>
    Choose a product to hedge against an opposing market move. <br> <br>

Continuing the example of hedging a bullish portfolio, you could use put options, inverse ETFs, negatively correlated securities, or a combination of hedges. <br> <br>

This is where the possibilities are only limited by your imagination. For example, you could select long put options with a variety of deltas to hedge different risk tolerances. A relatively high delta, protective put strategy with enough contracts to limit losses for your entire portfolio is an aggressive hedge that will be expensive to maintain. <br> <br>

In contrast, a low delta, “Doomsday Hedge” VIX call would be much cheaper to maintain, but will only limit losses in extreme tail-risk events. <br> <br>

Hedges are dynamic and can be strategy-specific. Not all hedges need to be in place when you enter a position. Hedging requires your active participation, whether it is a mechanical system or a proactive response to changing market conditions. It is important to be flexible and continuously assess your portfolio and add hedging strategies when necessary. <br> <br>

For example, a common hedge for a bullish put credit spread is to sell a bearish call credit spread when the put credit spread is challenged. <br> <br>

Combining the put credit spread and call credit spread positions has reduced your overall risk. The credit received from the call credit spread reduces the maximum loss of the put credit spread. <br> <br>

Inverse ETFs are designed to move opposite of the index they track. These products can be used similarly to put options, but are not adversely affected by time decay. You could use inverse ETFs or leveraged inverse ETFs, depending on how much capital you want to deploy for the hedge. <br> <br>

Although leveraged ETFs do not have time decay like put options, leveraged ETFs have their own drawbacks, like tracking error over prolonged periods of time. <br> <br>

Negatively correlated securities provide diversification and may offset losses across asset classes. While autocorrelation and volatility clustering are a real concern, negatively correlated securities are often used to provide protection in the case of moderate market declines.
   </p>
    </div>

    <div class="mt-5">
    <h4>Position Sizing </h4>
    <p>
        You need to choose the position size of your hedge. You are seeking to maximize the potential gain from the hedge while minimizing the potential drag on your portfolio performance.  
    </p> 
    <br> <br>
    <p>Consider proportions for a hypothetical portfolio of $10,000: </p>
    <li>$9,000 of SPY and $1,000 of an inverse ETF provides a partial hedge.</li>
    <li>$8,000 of SPY and $2,000 of the inverse ETF provides a larger hedge.</li>
    <li>$9,000 of SPY and $1,000 of a leveraged inverse ETF. </li>
    <p>The position size and proportion of hedge relative to portfolio exposure dictates the level of protection provided.</p>
    </div>

    <div class="mt-5">
     <h4>Entries and Exits</h4>
     <p>
        The timing or entry point for the hedge may inform the position sizing. <br> <br>

        For example, you could perpetually hold put options that hedge tail risk, allocating 1-2% of your overall portfolio to the hedge at all times. <br> <br>
        
        Alternatively, an investor may add an inverse ETF representing 10%, 20%, or more of their portfolio after a major index has fallen below a certain indicator, such as the 50-day simple moving average. <br> <br>
        
        Many investors can see markets unraveling and detect the need to hedge. So, entries may not be the weak link in the chain. However, when to exit a short-term hedge can be confounding. Do you hold the hedge until the downturn reverses? Do you hold for a specific profit target or until expiration? <br> <br>
        
        For entries and exits, backtesting cannot be overemphasized. Backtesting all of your hedging strategy’s components from position size to entries to exits builds confidence and provides a quantitative framework supporting the strategy. <br> <br>
        
        Backtesting also helps you “trust the process” when the time comes. Market volatility can happen fast and catch you off guard. Being prepared helps you remain calm and emotionless when others panic.  
     </p>
     <br> <br>
     <h4>Consistency</h4>
     <p>
        You must consistently deploy your hedging strategy. Sticking to your process is crucial because some hedges have to be in place well before market volatility arises. 
     </p>
    </div>

    <div class="mt-5">
     <h4>Next Steps</h4>
     <p>
        This introduction to hedging is not meant to be prescriptive. It is here to help you think through important decisions along the way to protecting your portfolio. The need to hedge and the method for hedging are based on personal preferences.
     </p>
     <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/613df724089e294de1d6833f_Summary%20Table.png" loading="lazy" alt="Steps to hedge summary table" width="100%">
     <p>
        While the specific hedging strategy deployed is a matter of personal preference, the logical steps to think through protecting your portfolio are consistent across hedging strategies.
     </p>
    </div>
</section>

{% endblock dashboard_body %}