{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Heuristics</h1>
        <h5>Traders use heuristics to make decisions based on information, emotion, and experience.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

<div>
    <h1>Heuristics in Decision Making</h1>

    <p>
        Heuristics are mental shortcuts that allow us to bypass the need for careful and thoughtful analysis when faced with complex problems or situations. This can be useful when we need to make a decision quickly, but it can also lead to bias and errors in judgment.
    </p>

    <p>
        Heuristics are “rules-of-thumb” that produce efficient judgments and decisions. Daniel Kahneman and Amos Tversky popularized these rules in their research and Kahneman’s book, Thinking Fast and Slow. In his book, Kahneman explains our System 1 and System 2 brains. System 1 controls fast, intuitive thinking, while System 2 is slow and deliberate. Heuristics are a process of System 1.
    </p>

    <h2>Three Main Mental Heuristics</h2>

    <ol>
        <li>
            <h3>Availability Heuristic</h3>
            <p>
                The availability heuristic produces judgments based on easily accessible information. The System 1 brain follows the most efficient path, relying on easily accessible memories.
            </p>
            <p>
                For example, suppose a member of your family recently experienced tornado damage. The experience may cause you to overestimate the probability of another tornado. This heuristic is often the culprit behind errors like recency bias.
            </p>
            <p>
                When evaluating a security, many investors overweight high-visibility information, like a recent earnings report or a friend’s recommendation. The rapid judgment offered by the availability heuristic can lead to damaging biases.
            </p>
        </li>

        <li>
            <h3>Affect Heuristic</h3>
            <p>
                The affect heuristic is a mental shortcut that relies on emotional reactions to make a quick judgment. For example, a restaurant will likely not offer an obscure dish if similar meals produced negative emotions in the past.
            </p>
            <p>
                An investor may refuse to trade a specific security because of previous trading failures. The negative emotions experienced after a loss may influence their judgment. In the extreme, fear may prevent investors from re-entering the market after a significant downturn, also known as the “snake-bite effect.”
            </p>
        </li>

        <li>
            <h3>Representativeness Heuristic</h3>
            <p>
                The representativeness heuristic is a shortcut that compares a difficult situation to a previously formed mental picture, simplifying the required judgment. The representativeness heuristic produces a decision based on what a person or object “should” resemble, similar to stereotyping.
            </p>
            <p>
                Investors often compare the current market to their previous memories, ignoring the present unique variables. The representativeness heuristic may judge the current environment similar to a previously successful trade, but that judgment is likely biased.
            </p>
        </li>
    </ol>

    <h2>FAQs</h2>

    <ol>
        <li>
            <h3>What are heuristics?</h3>
            <p>
                Heuristics are “rules-of-thumb” that produce efficient judgments and decisions.
            </p>
        </li>
    </ol>
</div>
</section>
{% endblock dashboard_body %}