{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Index Fund vs. Mutual Fund</h1>
        <h5>Discover the similarities - and differences - between index funds, mutual funds, and ETFs to determine which financial instrument is the best investment for you.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
      <p>Index funds and mutual funds are both types of investments, but they are very different.</p> <br> <br>

      <h4>What is an index fund?</h4>
      <p>
        An index fund tracks a particular stock market index, such as the S&P 500. Index funds are passively managed, meaning the fund manager does not try to outperform the market. <br> <br>

Instead, they try to mimic the index's performance by investing in all (or a representative sample) of the stocks that make up the index.
      </p>
    </div>

    <div class="mt-5">
     <h4>What is a mutual fund?</h4>
     <p>
        A mutual fund is an investment consisting of money from many investors. The money is then invested in stocks, bonds, or other assets. <br> <br>

        Mutual funds are actively managed, meaning the fund manager tries to outperform the market by selecting the stocks to invest in. <br> <br>
        
        A mutual fund can track any number of indexes or even buy stocks without following any specific index. 
     </p>
    </div>

    <div class="mt-5">
  <h4>Index fund vs. mutual fund</h4>
  <p>
    So what's the difference between an index fund and a mutual fund? Cost and flexibility. <br> <br>

Mutual funds tend to have higher management fees than index funds because they require more active management. Index funds also offer more flexibility - you can invest in them regardless of your investing experience or knowledge level, whereas mutual funds may be more suitable for experienced investors.
  </p>
    </div>

    <div class="mt-5">
     <h4>ETF vs. mutual fund vs. index fund</h4>
     <p>
        An ETF (exchange-traded fund) is similar to an index fund, but there are a few key differences. An ETF tracks a particular index or group of assets like an index fund. <br> <br> 

        However, ETFs are traded on stock exchanges like regular stocks. You can buy and sell ETFs anytime during the day (unlike mutual funds, which can only be purchased and sold at the end of the day). <br> <br>
        
        ETFs also tend to have lower management fees than mutual funds. 
     </p>
    </div>

    <div class="mt-5">
    <h4>The bottom line</h4>
     <p>
        Index and mutual funds are both viable investment options, but it's important to understand their key differences before deciding which is suitable for you.  <br> <br>

An index fund may be a good option if you're just starting because it offers lower costs and more flexibility.
     </p>
    </div>
</section>

{% endblock dashboard_body %}