{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Limit Order</h1>
        <h5>Limit orders are useful when you want to enter or exit a position at a specific price above or below the market.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <p>
        With a limit order, you specify the maximum or minimum price you're willing to pay or sell a security. Once the stock reaches that price, your order is automatically filled. It's a great tool to use when looking to buy or sell a security at a specific price point.
    </p>
    <div class="mt-5">
     <h4>What is a limit order?</h4>
     <p>
        A limit order is an order to buy or sell a security at a specified price or better. A limit order is not guaranteed to fill, but the order will typically execute if the market price reaches the limit price. <br> <br>

Limit orders are placed through a broker and are typically available for stocks, options, and futures contracts. Limit orders are often used to enter or exit positions at price levels an investor believes are support or resistance. <br> <br>

If you believe a stock will drop and want to buy shares at a specific price, you could place a limit order below the current price. If the stock’s price doesn’t reach your order, it will not execute.
     </p>
    </div>

    <div class="mt-5">
        <h4>Limit order vs Market order</h4>
        <p>
            There are a variety of order types available to traders. Two of the most common orders are limit orders and market orders. Limit orders allow traders to specify the price they are willing to buy or sell a security, while market orders fill at the best available price. <br> <br>

Stop losses are another order type designed to limit losses by automatically selling when a security reaches a specific price. So, when might it be advantageous to use a limit order instead of a market order or stop loss? <br> <br>

Limit orders give traders more control over the price their trades will execute, making buying or selling at a desired level easier. By specifying a particular price, traders can wait for the security to reach their target before executing their trade. <br> <br>

For example, if you want to buy shares at $161, you can enter a limit buy order to trigger the trade execution. You could then enter a limit sell order to exit the position at $175.
        </p>
        <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62b34927fc06ca32c3028e85_Limit%20order.png" loading="lazy" alt="Limit order examples" width="100%">
        <p>Of course, limit orders also have some disadvantages. One downside is that limit orders may not always fill, especially in fast-moving markets.</p>

    </div>

    <div class="mt-5">
     <h4>Things to consider in volatile markets</h4>
     <p>
        Limit orders are often used in volatile markets to ensure that trades are executed at the desired price. However, there are a few things that traders need to keep in mind when placing limit orders in volatile markets. <br> <br>

First, limit orders may not always be filled if the market price gaps past the limit price. Second, limit orders may only be partially filled if the market moves fast. Lastly, limit orders may be subject to slippage when the market price moves past the limit price before the order fills.  <br> <br>

Despite these risks, limit orders can be a valuable tool for traders taking advantage of volatility.
     </p>
    </div>
</section>

{% endblock dashboard_body %}