{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Beginner’s Guide to Margin Accounts</h1>
        <h5>This guide answers frequently asked questions about margin accounts and how they work.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <p>
        You are faced with several decisions when opening a brokerage account. Do you want to open a taxable account or a qualified (retirement) account? What level of options approval do you want? Do you want to open a margin account or a cash account? 
     </p>

     <h4>What Is a margin account?</h4>
     <p>
        A margin account is a brokerage account where investors may borrow money from their broker to purchase securities. 
     </p>
     <blockquote>Margin accounts provide increased buying power beyond the funds initially deposited in the account.</blockquote>
     <p>
        Increased buying power is called leverage and magnifies returns, both positive and negative. The cash balance and margin-eligible securities in the account are used as collateral for the borrowed funds. Brokers charge investors interest on the borrowed funds. 
     </p>
    </div>

    <div class="mt-5">
     <h4>Margin account terms explained</h4>

     <p>
        Margin is the portion of an account owned by the investor and accepted as collateral by the broker. Margin includes both the cash balance of the account and the value of margin-eligible securities. Many traders misuse the term margin, thinking margin is the amount borrowed. Margin is the portion of the account owned by the investor and is the “downpayment” on the borrowed securities. <br> <br>

Margin equity is the total amount of the account owned by the investor (account equity). This includes both cash and the non-borrowed capital portion of held securities. <br> <br>

Margin equity percentage is the percentage of the total account value that an investor owns. This value must be above the initial margin at position opening and stay above the maintenance margin throughout the holding period.  <br> <br>

Initial margin is the margin equity percentage required when a position is opened, set by the Federal Reserve’s Reg T. The minimum initial margin is 50%. The minimum maintenance margin is 25%. Individual brokerage firms may require higher levels of initial margin and maintenance margin. To open a margin account, typically, an investor must deposit at least $2,000 or more, depending on the broker. <br> <br>

Maintenance margin is the minimum margin (collateral) required for an investor to continue holding a position. The maintenance margin percentage is the account equity divided by the total value of account positions. <br> <br>

If an investor's maintenance margin falls below the minimum amount set by the broker, the investor will receive a margin call. <br> <br>

Marginable securities are financial assets that may be purchased on margin. A broker may loan funds to purchase these assets based on initial and maintenance margin requirements. <br> <br>

Marginable securities are not the same as margin-eligible securities.  Margin-eligible securities are approved to be considered as collateral when calculating initial and maintenance margin. <br> <br>

Non-marginable securities are not permitted for purchase on margin. The investor must supply all capital when investing in these securities. The broker will not lend funds on non-marginable securities.  <br> <br>

Less traditional securities, such as penny stocks and other unlisted securities, are often classified as non-marginable securities. <br> <br>

Cash for withdrawal is the amount of cash an investor can transfer from their brokerage account. This does not include cash from unsettled closing orders. <br> <br>

Cash for open orders is the amount of cash held by the broker to cover the investor’s unsettled transactions. These funds are not available for withdrawal from the account. <br> <br>

Cash available to trade is the amount of cash that an investor may use to open new positions. This amount may be larger than cash for withdrawal because investors may use unsettled funds to open new positions, subject to good faith funding requirements. <br> <br>

Good faith funding requirements obligate an investor to pay for securities with settled funds before selling the security. While you can use all of the cash available to trade to open positions, the positions must be fully paid with settled cash before their sale. <br> <br>

Portfolio margin is a risk-based margin approach that looks at the overall portfolio risk to determine margin requirements. Portfolio margin utilizes margin requirements that incorporate the portfolio’s net or total risk, not just the risk of a specific position. Portfolio margin allows for significantly increased buying power in actively hedged portfolios. <br> <br>

Margin requirements for portfolio margin are set based on a range of outcomes, such as a one standard deviation move up or down or unrealized gains and losses of 10-15%. <br> <br>

Portfolio margin may be available for investors meeting several requirements. Typically, investors need $100,000 or more of account equity, a minimum level of trading experience, and the highest level of options approval. <br> <br>

     </p>

     <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/60d9bb655e0527717b003c78_Margin%20Account%20Terms.png" loading="lazy" alt="Margin Account Terms Defined" width="100%">
    </div>

    <div class="mt-5">
     <h4>Margin account vs. Cash account</h4>
     <p>
        A margin account is a brokerage account that allows investors to borrow funds (margin loan) from their broker to increase buying power. The investor’s cash and eligible securities are the collateral for those margin loans. <br> <br>

Margin accounts typically require an initial investment of at least $2,000. <br> <br>

Margin accounts provide a line of credit from the brokerage for additional purchases of securities. The extra buying power is commonly referred to as leverage, and leverage magnifies the returns in an account. <br> <br>

Cash accounts are brokerage accounts where the investor pays the full amount for securities purchased. Cash accounts are the most basic form of standard accounts. Cash accounts do not utilize leverage through margin. Transactions in a cash account must be settled and paid in full on the settlement date. <br> <br>
     </p>
    </div>

    <div class="mt-5">
<h4>How do you decide what type of account you need?</h4>
<p>
    The type of account (margin or cash) depends on multiple factors such as the account size, investment activity, and investment goals. <br> <br>

You can short sell securities in a margin account. Margin accounts are used in defined or undefined risk options positions and provide immediate access to reinvest funds when a position is closed. <br> <br>

Margin trading has a greater potential risk of loss due to the use of leverage, interest expense from margin interest charges, and the possibility for margin calls in the event of a significant portfolio decline. <br> <br>

You can purchase stock and options, sell cash-secured puts, and sell covered calls in a cash account. If you short sell securities, trade defined risk or undefined risk options strategies, or want to use leverage, you will need a margin account. <br> <br>
</p>
    </div>

    <div class="mt-5">
    <h4>How margin accounts work</h4>
    <p>
        Margin accounts allow you to borrow money to increase buying power. You don’t have to borrow money in a margin account, but you can. When you use borrowed funds in a margin account, your investment returns are levered. Your account equity can rise and fall faster because of the leverage (borrowed funds). Here’s an example: <br> <br>

Assume you invest $10,000 in a margin account and purchase 200 shares of XYZ stock at $50 per share. The purchase amount is $10,000, and no borrowed funds are required. If XYZ stock rises to $55 per share, you have a 10% gain in account equity. <br> <br>

The gain in a margin account with no leverage would be the same as in a cash account. <br> <br>

Now, assume you invest $10,000 in a margin account and purchase 300 shares of XYZ stock at $50 per share. The purchase amount is $15,000, and you use $5,000 of borrowed funds for the purchase. Your initial margin percentage is 67%, and you are 1.5x levered. <br> <br>

If XYZ stock rises to $55 per share, you have a 15% gain in account equity. The 300 shares are worth $16,500. <br> <br>

So, the $16,500 investment value minus the $5,000 margin loan, minus the $10,000 initial investment equals $1,500. $1,500 of gains on the $10,000 of account equity is 15%. <br> <br>

After paying margin interest expense, leverage has helped increase the 10% gain on the stock to approximately 15%. <br> <br>

Next, assume you want to take advantage of all the additional buying power available in your account. You invest $10,000 in a margin account and purchase 400 shares of XYZ stock at $50 per share. The purchase amount is $20,000, and you use $10,000 of borrowed funds for the purchase. Your initial margin percentage is 50%, and you are 2x levered. <br> <br>

If XYZ stock rises to $55 per share, you have a 20% gain in account equity. The 400 shares are worth $22,000. <br> <br>

So, the $22,000 investment value, minus the $10,000 margin loan, minus the $10,000 initial investment, equals $2,000. A $2,000 gain on the $10,000 of account equity is 20%. <br> <br>

After paying margin interest expense, leverage took the 10% gain on the stock to approximately 20% in account equity. <br> <br>

Leverage magnifies returns in both directions. If the investment in XYZ stock falls, the investment loss is multiplied by the degree of leverage. A 10% loss in XYZ with 1.5x leverage becomes a -15% return on equity.
    </p>
    </div>

    <div>
        <h4>Conclusion</h4>
        <p>
            Margin accounts can open the door to new investment opportunities, additional buying power, and increased trading flexibility. However, margin is a tool that cuts both ways as leverage can magnify returns for profits and losses. <br> <br>

The decision of what account type to open depends on your investment activity and goals. This guide helps answer the frequently asked questions about margin accounts to help you decide what is best for your portfolio. <br> <br>
        </p>
    </div>
</section>

{% endblock dashboard_body %}