{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Mean Reversion</h1>
        <h5>Learn more about mean reversion trading, what it means, and how traders use it.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
<h1>Understanding Mean Reversion in Trading</h1>

    <p>
        Mean reversion is the tendency of a given data point to move back towards the mean, or average, value. The mean can be calculated using historical data, or it can be the expected future value.
    </p>

    <p>
        For example, if a stock price has been rising for several months, it may be said to have "mean reverted" if it falls back to its average price level. Likewise, if a stock price has been falling for several months, it may “revert to the mean” if it rises back to its average price level.
    </p>

    <p>
        Revert to the mean, mean reversion, and "fading the move" all relate to the same trading approach.
    </p>

    <p>
        The mean can also be referred to as the "equilibrium point" around which prices tend to fluctuate. Some investors believe that mean reversion is a powerful tool that can be used to identify opportunities in the market. Others argue that mean reversion is nothing more than a statistical anomaly. Either way, mean reversion is an important concept that all investors should understand.
    </p>

    <h2>Mean Reversion Strategies</h2>

    <p>
        Mean reversion trading fades momentum in the market. The theory is that prices tend to move back towards their average price over time. This type of trading looks for opportunities to buy when prices are below the average and sell when prices are above the average, and is often considered a contrarian investment strategy.
    </p>

    <p>
        Mean reversion trading can be used on any time frame and there are many different mean reversion strategies.
    </p>

    <p>
        One strategy is to look for overbought or oversold conditions in the market. This can be done using technical indicators such as the Relative Strength Index (RSI) or the Stochastic Oscillator. These indicators are used to measure whether prices are overextended to the upside or the downside. When prices are overextended, it can be a signal to fade the move and enter into a mean reversion trade.
    </p>

    <p>
        Traders may also use the security price's distance from a moving average to determine overextended moves. For example, if a security's price is 10% above the 20-day simple moving average, the security may be considered overbought.
    </p>

    <p>
        The second strategy is to look for support and resistance levels in the market.
    </p>

    <h2>Support and Resistance</h2>

    <p>
        When price approaches these levels, it can be a signal to fade the move. This approach works well when securities are trading within a range and each move towards an extreme is faded.
    </p>

    <h2>Mean Reversion Indicators</h2>

    <p>
        <strong>Relative Strength Index (RSI)</strong>
    </p>

    <p>
        The RSI ranges from 0 to 100. A reading of 0 indicates that prices are at their lowest point, while a reading of 100 indicates that prices are at their highest point. A reading of 50 is considered neutral.
    </p>

    <p>
        Traders typically look for overbought or oversold conditions when the RSI is above 70 or below 30, respectively. These are levels where prices are considered to be overextended and a mean reversion trade may be warranted.
    </p>

    <p>
        <strong>Stochastic Oscillator</strong>
    </p>

    <p>
        %K ranges from 0 to 100, with readings below 20 indicating oversold conditions and readings above 80 indicating overbought conditions. Like the RSI, the Stochastic Oscillator can be used to identify mean reversion opportunities in the market.
    </p>
    </div>
</section> 
{% endblock dashboard_body %}