{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Mental Models</h1>
        <h5>Mental models shape how individuals understand the world, are the framework for explaining how something works, and represent how the mind interprets different situations.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
      <p> Mental models are ingrained ways of thinking and understanding. These models shape the way decisions are made and learning occurs. Mental models are akin to sketches, blueprints, or diagrams for understanding and remembering the details of a situation in an organized way.</p> 
      
      <p>Mental models are often used to help simplify complex information. They can provide a structure for thinking about a problem or situation and can be used to generate hypotheses and make predictions. Mental models can also help decision-makers understand the trade-offs involved in different courses of action.</p>
     
      <p>There is growing evidence that mental models are important for learning. Mental models can help learners make sense of information, remember what they have learned, and transfer learning to new situations. Mental models can also aid in developing higher-order thinking skills such as problem-solving and critical thinking.</p>


     <p>There are a number of ways to develop mental models. One way is to actively think about how a system works and to try to develop a Mental Model diagram or other representation of that system. Another way is to learn from examples and experience. As people observe how others think about and solve problems, they can develop mental models similar to those of the people they admire. Finally, mental models can also be developed through formal instruction and education.</p>  

<p>Mental Models are important because they provide a framework for understanding and decision-making. Awareness of mental models aids investors in understanding how decisions are made and how certain biases may affect the investment decision-making processes.</p> 

<p>Cognitive biases such as mental accounting, frame dependence, and overconfidence influence investor decisions as the very framework for decision-making is shaped by mental models.</p> 

<p>Mental models can simplify complex information, help people learn and remember what they have learned, and aid in the development of higher-order thinking skills. There are several ways to develop mental models, including active thinking, learning from examples and experience, and formal instruction.</p> 

<p>If investors are able to identify the mental models they’ve internalized, it may assist them in avoiding potentially negative decisions in the future.</p> 
    </div>
</section>
{% endblock dashboard_body %}