{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Modern Monetary Theory</h1>
        <h5>Modern Monetary Theory (MMT) is an economic theory that states the government should actively manage the economy's money supply.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
      <p>
        Modern Monetary Theory (MMT) is a school of economic thought that believes the government should manage the money supply to stabilize prices and promote full employment. MMT is based on the idea that the government should take an active role in managing the economy, and some governments have used it as a justification for deficit spending.
      </p>
    </div>

    <div class="mt-5">
       <h4>Modern Monetary Theory explained</h4>
       <p>The principles of MMT:</p> <br> <br>
       <ol>
        <li> Money is a product of the state. MMT views money as something that is created by the state and not by the private sector. Money is not an asset like gold or silver but a unit of account that the government uses to pay for things.</li>
        <li>The government can never run out of money. Unlike households and businesses, the government is not constrained by its ability to raise money. The government can always print more money without consequence because currency is no longer backed by the gold standard.</li>
        <li>The primary purpose of taxation is not to raise revenue. Taxation is used to control inflation. Taxes ensure that people do not spend too much money and cause prices to rise. Additionally, raising taxes can be used to decrease inflation.</li>
        <li>Government spending is the key driver of economic growth. MMT views government spending as the most important factor in driving economic growth. Private sector spending is important, but it is secondary to government spending.</li>
        <li> The debt to GDP ratio does not measure a country's financial health. The debt to GDP ratio is often used to measure a country's financial health, but MMT does not view it as a relevant metric. Because the government can always print more money, the ratio does not quantify a government's ability to repay its debt.</li>
        <li>Monetary policy is more effective than fiscal policy. MMT views monetary policy as more effective than fiscal policy in controlling inflation and stimulating economic growth. Fiscal policy, while important, is secondary to monetary policy.</li>
        <li>The unemployment rate is not a good measure of the economy's health. The unemployment rate is used to measure an economy's health, but MMT does not view it as a relevant metric because the government can always create more jobs if there are not enough jobs in the private sector.</li>
        <li>Deficits are not bad. Deficits are seen as a negative, but MMT views them as necessary for economic growth because the government needs to spend more than it collects in taxes to stimulate economic growth.</li>
        <li>Inflation is not necessarily bad. MMT views inflation as being necessary for economic growth because it encourages people to spend money and stimulates economic activity.</li>
        <li> Interest rates are not a good measure of the economy's health. MMT believes interest rates are irrelevant and contend that rates should always be zero and there should be no more selling of bonds.</li>
       </ol>
    </div>
    <div class="mt-5">
     <h4>Criticisms of MMT</h4>
     <p>
        MMT has been criticized by some economists who argue that it places too much emphasis on government intervention and does not consider the role of the private sector in the economy. MMT could hurt the lower and middle-class and transfer wealth to the upper class as money loses value. <br> <br>

Some critics argue that MMT could lead to inflation and larger deficits if the government prints too much money.
     </p>
    </div>
    <div class="mt-5">
    <h4>Support for MMT</h4>
    <p>
        Despite these criticisms, MMT remains a popular school of thought among many economists and government officials. <br> <br>

Some economists have praised MMT for its insights into the role of government in the economy and its potential to help countries recover from economic crises. MMT has also been praised for its ability to help countries reduce their debt levels.
    </p>
    </div>
</section>

{% endblock dashboard_body %}