{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Exercise Options</h1>
        <h5>Exercising an option is the process of converting the option contract into shares of stock for the underlying asset. As an option buyer, you have the right to exercise at any time.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <div class="pb-3">

            <h3>Understanding Option Exercise</h3>
            <p>
                When an option contract is exercised, the owner of the option invokes the right to buy or sell stock. Options
                holders have the right to exercise their option any time before expiration. Exercising an option is the process
                of buying or selling shares at the option’s strike price. Options buyers are the only party that can exercise an
                options contract.
            </p>
        
            <p>
                When exercising a call option, you are buying the underlying stock at the strike price. Conversely, if you
                exercise a put option, you will be short the underlying stock at the strike price.
            </p>
        
            <p>
                The decision to exercise depends on the options contract’s specifications, whether it is an American or
                European-style option, the underlying’s current price, the options contract’s strike price, the length of time
                remaining on the options contract, and the option holder’s outlook on the underlying security.
            </p>
        
            <p>
                Options holders can exercise the contract anytime before expiration with American-style contracts. Exercising
                prior to expiration may occur for a number of reasons, such as the desire to receive a dividend payment on the
                underlying stock or to fulfill an obligation for another position in the portfolio.
            </p>
        
            <h3>How to Exercise an Option?</h3>
            <p>
                To exercise an option, you must inform your broker of your decision. Exercising an options contract is
                irrevocable as exercise begins the process of assignment by the Options Clearing Corporation (OCC).
            </p>
        
           
        
            <p>
                Exercising an option can be done in two ways: Automatic exercise and manual exercise. In automatic exercise, if
                your option is set to expire in-the-money (ITM), your broker will automatically convert it into shares at
                expiration. This happens regardless if you want it to happen or not. Options exercise may involve additional
                costs. Contact your broker for more information on their specific process for options exercise.
            </p>
        
            <p>
                With manual exercise, you are responsible for informing your broker if you want to exercise your options before
                expiration. This gives you more control of your positions because you can choose when to take profits or cut
                losses on a position.
            </p>
        
            <h3>When to Exercise an Option?</h3>
            <p>
                Exercising an option depends on the option type and its expiration date. If you have a call option with a strike
                price that is lower than the current market price of the underlying stock, it is generally beneficial to
                exercise the call and buy the stock at the lower strike price. The same goes for put options; if you have a put
                option with a strike price that is higher than the current market price of the underlying stock, it is generally
                beneficial to exercise your right and sell your shares at the higher strike price.
            </p>
        
            <p>
                It's important to consider how much time value there is in your options when deciding whether or not to exercise
                them. If there isn't much time left until expiration, then it might be wise to exercise early in order to avoid
                any risk of losing out on any potential gains. On the other hand, if there's still some time left before
                expiration, then it might make more sense to wait until closer to expiration in order to maximize any potential
                gains.
            </p>
        
            <p>
                Finally, always keep in mind that exercising an option comes with certain risks and potentially associated
                costs. For example, when you exercise a call option you are buying shares of stock at their current market
                prices which could go down shortly after purchase, leaving you with losses instead of profits.
            </p>
        
            <h3>Benefits of Exercising an Option Early</h3>
            <p>
                Exercising an option early can provide a variety of benefits. It allows the option holder to lock in the current
                value of the underlying asset and avoid any decrease in value prior to expiration. It also allows them to access
                dividends or other corporate actions that may be paid on the underlying asset during the period before
                expiration.
            </p>
        
            <p>
                In addition, exercising an option early can also provide liquidity benefits for investors who need access to cash
                or who want to redeploy funds into different investments. By closing out a position prior to expiration,
                investors can avoid tying up funds for long periods of time and make more efficient use of their capital.
            </p>
        
            <p>
                The benefit of exercising an option early is that you can lock in profits if you believe that market prices will
                decline. For example, if you own a call option with a strike price of $30 and market prices rise to $35, you
                could exercise your option and buy 100 shares for $3,000 ($30 x 100) rather than pay $3,500 on the open market.
                In this case, you would make a profit of $500 by exercising early.
            </p>
        
            <p>
                On the other hand, there is no benefit to exercising an option early if market prices decline. For example, if
                you own a call option with a strike price of $30 and market prices drop to $25 then it may be better to wait
                until expiration as your maximum loss is still limited to whatever premium was paid for that particular contract.
            </p>
        </div>
    <hr>

    <div class="mt-5">

        <h2>FAQs</h2>
    
        <h3>What does it mean to exercise a stock option?</h3>
        <p>
            Exercising an option is the process of buying or selling shares at the option’s strike price. Options buyers are
            the only party that can exercise an options contract, and they can exercise any time before expiration. The
            option seller is obligated to accept assignment per the contract's terms.
        </p>
    
        <p>
            When exercising a call option, you are buying the underlying stock at the strike price. Conversely, if you
            exercise a put option, you will be short the underlying stock at the strike price.
        </p>
    
        <h3>Is it better to exercise options or sell?</h3>
        <p>
            Although each situation is unique, traders typically prefer to sell an option rather than exercising an option.
            In addition to the exercise fees most brokers charge, options have extrinsic value that increases the contract’s
            value beyond its intrinsic value, so closing the position prior to expiration is not advantageous.
        </p>
    
        <h3>How do you exercise an option?</h3>
        <p>
            You can exercise an option two ways: Automatic exercise and manual exercise. To exercise an option prior to
            expiration, you must inform your broker of your decision to begin the process. Options that expire in-the-money
            will be exercised by your broker automatically.
        </p>
    </div>

    </div>

</section>    

{% endblock dashboard_body %}