{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Intrinsic Value</h1>
        <h5>Intrinsic value tells you how much an option is worth if it were exercised and does not include time value or implied volatility.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <h2>Intrinsic Value in Options</h2>

<p>
    <strong>Intrinsic value</strong> is an option’s value if it were exercised immediately. It is determined by comparing the option’s strike price with the underlying security's current market price.
</p>

<h3>Calculating an Option’s Intrinsic Value</h3>

<p>
    Intrinsic value is the amount of money an option is in-the-money (ITM). To calculate intrinsic value, subtract the strike price from the underlying asset’s current market price. For example, a call option with a $50 strike price has $5 of intrinsic value if the stock price is $55.
</p>



<p>
    <strong>Intrinsic Value Formula:</strong> For a call option, it's the current market price of the underlying asset minus the option's strike price. For a put option, it's the option's strike price minus the underlying asset's current market price.
</p>

<h3>Intrinsic Value vs. Extrinsic Value</h3>

<p>
    The <strong>intrinsic value</strong> of an option is the amount by which it is in-the-money (ITM), representing the profit realized if the option were exercised immediately. It can be calculated by subtracting the current stock price from a call option's strike price or the strike price from the current stock price for a put option.
</p>

<p>
    <strong>Extrinsic value</strong>, or time value, represents how much more an option is worth than its intrinsic value. Extrinsic value considers factors like implied volatility and time remaining until expiration. As expiration approaches, extrinsic value erodes quickly until all that remains is any intrinsic value.
</p>
    </div>

    <div>
        <h3>FAQ's</h3>
        <h4>Intrinsic Value in Options</h4>

<p>
    The <strong>intrinsic value</strong> of an option is the amount by which it is in-the-money. It represents the profit that would be realized if the option were exercised immediately.
</p>

<h3>Calculation of Intrinsic Value in Options</h3>

<p>
    You can calculate intrinsic value by subtracting the current stock price from the strike price of a call option or subtracting the strike price from the current stock price for a put option.
</p>

<h3>Example of Options Intrinsic Value</h3>

<p>
    A call option with a $50 strike price has $5 of intrinsic value if the stock price is $55. A put option with a $50 strike price has $5 of intrinsic value if the stock price is $45.
</p>

    </div>

</section>

{% endblock dashboard_body %}