{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}


<style>
    blockquote {
    border-left-width: 1rem;
    border-left-color: #009cde;
    color: var(--gray600);
    background-color: rgba(0,156,222,.1);
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    }
</style>
<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Options Trading Basics for Beginners</h1>
        <h5>Options trading doesn’t have to be complicated. This blog introduces options to give you a basic understanding of everything you need to know as you start your options trading education.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="sub_data">
      <p>Options trading doesn’t have to be complicated. The truth is, any trader can use options to diversify their portfolio, capitalize on price action, hedge positions, and generate income.</p>
      <p>This article introduces you to options trading to give a basic understanding as you move forward in your trading education.</p>
    </div>

    <div>
        <h3>How do options contracts work?</h3>
        <p>There are four components to every options contract:</p>
        <ol>
            <li>The underlying asset</li>
            <li>The strike price</li>
            <li>The expiration date</li>
            <li>The cost (also known as the premium)</li>
          </ol>

          <blockquote>​​An options contract is simply an agreement between a buyer and a seller.&nbsp;</blockquote>

          <p>Buying an option gives you the right to buy or sell stock. Selling an option obligates you to buy or sell stock.</p>

          <p>You can sell an option contract you don’t already own. This is similar to short selling stock (though you don't have to be bearish on the underlying security, as you'll learn below).</p>

          <p>If you buy an option, you can sell it before the contract expires. If you sell an option, you can also exit your position at any time. However, you could be assigned shares of stock, which is your risk as the seller. (More on assignment later).</p>
<div class="mt-5">

    <h4>Underlying asset</h4> 
    <p> Every option contract is linked to an underlying asset. Options are a derivative financial instrument. Derivatives get their value from something else. Options derive their value from the contract’s underlying asset. </p>
    
    <p> For example, an Amazon option's value is based on the the price movement of AMZN stock. </p>
    
    <p>One option contract is equivalent to 100 shares of stock. This is known as the contract multiplier.</p> 
</div>

<div class="mt-5">

    <h4> Strike price</h4>
    <p> Every option has a strike price. An option’s strike price is the price you can buy or sell the underlying security.</p>
    <p>For example, a call option with a $100 strike gives the buyer the right (but no obligation) to buy 100 shares (per contract) of the underlying security for $100 per share. The option seller is required to sell the 100 shares at $100. (More on call options later).</p> 
</div>

<div class="mt-5">
    <h4>Expiration date</h4>
    <p>All options have an expiration date. The expiration date is the final day the contract can be traded or exercised. </p> 

    <p>You do not have to hold an option until expiration. You can exit an option position before the expiration date to lock in a profit or minimize a loss.</p> 
</div>

<div class="mt-5">

    <h4>Option premium</h4> 
    <p> Several factors influence an option’s price. Every option has extrinsic and intrinsic value.</p>
    <p>What is extrinsic and intrinsic value?</p> 
    <p>Extrinsic value comes from factors such as time and volatility. The more time until expiration or the higher the implied volatility, the more expensive the option.</p> 
    <p>Learn more about time decay and implied volatility.</p> 
    
    <p>Intrinsic value (also known as an option’s moneyness) is determined by the underlying’s price relative to the option’s strike price.</p> 
    
    <p>A call option’s intrinsic value is the amount the underlying’s current price is above the option’s strike price. A put option’s intrinsic value is the amount the underlying’s current price is below the option’s strike price.</p> 
</div>


    </div>
</section>
{% endblock dashboard_body %}