{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Options Expiration</h1>
        <h5>Every options contract has an expiration date. Learn more about options expiration and what happens when an option expires.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <p>Options expiration is the last trading day that an option can be exercised. When an options contract expires, there is no further trading activity on that contract. All options contracts have an expiration date.</p>
        <p>On the expiration date, all options that are in-the-money (ITM) will be exercised automatically. The buyer of an option can exercise it any time prior to its expiration by notifying their broker. If you do not wish for your positions to be exercised at expiration, you must exit them before the market closes on the expiration day.</p>
    </div>

    <div>
       

    <h3>What Time do Options Expire?</h3>
    <p>
        Options expire at the end of market hours on the contract’s expiration date. While the stock market closes at
        4 pm EST, options can be exercised until 4:30 pm EST on the day of expiration.
    </p>

    <h3>What Happens if My Option Expires In-The-Money?</h3>
    <p>
        If an option expires in-the-money, it is subject to exercise or assignment. A buyer (holder) of a long options
        contract will automatically go through the process of exercising the option per the terms of the contract. A
        seller (writer) of a short options contract will automatically go through the assignment process per the terms
        of the contract and deliver long or short shares of stock.
    </p>

    <h3>What Happens When Options Expire Out-of-The-Money?</h3>
    <p>
        If an option expires out-of-the-money, it is said to expire “worthless.” No action is needed by either party.
        The holder of a long option that expires out-of-the-money will forfeit the entirety of the debit paid initially
        to enter the position. The writer of a short option that expires out-of-the-money will retain all credit
        received from selling the option.
    </p>

    <h2>When an Option Expires</h2>

    <p>
        It is important to remember that if you own an options contract that has reached its expiration date, if there is
        intrinsic value left in the contract then it will be exercised whether you like it or not.
    </p>

    <p>
        When an option expires, there are two possible outcomes:
    </p>

    <ol>
        <li><strong>In-the-money (ITM) options are exercised automatically.</strong></li>
        <li><strong>Unexercised options expiring out-of-the-money will expire worthless.</strong></li>
    </ol>

    <h3>When do Options Expire?</h3>
    <p>
        Monthly options contracts typically expire on the third Friday every month. All equity and index options
        expire at the close of business on expiration day. However, if that day is a market holiday, expiration may be
        earlier than usual or the previous day.
    </p>

    <p>
        Many highly traded stocks and ETFs now offer weekly - and in some cases, daily - expirations.
    </p>

    <p>
        Although the stock market closes at 4 pm EST, options can be exercised until 4:30 pm EST on the day of
        expiration.
    </p>

    <h3>Options Expiration Calendar 2023</h3>
    <p>
        Options have a finite life that ends at expiration. On the third Friday of every month, all listed options
        expire. This is important for investors to understand because it can affect the value of an option contract. At
        the close of business on expiration day, any contracts not closed will expire worthless.
    </p>

    

    <h2>Options Value at Expiration</h2>

    <p>
        When an option expires, its value is derived from the underlying asset’s price. In-the-money options will have
        intrinsic value. The intrinsic value is the amount that the option would be worth if it were exercised right
        away. For example, if a call option has a strike price of $50 and the underlying asset is trading at $55, then
        the call would be ITM and have an intrinsic value of $5.
    </p>

    <p>
        Out-of-the-money options have no intrinsic value or extrinsic value at expiration because there is no time value
        remaining. Time value (theta), along with implied volatility (IV), is the extra premium paid for the option
        based on its time remaining until expiration and the underlying asset’s volatility.
    </p>

    <h3>Exercise and Assignment</h3>
    <p>
        Options holders may choose to exercise their right to buy or sell the underlying asset at any time before
        expiration. Once an option expires, it can no longer be exercised.
    </p>

    <p>
        Options assignment is random, and the process is facilitated by the Options Clearing Corporation (OCC).
    </p>

    <p>
        Generally, the option holder will exercise a call option when the underlying stock is trading above the strike
        price, and they will exercise a put option when the underlying stock is trading below the strike price. When
        exercising an option, you are buying or selling shares of stock at the strike price.
    </p>

    <p>
        If you are short an option, you may be assigned at any time before expiration by the options holder who has
        chosen to exercise their right to buy or sell shares of stock at the contract’s strike price, and you are
        obligated to buy or sell shares at the contract's strike price.
    </p>

    <div>

        <h2>FAQs</h2>
    
        <h3>What Time do Options Expire?</h3>
        <p>
            Options expire at the end of market hours on the contract’s expiration date. Although the stock market closes
            at 4 pm EST, options can be exercised until 4:30 pm EST on the day of expiration.
        </p>
    
        <h3>What Happens if My Option Expires In-The-Money?</h3>
        <p>
            If an option expires in-the-money, it is subject to exercise or assignment. A buyer, or holder, of a long
            options contract will automatically go through the process of exercising the option per the terms of the
            contract. A seller, or writer, of a short options contract will automatically go through the assignment process
            per the terms of the contract and deliver long or short shares of stock.
        </p>
    
        <h3>What Happens When Options Expire Out-of-The-Money?</h3>
        <p>
            If an option expires out-of-the-money, it is said to expire “worthless.” No action is needed by either party.
            The holder of a long option that expires out-of-the-money will forfeit the entirety of the debit paid initially
            to enter the position. The writer of a short option that expires out-of-the-money will retain all credit
            received from selling the option.
        </p>
    </div>
    </div>

</section>    

{% endblock dashboard_body %}