{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    blockquote {
    border-left-width: 1rem;
    border-left-color: #009cde;
    color: var(--gray600);
    background-color: rgba(0,156,222,.1);
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    }
    p{
        font-size: 1.2rem !important;
        font-weight: 200 !important;
    }
</style>
<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Option Contract</h1>
        <h5>Option contracts are an agreement between a buyer and a seller that gives the buyer the right to buy or sell stock at a certain price on or before a specific date.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="sub_data">
      <p>An option contract is an agreement between a buyer and a seller that gives the buyer the right, but not the obligation, to buy or sell a specific asset at a specific strike price on or before a specific expiration date. Options sellers are obligated to buy or sell shares of the underlying security per the options contract’s terms.</p>
      <p>The buyer is referred to as the "holder," and the seller is referred to as the "writer." Options buyers are said to be "long" the options contract, while options sellers are "short" the options contract. Options can be bought and sold on a variety of underlying assets, including stocks, bonds, indexes, and futures.</p>
    </div>

    <div>
        
        <p>There are four components to every options contract:</p>
        <ol>
            <li>The underlying asset</li>
            <li>The strike price</li>
            <li>The expiration date</li>
            <li>The cost (also known as the premium)</li>
          </ol>
<div>

   <p>Options contracts are derivative investments because their value is derived from the contract’s underlying asset.</p> 
</div>
<div>

  <p> For example, a Microsoft options contract derives its value from the price movement of Microsoft stock.</p> 
</div>

<div>

   <p>Options have a contract multiplier. Because option contracts are leveraged financial instruments, one stock option contract is equivalent to 100 shares of the underlying asset.</p> 
</div>

<div>
    <p>The strike price is the specific price at which the underlying security can be bought or sold with an options contract.</p>
</div>

<div>

 <p>The expiration date is the last trading day that an option can be exercised.</p>   
</div>

<div>
   <p>Every option contract has an associated cost, or premium. The premium is the price the buyer pays and the seller receives. Option premiums are based on multiple factors, including the time until expiration, volatility, and the underlying's price relative to the strike price.</p> 
</div>

<div class="mt-5">
<h3>FAQ's</h3>

<div class="mt-4">
 <h5>How is option premium calculated?</h5>
 <p class="mt-3">The option premium is the price of an options contract. The option premium is the consideration given by the buyer to the seller to enter into the contract. Market participants consider multiple factors to assess the value of the option’s premium, including the strike price relative to the stock price, time until expiration, and volatility. There are multiple formulas for calculating an option’s premium. The most common are the Black-Scholes Model and the Bjerksund-Stensland Model.</p>
</div>

<div class="mt-4">
 <h5>What is an option premium example?</h5>
 <p class="mt-3">The option premium is the price paid to purchase an option and collected when selling an option. For example, if the premium of a stock option is $2.00, the buyer is required to pay $200 per contract, and the seller receives $200 per contract when the transaction is executed.</p>
</div>

</div>

    </div>
</section>
{% endblock dashboard_body %}