{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Options Moneyness (ITM, OTM, & ATM): The Complete Guide</h1>
        <h5>Moneyness is used to describe the intrinsic value of an options contract. Moneyness is described in three categories: in-the-money, out-of-the-money, and at-the-money. The degree of moneyness can change over the life of an options contract.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <h2>What is Option Moneyness?</h2>
<p>
    Moneyness refers to how the strike price of the option relates to the current trading price of the underlying asset.
    <br><br>
    In other words, moneyness describes the intrinsic value of an option in its current state.
    <br><br>
    Options are classified by traders into three categories based on the relationship of the strike price to the underlying stock price at the current time. The categories describe an option’s moneyness.
    <br><br>
    It’s important to get a handle on these categories and what they mean before you start trading options. Every options strategy will incorporate these terms and without a solid understanding, beginners can easily find themselves confused.
</p>

<h3>Three Categories of Moneyness</h3>
<p>
    <strong><h5>In-The-Money (ITM)</h5> </strong><br>
    ITM does not mean that the trader is going to make a profit necessarily but instead describes the position of the strike price against the stock price at any given time.
    <br><br>
    For example, if you have a call option and the stock price is greater than the strike price, that option is said to be in-the-money and has intrinsic value. It’s just describing the relationship between the two prices and not the trader’s actual profitability. If you have a put option and the stock price is lower than the strike price, then your position is in-the-money.
</p>


<p>
    <strong><h5>Out-Of-The-Money (OTM)</h5> </strong><br>
    Again, OTM doesn’t mean the trader has lost money on a trade but is simply a generic description of where the strike and stock prices are in relation to each other at present.
    <br><br>
    For a call option position to be considered OTM, the stock price would need to be lower than the strike price; for a put option, the stock price would need to be higher than the strike price.
</p>


<p>
    <strong> <h5>At-The-Money (ATM)</h5></strong><br>
    Options are ATM when the strike price and stock price are at the same level, whether you are trading calls or puts. It describes a price level parity between stock and strike prices.
</p>


<h3>Determining the Value of the Option</h3>
<p>
    An option’s pricing is based on two components:
    <br><br>
    <strong>Intrinsic Value:</strong><br>
    Intrinsic value is the value of an option if it expired at this very moment. When traders say an option is in-the-money, they are saying it has intrinsic value. Out-of-the-money options have no intrinsic value.
    <br><br>
    <strong>Extrinsic Value:</strong><br>
    Although extrinsic value plays a less prominent part in moneyness, it is an important concept to understand when trading options. Extrinsic value has several components, with time value (theta) being the most attention-worthy. The more time until expiration, the higher the extrinsic value of the option.
</p>

<h3>Option Moneyness Examples</h3>
<p>
    <strong>In-The-Money (ITM) Example:</strong><br>
    For a call option, the option is in-the-money if the strike price is below the current value of the stock trading in the market. The option is ITM if the stock price is higher than the strike price because you can buy the stock for $100 when it is trading at $110 ($10 of intrinsic value).
    <br><br>
   
</p>

<p>
    <strong>Out-Of-The-Money (OTM) Example:</strong><br>
    For a call option, the option is OTM if the stock price is lower than $100 because you can buy the stock for $100. A long call option will have the max loss if the contract expires out-of-the-money.
    <br><br>
   
</p>

<p>
    <strong>At-The-Money (ATM) Example:</strong><br>
    Options are said to be ATM when the strike price and the stock price are the same. It’s essentially the “tipping point” between an option being OTM and ITM.
    <br><br>
  
</p>

<h3>How Should Moneyness Play Into My Trading Strategy?</h3>
<p>
    When options are ITM, they represent profitable opportunities for traders. For example, buying a call option that is significantly ITM presents the same profit opportunity in terms of dollars as purchasing the actual stock, but you can trade with much less capital investment. Selling deep ITM options presents an opportunity to take profit immediately. Plus, there will still be remaining extrinsic value.
    <br><br>
    Remember, the more time until expiration, the more value an option contract has.
</p>

    </div>

    <div>
        <h2>FAQs</h2>

<h3>What is the difference between intrinsic value and extrinsic value?</h3>
<p>
    The intrinsic value of an options contract is the value of the option at expiration. If the contract expired immediately, the intrinsic value would be the only value remaining on the contract. To calculate the intrinsic value, take the difference between the current value of the underlying security and the option contract’s strike price.
    <br><br>
    For example, a call option contract’s intrinsic value is the amount the underlying’s current price is above the strike price. If a stock is trading at $55 per share, then a call option with a $50 strike price would have an intrinsic value of $5.
    <br><br>
    Extrinsic value is the value of an options contract beyond its intrinsic value. The extrinsic value of an options contract is also called the time value because the remaining value is dependent on external factors such as the time remaining on the contract, the volatility of the underlying security, the risk-free interest rate, and the dividend rate of the underlying security. Extrinsic value is greatest when an options contract is at-the-money. If the price of the underlying security is far above or far below the contract’s strike price, then the extrinsic value factors have little influence on the option’s price.
</p>

<h3>How is the extrinsic value calculated?</h3>
<p>
    Extrinsic value is the price of an option minus the intrinsic value. Extrinsic value is determined by the external factors that could affect an option’s price, such as time remaining until expiration (theta) and the volatility of the underlying security (vega). Extrinsic value is greatest when an options contract is at-the-money.
</p>

<h3>What is an example of intrinsic value?</h3>
<p>
    A call option contract’s intrinsic value is the amount the underlying’s current price is above the strike price. For example, if a stock is trading at $55 per share, then a call option with a $50 strike price would have an intrinsic value of $5.
</p>

<h3>How to calculate the extrinsic value of an option?</h3>
<p>
    Extrinsic value is the price of an option minus the intrinsic value. Extrinsic value is determined by the external factors that could affect an option’s price, such as time remaining until expiration and the volatility of the underlying security. Extrinsic value is greatest when an options contract is at-the-money. For example, if a stock is trading at $55 per share and a call option is trading at $7, then the call option’s extrinsic value is $2.
</p>

<h3>Is it better to buy ITM or OTM options?</h3>
<p>
    In-the-money options contracts are contracts with positive intrinsic value. Out-of-the-money options contracts have no intrinsic value because the contracts are “out-of-the-money” to be exercised based on the current underlying security’s price and the contract’s strike price. In-the-money and out-of-the-money options will behave differently. In-the-money options are more expensive than out-of-the-money options. In-the-money options are more sensitive to price movements in the underlying security. One is not necessarily better than the other, and it will depend on the investor’s strategy and capital allocation to determine what is best for their investment portfolio.
</p>
    </div>
</section>

{% endblock dashboard_body %}