{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Performance Metrics</h1>
        <h5>There are multiple ways investors can track the performance of an individual trade or portfolio. Here is a look at 11 performance metrics.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <p>Analyzing investment performance can help quantify the overall quality of investments in a portfolio, identify successful strategies, or highlight areas that need improvement. Performance metrics can be viewed individually or holistically to create robust systems and strategies.</p>
    <div>
<h4>Win rate</h4>
<p>The win rate divides the total number of winning trades by total trades. For example, if an investor has placed 200 trades and has realized a profit on 120 of them, the win rate is 60% (120/200).</p>
<img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/6039094e35feeac76a385b3e_Win%20Rate.png" loading="lazy" alt="Win rate formula" width="100%">
<p>While the win rate can identify how successful trades are at generating profit, it is not as important as the profit factor, or how much is gained or lost on each trade. For example, an investor may have a 60% win rate, but if they lose 3x as much when they lose than they make when they win, they will lose capital over time.</p>
    </div>

    <div>
        
    </div>

</section>

{% endblock dashboard_body %}