{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Position Sizing</h1>
        <h5>Position sizing is the method for determining the number of shares or contracts purchased in a security.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
   <p>
    The number of shares or contracts and the price of the security determines the amount of capital invested in holding the position. Position sizing can be quantified as a percentage of an investor’s account. <br> <br>

For example, if an investor purchases 100 shares of a $100 stock, their position size is $10,000. If the account size is $50,000, the position size is 20% of the portfolio’s capital. <br> <br>

Position sizing is an important factor in portfolio construction and risk management. Investors typically do not want to commit a large portion of their portfolio to one investment as it decreases the available capital for other purchases and limits opportunities for diversification.
   </p>

   <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/60db65412ecdac65234fd27d_Position%20Allocation.png" loading="lazy" alt="Position allocation as a percentage of account" width="100%">
    </div>

    <div class="mt-5">
        <h4>Equity risked</h4>
        <p>
            The equity risked on an investment is different than position sizing. The equity risked is the amount of capital an investor is willing to risk on an investment, and will typically be less than the position size. <br> <br>

To determine the position size for an investment, an investor must decide the amount of equity they are willing to risk. Typically, equity risk is calculated as a percentage of the portfolio.
        </p>

        <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/60db6a7981ecb05e38bcddde_%25%20Risked%20Per%20Trade.png" loading="lazy" alt="Equity risked per trade as a percentage of account" width="100%">
        <p>
            In the above example, the investor has an account size of $50,000. If they want to risk no more than 5% of their portfolio on a specific trade, the equity risked would be $2,500 per trade.  <br> <br>

Once the equity risked has been determined, the investor must decide how to allocate the available funds. In the above example, the investor has a $10,000 (20%) position size, and a maximum equity risked of $2,500 (5%). If 100 shares of a $100 stock have been purchased, the investor must set a stop-loss order at $75. If the stop-loss order is triggered, the net loss would be $2,500 ($100-$75 = $25 x 100 shares = $2,500). <br> <br>  

While the position size and equity risked may remain constant, the investor has many ways of creating different risk/reward opportunities. <br> <br>

For example, an investor could increase the position size to 25% and still only choose to have 5% equity risked. The stop would need to be placed at a closer distance to maintain 5% equity risk. In this scenario, the stop-loss would be $80 ($100-$80 = $20 x 125 shares = -$2,500). <br> <br>

When the investor knows how much equity they are willing to risk, they can build out their position size. It is important to note that setting a stop-loss does not guarantee a defined loss. Stocks can have large overnight gaps relative to their prior closing price, and may open well above or below the stop-loss order.
        </p>
    </div>

    <div class="mt-5">
        <h4>Sequence of returns</h4>
        <p>
            Position sizing and equity risk are key components of risk management and are dictated by the investor. Sequencing of returns is an external factor that investors cannot control. <br> <br>

            Position sizing helps calculate how many consecutive losses are needed to lose a defined percentage of an account. Sequencing of returns is the inherent risk that an investor could suffer multiple losses in a row. <br> <br>
            
            Small position sizing helps mitigate the effects if an investor experiences a string of consecutive losses. The lower the equity risked per trade, the lower the probability that a sequence of poor trades will cause a significant drawdown that eliminates all of the trading capital in an account. <br> <br>
            
            The following chart shows the likelihood of realizing consecutive losses given the probability of success for a strategy. As the likelihood of success increases, the probability of consecutive losses declines significantly. 
        </p>

        <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/6012ffc879309bb92deefa80_2gtusRMpOoGQn-m_IpZKK0FbMFLSb4u58KdMgR6EEO0Yn6rsBha9XE6yOY6GnRc7T-MY9oa1MisMnSEfWaPZYd4tLM7jlC_2mDO_6LuFuKAOxJWvTnqq7pM6c06t5EXcbEz2yuTV.png" alt="Sequencing Returns image" width="100%">
        <p>
            For example, if a bull put credit spread is entered at the .30 delta, the position should have a roughly 70% probability of success. There is a 0.2% (1:412) chance of losing five consecutive trades with a 70% probability of success. This information can assist investors in determining proper capital allocation and position sizing when opening a position.
        </p>
    </div>
</section>

{% endblock dashboard_body %}