{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Preferred Stock</h1>
        <h5>Preferred stock is a form of equity ownership in a corporation with a higher priority in dividend payments than common stock but does not typically have voting rights.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
      <p>
        Preferred stock is viewed as somewhat of a common-stock-and-debt hybrid because preferred stock has an income-oriented cash flow stream through dividends but does not have the same corporate rights as common shareholders.

In a corporate liquidation, preferred stockholders are junior to debt holders but senior to common shareholders. Dividend payments for preferred stock may be payable in arrears, meaning any missed dividend payments for preferred stockholders must be paid before any dividends are paid to common stockholders. <br> <br>

There are many types of preferred stock including prior preferred, preference preferred, convertible preferred, cumulative preferred, exchangeable preferred, participating preferred, perpetual preferred, putable preferred, and more. Each type has its own unique features and rights. <br> <br>

For example, preferred stock dividends may be a set amount paid on a regular basis (fixed) or float with some benchmark interest rate (variable). While preferred stock does have appreciation (and depreciation) potential, many buyers of preferred stock do so to generate income.
      </p>
    </div>
</section>

{% endblock dashboard_body %}