{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>How to Calculate Present Value of an Annuity</h1>
        <h5>We'll define what present value is, explain the concept of an annuity, and walk you through how to calculate the present value of an annuity. We'll also discuss some factors that can affect the present value calculation.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
    <h4>Present value defined</h4>
    <p>Present value is the current value of a future stream of payments. In other words, it's the amount of money you would need to invest today to have a certain amount of money in the future. <br> <br>
        For example, let's say you want to have $1,000 in one year. Assuming you earn 10% interest on your investment, you would need to invest $909 today to have $1,000 in one year. So, the present value of $1,000 is $909.
     </p>
    </div>
    <div class="mt-5">
    <h4>What is an annuity?</h4>
    <p>
        An annuity is a stream of equal payments that occur at regular intervals. The most common type of annuity is an ordinary annuity, which is when the payments are made at the end of each interval. For example, if you make monthly mortgage payments, those payments are an ordinary annuity. Car loans, student loans, and other installment loans are annuities. <br> <br> 

There's also an annuity due, which is when payments are made at the beginning of each interval instead of the end. Annuities due are less common, but still important to understand because it impacts the present value calculation.
    </p>
    </div>
    <div class="mt-5">
    <h4>Calculate the present value of an annuity</h4>
    <span>To calculate the present value of an annuity, you need to know three things:</span>
    <ol>
        <li>The interest rate: This is the rate of return you could earn on your investment.</li>
        <li>The number of periods: This is the number of payments you will make.</li>
        <li>The amount of each payment: This is the amount you will pay each period.</li>
    </ol>
    <p>With that information, you can use this formula to calculate the present value of an annuity:</p>
    <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/62f174077bfa1e4dbf7fefc0_Present%20Value%20of%20an%20Annuity%20Formula.png" loading="lazy" alt="Present Value of an Annuity Formula" width="100%">
    <li>PV is the present value of the annuity.</li>
    <li>PMT is the amount of each payment.
    </li>
    <li>i is the interest rate.</li>
    <li>n is the number of periods.</li>
    <li>(1 - (1 / (1 + i)^n)) is called the discount factor. This adjusts for the time value of money.</li>
    </div>
    <div class="mt-5">
     <h4>Present value of an annuity example</h4>
     <p>Let’s say you are going to receive $1,000 per year, for the next ten years, and the interest rate is 5%. </p>
      <p>
        If you have a financial calculator, you can use its time value of money functions to calculate future value. To do this, you'll need to input the following information and then compute the future value:
      </p>

      <li>N: 10</li>
      <li>I/Y: 5</li>
      <li>PV: This is what you’re calculating</li>
      <li>PMT: $1,000</li>
      <li>FV: $0</li>

      <p>
        When you solve for PV, you’ll get $7,721.73. If you had $7,721.73 today, you could invest it at 5% and withdraw $1,000 each year for ten years. The interest received each year on the $7,721.73 allows the balance to grow over time to fund the $10,000 of withdrawals. 
      </p>
    </div>

    <div class="mt-5">
     <h4>Factors that affect an annuity’s present value </h4>
     <span>There are a few factors that can affect the present value of an annuity:</span>
     <li>Interest rate: This is arguably the most important factor. The higher the interest rate, the lower the present value of the annuity because the interest rate is used to discount future payments.</li>
     <li>Amount of each payment: The higher the payments, the higher the present value of the annuity because you're receiving more money sooner.</li>
     <p>
        In general, the present value of an annuity will be lower if you're receiving the payments over a longer period of time because you're forfeiting the opportunity to earn interest on your investment. <br> <br>

Remember, the present value is just one consideration when it comes to making financial decisions. You also need to consider the time value of money and your own personal circumstances. But if you're trying to calculate how much money you need to invest today to have a certain amount of money in the future, the present value formula is a good place to start.
     </p>
    </div>
</section>

{% endblock dashboard_body %}