{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Mental Models</h1>
        <h5>Mental models shape how individuals understand the world, are the framework for explaining how something works, and represent how the mind interprets different situations.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <p>
            Prospect theory suggests that investors are more concerned with potential losses than they are happy with potential gains. In other words, the negative feeling associated with investment losses outweighs the positive feeling associated with investment gains. Therefore, investors prefer avoiding investment losses more than they prefer investment gains.
        </p>
    
        <p>
            Prospect theory was developed by Daniel Kahneman and Amos Tversky in the late 1970s and is a foundational work in behavioral finance. Prospect theory models how investors choose between alternatives involving risk and uncertainty and demonstrates the concept of loss-aversion. Prospect theory research has provided numerous insights into investors' psyche.
        </p>
    
        <p>
            For example, investors respond differently to identical situations, depending on how the situation is proposed. Investors perceive the pain of a $1 loss to be twice as much as the pleasure of a $1 gain.
        </p>
    
        <h2>FAQs</h2>
    
        <ol>
            <li>What are the main components of prospect theory?</li>
            <p>
                Prospect theory suggests that investors are more concerned with potential losses than they are happy with potential gains. In other words, the negative feeling associated with investment losses outweighs the positive feeling associated with investment gains. Therefore, investors prefer avoiding investment losses more than they prefer investment gains.
            </p>
    
            <li>What is prospect theory in finance?</li>
            <p>
                Prospect theory models how investors choose between alternatives involving risk and uncertainty and demonstrates the concept of loss-aversion. Prospect theory research has provided numerous insights into investors' psyche. Prospect theory suggests that investors are more concerned with potential losses than they are happy with potential gains.
            </p>
    
            <li>What problems does prospect theory solve?</li>
            <p>
                Prospect theory helps investors identify a prominent psychological bias associated with loss aversion. If investors are able to recognize the psychological biases that drive them to make poor decisions, they may be better equipped to avoid them in the future.
            </p>
        </ol>
    </div>
</section>
{% endblock dashboard_body %}