{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}


<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Put Options</h1>
        <h5>A call option gives the buyer the right, but not the obligation, to buy an underlying asset at a specific strike price on or before a specific expiration date. Learn more about call option basics and their payoff diagram.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
      <p>Put options are used in a variety of ways. Whether it's to capitalize on a stock price decline, protect a long stock position, or generate income through premium selling, put options are a versatile tool in a trader's toolbox.</p>  

       <p>In this guide, we’ll explore some of the different ways you can use put options and identify different strategies that may benefit your portfolio. We discuss single-leg and multi-leg options strategies. Your options approval level will determine what strategy types are available to you.</p> 
    </div>
   
     <div class="put_option mt-5">
       <h4>What is a put option?</h4> 
      <p>A put option gives the buyer the right, but no obligation, to sell an underlying asset at a specific strike price on or before a specific expiration date. Conversely, selling a put option obligates the seller to take shares of stock if the option is exercised and assigned. (Remember, each option contract represents 100 shares of stock). </p>  
        
      <p>Ok, enough with the fancy technical jargon. While the definitions are correct, they may need more explanation, especially if you’re new to options. So let’s dig a little deeper.</p>  
     </div>

     <div class="mt-5">
      <h3>How do put options work?</h3>  
     <blockquote>An option contract has three main components: a strike price, an expiration date, and an option premium.</blockquote>  
     <p>The premium is directly affected by the strike price (relative to the underlying security’s price) and the time until expiration. </p> 

     <p>Put options with a strike price below the stock’s price are less expensive and become cheaper as the option becomes further out-of-the-money. This should make sense intuitively: if a stock is trading for $100, the $70 put option is less likely to be in-the-money than the $90 strike option, so it costs less to buy or sell.</p> 

     <p> The further a contract is from expiration, the more expensive the option will be because more time allows for a larger potential range of prices.</p> 

       <div>
       <p>Most investors use put options as protection to hedge positions in their portfolio, so it may be easier to think of put options like insurance.</p> 

        <p>Buying a long put option is similar to purchasing car insurance: a premium is paid upfront to protect against future risk. The hope is that you will never need to use the insurance. Options traders, like car owners, are willing to pay an option premium on a recurring basis to define maximum risk.</p> 

        <p> A long put option can be a safeguard against a dramatic move down in the stock market (think the Pandemic Crash) and potentially help you avoid losing a significant amount of money on your long stock positions.</p>  

        <p>For example, if you owned 100 shares of stock at $100 and purchased a protective put for $5.00 with a $95 strike price, the maximum risk for the position is $1,000.</p>  

       <li>Strike Price - Purchase Price - Option Premium = Maximum Risk</li> 
       <li>$95 - $100 - $5 = -$10 x 100 shares per contract = -$1,000</li> 
      <p>The put option guarantees that you can sell the stock at $95 on the expiration date, no matter the price of the underlying stock. If the stock is above $95 at expiration, the option expires worthless, the premium is forfeited, and you can choose to purchase another put option with an expiration date in the future. </p> 

     <p>Better yet, if your stock position is profitable, a long put could be purchased above the stock’s original cost basis, potentially locking in a profit.</p>  

      <p>Remember, however, that buying a put option adds cost to the original position. A $5.00 put option requires the underlying stock be above $105 to be profitable. The cost-basis will continue to increase as more put options are purchased.</p> 

       </div>
      
       <div class="buying_option mt-5">
        <h3>Buying a put option</h3> 
        <p>You can also buy a put option to express a directional bias. A long put is similar to short selling a stock. The outlook is for the stock to decline after the put has been purchased and subsequently sell the option back at a higher price. Because of certain account type restrictions you may not be able to short stock, so buying a long put enables you to have a bearish position in a security with reduced capital allocation. </p>
        
       <p> Long puts have defined risk (the original cost of the option is the most you can lose) and undefined profit potential. Puts are typically more expensive than calls because investors are willing to pay a higher premium to protect against downside risk when hedging positions.</p>
        
       </div>

       <div class="selling_option mt-5">
         <h3>Selling a put option</h3> 
        <p>You can sell put options as a bullish strategy to express an upward directional bias. Instead of paying a debit to enter the position, you receive a credit for selling the option to a buyer in the market. The credit received is the maximum profit potential should the stock stay above the short put’s strike price. Unlike long puts, a short put option has undefined risk below the break-even point.</p>
       
       <p>Selling a put option can also be an advantageous strategy to purchase a stock, because the credit from the put option reduces the cost basis of the stock position if assigned. Many investors sell puts on stocks they are happy to own and gladly accept payment in return. A short put option can be thought of as a limit order.     </p> 
       <p>For example, you might sell a put at a price you believe is support. Instead of waiting for the share price to fall and trigger your order, you essentially get “paid” to wait for the price to decline below the short put option’s strike price. If the stock price never drops below the strike price, you get to keep the premium.</p> 

        <p>Think about it: if a stock is trading at $102, and you would buy it at $100, why not sell a put with a $100 strike price? If you receive $5.00 for selling the put, you’ve reduced the position’s cost-basis to $95. You’re already up $500 per contract!</p> 

         <p> (Note: to sell a “naked” put, or cash-secured put, your account must have enough capital to purchase 100 shares at the contract’s strike price).</p>  
       </div>

       <div class="option_spread mt-5">
        <h3>Put option spreads</h3> 
        <p>While some of these use cases for put options may sound too good to be true, there are risks associated with selling options. As mentioned before, a short put option has undefined risk. That’s where spreads come in handy.</p> 
        
        <p>A spread combines two or more options into a single position to define risk for the seller or reduce cost for the buyer. </p>  
        
         <p>A bull put credit spread has the same bullish bias as a single-leg short put, but a long put is purchased below the short option to define the position’s risk. You’ll take in less credit because you have to buy a put option, and the credit received is still your maximum potential profit. But you can rest easy knowing your max loss is defined by the spread width minus the credit received.</p> 
        
         <p>For example, if a $5 wide bull put spread sold at $50 collects a $1.00 credit, the maximum profit potential is $100 if the stock price is above the short put at expiration. The max loss is $400 if the stock price is below $45 at expiration because the broker would automatically buy shares at $50 and sell shares at $45. (Remember, short put = buy, long put = sell). The trade’s break-even point is the short put strike minus the premium received.</p> 
        <p>If you’re bearish on a stock and want to use options to speculate on the price declining, you can always buy a long put. If you want to reduce the cost of the position, you can convert the long put into a multi-leg bear put debit spread by selling a put at a lower strike price. 
        </p> 
       <p>For example, assume a put with a $50 strike price costs $3.00. You could sell the $45 strike put to lower the position’s cost. If you receive $2.00 for selling the $45 put, the put spread costs you $1.00 instead of $3.00.</p> 
       
       <p>The advantage of selling the put is that the premium collected reduces the overall cost. However, adding the short put also reduces the profit potential, so there is a compromise.</p>

      <p>Always keep in mind that options have an expiration date, and these spread positions must have the same expiration date (you can learn about more complex multi-leg positions with different expiration dates, like diagonals and calendar spreads, in our Strategies section). </p> 

       <p>The expiration date acts as an ever-present countdown for the position.</p> 

       <blockquote>All options lose value every single day.</blockquote>
          <p>An option’s time decay, or theta, benefits option sellers and works against buyers.</p>  
       </div>
     </div>



    <div class="conclusion mt-5">
      <h3>Conclusion</h3>  
      <p> Hopefully, this helps you better understand the different ways you can use put options to add flexibility to your stock and options portfolio. Options are incredibly dynamic and allow you to hedge, speculate, and generate income with a variety of strategies. Options provide unique advantages such as defined risk, leverage, and lower capital allocation.</p>

      <p>At Option Alpha, we don’t want you to ever feel overwhelmed or intimidated by the seemingly complex world of options trading. We believe that with better education, these financial tools can be used to intelligently improve your investing strategies.</p> 
    </div>

    <div class="option_faq mt-5">
        <div class="mt-4">  
            <h4>FAQs</h4> 
             <h5>What is an example of a put option?</h5>  
             <p>A put option gives the buyer the right, but not the obligation, to sell 100 shares of the underlying asset at a specific strike price on or before a specific expiration date. The seller of a put option is obligated to purchase 100 shares of the underlying asset at the strike price. For example, a put option with a $100 strike price would allow the holder to sell 100 shares at $100 if they choose to exercise the option before expiration. The writer of the option would be required to buy the shares at $100.</p>  
        </div>
    </div>

</section>   
{% endblock dashboard_body %}