{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Regulatory</h1>
        <h5>Financial markets have multiple regulatory agencies that establish compliance with rules regarding financial transactions in exchanges and banks.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>
    <p>Markets are typically regulated by governmental or independently established regulatory agencies. Regulatory agencies promote fair and orderly markets and ensure that all individuals and institutions operate within the laws set forth by the governing bodies. Regulators have the authority to investigate fraudulent activity and sanction or penalize market participants.</p>
    
    <div class="mt-4">
     <h4>OCC</h4>
     <p>
        The Options Clearing Corporation (OCC) is the world's largest equity derivatives clearing organization. The OCC is responsible for listing all options and oversees the contract exercise and assignment process. The OCC is jointly owned by the exchanges that trade options. <br> <br>

The OCC helps provide a liquid market for options contracts, guaranteeing all trades by acting as the counter-party to any purchase or sale of options. By acting as guarantor for options trades, the OCC ensures that the obligations of the contracts are fulfilled and risk management practices are followed.
     </p>
    </div>
    <div class="mt-4">
    <h4>SEC</h4>
    <p>
        The Securities and Exchange Commission (SEC) is an agency of the United States government that regulates markets and investors. The SEC was created in 1934 in response to the irresponsibility exhibited during the stock market crash of 1929. The SEC’s role is to enforce laws that promote fair, orderly, and efficient markets while maintaining a functioning economy. <br> <br>

        The SEC requires all issuers of stock to provide full disclosure regarding their business activity. The SEC has the power to administer lawsuits against investors who break laws such as insider trading, accounting fraud, falsifying information, and more. The SEC is composed of 5 bi-partisan members who serve five-year terms. <br> <br>
        
        The SEC has many rulings that deal specifically with individual traders. One of those rulings defines a “pattern day trader” and impacts the trading activity of retail traders. According to the SEC’s rulings, a pattern day trader is a trader who executes four or more day trades in a five-day period using a margin account. <br> <br>
        
        Pattern day trading regulations were put in place to discourage excessive trading. Pattern-day traders must maintain a margin account balance of at least $25,000 at all times. If the account drops below $25,000, no trading activity is allowed until the minimum requirement is fulfilled again. Day trading is defined as buying and selling a security in the same trading session.   
    </p>
    </div>
    <div class="mt-4">
      <h4>FINRA</h4>
      <p>
        The Financial Industry Regulatory Authority (FINRA) is an independent organization that enforces the rules that govern brokers and broker-dealer firms in the United States. FINRA regulates trading involving equities, futures, options, and bonds. FINRA has the authority to administer disciplinary action against members that violate industry standards. <br> <br>

FINRA’s goal is to protect investors from abuses by brokers, and they maintain a database of approved broker-dealers that meet their standards. 
      </p>
    </div>
    <div class="mt-4">
       <h4>SIPC</h4>
       <p>
        The Securities Investor Protection Corporation (SIPC) is an independent organization established by Congress to protect investors whose brokerage firm has gone bankrupt. The SIPC includes brokers, dealers, and members of exchanges. SIPC was put in place to insure clients in the event a firm dissolves. <br> <br>
        The SIPC has the authority to compensate investors up to $500,000 of their assets, and $250,000 of cash holdings, in the event the brokerage firm that holds their money files for bankruptcy. The SIPC does not protect customer accounts from investment losses but ensures that the customer’s assets are not lost or missing. The SIPC’s sole focus is to reunite clients with their money, and they have no authority to investigate the reason for the firms’ financial insolvency. 
       </p>
    </div>
    <div class="mt-4">
      
    </div>

</section>

{% endblock dashboard_body %}