{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Return Calculations</h1>
        <h5>Return calculations quantify the profits and losses from investments. Return calculations measure the performance of individual assets or overall portfolios. There are multiple ways to calculate investment performance.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>



    <div class="mt-5">
       <h4>Dollar return</h4> 
       <p>Total dollar return calculates the returns from portfolio investments over a defined time period. Dollar return is the actual aggregate profit and loss realized in an account. Dollar returns can be calculated on individual positions or the entire portfolio.</p> 
       <p>Total dollar return considers the capital gain or loss on an investment plus interest, dividends, and distributions. The total return is based on the change in the market value of an asset. The total return includes the reinvestment of dividend payments and capital gains.</p>

       <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/60c4ba5fad8f480fa33324c3_Total%20Dollar%20Return.png" loading="lazy" alt="Formula for calculating total dollar return" width="100%">
    </div>

    <div class="mt-5">
       <h4>Percentage return    </h4>
       <p>Percentage return measures the percentage gain or loss on an asset or portfolio relative to its starting value.</p>
       <p>In the example above, the investor earned a $1,250 total dollar return on a $5,000 investment. To calculate the total return in percentage, simply divide the total gains ($1,250) by the starting value ($5,000) = 25%.</p>
       <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/60d3bc7d4410c25409e7ef89_1091622_PercentageReturn_062321.jpg" loading="lazy" alt="Percentage return formula" width="100%">
    </div>

    <div class="mt-5">
        <h4>Annualized return</h4>
        <p>An annualized return is the annualized amount of money earned by an investment or portfolio over a year. Annualized returns are calculated to represent what an investor would earn if the returns were compounded.</p>
    </div>

    <div class="mt-5">
        <h4>Average returns</h4>
    <p>The arithmetic average is the sum of returns divided by the number of holding periods. The arithmetic average is not typically a useful tool for calculating investment returns, as the value can be misleading because arithmetic returns ignore the effects of compounding. If a large portion of the portfolio’s account is lost in a single year, the percentage return on less capital is skewed because the results are not compounded.</p>
    </div>

    <div>
        <h2>FAQ's</h2>

        <h4>What is the difference between a dollar return and a percentage return?</h4>
        <p>Total dollar return calculates the returns from portfolio investments over a defined time period. Dollar return is the
            actual aggregate profit and loss realized in an account and can be calculated on individual positions or the entire
            portfolio. Total dollar return considers the capital gain or loss on an investment plus interest, dividends, and
            distributions.</p>
    
        <p>Percentage return measures the percentage gain or loss on an asset or portfolio relative to its starting value. Total
            percent return can be a better indicator of return on investment because it shows growth relative to the initial
            investment.</p>
    
        <h4>How do you calculate the percentage return?</h4>
        <p>To calculate the total return in percentage, simply divide the total gains by the starting value. For example, if an
            investor earns $1,250 return on a $5,000 investment, divide the total gains ($1,250) by the starting value ($5,000) =
            25%.</p>
    
        <h4>How do you calculate annualized returns?</h4>
        <p>Annualized returns are calculated to represent what an investor would earn if the returns were compounded. To calculate
            the annual return, divide the total returns by the number of years in the holding period.</p>
    
        <p>For example, if an investment has returned 10% over five years, the annualized return would be 2%.</p>
    
        <p>For holding periods of less than one year, returns can be annualized to determine the compounded return. The effective
            annual return is equal to one plus the percentage return raised to the number of periods in a year minus one.</p>
    
        <p>For example, if an investor made a 5% return in six months, the effective annual return would be (1 + 0.05)2 -1 or
            10.25%.</p>
    
        <h4>How do you calculate annualized returns in excel?</h4>
        <p>To calculate the annual return, divide the total returns by the number of years in the holding period. This can be
            calculated in Excel by inputting the values into cells and using the software’s functions to divide the values.</p>
    
        <h4>What is the average rate of return on stocks?</h4>
        <p>The average return rate for stocks varies by market capitalization with small-cap and mid-cap stocks having higher
            average annual returns but increased volatility compared to large-cap stocks.</p>
    </div>

</section>

{% endblock dashboard_body %}