{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Reverse Stock Split</h1>
        <h5>Reverse stock splits decrease the number of shares outstanding for a company. There is no change in equity or market value when a company splits its stock.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
         <p>
            A reverse stock split is a decrease in the number of shares of stock outstanding without any change in shareholder’s equity or market value for the company at the time of the split. As outstanding shares decrease, each share’s value increases proportionately, so there is no effect on the company’s total net value with a reverse stock split. <br> <br>

Reverse stock splits are one of many corporate actions a company’s board of directors use to facilitate key capital structure initiatives. But, are reverse stock splits good or bad for investors?
         </p>
    </div>

    <div class="mt-5">
        <h4>Is a reverse stock split good or bad?</h4>
      <p>
        Companies often use a reverse stock split after a significant decline in stock price because reverse splits increase the price per share of the company’s stock, making the stock appear more attractive to potential investors.
      </p>

      <blockquote>A reverse stock split is neither good nor bad for the investor, as there is no impact on the company’s total market value.</blockquote>

      <p>
        However, companies often use reverse stock splits to increase a stock’s marketability because many institutional investors cannot purchase shares that trade for less than $5 or less than $10 per share.
      </p>
    </div>

    <div class="mt-5">
     <h4>Do you lose money on a reverse split?</h4>
     <p>No. You do not lose money or make money with a reverse stock split.</p>
     <p>You simply have fewer shares of stock, but each share will have more value.</p>
    </div>

    <div class="mt-5">
     <h4>How do you profit from a reverse stock split?</h4>

     <p>
        Reverse stock splits (and stock splits) do not increase or decrease the company’s value or the shares of stock outstanding, so there is no opportunity to profit solely from the act of the reverse split. <br> <br>

At first glance, it may appear like you’ve made money because the stock price is higher. But remember, your share number decreases proportionally, so your total investment remains the same, and you still control the same amount of equity. <br> <br>

Autotrading 
     </p>
    </div>
</section>

{% endblock dashboard_body %}