{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Risk-Averse Behavior</h1>
        <h5>Risk-averse behavior is the propensity for investors to seek certain positive outcomes over uncertain outcomes with higher expected returns.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="description_risk-aversal">
      <p>Risk-averse behavior is the propensity for investors to seek certain positive outcomes over uncertain outcomes with higher expected returns. For example, risk-averse investors seek sure gains over “gambles” that may offer higher profit potential.</p>  

      <p>Risk aversion is a key concept in financial decision-making. Risk-averse behavior leads investors to make choices that minimize the probability of losses.</p>  
        
      <p>Risk aversion is a natural human tendency. We are wired to avoid pain and seek pleasure. In the financial world, this manifests itself as a preference for certainty over uncertainty.</p>  
        
      <p> All investors have different risk tolerances. Some are more risk-averse than others. Risk aversion can also change over time. An investor who is comfortable with taking risks early in their career may become more risk-averse as they approach retirement.</p> 
        
      <p>Risk-averse behavior is also referred to as loss aversion. Investors tend to be more focused on avoiding risk when considering investment gains but more focused on seeking risk when faced with investment losses.</p>  
        
      <p> The framing of an investment’s gain or loss potential is influential when making investment decisions. The psychological cost of a $1 loss is greater than the psychological gain of earning more than $1 because the emotion attached to the fear of loss is presumably stronger.</p> 
        
       <p> There are a number of factors that can influence an investor’s risk tolerance, including:</p>

     <li>Age</li>  
     <li>Investment goals</li> 
     <li>Risk capacity</li> 
     <li>Risk tolerance</li> 
     <li>Risk attitude</li> 

     <p>Each investor is different and there is no “right” level of risk aversion. It is important to understand your own risk tolerance before making any investment decisions.</p>
    </div>
    
</section> 
{% endblock dashboard_body %}