{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>A Beginner's Guide to Rolling Options</h1>
        <h5>Savvy options traders know that rolling options is a great way to manage a position's risk while extending the duration of the trade. Learn everything you need to know about rolling options.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
<h4>Rolling an option</h4>
<p>
    Rolling an option involves closing one option position and opening another position in the same underlying security. You can roll an option up, down, or out. 
</p>

<blockquote>Rolling options out to a later expiration date for additional premium extends the trade’s duration and moves the break-even point without allocating additional capital or increasing risk.</blockquote>
<p>
    Similarly, rolling up or down the unchallenged side of a multi-leg position shifts the break-even point on the position. Rolling widens the price range where a position is profitable and shifts the break-even point closer to the current market price. 
</p>
    </div>
    <div class="mt-5">
     <h4>When to roll an option</h4>
     <p>
        Traders roll positions for multiple reasons. Options sellers roll up, down, or out to collect more premium or extend a trade’s duration. The following discussion primarily focuses on options sellers who might roll a position as part of their portfolio and risk management plan. <br> <br>
        Remember, options have expiration dates, so you cannot hold a position forever. Rolling option contracts allows you to maintain exposure to a trade and gives the position an opportunity to work in your favor.
     </p>

     <h5>Options traders might:</h5>
     <li>Roll out positions to receive more credit, widen or shift the break-even point, and extend the trade’s duration.</li>
     <li>Roll up or down the unchallenged side of an iron condor to adjust the position, taking in additional credit and widening the break-even point</li>
     <li>Roll a call option out and up to lock in profit on the initial trade.</li>
     <li>Roll a put option down and out to lock in profit on the initial trade.</li>
     <li>Roll out a covered call to collect more option premium and lower the cost basis in the stock. </li>
    </div>

    <div clas="mt-5">
     <h4>How to roll options</h4>
     <p>
        Adjusting a position and taking in more credit reduces the maximum loss without adding additional risk. The credit widens the position's break-even point and increases the range of profitability. <br> <br>

        However, rolling can be detrimental to your position and increases the position’s risk. If rolling the position requires a debit, the adjustment adds risk to your losing trade. What does the additional credit or debit mean for your position going forward? <br> <br>
        
        Will the position benefit from extended time? Or, is it better to close the position and take a loss? <br> <br>
        
        Rolling options trades for duration and premium extends the trading timeline and gives the market time to reverse in the position’s direction. <br> <br>
        
        As a general rule, options sellers avoid paying to extend a position’s duration. With any adjustment or rolling trade, the primary goal is to reduce risk. Paying a debit to extend a trade increases risk.  <br> <br>
     </p>
    </div>

    <div class="mt-5">
     <p>
        Iron condors can be rolled out to a future expiration date to maximize the trade’s potential profit. If expiration is approaching and the position is challenged, the original iron condor can be purchased and reopened for a future expiration date to extend the trade’s duration. <br> <br>

If rolling the option brings in more credit, the break-even points extend, and the max loss is reduced. The position’s spread width must remain the same to avoid adding additional risk.
     </p>
    </div>

    <div class="mt-5">
<h4>How to roll a bull put credit spread</h4>
<p>
    Bull put spreads can be rolled out to a later expiration date to extend the trade’s duration. <br> <br>

Like an iron condor, rolling a bull put spread for a credit reduces risk and extends the break-even point.  <br> <br>

To roll a bull put spread, purchase the existing position and sell a new spread with a later expiration date. 
</p>
    </div>

    <div class="mt-5">
<h4>How to roll a call option</h4>
<p>
    You can adjust long call options to extend the trade’s duration if the stock price has not increased enough before expiration. Rolling the position gives the trade more time to become profitable, but will come at a cost because more time equates to higher options prices. <br> <br>

If you want to extend a long call position, the option can be rolled out by selling-to-close (STC) the current position and buying-to-open (BTO) an option at a future date. This will likely result in paying a debit and will add cost to the original position.
</p>
<blockquote>You must evaluate if rolling options is to your benefit, or if it increases risk. Sometimes it is better to take the loss and move on to the next trade.</blockquote>
<p>
    Time works against challenged positions. Rolling options can be an intelligent way to extend a trade’s timeline to potentially give a losing position an opportunity to become profitable. Not all rolling options are created equal though.
</p>
    </div>
</section>

{% endblock dashboard_body %}