{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Selling Stock</h1>
        <h5>Selling stock is the process of closing a long stock position. An investor might sell a stock position to secure profit, limit losses, or raise cash to fund another purchase.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-4">
        <p>To sell a stock position, an investor would select an order type to liquidate the position. Market orders, limit orders, stop-loss orders, or trailing stop-loss orders may be used to execute the trade.</p>
        <p>Limit orders are often used to exit a position at profit targets while stop-loss or trailing stop-loss orders are frequently used to exit a position that has declined in value to some predetermined level.</p>
        <p>Market orders sell the stock immediately at the current bid price in the open market. During periods of high volatility, selling stock with market orders may result in lower-than-expected price execution.</p>

    </div>

    <div class="mt-5">
     <h4>Short selling</h4>
     <p>Short selling, or shorting stock, occurs when an investor sells shares of stock they do not own. Investors are said to have a “short position” in a security that they have sold short.</p>
     <p>While the process may seem confusing, it is quite simple. A short sale is the inverse of buying stock: an investor may sell a stock if they believe it will decline in price, hoping to buy the stock back at a lower price for a profit. The strategy has the risk of substantial loss. When shorting a security, the risk is undefined; technically, the underlying asset could go up forever.</p>
     <p>Because they do not already own the stock, an investor must first borrow shares through their broker. Short selling is only available to investors with margin accounts.</p>
     <p>Short selling requires collateral in the form of margin because borrowed shares are lent to the investor. Brokers use other clients’ shares and loan them to investors to sell. </p>
     <p>Short selling stock is similar to selling-to-open an options contract position. The trade is initiated by selling a security and receiving funds in the form of a credit. A short sale is similar to selling a naked call option: the risk is undefined if the underlying security’s price increases.</p>
     <p>The goal is to buy back the shares for less than the amount initially received. To close a short stock position, an investor “buys to cover” or “buys to close,” thereby buying back the stock shares they borrowed to sell. </p>

     <p>
        For example, if XYZ stock is trading for $100, and an investor believes the price will decline in the future, they could initiate a short sale. Their broker would borrow the shares from another account and loan them to the investor, which they sell to a buyer in the open market. <br>

        If 100 shares are sold, the investor will receive $10,000 from the sale. If they can buy back the stock at $90, they would realize a profit of $1,000 ($100 - $90 = $10 x 100) less the interest on the borrowed stock. The 100 shares would be returned to the original owner. If the stock increased to $110, the loss would be $1,000 because it would cost $11,000 to buy back the shares. <br>
        
        The original $10,000 would be used to purchase the stock, but the short seller would need to pay an additional $1,000 plus interest on the borrowed stock. <br>
        
        Short selling can be used as a form of hedging. If you are long a security and want to protect the position and minimize downside risk, you could sell a similar, highly correlated security. <br>
        
        The term “short squeeze” is used often when a highly shorted stock rallies higher and higher. Short interest is the number of shares sold short and not covered or closed out relative to the number of shares outstanding. Short interest is reported as a percentage. <br>
        
        A short squeeze occurs when a stock with a high volume of short interest experiences heavy buying. As the stock rapidly increases, investors who are short the stock must buy to cover their positions, typically due to a margin call from their broker. As more and more short sellers buy back shares, the stock continues to rise until short interest declines and buying pressure is exhausted.
    </p>
    </div>

    <div class="mt-5">
      <h4>FAQ's</h4>

      <h3>When should you sell a stock?</h3>
      <p>Selling stock is the process of closing a long stock position. An investor might sell a stock position to secure profit, limit losses, or raise cash to fund another purchase. If an investor believes that the current stock price is higher than where it will be in the future, they may sell the stock in anticipation of the price going down. Sometimes investors are forced to sell positions to liquidate capital because of a margin call or because they feel the capital could be better allocated to a different position.</p>

      <h3>Who buys my stocks when I sell them?</h3>
      <p>Every transaction in the market has two sides: a buyer and a seller. In order for someone to purchase a stock, there must be a seller in the market. Brokers and exchanges automatically pair together buyers and sellers based on the time of their order entry on a first-in, first-out basis.</p>
    </div>
</section>

{% endblock dashboard_body %}