{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Simple Moving Average</h1>
        <h5>Simple moving average (SMA) is a technical chart overlay that smooths price action over a defined time period. Learn what an SMA is and how to calculate it.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <p>Technical indicators use formulas to generate data points, which are crucial for creating alerts, confirming analyses, and forecasting prices. One of the most popular indicators is the moving average.</p>

    <h3>What are Moving Averages?</h3>
    <p>Moving averages smooth a series of data points, reducing the randomness of a security’s price fluctuations to reveal underlying trends. They are commonly calculated using closing prices for a specific timeframe.</p>

    <h3>How to Use Simple Moving Average (SMA)</h3>
    <p>A simple moving average is an arithmetic average of a set of data points. It is a smoothing tool that displays trends for a specific number of periods. For instance, a 50-period SMA calculates the average closing price of the last 50 periods. The length of the SMA determines its responsiveness to new data points, impacting trend identification.</p>

    <h3>Simple Moving Average Example</h3>
    <p>SMA is often used to determine short, medium, and long-term trends with default indicators like 10, 50, and 200-day SMAs. It can be applied to short or long time periods based on the chart's timeframe.</p>

    

    <h3>How to Calculate Simple Moving Average</h3>
    <p>To calculate SMA:</p>
    <ol>
        <li>Determine the closing price for each data point.</li>
        <li>Sum the closing prices.</li>
        <li>Divide the summed closing prices by the number of periods in the SMA.</li>
    </ol>

    <h3>Simple Moving Average vs. Exponential Moving Average (EMA)</h3>
    <p>The choice between SMA and EMA depends on the desired responsiveness to trend changes. EMAs react more quickly to new data points, addressing the “drop-off effect” seen in SMAs. Align the moving average length with your trading timeframe for effective trend analysis.</p>

    <h2>FAQs</h2>

    <h3>How do you calculate a simple moving average?</h3>
    <p>A simple moving average is an arithmetic average of a set of data points where each data point is added together and then divided by the total number of data points. For example, a 10-period SMA calculates the average closing price of the last 10 periods.</p>

    <h3>Is simple moving average the same as moving average?</h3>
    <p>There are two types of moving averages: a simple moving average and an exponential moving average. A simple moving average is an arithmetic average, while an exponential moving average is the weighted average of a set of data points.</p>

    <h3>Which is better: simple or exponential moving average?</h3>
    <p>Simple moving averages and exponential moving averages help identify trends. Exponential moving averages respond faster to new data points, reducing lag in responsiveness to price movements. The choice depends on the investor's trading strategy and preferences.</p>

    </div>
</section>

{% endblock dashboard_body %}