{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Stock Gap</h1>
        <h5>Stock price gaps occur when the underlying security's price moves up or down after the market closes. Although they are normal, they can surprise investors. Here is why gaps happen and how you can trade them, including an AMZN example.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
     
    <h1>Understanding Stock Gaps</h1>

    <p>
        A stock gap is created when a security’s price opens significantly above or below its prior closing price.
    </p>

    <p>
        Gaps occur overnight, typically after an earnings report or major news announcement dramatically re-prices the stock.
    </p>

    <p>
        Beginning traders are probably shocked the first time they experienced a stock price gap. Even the most experienced traders are still taken back when there is an unexpected gap in a stock they are trading.
    </p>

    <p>
        Let's explore why they happen and what you can do (if anything) to trade them successfully.
    </p>

    <h2>Gaps Occur When the Market is Closed</h2>

    <p>
        Nearly all stock price gaps happen in pre-market trading or during after-hours trading.
    </p>

    <p>
        Generally speaking, gaps are rare for the normal stock. Most mutual funds, ETF's, and other illiquid assets actually gap more frequently which makes the gaps less important.
    </p>

    <h2>How the Price Gap is Created</h2>

    <p>
        A price gap is created when a stock closes for the day at 4:00 PM EST, and then the next day opens dramatically higher or lower than the previous closing price.
    </p>

    <p>
        In after-hours that same day or pre-market trading the following morning, something newsworthy happens to create either a buying or selling frenzy. The result is a gap in the stock price when the market re-opens at 9:30 AM EST.
    </p>

    <p>
        The most common reasons price gaps occur are because of earnings and acquisitions. The bigger the stock price gap, the more important or influential the reasoning behind it.
    </p>

    <p>
        Any major event that dramatically changes the value of a stock today (or its future business value) will immediately affect the stock price when the market opens.
    </p>

    <h2>Stock Gap Example</h2>

    <p>
        Using Amazon (AMZN) as an example, you can visually see the trading gap in the daily candlesticks. What happened to create the gap in AMZN stock?
    </p>

    <p>
        Well, the stock closed on 1/29/09 at $50, then reported earnings after the market closed that were much better than the analysts on Wall Street had expected. In after-hours trading, AMZN stock traded higher on the earnings excitement and gapped up the next morning to open 14.7% higher at $57.36!
    </p>

    <p>
        <strong>AMZN gap up on high volume</strong>
    </p>

    <p>
        You can clearly see the large gap on the chart and the increased volume from the earnings announcement.
    </p>

    <h2>Do Price Gaps Help Predict Future Moves?</h2>

    <p>
        While the actual gaps themselves are virtually unpredictable, stock price gaps are fairly good at predicting the future price of a stock following the gap.
    </p>

    <p>
        Of course, we would all like to know when a stock is going to gap higher so that we can buy it right? But it’s what happens after the gap that actually can be very useful for you as a trader.
    </p>

    <p>
        A price gap up or down can actually be a determination of the overall direction the stock will move in the coming months. Volume is typically the big indicator and confirmation sign during a price gap.
    </p>

    <p>
        A stock price gap on very high volume like the one below means that strong institutional buying of the stock could send prices higher in the weeks and months to come.
    </p>

    <p>
        Like I said before, the size of the gap is also very important. Smaller gaps are less important and actually can happen on a daily basis for some stocks. But it’s the large and obnoxious gaps that kind of jump off the screen that you should pay attention to when trading.
    </p>

    <p>
        A popular mean-reverting strategy focuses on the stock filling the gap.
    </p>

    <p>
        <strong>Filling the gap mean</strong>
    </p>

    <p>
        Gaps in stock price charts tend to get filled. What does that mean? If a stock gaps higher, leaving a range between where the stock closed previously and is currently trading now, there's a tendency for stock prices to mean-revert and fill the gap.
    </p>

    <p>
        The same is true for gaps lower. Of course, not all gaps fill, and some reversals end up being continuation patterns (learn more below). But, in general, the tendency is for a stock to fill the gap.
    </p>

    <p>
        Why do gaps fill? It could be due to many reasons, but one of the most likely explanations has to do with order flow. If buying pressure is high enough to push prices higher, there's a good chance that the imbalance will work itself out and fill the gap.
    </p>

    <p>
        Similarly, if selling pressure is strong enough to drive prices lower, order flow could help fill the gap and create support or resistance levels.
    </p>

    <p>
        Investors can take advantage of this phenomenon by looking for stocks that are gapping higher or lower and then entering into trades when the gaps get filled. Of course, it's important to ensure that the stock is still in an uptrend or downtrend before taking any action.
    </p>

    <p>
        Filling the gap is a tendency that happens often enough in the markets to pay attention. By understanding this concept and learning how to spot gaps, investors can potentially gain an edge in their trades.
    </p>

    <h2>Do Stock Gaps Always Fill?</h2>

    <p>
        There is no definitive answer to this question as stock prices are determined by various factors, including market conditions, company performance, and global events. However, many traders believe that gaps in stock prices often eventually fill, meaning the price will rise or fall to close the gap.
    </p>

    <p>
        This belief is based on the idea that stocks tend to move in cycles and that gaps are created when a stock price breaks out of its normal range. While there is no guarantee that a gap will be filled, many traders use this strategy to profit from stock price movements.
    </p>

    <p>
        If a stock gaps higher and the gap is not filled, this "gap and go" is bullish because it shows that buyers are willing to pay a higher price. Conversely, if a stock gaps lower and the gap is not filled, this "gap and go" is bearish because it indicates that sellers are willing to sell at a lower price.
    </p>

    <p>
        Gaps can also be created by earnings announcements, news events, or other catalysts that drive a stock's price higher or lower.
    </p>

    <h2>Using Gaps for Support & Resistance</h2>

    <p>
        Personally, I like gaps for the technical importance they serve in determining strong areas of support and resistance. With stock price gaps, the whole area of the “gapping window” can act as strong support or resistance going forward.
    </p>

    <p>
        Example image of a gap acting as support and resistance
    </p>

    <p>
        In the example above, you can see that the gapping windows successfully acted as support and resistance for the stock following the initial gap. More experienced traders will look for an entry following a pullback in the stock that is much more favorable.
    </p>

    <h2>Are There Different Types of Stock Gaps?</h2>

    <p>
        Three types of gaps can occur on a stock price chart: breakout gaps, exhaustion gaps, and continuation gaps.
    </p>

    <p>
        Breakout gaps occur when the stock price breaks out above resistance or below support, signaling a change in the trend. These gaps are typically not filled, as they represent significant shifts in investor sentiment that are unlikely to reverse.
    </p>

    <p>
        Exhaustion gaps occur at the end of a strong price move as volume fades. These gaps typically fill as investors lock in their profits and sell off the stock.
    </p>

    <p>
        Continuation gaps occur during sideways movement or consolidation periods, representing a shift towards higher prices. In some cases, these gaps may fill if there is insufficient buying pressure to push the stock price past its previous highs.
    </p>

    <p>
        Ultimately, whether or not a gap gets filled depends on various factors, and there is no surefire way to predict whether or not a gap will fill.
    </p>

    <h2>FAQs</h2>

    <p>
        <strong><h5>What is a Stock Gap?</h5> </strong><br>
        A stock gap is created when a security’s price opens significantly above or below its prior closing price. Gaps occur overnight, typically after an earnings report or major news announcement dramatically re-prices the stock.
    </p>

    <p>
        <strong><h5>What Does Filling the Gap Mean in Stocks?</h5> </strong><br>
        Gaps in stock price charts tend to get filled. If a stock gaps higher, leaving a range between where the stock closed previously and is currently trading now, there's a tendency for stock prices to mean-revert and fill the gap.
    </p>

    <p>
        <strong><h5>How Does a Stock Gap Up or Down?</h5> </strong><br>
        A price gap is created when a stock closes for the day at 4:00 PM EST, and then the next day opens dramatically higher or lower than the previous closing price. In after-hours that same day or pre-market trading the following morning, something newsworthy happens to create either a buying or selling frenzy. The result is a gap in the stock price when the market re-opens at 9:30 AM EST.
    </p>
    </div>
</section> 
{% endblock dashboard_body %}