{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Stock Split</h1>
        <h5>Stock splits increase the number of shares outstanding for a company. There is no change in equity or market value when a company splits its stock.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
        <p>
            A stock split is an increase in the number of shares of stock outstanding without any change in shareholder’s equity or market value for the company at the time of the split. As shares outstanding increase, each share’s value decreases proportionately, so there is no effect on the company’s total net value from a stock split. <br>

For example, a two-for-one stock split would double the number of shares outstanding and give every shareholder two shares for every share owned, while reducing each share’s value by half. <br>

Consider a shareholder with 1 share of XYZ stock worth $100. If company XYZ announces a two-for-one stock split, the shareholder would now have 2 shares of XYZ stock worth $50 per share for a total market value of $100. <br>
        </p>
        <img src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/605cdc1905db417898350415_1016138_Stocksplitreversestocksplit1_032521.png" loading="lazy" alt="Image of a 2 for 1 stock split" width="100%">
    </div>
</section>

{% endblock dashboard_body %}