{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Strike Price Options</h1>
        <h5>A call option gives the buyer the right, but not the obligation, to buy an underlying asset at a specific strike price on or before a specific expiration date. Learn more about call option basics and their payoff diagram.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
      <p>A key decision in every options strategy is what strike price to use. Choosing the right strike price is an essential component of setting up a trade.</p>  

      <p> The strike price is the price at which the underlying asset will be bought or sold if the option is exercised, and it plays a critical role in defining the position’s risk and reward.</p> 

      <p>You can see all available strike prices in the option chain.</p> 

     <p>The strike price is important when selecting an options contract because it determines the potential profit and loss for the trade. You should consider your outlook on the underlying security. Once you’ve established your bias, you need to decide what options strategy to trade. Options strategies can be single-leg or multi-leg and can either cost money to enter (debit) or receive money (credit).
    </p> 
    <p>The strategy type helps determine how aggressively you want to set up the strike price; higher reward trades typically involve more risk. Conversely, high probability trades may cost less or collect less premium.</p> 

    <p>You’ll then need to select the trade’s time horizon and expiration. Longer-dated options are more expensive, for example.
    </p> 
    <p>Lastly, you’ll want to consider the option contract's premium. The premium is the option contract’s price, and it consists of intrinsic value and extrinsic value. </p>

     <p>Intrinsic value is the difference between the strike price and the current market price, while extrinsic value, or time value, measures the volatility of the underlying security and the time until expiration.</p> 

     <p>Traders need to strike a balance between paying too much for an option contract and choosing a strike price that is too far out-of-the-money.</p>
    </div>

    <div class="choose_right mt-5">
       <h4>How to choose the right strike price</h4> 
       <p>Now that you know the factors to consider when choosing a strike price, here are a few steps to help you select the right strike price for your options trades.</p> 
        
       <p>The first step is to determine your outlook for the underlying asset. Are you bullish, bearish, or neutral? The second step is to determine your time frame. Are you looking to make a short-term trade or a long-term trade? The third step is to determine your risk tolerance. Are you willing to take on more risk or less risk?</p> 
        
       <p>Once you've considered your outlook, time frame, and risk tolerance, you should have a good idea of which strike price will be right for you. There is no perfect strike price. Every position depends on your individual preferences and the strategy type.</p> 
    </div>

    <div class="faq's mt-5">
       <h3>FAQs</h3> 
       <div>
           <h4>What is an options strike price?</h4> 
           <p>An option's strike price is the price at which the underlying asset will be bought or sold if the option is exercised. All option chains include contracts with multiple strike prices and expirations.</p> 
       </div>
        <div>

            <h4>How to choose the right strike price for an option?</h4> 
            <p>There are many factors to consider when selecting an option's strike price. You need to develop a directional bias. Then, you must factor in time until expiration, implied volatility, and how aggressive you want to be. On option's moneyness matters: options that are in-the-money are more expensive, while out-of-the-money options have lower probabilities and cost less.</p> 
        </div>
        
        <div>
           <h4>What happens when an option hits the strike price?</h4> 
           <p>The strike price is the specific price at which the underlying security can be bought or sold with an options contract. Before expiration, the holder of an option may exercise their right to buy or sell shares at the strike price. However, they would only exercise the right if it is financially advantageous.</p> 
            
           <p>For example, if a buyer owns a call option that gives the right to buy shares of a company at $50 per share, and the company's stock is currently trading at $45, it does not make sense to exercise that right.</p> 
            
            <p>Conversely, the call option seller would be obligated to sell the underlying asset at the contract’s predetermined strike price if the buyer chooses to exercise the option. For example, if the buyer owns a call option that gives the right to buy shares of a company at $50 per share, and the company’s stock is currently trading at $55, the seller would be obligated to sell shares at $50, and would immediately be in a losing position. Option sellers are at risk of assignment anytime before expiration. The risk of assignment increases if the option is deep-in-the-money and close to expiration.</p> 

        </div>

        <div>
            <h4> What is an example of a strike price in options?</h4>
           <p>The strike price is the specific price at which the underlying security can be bought or sold with an options contract. For example, a call option with a $50 strike gives the buyer the right, but not the obligation, to buy the underlying security at $50 per share. Buyers of call options may purchase the underlying security at the strike price while buyers of put options may sell the underlying security at the strike price.</p> 
            
           <p>The number and range of strike prices per expiration vary depending on the dollar price of the underlying security and the demand for the security's options contracts. For example, some higher-priced stocks may have strike prices in $5 increments ($100, $105, $110, etc.), while some stocks may have strike prices in $1 increments ($50, $51, $52, etc.).</p> 
        </div>
        
    </div>
</section> 
{% endblock dashboard_body %}