{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Beginner’s Guide to Using Technical Analysis</h1>
        <h5>Technical analysis is a popular tool that investors and traders can use to make better decisions when trading stocks and options.</h5>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div>
        <h1>Technical Analysis Guide</h1>

    <p>
        Over the years, I’ve written a lot of really good content and tips for trading using technical analysis, and I figured it was time to put together the best of this info in one place. This way, anyone starting out trading can have a simple beginner’s guide to follow.
    </p>

    <p>
        My goal is to help you learn the basics of the major technical analysis indicators.
    </p>

    <h2>Why Technical Analysis is Superior</h2>

    <p>
        For many option traders, technical analysis gives much clearer entry and exit signals for making money in the markets. While it’s true that some investors dismiss technical analysis as inconclusive and arbitrary, the fact remains that technical analysis (when used properly) has a lot of empirical evidence to support it as a reliable trading tool.
    </p>

    <p>
        Any good trader needs to understand how to take full advantage of technical analysis. When done properly, technical analysis, coupled with volume analysis, can improve your edge in every trade.
    </p>

    <p>
        However, it is important to know that these analyses work when there is no fundamental event such as a lawsuit or merger and acquisition talk.
    </p>

    <p>
        These concepts help to identify trends and reversals, measure an asset's momentum strength, and determine areas where an asset can find support or resistance.
    </p>

    <p>
        I point out the different areas you can monitor momentum and how moving averages can help when setting stop-losses. I also address the major limitations and capabilities that you need to consider when using technical analysis in your trading strategies.
    </p>

    <h2>Support and Resistance</h2>

    <p>
        One of the most difficult concepts for beginning traders and some professionals alike is the understanding of simple support and resistance levels. Support and resistance in technical analysis entail the movement of a security's price whereby it stops and reverses at specific price levels that are often predetermined.
    </p>

    <p>
        These price levels are usually denoted by multiple price touches without a breakthrough in the level. Have you heard about the battle between bulls and bears? Or an ongoing battle between demand (buyers) and supply (sellers)?
    </p>

    <h2>Moving Averages</h2>

    <p>
        Moving averages are very popular among beginning traders and investors. They are simple to use and give very easy indicators to buy/sell a stock.
    </p>

    <p>
        The 200-day moving average is generally the most talked about, along with the 50-day moving average.
    </p>

    <p>
        Moving averages do not predict price direction but rather define the current direction with a lag. Moving averages lag because they are based on past price action – which is mainly why they are not a great short-term trading indicator.
    </p>

    <h2>Bollinger Bands</h2>

    <p>
        Developed by John Bollinger, a renowned technical trader, a Bollinger Band is plotted at two standard deviations from a moving average. It is a very popular technical analysis technique. Many believe that the closer the price moves to the upper band, the more the market is overbought.
    </p>

    <p>
        John Bollinger set 22 rules that need to be followed when the bands are used in a trading strategy.
    </p>

    <p>
        Bollinger bands are one of the most popular technical studies used today. They are simple and give very clear signals, which is why so many traders use them on a daily basis.
    </p>

    <p>
        However, their relation to volatility and prices moves may reveal some shocking discoveries. Or at the least give you a little more understanding of how they REALLY work in today’s fast-moving market.
    </p>

    <h2>Relative Strength Index (RSI)</h2>

    <p>
        This is a technical indicator intended to chart current and previous strengths and weaknesses of stocks. It is based on the closing prices in a recent trading period. It was developed by Welles Wilder, a famous technical analyst, and helps to compare the magnitude of recent losses and gains over a specific period.
    </p>

    <p>
        RSI is a momentum indicator or oscillator that measures the speed and change of price movements in a security. Traditionally it will move between 0 and 100. Stock is typically considered overbought when RSI is above 70 and oversold when RSI is below 30.
    </p>

    <h2>Fibonacci Retracements – Fans, Arcs, Time Series</h2>

    <p>
        These are popular signals that were developed by Leonardo Fibonacci, an Italian gentleman who discovered that certain ratios exist throughout all of nature. These ratios describe proportions found in atoms, stars, and planets.
    </p>

    <p>
        Fibonacci Retracements - fans, Arcs, Time Series - are excellent technical analysis tools used by traders. They are not perfect but are helpful to anyone who wants to know the basics.
    </p>

    <p>
        When a price trends downward or upward for an extended time, prices tend to undergo a retracement. It then reverses direction before resuming the previous trend.
    </p>

    <p>
        Fibonacci signals act as levels of support and resistance as prices trend. They can help predict at what point prices are likely to retrace during a trend (upward or downward).
    </p>

    <h2>Moving Average Convergence/Divergence (MACD)</h2>

    <p>
        Whipsaw trading can really put a damper on your portfolio, so let’s do a quick mini-lesson on technical analysis and MACD Divergence.
    </p>

    <p>
        After looking at charts for the past 5 days sitting on mostly all cash heading into expiration, I’ve noticed that the technicals are flashing some important warning signs. Mainly, I’m seeing a whole bunch of divergence.
    </p>
    </div>
</section>    

{% endblock dashboard_body %}