{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<style>
    ul{
        padding-left: 0 !important;
    }
    ul li{

        margin-top: 10px;
        cursor: pointer;
    }
    ul li:hover{
     color: #2196f3;
    }
    a{
        text-decoration : none;
        color:black;
        font-size: 17px !important;
        font-weight: 200 !important
    }
    .handbook_icon{
        font-size: 2rem !important;
        margin-bottom: 30px;
    }
    p{
        font-size: 1.2rem !important;
        font-weight: 200 !important;
    }
</style>



 <section class="traders_handbook p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Trader's Handbook</h1>
        <p>Your new "go-to" digital encyclopedia for clear, non-subjective answers to all things trading.</p>
        <u><a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a></u> 
    </div>
    <hr>

    <div class="all_topics mt-5">
        <h4>Browse all topics</h4>
        <div class="row mt-4">
            <div class="col-lg-3 col-md-6">
                <i class='bx bxs-shapes handbook_icon'></i>
                <h5>Option</h5>
                <ul class="mt-4">
                     <li><a href=" {%  url "option_basic" %} "> Options Trading Basics </a> </li>  
                    <li> <a href="{% url "option_contract" %} "> Option Contract </a> </li>
                   <li> <a href="{% url "call_option_basic" %} "> Call Options Basics</a>  </li>
                    <li><a href="{% url "put_option_explained" %} "> Put Options Explained</a>   </li>
                     <li><a href="{% url "strike_price" %} "> Strike Price </a>  </li>
                </ul>
              
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-brain handbook_icon' ></i>
                <h5>Trading Psychology</h5>
                <ul class="mt-4">
                    <li><a href="{% url "risk_averse" %} ">Risk-Averse Behavior</a> </li>  
                    <li><a href="{% url "mental_model" %} "> Mental Models</a></li> 
                    <li><a href="{% url "prospect_theory" %} ">Prospect Theory</a> </li>
                    <li><a href="{% url "heuristics" %} ">Heuristics</a> </li> 
                    <li><a href="{% url "herd_mentality" %} ">Herd Mentality</a> </li> 
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-bot handbook_icon'></i>
                <h5>Automated Trading
                </h5>
                <ul class="mt-4">
                    <li><a href="{% url "what_automate" %} ">What is Automated Trading?</a> </li>  
                    <li><a href="{% url "why_automate" %} ">Why is Automated Trading?</a> </li> 
                    <li><a href="{% url "backtesting" %} ">Backtesting</a> </li> 
                    
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-search-alt handbook_icon' ></i>
                <h5>Technical Analysis</h5>
                <ul class="mt-4">
                    <li><a href="{% url "technical_analysis" %} ">Using Technical Analaysis</a> </li>  
                    <li><a href="{% url "stock_gap" %} ">Stock Gap</a> </li> 
                    <li><a href="{% url "fill_the_gap" %} ">Fill the Gap</a> </li>
                    <li><a href="{% url "dead_cat_bounce" %} ">Dead Cat Bounce</a> </li> 
                    <li><a href="{% url "mean_reversion" %} ">Mean Reversion</a> </li>  
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-money handbook_icon' ></i>
                <h5>Option Pricing</h5>
                <ul class="mt-4">
                   <li><a href="{% url "option_pricing" %} ">Intrinsic Value</a> </li> 
                    <li><a href="{% url "Extrinsic_Value" %} ">Extrinsic Value</a></li> 
                    <li><a href="{% url "option_moneyness" %}">Option Moneyness (ITM, OTM, & ATM)</a></li>
                     <li><a href="{% url "implied_volatility" %}">Implied Volatility</a> </li> 
                      <li><a href= "{% url "back_school" %} ">Black-Scholes Model</a> </li> 
                </ul>
              
            </div>
            <div class="col-lg-3 col-md-6">
                <i class="bi bi-arrow-left-right handbook_icon"></i>
                <h5>Option Settlement</h5>
                <ul class="mt-4">
                    <li><a href=" {% url "option_expiry" %}">Options Expiration</a> </li>  
                    <li><a href="{% url "option_assignment" %} "> Option Assignment</a></li> 
                    <li><a href="{% url "option_exercise" %} ">Exercise Options</a> </li>
                     <li><a href=" {% url "europe_america_option" %}">European vs American Options</a> </li> 
                      <li><a href=" {% url "dividend_assignment_risk" %}"> Dividend Assignment Risk</a></li> 
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-candles handbook_icon'></i>
                <h5>Technical Indicators
                </h5>
                <ul class="mt-4">
                    <li><a href="{% url "sma" %} "> SMA</a></li>  
                    <li><a href=" {% url "ema" %}"> EMA</a></li> 
                    <li><a href=" {% url "macd" %}"> MACD</a></li>
                    <li><a href=" {% url "rsi" %}">RSI</a> </li>
                    <li><a href=" {% url "bollinger_band" %}">Bollinger Bands</a> </li>
                    
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-building handbook_icon' ></i>
                <h5>Brokers</h5>
                <ul class="mt-4">
                    <li> <a href="{% url "broker_dealers" %} ">Broker-Dealers</a></li>  
                    <li> <a href="{% url "brokerage_firm" %}">Brokerage Firms</a></li> 
                    <li> <a href="{% url "clearing_transaction" %}">Clearing Transactions</a></li>
                    <li> <a href="{% url "rule_390" %}">390 Rule</a></li> 
                     
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6">
                <i class='bx bxs-pie-chart-alt-2 handbook_icon'></i>
                <h5>Portfolio Management</h5>
                <ul class="mt-4">
                    <li><a href="{% url "beta_weighting" %}">Beta Weighting</a> </li>  
                    <li><a href="{% url "diversification" %}">Diversification</a> </li> 
                    <li><a href="{% url "return_calculation" %}">Return Calculations</a></li>
                    <li><a href="{% url "duration" %}">Duration</a> </li> 
                    <li><a href="{% url "performance_metrics" %}">Performance Metrics</a> </li> 
                </ul>
              
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-line-chart handbook_icon' ></i>
                <h5>Stocks</h5>
                <ul class="mt-4">
                    <li><a href="{% url "buying_stock" %} ">Buying Stock</a> </li>  
                    <li><a href="{% url "selling_stock" %} ">Selling Stock</a> </li> 
                    <li><a href="{% url "fractional_share" %} ">Fractional Shares</a> </li>
                    <li><a href="{% url "stock_split" %} ">Stock Split</a> </li> 
                    <li><a href="{% url "reverse_stock_split" %} ">Reverse Stock Split</a> </li> 
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <i class="bi bi-globe-americas handbook_icon"></i>
                <h5>Financial Market
                </h5>
                <ul class="mt-4">
                    <li><a href="{% url "exchanges" %}">Exchanges</a> </li>  
                    <li><a href="{% url "cboe" %}"> CBOE</a></li> 
                   
                    
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-bulb handbook_icon'></i>
                <h5>Financial Theories</h5>
                <ul class="mt-4">
                    <li><a href="{% url "efficient_frontier" %}">Efficient Frontier</a> </li>  
                    <li><a href="{% url "correlation" %}">Correlation</a> </li> 
                    <li><a href="{% url "black_swan" %}">Black Swan Event</a></li>
                    <li><a href="{% url "unsystematic_risk" %}">Unsystematic Risk</a></li> 
                      
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3 col-md-6">
                <i class='bx bxs-donate-heart handbook_icon'></i>
                <h5>Investments Accounts</h5>
                <ul class="mt-4">
                    <li><a href=" {% url "margin_account" %}">Margin Accounts</a> </li>  
                    <li><a href=" {% url "naked_option_margin" %}">Naked Option Margin Requirements</a> </li> 
                    <li><a href=" {% url "limit_order" %}">Limit Order</a> </li>
                    <li><a href=" {% url "ira_vs_401k" %}"> IRA vs 401k</a></li> 
                    
                </ul>
              
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bxs-bank handbook_icon'></i>
                <h5>Stock Market</h5>
                <ul class="mt-4">
                    <li><a href=" {% url "regulatory" %}">Regulatory</a></li>  
                    <li><a href=" {% url "bull_market" %}">Bull Market</a></li> 
                    <li><a href=" {% url "bear_market" %}">Bear Market</a></li>
                    <li><a href=" {% url "corrections" %}">Correction</a></li> 
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-money handbook_icon'></i>
                <h5>Economics
                </h5>
                <ul class="mt-4">
                    <li><a href=" {% url "inflation" %}">Inflation</a></li>  
                    <li><a href=" {% url "gold_standard" %}">Gold Standard</a></li> 
                    <li><a href=" {% url "unemployment" %}">Unemployment</a></li>
                    <li><a href=" {% url "bretton_woods_agreement" %}">Bretton Woods Agreement</a></li>
                    <li><a href=" {% url "modern_monetary_theory" %}">Modern Monetary Theory</a></li>
                    
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-coin-stack handbook_icon'></i>
                <h5>Equity Investments</h5>
                <ul class="mt-4">
                    <li><a href=" {% url "common_stock" %}">Common Stock</a></li>  
                    <li><a href=" {% url "preferred_stock" %}">Preferred Stock</a></li> 
                    <li><a href=" {% url "index_mutual_fund" %}">Index Fund vs Mutual Fund</a></li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-history handbook_icon' ></i>
                <h5>Market Hours</h5>
                <ul class="mt-4">
                    <li><a href=" {% url "pre_market_trading" %}">Pre-Market Trading</a></li>  
                    <li><a href=" {% url "after_hours" %}">After-Hours Trading</a></li> 
                    <li><a href=" {% url "limit_order" %}">Limit Order</a></li>
                    <li><a href=" {% url "ira_vs_401k" %}">IRA vs 401k</a></li> 
                    
                </ul>
              
            </div>
            <div class="col-lg-3 col-md-6">
                <i class='bx bx-ruler handbook_icon'></i>
                <h5>Risk Management</h5>
                <ul class="mt-4">
                    <li><a href=" {% url "hedging" %}">Hedging</a></li>  
                    <li><a href=" {% url "position_sizing" %}">Position Sizing</a></li> 
                    <li><a href=" {% url "delta_neutral" %}">Delta Neutral</a></li>
                    <li><a href=" {% url "rolling_option" %}">Rolling Options</a></li> 
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <i class="bi bi-clock handbook_icon"></i>
                <h5>Time Value of Money
                </h5>
                <ul class="mt-4">
                    <li><a href=" {% url "calculate_present_value" %}">Calculate Present Value</a></li>  
                    <li><a href=" {% url "calculate_future_value" %}">Calculate Future Value</a></li> 
                    <li><a href=" {% url "present_value_annuity" %}">Present Value of Annuity</a></li>
                    <li><a href=" {% url "future_value_annuity" %}">Future Value of Annuity</a></li>
                    <li><a href=" {% url "discounted_cash_flow" %}">Discounted Cash Flow Analysis</a></li>
                    
                </ul>
            </div>
           
        </div>
        

    </div>
</section>

<script>
    $(document).ready(function () {
        
        $.ajax({
            url: "/api/list_items/",
            method: "GET",
            success: function (data) {
                console.log(data);
                // Add list items dynamically
                data.forEach(function (item) {
                    var listItem = $('<li data-id="' + item.id + '">' + item.title + '</li>');
                    listItem.appendTo('#listItem');
                });
            },
            error: function (error) {
                console.log(error);
            }
        });

    });
</script> 

{% endblock dashboard_body %}