{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Everything You Need to Know About Unemployment</h1>
        <h5>Unemployment is when people are out of work and actively seeking employment. The unemployment rate measures the prevalence of unemployment.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
     <h4>What is the unemployment rate and how is it calculated?</h4>
     <p>
        The unemployment rate is the percentage of the labor force that is unemployed. The unemployment rate is calculated by dividing the number of unemployed individuals by the total number of workers in the labor force.  <br> <br>

        The unemployment rate does not include people who are not looking for work, such as stay-at-home parents or retirement-age adults. <br> <br>
        
        The unemployment rate is a key indicator of the economy’s health. A high unemployment rate indicates that there are not enough jobs for the number of people looking for work. A low unemployment rate indicates that there are more jobs available than there are people looking for work. <br> <br>
        
        The unemployment rate can be affected by a number of factors, such as economic growth, government policy, and the number of people retiring or leaving the workforce. 
     </p>
    </div>
    <div class="mt-5">
     <h4>What is underemployment?</h4>
     <p>
        Underemployment is a term used to describe a situation in which people are employed, but not earning enough money to live on or to reach their full earnings potential. This can happen for a number of reasons, including low wages, part-time work, or temporary jobs. Underemployment can also be caused by a mismatch between the skills of the worker and job requirements. <br> <br>

        Underemployment can have a number of negative effects on both individuals and economies. For workers, underemployment can lead to poverty, financial insecurity, and poor mental and physical health. It can also make it difficult to save money or to invest in education and training. <br> <br>
        
        For economies, underemployment can lead to lower productivity and higher levels of inequality. 
     </p>
    </div>
    <div class="mt-5">
     <h4>How is the labor force calculated?</h4>
     <p>
        The labor force is the number of people employed plus the number of people unemployed but seeking work. It does not include people who are not looking for work, such as stay-at-home parents or retirees. The labor force participation rate is the labor force as a percentage of the total population. <br> <br>

        A shrinking labor force is bad for the economy because it means that there are fewer people available to produce goods and services. This can lead to slower economic growth and higher unemployment. 
     </p>
    </div>
    <div class="mt-5">
     <h4>What is full employment?</h4>
     <p>
        Full employment, sometimes called full-capacity employment, is an economic situation in which all available labor resources are being used and there is no surplus of unemployed workers. <br> <br> 

Full employment occurs when the demand for workers by businesses and other organizations meets the supply of workers available. <br> <br>

There are different types of unemployment, but full employment specifically refers to structural unemployment. Structural unemployment happens when there are not enough jobs available in the economy to match the number of workers seeking employment. <br> <br>

Structural unemployment can be due to a mismatch between the skills workers have and the skills required for available jobs, or it can be due to a lack of jobs in certain sectors or geographical areas.
     </p>
    </div>

    <div class="mt-5">
    <h4>What are the consequences of unemployment?</h4>
    <p>
        There are a number of consequences that can result from unemployment, both for the individual and for the economy as a whole. <br> <br>

        At an economic level, a recession can lead to a decrease in overall economic activity. This can cause a ripple effect, leading to job losses in other sectors and further increases in unemployment. In addition, a recession can lead to an increase in government debt and deficits. <br> <br>
        
        At an individual level, a recession can cause a loss of income and financial stability. This can lead to an increased reliance on government benefits, such as unemployment benefits, and can also put a strain on personal relationships.   
    </p>
    </div>

    <div class="mt-5">
     <h4>How can unemployment be reduced?</h4>
     <p>
        One way to try to reduce unemployment is through quantitative easing, or QE. This is when the Federal Reserve buys bonds from banks in order to increase the money supply and encourage lending. This extra money can then be used by businesses to invest and create jobs. <br> <br>

        Another way to stimulate job growth is through fiscal stimulus, such as tax breaks or government spending on infrastructure projects. <br> <br>
        
        These actions can help to create demand for goods and services, which can, in turn, lead to more job creation. It usually takes a while for job growth to pick up after a recession, so it may take some time before unemployment begins to fall significantly. However, these are some of the ways that policy-makers can try to encourage job creation and reduce unemployment. 
     </p>
    </div>
</section>

{% endblock dashboard_body %}