{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>Unsystematic Risk: The Benefits of Diversification</h1>
        <h5>Unsystematic risk is the inherent risk of investing in one specific asset or sector. Diversification can significantly reduce unsystematic risk.</h5>
        <a class="mt-4" href="{% url "disclousre_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

    <div class="mt-5">
        <p>
            Risk is inherent in all forms of investing. Total risk consists of systematic risk and unsystematic risk. <br> <br>

Systematic risk refers to the risk that affects nearly all assets in the economy. Systematic risk is unpredictable and unavoidable. <br> <br>

Unsystematic risk is limited to the risks associated with trading a specific security or asset class and can be mitigated through diversification, which protects a portfolio from the fluctuations of one particular investment.
        </p>
    </div>

    <div class="mt-5">
     <h4>What is unsystematic risk?</h4>
     <p>
        Unsystematic risk, also known as "specific risk," is the inherent risk of investing in one specific asset or sector. It is the variability in returns not due to general economic conditions.  <br> <br>

Unlike systematic risk, unsystematic risk can be significantly reduced through diversification because it is company-specific, industry-specific, or country-specific.
     </p>
    </div>

    <div class="mt-5">
    <h4>Systematic risk vs. unsystematic risk</h4>
    <p>
        Systematic risk affects the entire market, while unsystematic risk is specific to a particular company or industry. Both risk types impact investors, but they're usually managed differently. <br> <br>

Systematic risk is often out of an investor's control since it's based on factors like the political and economic environment. For this reason, systematic risk is sometimes called market risk. Black swan events are an example of systematic risk. To manage systematic risk, investors typically diversify their portfolios by investing in different asset classes. If one part of the market is doing poorly, the other investments can help offset the losses. <br> <br>

Conversely, because unsystematic risk is specific to a particular company or sector, it's possible to identify and manage it by carefully choosing investments. For example, if an investor is concerned about the potential for a recession in the tech sector, they might avoid companies highly dependent on tech spending. 
    </p>
    </div>

    <div class="mt-5">
        <h4>How diversification helps reduce unsystematic risk</h4>
        <p>
            Diversification is one of the most effective ways to reduce unsystematic risk because investing in various assets spreads your risk and protects your portfolio from specific risk. Diversification does not guarantee against loss, but it can help reduce the volatility of your portfolio and protect you from the risks of any one investment. <br> <br>

Systematic risk, also known as un-diversifiable risk, is the inherent risk of an investment that cannot be diversified away. This type of risk is usually caused by factors beyond the investor's control, such as macroeconomic factors or political conditions.  Systematic risk affects all investments in a given market to some degree. Therefore, it cannot be eliminated through diversification. <br> <br>

On the other hand, unsystematic risk is specific to a particular company or investment. This type of risk can be diversified away through proper portfolio management. <br> <br>

Diversification is a key element of any investment strategy. Investors use diversification to reduce their portfolio’s overall risk by spreading investments across several asset classes and/or geographical regions.  While diversification cannot completely eliminate unsystematic risk, it can be reduced.


        </p>
    </div>
</section>

{% endblock dashboard_body %}