{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<style>
    p{
        font-size: 1.2rem !important;
        font-weight: 200 !important;
    }
</style>
<section class="option_basic p-5">
 
    <div class="traders_heading mt-5 pb-5">
        <h1>What is Automated Trading?</h1>
        <p>Learn more about automated trading and the benefits of automation. Plus, we will share tips to help you get started automating your portfolio.</p>
        <a class="mt-4" href="{% url "disclosure_agreement" %} ">View risk disclosures</a>
    </div>
    
    <hr>

<div>
    <h3>Automated Trading in Finance</h3>

    <p>
        It is important to keep up with the latest trends and technologies in finance to stay competitive. For stock and options traders, this means keeping up with technological advances in trading.
    </p>

    <h4>Automated Trading Defined</h4>

    <p>
        <strong>Automated trading</strong>, also known as algorithmic trading or algo trading, uses software (also known as bots or robots) to automatically place trades based on preset criteria.
    </p>

    <p>
        Autotrading strategies use a series of decisions to assess real-time market data and make trading decisions based on defined rules. Trades automatically execute when the conditions are met.
    </p>

    <p>
        Strategies are often backtested against historical data to ensure proof of concept.
    </p>

    <p>
        You can manually enter your trade orders into your computer or smartphone. Or, you can use automated trading software and let computers do all of the work for you.
    </p>

    <p>
        <strong>Hybrid strategies</strong> combine manual and automated trading where either entries or exits are executed manually by the trader and automation executes other parts of the trading plan.
    </p>

    <p>
        Automated trading platforms provide a framework for scaling a portfolio with speed and efficiency. The platforms have evolved rapidly in recent years and offer a wide range of features and capabilities.
    </p>

    <h3>Who can use automated trading?</h3>

    <p>
        All types of traders can use and benefit from autotrading. Some platforms are designed for retail investors, while others are geared towards institutional traders.
    </p>

    <p>
        Most autotrading software platforms require knowledge of specific programming languages.
    </p>

    <p>
        Option Alpha, however, requires no coding experience. No-code platforms utilize natural language decision recipes to run automations.
    </p>

    <h3>Why use automated trading?</h3>

    <p>
        The two main benefits of autotrading are the ability to remove emotion from your trading decisions and scale your portfolio.
    </p>

    <p>
        When you automate your trades, the mundane, repetitive trading tasks are offloaded, removing opportunities for human error. Automation minimizes the tasks where human input is error-prone.
    </p>

    <p>
        Autotrading allows you to scale your portfolio by allocating your capital to multiple trades or strategies at once. This is especially useful for trading a large number of securities or a portfolio that uses strategies across multiple timeframes.
    </p>

    <p>
        Manually trading multiple strategies divides attention and increases the potential for missed opportunities. Automated trading, on the other hand, can scan for opportunities and monitor positions faster and easier than any human.
    </p>



    <h3>How do you start automated trading?</h3>

    <p>
        All you need to get started with automated trading is a computer and an internet connection. You will also need to sign up for a brokerage account to place trades.
    </p>

    <p>
        If you are interested in getting started, here are a few things to consider.
    </p>

    <p>
        First, automated trading platforms can be very complex and require significant time and effort to learn. Most automated trading systems require an initial investment of time to understand the platform's capabilities and functionality.
    </p>

    <p>
        In contrast, Option Alpha's no-code platform significantly shortens the on-ramp to automation by using natural language decision recipes. So, you can easily test and build your automated trading strategies without writing a single line of code.
    </p>

    <p>
        Second, automated trading is not a "set it and forget it" proposition. Autotrading software can be a useful tool for traders who want to profit from market opportunities but don't have time to manually. But, you will need to monitor your decision criteria and continue to adapt strategies based on market conditions.
    </p>

    <h2>Next Steps</h2>

    <p>
        Automated trading is the future of investing. Bots can make more rational and consistent decisions leading to better overall results by removing human emotion from the process. If you're not already using autotrading, it's time to consider making the switch.
    </p>

    <p>
        Ready to automate your trading? Check out Option Alpha's no-code platform for stocks and options to get started right now.
    </p>
</div>

</section>
{% endblock dashboard_body %}