<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slick Carousel Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
  <style>
html, body{
  background-color: #e74c3c;
}
.wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}
h2{
  font-family:sans-serif;
  color:#fff;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size:20px;
  color:white;
}
  </style>
</head>
<body>
    <div class="wrapper">
        <h2>Slick Carousel Example<h2>
            <div class="carousel">
              <div><img src="https://picsum.photos/300/200?random=1"></div>
              <div><img src="https://picsum.photos/300/200?random=2"></div>
              <div><img src="https://picsum.photos/300/200?random=3"></div>
              <div><img src="https://picsum.photos/300/200?random=4"></div>
              <div><img src="https://picsum.photos/300/200?random=5"></div>
              <div><img src="https://picsum.photos/300/200?random=6"></div>
            </div>
      </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
  $(document).ready(function(){
    $(document).ready(function(){
  $('.carousel').slick({
  slidesToShow: 3,
  dots: true,
        centerMode: true,
        draggable: true, // Enable dragging
        swipeToSlide: true // Enable swiping
  });
});

// Slick version 1.5.8
  });
</script>

</body>
</html>
