{% extends "base_dashboard.html" %} 
{% load static %}

{% block dashboard_body %}




<button class="success_btn">Success</button>
<button class="error_btn">Error</button>
<button class="warning_btn">Warning</button>

<script>
// Ensure the document is ready before executing jQuery code
$(document).ready(function() {
    // Set toastr options to hide notifications by default

    // Event handlers for the buttons
    $(".success_btn").click(function () {
        toastr.success("<strong>Success</strong><br>You have logged in.");
    });

    $(".error_btn").click(function () {
        toastr.error("<strong>Error</strong><br>You have logged in.");
    });

    $(".warning_btn").click(function () {
        toastr.warning("<strong>Warning</strong><br>You have logged in.");
    });
});
</script>

{% endblock dashboard_body %}
