{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}
<style>
     .tracks{
        padding:3rem ;
     }

     p{
        font-size: 17px !important;
        font-weight: 100 !important;
    }
    li{
        font-size: 17px !important;
        font-weight: 100 !important;
        margin: 10px 0 ;
    }
    .rating_star i{
        color: #fec84b;
    }

    .lessons_content{
        box-sizing: border-box;
    }
    .play_button{
        height: 40px;
    width: 40px;
    background: #def7e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2ecc71;
    font-size: 20px;
    }
    .content_one{
        padding:13px;
    }
    .lessons{
        margin-top: 20px;
      
    }
    .lessons_content{
        border-radius:10px;
    }
    .rating_content{
    padding:30px;
    width: 100%;
    background-color: #f9fafb;
    border-radius: 1rem;
    }
    .rating_stars{
        color: #fec84b;
    }
</style>
<section class="tracks">
  <div>
    <h2>Bearish Options Strategies</h2>
    <p>Learning how to make money in down markets is a critical component to your long-term success rate. The ability to profit when stocks are falling gives options traders a superior edge in the financial markets.</p>
  </div>
  <hr>
  <div class="summery">
    <h4>Summary</h4>
    <p>Declining markets and high IV give traders an amazing opportunity to sell expensive options that can quickly decay in value and produce a profit. This truth is that great traders make the vast majority of their money when markets are falling. In this module, we'll cover our favorite strategies to profit from bearish markets with credit spreads, naked options, etc.</p>
  </div>

  <div class="objective">
    <h4>Objectives</h4>
   <li>Setup and trading directionally bearish option selling strategies.</li>
   <li>How to trade that's moving lower when implied volatility is also low.</li>
   <li>Creating synthetic short positions in stock with much less risk.</li>
   <li>Deciding whether you use a debit spread or credit spread.</li>
  </div>

  <div class="lessons">
    <h4>14 lessons</h4>
    <div class="lessons_content mt-4 border">
      <div class="content_one d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <i class="bi bi-play-fill play_button"></i>
            <span>What is an option Contract?</span>
        </div>
        <div>
         <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
        </div>
      </div>
      <hr>

      <div class="content_one d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <i class="bi bi-play-fill play_button"></i>
            <span>Stock Trading vs. Option Trading</span>
        </div>
        <div>
            <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
        </div>
      </div>
      <hr>

      <div class="content_one d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <i class="bi bi-play-fill play_button"></i>
            <span>Option Contract Specifics</span>
        </div>
        <div>
            <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
        </div>
      </div>
      <hr>
      <div class="content_one d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <i class="bi bi-play-fill play_button"></i>
            <span>Call vs. put Option basics</span>
        </div>
        <div>
            <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
        </div>
      </div>
      
    </div>
  </div>

  <hr class="mt-5">

  <div class="ratings_review">
    <span>5.0 stars (25 reviews)</span>

    <div class="rating_boxes d-flex flex-column gap-4">
        <div class="rating_content">
           <div class="rating_stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
           </div>
           <p>Super informative and easy to understand!</p>
           <div>
            <h5>Mr. John Doe</h5>
            <span>Nov 24,2023 . <span>What's Our "Edge" Trading Options?</span></span>
           </div>
        </div>
        <div class="rating_content">
            <div class="rating_stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
               </div>
               <p>Super informative and easy to understand!</p>
               <div>
                <h5>Mr. John Doe</h5>
                <span>Nov 24,2023 . <span>What's Our "Edge" Trading Options?</span></span>
               </div>
        </div>
    </div>
  </div>
</section>
{% endblock dashboard_body %}