{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}
<style>
    .tracks{
       padding:3rem ;
    }
    p{
        font-size: 17px !important;
        font-weight: 100 !important;
    }
    li{
        font-size: 17px !important;
        font-weight: 100 !important;
        margin: 10px 0 ;
    }
    .rating_star i{
        color: #fec84b;
    }

    .lessons_content{
        box-sizing: border-box;
    }
    .play_button{
        height: 40px;
    width: 40px;
    background: #def7e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2ecc71;
    font-size: 20px;
    }
    .content_one{
        padding:13px;
    }
    .lessons{
        margin-top: 20px;
      
    }
    .lessons_content{
        border-radius:10px;
    }
    .rating_content{
    padding:30px;
    width: 100%;
    background-color: #f9fafb;
    border-radius: 1rem;
    }
    .rating_stars{
        color: #fec84b;
    }
</style>
<section class="tracks">
  <div>
    <h2>Beginner Track</h2>
    <div class="rating_star pb-3">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
    </div>
    <span>5.0 stars . <span>25 reviews</span> </span>
    <p class="pb-4">Building a solid foundation and understanding of how options really work is critical to your long-term success and ability to trade consistently.</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-8">
        <div class="summery">
            <h4>Summary</h4>
            <p class="mt-4">If you're completely new (or even fairly new) to options trading then this track was created just for you. We've painstakingly outlined this course so that each lesson focuses on the most important topics to help you quickly hack the options trading learning curve. Take your time as you work through each tutorial and don't be shy about asking questions along the way.</p>
          </div>
        
          <div class="objective mt-5">
            <h4>Objectives</h4>
            <div class="mt-4">

                <li>Master foundational option contract basics and terminology.</li>
                <li>Learn how to use option payoff diagrams to build multi-leg strategies.</li>
                <li>Reading and navigating pricing tables and option "moneyness".</li>
                <li>Finding out exactly why our edge trading comes from implied volatility.</li>
                <li>The best strategies for small accounts and how to generate income with options.</li>
            </div>
          </div>

          <div class="lessons">
            <h4>14 lessons</h4>
            <div class="lessons_content mt-4 border">
              <div class="content_one d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-play-fill play_button"></i>
                    <span>What is an option Contract?</span>
                </div>
                <div>
                 <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
                </div>
              </div>
              <hr>

              <div class="content_one d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-play-fill play_button"></i>
                    <span>Stock Trading vs. Option Trading</span>
                </div>
                <div>
                    <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
                </div>
              </div>
              <hr>

              <div class="content_one d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-play-fill play_button"></i>
                    <span>Option Contract Specifics</span>
                </div>
                <div>
                    <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
                </div>
              </div>
              <hr>
              <div class="content_one d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-play-fill play_button"></i>
                    <span>Call vs. put Option basics</span>
                </div>
                <div>
                    <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
                </div>
              </div>
              
            </div>
          </div>

          <hr class="mt-5">

          <div class="ratings_review">
            <span>5.0 stars (25 reviews)</span>

            <div class="rating_boxes d-flex flex-column gap-4">
                <div class="rating_content">
                   <div class="rating_stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                   </div>
                   <p>Super informative and easy to understand!</p>
                   <div>
                    <h5>Mr. John Doe</h5>
                    <span>Nov 24,2023 . <span>What's Our "Edge" Trading Options?</span></span>
                   </div>
                </div>
                <div class="rating_content">
                    <div class="rating_stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                       </div>
                       <p>Super informative and easy to understand!</p>
                       <div>
                        <h5>Mr. John Doe</h5>
                        <span>Nov 24,2023 . <span>What's Our "Edge" Trading Options?</span></span>
                       </div>
                </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4">
      <div class="standard_card">
        
      </div>
    </div>
  </div>
  
</section>
{% endblock dashboard_body %}