{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    .leaning_boxes {
        transition: 0.3s;
    }

    .leaning_boxes:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


    .course_card {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 10px;
    }

    .learning_card_header {
        padding: 2rem !important;
        max-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f4f7;
    }

    .footer_download {
        color: #2397f3;
        font-weight: 600 !important;
    }

    .courses_icon {
        background: #279af4;
        padding: 15px;
        border-radius: 10px;
        color: white;
        font-size: 25px;
    }

    .card_one {
        padding: 30px;
        border-radius: 20px;
        /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    }

    span {
        font-weight: 400 !important;
    }

    p {
        font-size: 13px !important;
        font-weight: 400 !important;
    }

    .rating {
        background-color: #fffaeb;
        padding: 8px;
        border-radius: 10px;
    }

    .content-grid-3 {
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        display: grid;
       
    }

    .split-card-outlined {
        width: 100%;
        border: 1px solid grey;
        border-radius: 1rem;
        overflow: hidden;
    }

    .card-section {
        padding: 1.5rem;
        overflow: hidden;
    }

    .background-color-gray100 {
        background-color: grey;
    }

    .card-category-head.card-library-head {
        max-height: 300px;
        justify-content: center;
        align-items: center;
    }

    .card-category-head {
        flex-direction: column;
        flex: 0 auto;
        justify-content: space-between;
        padding: 24px 36px;
        display: flex;
    }

    .shadow-small-oa {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .05);
    }

    .margin-bottom,
    .margin-bottom.margin-xxsmall,
    .margin-bottom.margin-small,
    .margin-bottom.margin-medium,
    .margin-bottom.margin-xsmall,
    .margin-bottom.margin-xxlarge,
    .margin-bottom.margin-large,
    .margin-bottom.margin-xlarge,
    .margin-bottom.margin-tiny {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .text-style-2lines {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .button-row-new {
        grid-column-gap: 0.75rem;
        grid-row-gap: 0.75rem;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
    }

    .button-link {
        grid-column-gap: 0.5rem;
        color: var(--primary800);
        white-space: nowrap;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-weight: 500;
        text-decoration: none;
        transition: all .3s;
        display: flex;
    }
</style>
<section class="mt-5">
    <div class="pb-2">
        <h3>Learn how to trade with free courses</h3>
        <p>Guided learning at your own pace to help you reach your goals.</p>

    </div>
    <hr>
    <div class="free_downloads mt-4">
        <h3>Free Downloads</h3>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 col-sm-12 course_card">
                <div class="learning_card_header">
                    <img width="198" alt=""
                        src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover.png"
                        sizes="(max-width: 479px) 55vw, (max-width: 767px) 26vw, (max-width: 991px) 198px, (max-width: 1279px) 18vw, 198px"
                        srcset="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover-p-500.png 500w, https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover.png 800w"
                        class="shadow-small-oa">

                </div>
                <div class="learning_card_footer mt-4 p-4">
                    <h5>Bollinger Bands Signals Research</h5>
                    <p class="mt-3 footer_download">Download now <i class="bi bi-arrow-up-right"></i></p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 course_card">
                <div class="learning_card_header">

                    <img width="198" alt=""
                        src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/632096aaf5e6041379cb29db_RSI-Signals-eBook-cover.png"
                        sizes="(max-width: 479px) 55vw, (max-width: 767px) 26vw, (max-width: 991px) 198px, (max-width: 1279px) 18vw, 198px"
                        srcset="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/632096aaf5e6041379cb29db_RSI-Signals-eBook-cover-p-500.png 500w, https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/632096aaf5e6041379cb29db_RSI-Signals-eBook-cover.png 772w"
                        class="shadow-small-oa">

                </div>
                <div class="learning_card_footer mt-4 p-4">
                    <h5>RSI Signals Research</h5>
                    <p class="mt-3 footer_download">Download now <i class="bi bi-arrow-up-right"></i></p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 course_card">
                <div class="learning_card_header">

                    <img width="198" alt=""
                        src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/607d821f5402557dec8d4e02_MCC-Cover---Flat-with-binding.png"
                        sizes="(max-width: 479px) 55vw, (max-width: 767px) 26vw, (max-width: 991px) 198px, (max-width: 1279px) 18vw, 198px"
                        srcset="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/607d821f5402557dec8d4e02_MCC-Cover---Flat-with-binding-p-500.png 500w, https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/607d821f5402557dec8d4e02_MCC-Cover---Flat-with-binding.png 789w"
                        class="shadow-small-oa">

                </div>
                <div class="learning_card_footer mt-4 p-4">
                    <h5> Mastering Covered Calls</h5>
                    <p class="mt-3 footer_download">Download now <i class="bi bi-arrow-up-right"></i></p>

                </div>
            </div>
            <div class="col-lg-3 course_card">
                <div class="learning_card_header">

                    <img width="198" alt=""
                        src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/607d822ed0da99025203975c_UOSG-Front---Flat-with-binding.png"
                        sizes="(max-width: 479px) 55vw, (max-width: 767px) 26vw, (max-width: 991px) 198px, (max-width: 1279px) 18vw, 198px"
                        srcset="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/607d822ed0da99025203975c_UOSG-Front---Flat-with-binding-p-500.png 500w, https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/607d822ed0da99025203975c_UOSG-Front---Flat-with-binding.png 789w"
                        class="shadow-small-oa">

                </div>
                <div class="learning_card_footer mt-4 p-4">

                    <h5>Ultimate Options Strategy Guide</h5>
                    <p class="mt-3 footer_download">Download now <i class="bi bi-arrow-up-right"></i></p>

                </div>
            </div>
        </div>
    </div>

    <div class="content-grid-3 w-dyn-items mt-5 ">
        <div role="listitem" class="w-dyn-item">
            <a href="/library/bollinger-bands-signals" class="split-card-outlined w-inline-block">
                <div class="card-section background-color-gray100">
                    <div class="card-category-head card-library-head">
                        <img width="198" alt=""
                            src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover.png"
                            sizes="(max-width: 479px) 55vw, (max-width: 767px) 26vw, (max-width: 991px) 198px, (max-width: 1279px) 18vw, 198px"
                            srcset="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover-p-500.png 500w, https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover.png 800w"
                            class="shadow-small-oa">
                    </div>
                </div>
                <div class="card-section">
                    <div class="margin-bottom margin-xsmall">
                        <h3 class="heading-xxsmall">Bollinger Bands Signals Research</h3>
                        <div class="card-meta-items-wrapper text-color-gray500">
                            <div class="text-size-small">67 pages</div>
                        </div>
                    </div>
                    <div class="text-size-small text-style-2lines">We tested 400+ Bollinger Band buy/sell signals in
                        multiple market conditions to give you actionable data.</div>
                    <!-- <div class="margin-top margin-small">
                        <div class="button-row-new">
                            <div class="button-link">
                                <div>Download now</div>
                                <div class="button-icon w-embed">
                                    <svg width="100%" height="100%" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.83301 14.1668L14.1663 5.8335M14.1663 5.8335H5.83301M14.1663 5.8335V14.1668"
                                            stroke="CurrentColor" stroke-width="1.67" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </a>
        </div>
        <div role="listitem" class="w-dyn-item">
            <a href="/library/bollinger-bands-signals" class="split-card-outlined w-inline-block">
                <div class="card-section background-color-gray100">
                    <div class="card-category-head card-library-head">
                        <img width="198" alt=""
                            src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover.png"
                            sizes="(max-width: 479px) 55vw, (max-width: 767px) 26vw, (max-width: 991px) 198px, (max-width: 1279px) 18vw, 198px"
                            srcset="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover-p-500.png 500w, https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover.png 800w"
                            class="shadow-small-oa">
                    </div>
                </div>
                <div class="card-section">
                    <div class="margin-bottom margin-xsmall">
                        <h3 class="heading-xxsmall">Bollinger Bands Signals Research</h3>
                        <div class="card-meta-items-wrapper text-color-gray500">
                            <div class="text-size-small">67 pages</div>
                        </div>
                    </div>
                    <div class="text-size-small text-style-2lines">We tested 400+ Bollinger Band buy/sell signals in
                        multiple market conditions to give you actionable data.</div>
                    <!-- <div class="margin-top margin-small">
                        <div class="button-row-new">
                            <div class="button-link">
                                <div>Download now</div>
                                <div class="button-icon w-embed">
                                    <svg width="100%" height="100%" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.83301 14.1668L14.1663 5.8335M14.1663 5.8335H5.83301M14.1663 5.8335V14.1668"
                                            stroke="CurrentColor" stroke-width="1.67" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </a>
        </div>
        <div role="listitem" class="w-dyn-item">
            <a href="/library/bollinger-bands-signals" class="split-card-outlined w-inline-block">
                <div class="card-section background-color-gray100">
                    <div class="card-category-head card-library-head">
                        <img width="198" alt=""
                            src="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover.png"
                            sizes="(max-width: 479px) 55vw, (max-width: 767px) 26vw, (max-width: 991px) 198px, (max-width: 1279px) 18vw, 198px"
                            srcset="https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover-p-500.png 500w, https://assets-global.website-files.com/5fba23eb8789c3c7fcfb5f31/64664c083de3ba1b4a643755_Bollinger-Bands-ebook-cover.png 800w"
                            class="shadow-small-oa">
                    </div>
                </div>
                <div class="card-section">
                    <div class="margin-bottom margin-xsmall">
                        <h3 class="heading-xxsmall">Bollinger Bands Signals Research</h3>
                        <div class="card-meta-items-wrapper text-color-gray500">
                            <div class="text-size-small">67 pages</div>
                        </div>
                    </div>
                    <div class="text-size-small text-style-2lines">We tested 400+ Bollinger Band buy/sell signals in
                        multiple market conditions to give you actionable data.</div>
                    <!-- <div class="margin-top margin-small">
                        <div class="button-row-new">
                            <div class="button-link">
                                <div>Download now</div>
                                <div class="button-icon w-embed">
                                    <svg width="100%" height="100%" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.83301 14.1668L14.1663 5.8335M14.1663 5.8335H5.83301M14.1663 5.8335V14.1668"
                                            stroke="CurrentColor" stroke-width="1.67" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock dashboard_body %}