{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}
<style>
     .tracks{
        padding:3rem ;
     }

     p{
        font-size: 17px !important;
        font-weight: 100 !important;
    }
    li{
        font-size: 17px !important;
        font-weight: 100 !important;
        margin: 10px 0 ;
    }
    .rating_star i{
        color: #fec84b;
    }

    .lessons_content{
        box-sizing: border-box;
    }
    .play_button{
        height: 40px;
    width: 40px;
    background: #def7e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2ecc71;
    font-size: 20px;
    }
    .content_one{
        padding:13px;
    }
    .lessons{
        margin-top: 20px;
      
    }
    .lessons_content{
        border-radius:10px;
    }
    .rating_content{
    padding:30px;
    width: 100%;
    background-color: #f9fafb;
    border-radius: 1rem;
    }
    .rating_stars{
        color: #fec84b;
    }
</style>
<section class="tracks">
  <div>
    <h2>Pricing & Volatility</h2>
    <p>Without a doubt we get our "edge" as options traders by mastering options pricing and volatility. Specifically the fact that long-term implied volatility always overstates the expected market move.</p>
  </div>
  <hr>
  <div class="summery">
    <h4>Summary</h4>
    <p>Because implied volatility overstates the expected market move, options are always overpriced long-term. This module includes lessons on mastering implied volatility and premium pricing for specific strategies. We'll also look at IV relativeness and percentiles, which help you determine the best strategy to use for each and every possible market setup.</p>
  </div>

  <div class="objective">
    <h4>Objectives</h4>
   <li>Finding option prices and mastering implied volatility's impact on our trading edge.</li>
   <li>Option probability basics including OTM, ITM and Prob. of Touch.</li>
   <li>Historical volatility and the over-expectation of implied volatility long-term.</li>
   <li>Fatal option pricing errors when trading credit spreads.</li>
  </div>
  <div class="lessons">
    <h4>14 lessons</h4>
    <div class="lessons_content mt-4 border">
      <div class="content_one d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <i class="bi bi-play-fill play_button"></i>
            <span>What is an option Contract?</span>
        </div>
        <div>
         <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
        </div>
      </div>
      <hr>

      <div class="content_one d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <i class="bi bi-play-fill play_button"></i>
            <span>Stock Trading vs. Option Trading</span>
        </div>
        <div>
            <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
        </div>
      </div>
      <hr>

      <div class="content_one d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <i class="bi bi-play-fill play_button"></i>
            <span>Option Contract Specifics</span>
        </div>
        <div>
            <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
        </div>
      </div>
      <hr>
      <div class="content_one d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <i class="bi bi-play-fill play_button"></i>
            <span>Call vs. put Option basics</span>
        </div>
        <div>
            <span>14:49 <span><i class="bi bi-chevron-right"></i></span> </span>
        </div>
      </div>
      
    </div>
  </div>

  <hr class="mt-5">

  <div class="ratings_review">
    <span>5.0 stars (25 reviews)</span>

    <div class="rating_boxes d-flex flex-column gap-4">
        <div class="rating_content">
           <div class="rating_stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
           </div>
           <p>Super informative and easy to understand!</p>
           <div>
            <h5>Mr. John Doe</h5>
            <span>Nov 24,2023 . <span>What's Our "Edge" Trading Options?</span></span>
           </div>
        </div>
        <div class="rating_content">
            <div class="rating_stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
               </div>
               <p>Super informative and easy to understand!</p>
               <div>
                <h5>Mr. John Doe</h5>
                <span>Nov 24,2023 . <span>What's Our "Edge" Trading Options?</span></span>
               </div>
        </div>
    </div>
  </div>
</section>
{% endblock dashboard_body %}