<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  </style>
<style>
    .formatted{
        font-family: Poppins,sans-serif;
    }


</style>
<body>

    // <tr>
        //     <td colspan="1">
        //         <div class="put_max_profit d-block text-success fw-600">
        //             <p>Max - Profit: ${Put_position_label}</p>
        //             <p class=${Put_position_display}>At: ${minStrikePrice}~${maxStrikePrice}</p>
        //             </div>
        //         </td>
        //         <td clospan="3">
        //             <div class="long_max_loss d-block text-danger fw-600">
        //             <p>Max - Profit: ${long_position_label}</p>
        //             <p class=${long_position_display}>At: ${minStrikePrice}~${maxStrikePrice}</p>
        //             </div>
        //             </td>
        //             <td colspan="4" class="fw-600">Reward Risk: Not defined</td>

        //             <td clospan="6" class="fw-600 text-center">
                        
        //                 <div class="breakever_probaility_profit">
                            
        //                     <p>Min Breakeven : ${min_breakPoints.toFixed(2)} ~ Max Breakeven : ${max_breakPoints.toFixed(2)}</p>
        //                     <p>Probability of Profit: 10.00%</p>
        //                     </div>
        //                 </td>

        //     </tr>
    <p class="sans-serif-font">This text uses the sans-serif font.</p>
<p class="monospace-font">This text uses the monospace font.</p>

    <h1 class="formatted">Lowercase: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z.

        Uppercase: A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z.</h1>
    <h1>Lowercase: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z.

        Uppercase: A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z.</h1>
</body>
</html>