{% extends "admin_base.html" %}
{% load static %}
{% block admin_body %}



<div class="login_admin_main" style="      margin-top: 6rem;  display: flex;
justify-content: center;">


<form method="post" action="{% url 'reset_password' %}" style="    padding: 3rem;

border-radius: 10px;
"
class="d-flex flex-column my-4 shadow">

    <h4 class="text-center text-secondary mb-2">Admin Reset Password</h4>
    {% csrf_token %}
    <input type="hidden" name="_token" value="ngmib0MJu2xzyqdD3pBvtR02sKmu7qNIJC6QnJVN">                 
               <div class="form-group mb-4">
        <label for="resetPasswordEmail">Email Address</label>
        <input class="form-control" type="email" id="resetPasswordEmail" name="email" aria-describedby="emailHelp">
                                    </div>
    <div class="modal__btn-wrapper d-flex justify-content-center">
        <button class="btn c-btn c-btn--bg" type="submit">Send Password Reset Link</button>
    </div>
</form>

</div>
{% endblock admin_body %}