{% extends "admin_base.html" %}
{% load static %}
{% block admin_body %}



<div class="login_admin_main" style="      margin-top: 6rem;  display: flex;
justify-content: center;">


<form id="modalSignInForm" method='post' action="{% url 'login_user' %}" style="    padding: 3rem;

border-radius: 10px;
"
class="d-flex flex-column my-4 shadow">
<h4 class="text-center text-secondary mb-2">Admin SignIn</h4>
{% csrf_token %}
<span class="text-danger show-error-text" id="error_login_error_login"></span>
<div class="form-group">
    <label for="modalEmailSignIn">Email</label>
    <input class="form-control" id="modalEmailSignIn" name="email" type="email" required
        aria-describedby="emailHelp">
    <span class="text-danger show-error-text" id="error_login_email"></span>
</div>
<div class="form-group">
    <label for="modalPasswordSignIn">Password</label>
    <input class="form-control" id="modalPasswordSignIn" type="password" name="password"
        required aria-describedby="passwordHelp">
    <span class="text-danger show-error-text" id="error_login_password"></span>
    <a class="form-text text-muted" id="passwordHelp"
        href="{% url 'admin_reset' %}">Forgot password?</a>
</div>

<div class="position-relative mb-3">
    <div data-sitekey="6LcLyMwZAAAAAMYfPLgiFvrprPgc8zdkifiais0p" class="g-recaptcha"></div>
    <span class="text-danger show-error-text" id="error_login_g-recaptcha-response"></span>
</div>
<button class="btn c-btn c-btn--bg" id="signInButton" type="submit">Sign in</button>
<p class="modal__link d-flex align-items-center justify-content-center">Don’t have an
    account?&nbsp;
    <a href="{% url 'admin_signup' %}" id="sign_up_link" 
        > Sign up</a>
</p>
</form>

</div>
{% endblock admin_body %}