{% extends "base_admin_panel.html" %}
{% load static %}
{% block dashboard_admin_body %}
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <!-- Include the AmCharts 4 core library -->

  <!-- Include the maps module -->
  <script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
  <!-- Include the world map definition -->
  <script src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
 

<style>
    .dashboard_date_picker {


        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 0.2rem;

    }

    .picker_date {
        display: flex;
        gap: 1rem;

    }

    .card_sells {
        display: flex;
        justify-content: space-between;
        padding: 13px;
        align-items: center;
    }

    @media screen and (min-width:768px) {
        .col-lg-4 {
            width: 31%;
        }


    }

    @media screen and (max-width:400px) {
        .sales_price {
            display: flex;
            justify-content: center !important;
            align-items: center;
            padding: 13px;
            flex-wrap: wrap;

        }
    }

    p {
        margin-bottom: auto;
    }

    .sales_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px;
        flex-wrap: wrap;

    }

    .sales_per_compared {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .inner_sales {
        display: flex;
        align-items: center;

    }

    .compared_prev {
        font-size: 12px;
        color: rgb(22, 35, 35);
    }

    .saw-pulse__counter {
        background: #d9ecff;
        border-radius: 0.125rem;
        color: #004b9a;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1;
        margin: 0 1.25rem 0.75rem;
        padding: 1.5rem 1.25rem;
        text-align: center;
    }

    .sa-widget-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .sa-widget-header__title {
        font-size: 1.0625rem;
        font-weight: 500;
        margin: 0;
    }

    .saw-pulse__header {
        padding: 1.25rem;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, 0.125);
        border-radius: 2px;
    }

    .row {
        margin-left: auto;
    }

    .saw-chart__header {
        padding: 1.25rem 1.25rem 0;
    }

    .sa-widget-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: 992px) {
        .col-lg-8 {
            flex: 0 0 auto;
            width: 65.666667%;
        }
    }
</style>
<style>
    .saw-chart__body {
        width: 100%;
        overflow-x: auto;
        padding: 19px;
    }

    .saw-chart__container {
        position: relative;
        width: 100%;
        padding-bottom: 50%;
        /* Adjust the padding-bottom value to set the chart container height */
    }

    .saw-chart__container canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
</style>
<div class="main_dashboard ">
    <div class="dashboard_date_picker ">
        <h4 style="    font-weight: 700;">Site Analytics</h4>
        <div class="picker_date">
            <input class="form-control form-control-solid" placeholder="Pick date rage" id="export_admin"
                data-listener-added_a06394db="true">
            <button class="button btn btn-primary" id="applyBtn">Apply</button>
        </div>
    </div>

<style>
    #device_category, #user_chart {
      height: 500px;
    }
</style>
    <div class="container-fluid mt-3">

        <div class="row">

            <div class="col-md-2">
<p>Bounce Rate</p>

<h5 class="fw-bold" id="bounce_value">32.54%</h5>

            </div>


            <div class="col-md-2">
<p>Active Users</p>

<h5 class="fw-bold" id="activeUsers">32.54%</h5>

            </div>

            <div class="col-md-2">
                <p>New Users</p>
                
                <h5 class="fw-bold" id="newUsers">32.54%</h5>
                
                            </div>
                


            <div class="col-md-2">
<p>Avg. Time on Site</p>

<h5 class="fw-bold" id="averageSessionDuration">32.54%</h5>

            </div>
            <div class="col-md-2">



<p>Page Views</p>

<h5 class="fw-bold" id="screenPageViews">32.54%</h5>

            </div>



            <div class="col-md-2">
<p>Sessions</p>

<h5 class="fw-bold" id="sessions">32.54%</h5>

            </div>

        </div>
        







        <div class="row mt-3">
          <div class="col-md-8">
            <div id="user_chart"></div>
          </div>
          <div class="col-md-4">
            <div id="device_category"></div>
          </div>
        </div>
      </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <div id="countryBar" style="height: 500px;"></div>
          </div>
          <div class="col-md-8">
            <div id="mapchart" style="height: 500px;"></div>
          </div>
        </div>
      </div>
    

 












      <script>

var start = moment().subtract(29, 'days');
var end = moment();

function cb(start, end) {
    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
}

$('#export_admin').daterangepicker({
    startDate: start,
    endDate: end,
    ranges: {
       'Today': [moment(), moment()],
       'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
       'Last 7 Days': [moment().subtract(6, 'days'), moment()],
       'Last 30 Days': [moment().subtract(29, 'days'), moment()],
       'This Month': [moment().startOf('month'), moment().endOf('month')],
       'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    }
}, cb);

cb(start, end);



        $(document).ready(function () {
            // Initialize date range picker
    
            // Add click event listener to Apply button
            $("#applyBtn").click(function () {
           
                get_initialData()
            });
            get_initialData()
        function get_initialData() {
                 // Retrieve selected date range
                 var selectedRange = $("#export_admin").val();
                // Log the selected date range
                console.log("Selected Date Range: " + selectedRange);
                var dates = selectedRange.split(" - ");
                var startDate = formatDate(dates[0]);
                var endDate = formatDate(dates[1]);
                console.log("Start Date: " + startDate);
                console.log("End Date: " + endDate);

                var main_analytics_metrics_dimensions_unique = [
                {
                "metrics" : ["newUsers","activeUsers","bounceRate","sessions","sessionsPerUser","screenPageViews","averageSessionDuration"],
                "dimensions" : [],
                "analytics_name":"all_user"

            },    
                {
                "metrics" : ["totalUsers", "engagedSessions", "sessions","newUsers","activeUsers"],
                "dimensions" : ["date"],
                "analytics_name":"user_date_wise"

            },    
                {
                    "metrics":["totalUsers", "engagedSessions", "sessions"],
                    "dimensions" : ["deviceCategory"],
                    "analytics_name":"user_device_category"

                },
                {
                    "metrics":["newUsers","activeUsers", "engagedSessions", "sessions"],
                    "dimensions" : ["firstUserDefaultChannelGroup"],
                    "analytics_name":"channelgroup"

                },
                {
                    "metrics":["newUsers","activeUsers", "engagedSessions", "sessions"],
                    "dimensions" : ["country"],
                    "analytics_name":"counryOrigin"

                },

            ]
            function getAnalyticsSequentially(index) {
    if (index >= main_analytics_metrics_dimensions_unique.length) {
        // All calls have been completed
        return;
    }
    
    var item = main_analytics_metrics_dimensions_unique[index];
    
    getAnalytics(startDate, endDate, item.metrics, item.dimensions, item.analytics_name, function (output_analytics) {
        // console.log(output_analytics);
        // Further processing of analytics data can be done here
       if (output_analytics.analytics_name==="user_device_category") {
        drawDevice_category(output_analytics)
       } else if (output_analytics.analytics_name==="user_date_wise") {
        drawUserchart(output_analytics)
       
       } else if (output_analytics.analytics_name==="all_user") {
        drawtopoverViews(output_analytics)
       
       } else if (output_analytics.analytics_name==="counryOrigin") {
        drawMapCountryUsers(output_analytics)
       }
        // Proceed to the next call
        getAnalyticsSequentially(index + 1);
    });
}

// Start the sequential process
getAnalyticsSequentially(0);
        }

        function drawMapCountryUsers(countryData_user) {





    // Create chart instance
    var chart = am4core.create("countryBar", am4charts.XYChart);
    var filteredData = Object.keys(countryData_user.country).filter(key => countryData_user.country[key] !== "(not set)")
                                                      .map(key => ({
                                                          "country": countryData_user.country[key],
                                                          "activeUsers": parseInt(countryData_user.activeUsers[key])
                                                      }));
    // Add data
    chart.data =filteredData
      // Create axes
      var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "country";
    categoryAxis.renderer.inversed = true; // Invert y-axis to make it horizontal
    categoryAxis.renderer.minGridDistance = 30;
    categoryAxis.renderer.labels.template.horizontalCenter = "left";
    categoryAxis.renderer.labels.template.verticalCenter = "middle";

    var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
    valueAxis.renderer.minGridDistance = 50;

    // Create series
    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueX = "activeUsers";
    series.dataFields.categoryY = "country";
    series.name = "Active Users";
    series.columns.template.tooltipText = "{categoryY}: [bold]{valueX}[/]";
    series.columns.template.fillOpacity = .8;

    // Add cursor
    chart.cursor = new am4charts.XYCursor();

    // Add scrollbar
    chart.scrollbarY = new am4core.Scrollbar();
    chart.scrollbarY.start = 1; // Set start position of the scrollbar
    chart.scrollbarY.end = 0.5; // Set end position of the scrollbar

    // Add legend
    chart.legend = new am4charts.Legend();

    // Add title
    chart.titles.create().text = "Active Users by Country";
    chart.logo.disabled = true;







                  // Country data from the backend
        var countryData = countryData_user
    
        // Create map instance
        var chart = am4core.create("mapchart", am4maps.MapChart);
    
        // Set map definition
        chart.geodata = am4geodata_worldLow;
        chart.logo.disabled = true;
        // Set projection
        chart.projection = new am4maps.projections.Miller();
    
        // Create map polygon series
        var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
    
        // Make map load polygon (like country names) data from GeoJSON
        polygonSeries.useGeodata = true;
    
        // Configure series
        var polygonTemplate = polygonSeries.mapPolygons.template;
        polygonTemplate.tooltipHTML = `<img src="{flag}" style="width:20px;height:15px;vertical-align:middle;"> {name}: {value} active users`; // Customize tooltip template
        polygonTemplate.propertyFields.fill = "fill";
    
        // Create hover state and set alternative fill color
        var hs = polygonTemplate.states.create("hover");
        hs.properties.fill = am4core.color("#367B25");
    
        // Remove Antarctica
        polygonSeries.exclude = ["AQ"];
    
        // Initialize polygon data array
        var polygonData = [];
    
        // Iterate through country data and create polygon data
        Object.keys(countryData.country).forEach(function(key) {
            var countryName = countryData.country[key];
            var activeUsers = parseInt(countryData.activeUsers[key]);
            if (countryName !== "(not set)") {
                var countryCode = getCountryCode(countryName);
                if (countryCode) {
                    polygonData.push({
                        "id": countryCode,
                        "value": activeUsers,
                        "name": countryName,
               
                        "flag": `https://flagsapi.com/${countryCode}/flat/64.png`, // Country flag
                        "fill": am4core.color("#74B266")
                    });
                }
            }
        });
    
        // Set the polygon data
        polygonSeries.data = polygonData;
    
        // Function to get country code based on country name
        function getCountryCode(countryName) {
    switch (countryName) {
        case "India": return "IN";
        case "United States": return "US";
        case "Netherlands": return "NL";
        case "Ireland": return "IE";
        case "Japan": return "JP";
        case "United Arab Emirates": return "AE";
        case "China": return "CN";
        case "Mauritius": return "MU";
        case "Oman": return "OM";
        case "Peru": return "PE";
        case "Philippines": return "PH";
        case "Saudi Arabia": return "SA";
        case "United Kingdom": return "GB";
        case "Afghanistan": return "AF";
        case "Albania": return "AL";
        case "Algeria": return "DZ";
        case "Andorra": return "AD";
        case "Angola": return "AO";
        case "Antigua and Barbuda": return "AG";
        case "Argentina": return "AR";
        case "Armenia": return "AM";
        case "Australia": return "AU";
        case "Austria": return "AT";
        case "Azerbaijan": return "AZ";
        case "Bahamas": return "BS";
        case "Bahrain": return "BH";
        case "Bangladesh": return "BD";
        case "Barbados": return "BB";
        case "Belarus": return "BY";
        case "Belgium": return "BE";
        case "Belize": return "BZ";
        case "Benin": return "BJ";
        case "Bhutan": return "BT";
        case "Bolivia": return "BO";
        case "Bosnia and Herzegovina": return "BA";
        case "Botswana": return "BW";
        case "Brazil": return "BR";
        case "Brunei Darussalam": return "BN";
        case "Bulgaria": return "BG";
        case "Burkina Faso": return "BF";
        case "Burundi": return "BI";
        case "Cabo Verde": return "CV";
        case "Cambodia": return "KH";
        case "Cameroon": return "CM";
        case "Canada": return "CA";
        case "Central African Republic": return "CF";
        case "Chad": return "TD";
        case "Chile": return "CL";
        case "Colombia": return "CO";
        case "Comoros": return "KM";
        case "Congo (Brazzaville)": return "CG";
        case "Congo (Kinshasa)": return "CD";
        case "Costa Rica": return "CR";
        case "Croatia": return "HR";
        case "Cuba": return "CU";
        case "Cyprus": return "CY";
        case "Czech Republic": return "CZ";
        case "Denmark": return "DK";
        case "Djibouti": return "DJ";
        case "Dominica": return "DM";
        case "Dominican Republic": return "DO";
        case "Ecuador": return "EC";
        case "Egypt": return "EG";
        case "El Salvador": return "SV";
        case "Equatorial Guinea": return "GQ";
        case "Eritrea": return "ER";
        case "Estonia": return "EE";
        case "Eswatini": return "SZ";
        case "Ethiopia": return "ET";
        case "Fiji": return "FJ";
        case "Finland": return "FI";
        case "France": return "FR";
        case "Gabon": return "GA";
        case "Gambia": return "GM";
        case "Georgia": return "GE";
        case "Germany": return "DE";
        case "Ghana": return "GH";
        case "Greece": return "GR";
        case "Grenada": return "GD";
        case "Guatemala": return "GT";
        case "Guinea": return "GN";
        case "Guinea-Bissau": return "GW";
        case "Guyana": return "GY";
        case "Haiti": return "HT";
        case "Holy See (Vatican City State)": return "VA";
        case "Honduras": return "HN";
        case "Hungary": return "HU";
        case "Iceland": return "IS";
        case "India": return "IN";
        case "Indonesia": return "ID";
        case "Iran": return "IR";
        case "Iraq": return "IQ";
        case "Ireland": return "IE";
        case "Israel": return "IL";
        case "Italy": return "IT";
        case "Jamaica": return "JM";
        case "Japan": return "JP";
        case "Jordan": return "JO";
        case "Kazakhstan": return "KZ";
        case "Kenya": return "KE";
        case "Korea, Democratic People's Republic of": return "KP";
        case "Korea, Republic of": return "KR";
        case "Kuwait": return "KW";
        case "Kyrgyzstan": return "KG";
        case "Lao PDR": return "LA";
        case "Latvia": return "LV";
        case "Lebanon": return "LB";
        case "Lesotho": return "LS";
        case "Liberia": return "LR";
        case "Libya": return "LY";
        case "Liechtenstein": return "LI";
        case "Lithuania": return "LT";
        case "Luxembourg": return "LU";
        case "Madagascar": return "MG";
        case "Malawi": return "MW";
        case "Malaysia": return "MY";
        case "Maldives": return "MV";
        case "Mali": return "ML";
        case "Malta": return "MT";
        case "Marshall Islands": return "MH";
        case "Mauritania": return "MR";
        case "Mauritius": return "MU";
        case "Mexico": return "MX";
        case "Micronesia, Federated States of": return "FM";
        case "Moldova": return "MD";
        case "Monaco": return "MC";
        case "Mongolia": return "MN";
        case "Montenegro": return "ME";
        case "Morocco": return "MA";
        case "Mozambique": return "MZ";
        case "Myanmar": return "MM";
        case "Namibia": return "NA";
        case "Nauru": return "NR";
        case "Nepal": return "NP";
        case "Netherlands": return "NL";
        case "New Zealand": return "NZ";
        case "Nicaragua": return "NI";
        case "Niger": return "NE";
        case "Nigeria": return "NG";
        case "North Macedonia": return "MK";
        case "Norway": return "NO";
        case "Oman": return "OM";
        case "Pakistan": return "PK";
        case "Palau": return "PW";
        case "Palestinian Territory": return "PS";
        case "Panama": return "PA";
        case "Papua New Guinea": return "PG";
        case "Paraguay": return "PY";
        case "Peru": return "PE";
        case "Philippines": return "PH";
        case "Poland": return "PL";
        case "Portugal": return "PT";
        case "Qatar": return "QA";
        case "Republic of Kosovo": return "XK";
        case "Romania": return "RO";
        case "Russia": return "RU";
        case "Rwanda": return "RW";
        case "Saint Kitts and Nevis": return "KN";
        case "Saint Lucia": return "LC";
        case "Saint Vincent and the Grenadines": return "VC";
        case "Samoa": return "WS";
        case "San Marino": return "SM";
        case "Sao Tome and Principe": return "ST";
        case "Saudi Arabia": return "SA";
        case "Senegal": return "SN";
        case "Serbia": return "RS";
        case "Seychelles": return "SC";
        case "Sierra Leone": return "SL";
        case "Singapore": return "SG";
        case "Slovakia": return "SK";
        case "Slovenia": return "SI";
        case "Solomon Islands": return "SB";
        case "Somalia": return "SO";
        case "South Africa": return "ZA";
        case "South Sudan": return "SS";
        case "Spain": return "ES";
        case "Sri Lanka": return "LK";
        case "Sudan": return "SD";
        case "Suriname": return "SR";
        case "Sweden": return "SE";
        case "Switzerland": return "CH";
        case "Syrian Arab Republic (Syria)": return "SY";
        case "Taiwan, Republic of China": return "TW";
        case "Tajikistan": return "TJ";
        case "Tanzania, United Republic of": return "TZ";
        case "Thailand": return "TH";
        case "Timor-Leste": return "TL";
        case "Togo": return "TG";
        case "Tonga": return "TO";
        case "Trinidad and Tobago": return "TT";
        case "Tunisia": return "TN";
        case "Turkey": return "TR";
        case "Turkmenistan": return "TM";
        case "Tuvalu": return "TV";
        case "Uganda": return "UG";
        case "Ukraine": return "UA";
        case "United Arab Emirates": return "AE";
        case "United Kingdom": return "GB";
        case "United Republic of Tanzania": return "TZ";
        case "United States": return "US";
        case "Uruguay": return "UY";
        case "Uzbekistan": return "UZ";
        case "Vanuatu": return "VU";
        case "Venezuela (Bolivarian Republic)": return "VE";
        case "Viet Nam": return "VN";
        case "Yemen": return "YE";
        case "Zambia": return "ZM";
        case "Zimbabwe": return "ZW";
        default: return null;
    }
}

        }
   
        function drawtopoverViews(output_analytics) {
    // Get the bounce rate from the output_analytics object
    var bounceRate = parseFloat(output_analytics.bounceRate[0]);

    // Convert bounce rate to percentage format
    var bounceRatePercentage = (bounceRate * 100).toFixed(2) + '%';

    // Update the text of the corresponding HTML element with the bounce rate percentage
    $("#bounce_value").text(bounceRatePercentage);

    // Set the values to the text of the other corresponding HTML elements with the specified IDs
    $("#activeUsers").text(output_analytics.activeUsers[0] || "");
    $("#newUsers").text(output_analytics.newUsers[0] || "");
    var durationSeconds = parseFloat(output_analytics.averageSessionDuration[0]);
    var minutes = Math.floor(durationSeconds / 60);
    var seconds = Math.floor(durationSeconds % 60);

    // Format the minutes and seconds
    var durationFormatted = minutes + "m:" + seconds + "s";

    // Update the text of the corresponding HTML element with the formatted duration
    $("#averageSessionDuration").text(durationFormatted);
    $("#screenPageViews").text(output_analytics.screenPageViews[0] || "");
    $("#sessions").text(output_analytics.sessions[0] || "");
}



            function drawUserchart(All_users) {

                console.log(All_users);
   
                console.log(All_users);

    // Convert the provided JSON data into arrays
    var dates = Object.values(All_users.date);
    var activeUsers = Object.values(All_users.activeUsers).map(Number);
    var newUsers = Object.values(All_users.newUsers).map(Number);
    console.log('activeUsers',activeUsers);
    console.log('newUsers',newUsers);
    
    // Create chart instance
    var chart = am4core.create("user_chart", am4charts.XYChart);

    // Add data
    chart.data = [];
    for (var i = 0; i < dates.length; i++) {
        chart.data.push({
            "date":dates[i],
            "activeUsers": activeUsers[i],
            "newUsers": newUsers[i]
        });
    }
console.log(chart.data);
chart.data.forEach(function(item) {
    item.date = new Date(item.date.substr(0, 4), parseInt(item.date.substr(4, 2)) - 1, item.date.substr(6, 2));
});

chart.data.sort(function(a, b) {
    return new Date(a.date) - new Date(b.date);
});
console.log(chart.data);
                  // Calculate total users and new users
    var totalactiveUsers = activeUsers.reduce((acc, cur) => acc + cur, 0);
    var totalNewUsers = newUsers.reduce((acc, cur) => acc + cur, 0);

    console.log(totalactiveUsers,totalNewUsers);
    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.minGridDistance = 50; // Set minimum grid distance
    dateAxis.title.text = "Date";

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.title.text = "Users";

    // Create series
    var activeUsersSeries = chart.series.push(new am4charts.LineSeries());
    activeUsersSeries.dataFields.dateX = "date";
    activeUsersSeries.dataFields.valueY = "activeUsers";
    activeUsersSeries.name = "Total Users";
    activeUsersSeries.tooltipText = "{name}: [bold]{valueY}[/]";
    activeUsersSeries.strokeWidth = 2; // Set line thickness


    var newUsersSeries = chart.series.push(new am4charts.LineSeries());
    newUsersSeries.dataFields.dateX = "date";
    newUsersSeries.dataFields.valueY = "newUsers";
    newUsersSeries.name = "New Users";
    newUsersSeries.tooltipText = "{name}: [bold]{valueY}[/]";
    newUsersSeries.strokeWidth = 2; // Set line thickness
  

    chart.logo.disabled = true;
    // Add chart cursor
    chart.cursor = new am4charts.XYCursor();

    // Add legend
    chart.legend = new am4charts.Legend();
    chart.legend.position = "top";

    // Add scrollbar
    chart.scrollbarX = new am4core.Scrollbar();

    // Enable responsive features
    chart.responsive.enabled = true;

    // Enable themes
    am4core.useTheme(am4themes_animated);

    // Assign chart object to the container element

}

var device_category_chart = null

            function drawDevice_category(device_category_data) {
                       // Define the data




// Dispose of the existing chart if it exists
if (device_category_chart) {
    device_category_chart.dispose();
}
                       var deviceCategories = Object.values(device_category_data.deviceCategory);
    var totalUsers = Object.values(device_category_data.totalUsers).map(Number);
    var engagedSessions = Object.values(device_category_data.engagedSessions).map(Number);
    var sessions = Object.values(device_category_data.sessions).map(Number);

    // Create an array to hold the chart data
    var chartData = [];

    // Loop through the device categories
    for (var i = 0; i < deviceCategories.length; i++) {
        // Push data for each category into the chartData array
        chartData.push({
            "deviceCategory": deviceCategories[i],
            "totalUsers": totalUsers[i],
            "engagedSessions": engagedSessions[i],
            "sessions": sessions[i]
        });
    }

        // Create chart instance
        var chart = am4core.create("device_category", am4charts.PieChart);
        device_category_chart = chart; // Store the chart instance
        // Add data
        chart.data = chartData;
    
        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "totalUsers";
        pieSeries.dataFields.category = "deviceCategory";
        pieSeries.labels.template.disabled = false; // Disable default labels

// Enable labels inside the chart
pieSeries.labels.template.text = "{category} - \n{value.percent.formatNumber('#.#')}%";
pieSeries.labels.template.fontSize = 12; // Set label font size
pieSeries.alignLabels = false;
pieSeries.labels.template.bent = true;

        // Add a title

        chart.logo.disabled = true;
        // Add a legend
        chart.legend = new am4charts.Legend();
        chart.legend.position = "top";
       // Customize legend
       chart.legend.labels.template.fontSize = 15; // Set legend font size
    chart.legend.itemContainers.template.width = 150; // Set legend item container width

        // Add inner radius to make it a donut chart
        chart.innerRadius = am4core.percent(50);
    
        // Enable responsive features
        chart.responsive.enabled = true;
    
        // Enable animated transitions
        chart.responsive.useDefaults = true;
        chart.responsive.animationEasing = am4core.ease.sinOut;
    
        // Enable themes
        am4core.useTheme(am4themes_animated);

                
            }





    
            function formatDate(dateString) {
                var parts = dateString.split("/");
                // Rearrange the parts to form the desired format
                return parts[2] + "-" + parts[0].padStart(2, '0') + "-" + parts[1].padStart(2, '0');
            }
    
            function getAnalytics(startDate, endDate, metrics, dimensions, analyticsName, callback) {

                console.log(metrics.join(','));
                    $.ajax({
                        url: '/google_analytics_data',
                        type: 'GET',
                        data: {
                            'start_date': startDate,
                            'end_date': endDate,
                            'metrics[]': metrics,  // Pass metrics as an array
                        'dimensions[]': dimensions,  // Pass dimensions as an array
                            'analytics_name': analyticsName
                        },
                        success: function (data) {
                            console.log(data);
                            // Handle the response data here
                            callback(data); // Call the callback function with the data
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                }
        });
    </script>
    

{% endblock dashboard_admin_body %}