{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
   
</style>
<section>
 
    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                .inner_back_strategy:hover {
                    background: #00000012;
               
                    border-radius: 5px;
                    color: #2196f3 !important;
        
                }
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Batman Strategy</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p>Neutral, Non-Directional</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The Batman strategy combines four different options contracts:</h3>
                    <ul>
                        <li><span> Short Call Spread: </span>This involves selling an out-of-the-money call option (typically above the current market price) and simultaneously buying a higher out-of-the-money call option to limit potential losses on the upside. </li>
                        <li class="mt-3"><span>Short Put Spread: </span>This involves selling an out-of-the-money put option (typically below the current market price) and simultaneously buying a lower out-of-the-money put option to limit potential losses on the downside. </li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span> The maximum profit is limited and occurs if the underlying asset's price remains within a specific range, typically between the strike prices of the short call and short put options.</li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span> The maximum loss is also limited and occurs if the underlying asset's price moves significantly beyond the range defined by the strike prices of the options. This range is typically wider than that of a standard Iron Condor.    </li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>The break-even points are based on the strike prices of the options used in the strategy. They can be calculated to determine the range within which the strategy is profitable.</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The Batman strategy aims to profit from limited price movement in the underlying asset, with a wider profit range compared to a standard Iron Condor.</li>
                        <li>It provides a way to generate premium income from selling options, with defined profit and loss limits.</li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                       <li>The risk is limited to the difference between the strike prices of the long options in the call and put spreads, as well as any net premium paid when setting up the strategy.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}