{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
   
</style>
<section>
 
    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Bear Put Spread Strategy</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p>Bear Put Spread is a moderately bearish strategy. It is used when an investor expects the underlying asset's price to decrease but not significantly.</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves two main components:</h3>
                    <ul>
                        <li><span> Long Put Options: </span>The investor buys a put option with a specific strike price. This option gives the investor the right to sell the underlying asset at the strike price if the option is exercised by the option buyer.</li>
                        <li class="mt-3"><span>Short Put Option: </span>  Simultaneously, the investor sells (writes) a put option with a higher strike price. This option creates an obligation for the investor to buy the underlying asset at the strike price if the option is exercised.</li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span> The maximum profit is limited to the difference between the strike prices of the two put options minus the net premium paid for the spread.</li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span>  The maximum loss is limited to the net premium paid for the spread. </li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>The break-even point is the strike price of the long put minus the net premium paid for the spread.</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The primary goal of a Bear Put Spread is to profit from a moderate price decrease in the underlying asset.</li>
                        <li>The strategy is designed to limit risk compared to simply buying a put option by providing some premium income from selling the higher strike put.</li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                        <li>The risk is limited to the net premium paid for the spread.</li>
                        <li>The strategy is suitable for investors who expect moderate bearishness and want to control risk.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}