{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    
</style>
<section>
    
    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                .inner_back_strategy:hover {
                    background: #00000012;
               
                    border-radius: 5px;
                    color: #2196f3 !important;
        
                }
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Bearish Condor</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p>Moderately Bearish and Income-Generating</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves two main components:</h3>
                    <ul>
                        <li><span> Long Put Option: </span>The investor buys two out-of-the-money put options with a specific strike price (lower strike). </li>
                        <li class="mt-3"><span>Short Put Option: </span>Simultaneously, the investor sells (writes) two out-of-the-money put options with a lower strike price than the long puts. </li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span>The maximum profit is limited and occurs if the underlying asset's price falls to the strike price of the short put options at expiration. The profit is capped at the net premium received from selling the short puts. </li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span> The maximum loss is limited and occurs if the underlying asset's price moves significantly below the strike price of the long put options. The loss is limited to the difference between the strike prices of the long puts minus the net premium received.    </li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>There are typically two break-even points based on the specifics of the options used. These points can be calculated based on the strike prices of the options.</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The primary goal of a Bearish Condor is to generate income by collecting premiums from selling the short put options while also benefiting from limited downside movement in the underlying asset.</li>
                        <li>The strategy is suitable when an investor has a moderately bearish outlook and expects the underlying asset's price to remain within a specific range.</li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                       <li>The risk is limited to the difference between the strike prices of the long put options minus the net premium received. This defines the maximum loss.</li>
                       <li>The strategy offers controlled risk with limited profit potential.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}