{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}

<h1 class="text-center text-secondary mt-4">Welcome Blog Page</h1>

<div class="container">




    <div aria-label="Page navigation example " style="    margin-top: 1rem;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
</div>
</div>

{% endblock dashboard_body %}