{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    .filter-button {
        padding: 5px 10px;
        border: none;
        margin-right: 10px;
        cursor: pointer;
        font-weight: 600;
        border-radius: 7px;
        background-color: transparent;
        color: rgba(0, 0, 0, 0.6);
        transition: 0.3s;
    }


    #language-dropdown {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    .news-column {
        display: flex;
        flex-direction: column;
        min-width: 33%;
    }

    .news-container {
        margin-bottom: 20px;

    }


    .card {
        cursor: pointer;
    }


    .card-text {
        display: flex;
        align-items: center;
    }

    .card-text i {
        margin-right: 5px;
    }

    .main_pub_source_icon {
        display: flex;
    }

    .main_icon_trim_expand {
        display: flex;
        align-items: center;
    }

    .active {
        background: #eef7fe !important;
        color: #2196f3 !important;

    }

    .activek {
        background: #eef7fe !important;
        color: #2196f3 !important;
    }

    .grid_icon {
        {% comment %} font-size: 24px; {% endcomment %}
        border: 1px solid;
        width: 29px;
        height: 28px;
        padding: 5px 6px;
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.637);
        cursor: pointer;

    }

    .list_icon {
        font-size: 21px;
        border: 1px solid !important;
        padding: 4px 4px !important;
        border-radius: 6px !important;
        color: rgba(0, 0, 0, 0.637);
        cursor: pointer;
        width: 29px;
        height: 28px;

    }

    @media screen and (max-width: 780px) {
        #news-container {

            flex-wrap: wrap;
        }

        .main_top_header {
            margin-bottom: 1rem !important;
        }

    }
</style>
<style>
    .card-body:hover .card-title {
        color: #2196f3;
       
    }
    .card-title{
        font-weight: 600;
    }

    .card:hover {
        --bs-card-border-color: #2196f3 !important;
        box-shadow: rgba(3, 115, 171, 0.388) 0px 1px 4px;
    }

    .main_top_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .right_news_head {
        display: flex;
        align-items: center;
        gap: 0.3rem;

    }

    .main_icon_trim_expand {
        gap: 0.3rem;
        transition: 0.3s;
    }
</style>
<style>
    .row1,
    .row2,
    .row3 {
        width: 32% !important;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        flex-wrap: wrap;
    }

    .main_placeholder_container {
        gap: 0.8rem;
        justify-content: center;
        flex-wrap: wrap;
    }


    .main_placeholder .placeholder-glow .placeholder {
        border-radius: 5px;
    }

    @media (max-width: 768px) {

        .row1,
        .row2,
        .row3 {
            width: 100% !important;

        }

        .main_placeholder_container {
            flex-wrap: wrap;
        }
    }
</style>
<script>
    $(document).ready(function () {

        $('#filter-indian').click(function () {
            var filter = 'IndianNews';
            $('#filter-indian').addClass('active');
            $('#filter-world').removeClass('active');
            $('#filter-ipo').removeClass('active');
            $('#filter-mutual').removeClass('active');
            var news_data=$(this).data("news")

            $('#language-dropdown').show();
            var language = $('#language-select').val();
            var url = '/get-news-data/?filter=' + filter + '&language=' + language;
            saveSettings(filter, 'English', 'grid',news_data);
            
            getNewsData(url);
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
        });


        $('#filter-world').click(function () {
            var filter = 'WorldNews';
            $('#filter-indian').removeClass('active');
            $('#filter-world').addClass('active');
            $('#filter-ipo').removeClass('active');
            $('#filter-mutual').removeClass('active');
          

            var news_data=$(this).data("news")
            $('#language-dropdown').hide();
            var url = '/get-news-data/?filter=' + filter + '&language=' + 'English';
            saveSettings(filter, 'English', 'grid',news_data);
            getNewsData(url);
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
        });

        $('#filter-ipo').click(function () {
            var filter = 'Iponews';
            $('#filter-indian').removeClass('active');
            $('#filter-world').removeClass('active');
            $('#filter-mutual').removeClass('active');
            $('#filter-ipo').addClass('active');   

       
            var news_data=$(this).data("news")
            $('#language-dropdown').hide();
            var url = '/All_ipo_news'
            saveSettings(filter, 'English', 'grid',news_data);
            getNewsData(url);
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
        });
        $('#filter-mutual').click(function () {
            var filter = 'mutualnews';
            $('#filter-indian').removeClass('active');
            $('#filter-world').removeClass('active');
            $('#filter-ipo').removeClass('active');   
            $('#filter-mutual').removeClass('active');   

            $('#filter-mutual').addClass('active');
            var news_data=$(this).data("news")
            $('#language-dropdown').hide();
            var url = '/All_mutual_news'
            saveSettings(filter, 'English', 'grid',news_data);
            getNewsData(url);
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
        });



        $('#language-select').change(function () {
            var news_data=$("#filter-indian").data("news")
            var filter = 'IndianNews';
            var language = $(this).val();
            var url = '/get-news-data/?filter=' + filter + '&language=' + language;
            saveSettings(filter, language, 'grid',news_data);
            getNewsData(url);
        });


        function saveSettings(filter, language, displayMode,news_data) {
            localStorage.setItem('newsFilter', filter);
            localStorage.setItem('newsLanguage', language);
            localStorage.setItem('displayMode', displayMode);
            localStorage.setItem('NewsData', news_data);
        }


        function getNewsData(url) {
            //console.log(url);
  
            
            $.ajax({
                url: url,
                type: 'GET',
                beforeSend: function () {
                    $('#news-container').html(`<div class="text-center  w-100 h-100">
                        
                        <div class="main_placeholder_container  d-flex">

                        <div class="row1">
                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 250px;"></span>
                                </div>
                            </div>

                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 250px;"></span>
                                </div>
                            </div>


                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 250px;"></span>
                                </div>
                            </div>

                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 250px;"></span>
                                </div>
                            </div>


                        </div>
                        <div class="row2">
                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 350px;"></span>
                                </div>
                            </div>
                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 350px;"></span>
                                </div>
                            </div>
                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 350px;"></span>
                                </div>
                            </div>
                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 350px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row3">

                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 250px;"></span>
                                </div>
                            </div>
                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 250px;"></span>
                                </div>
                            </div>
                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 250px;"></span>
                                </div>
                            </div>
                            <div class="main_placeholder">
                                <div class="placeholder-glow">
                                    <span class="placeholder  bg-secondary-subtle col-12" style="height: 250px;"></span>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                        
                        
                        </div>`);
                },
                success: function (data) {
                  
                 
                    updateNewsData(data);
                },
                error: function (error) {
                    //console.log(error);
                }
            });
        }

        function updateNewsData(data) {
            var NewsData = localStorage.getItem('NewsData');
            //console.log(NewsData);
            

            if (NewsData ==="world_news" || NewsData==="indian_news") {
                
            var newsContainer = $('#news-container');
            newsContainer.empty();


            var sortedData = data.resultData.sort(function (a, b) {
                var dateA = new Date(a.publishDate);
                var dateB = new Date(b.publishDate);
                return dateB - dateA;
            });


            var column1 = $('<div class="news-column"></div>');
            var column2 = $('<div class="news-column"></div>');
            var column3 = $('<div class="news-column"></div>');


            $.each(sortedData, function (index, newsData) {
                var newsItem = $('<div class="card mb-2"></div>');
                var cardBody = $('<div class="card-body"></div>');

                var title = $('<h5 class="card-title"></h5>').text(newsData.title);


                if (newsData.imageUrl) {
                    var image = newsData.imageUrl;
                    var imageElement = $('<img class="card-img-top">').attr('src', image);
                    cardBody.append(imageElement);
                }

                var clockIcon = $('<i class="bi bi-clock"></i>');

                function getTimeAgo(publishDate) {
                    var currentDate = new Date();
                    var newsDate = new Date(publishDate);

                    var timeDiff = Math.abs(currentDate.getTime() - newsDate.getTime());
                    var minutesDiff = Math.floor(timeDiff / (1000 * 60));
                    var hoursDiff = Math.floor(timeDiff / (1000 * 60 * 60));
                    var daysDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

                    if (minutesDiff < 60) {
                        return minutesDiff + ' minutes ago';
                    } else if (hoursDiff < 24) {
                        return hoursDiff + ' hours ago';
                    } else {
                        return daysDiff + ' days ago';
                    }
                }


                var publishDate = $('<p style="margin-bottom:auto"  class="card-text fw-light d-flex align-items-center"></p>').append(clockIcon).append(' ' + getTimeAgo(newsData.publishDate));

                var source = $('<p style="margin-bottom:auto" class="card-text fw-light d-flex align-items-center"></p>').append(newsData.source);
                var main_pub_source_icon = $('<p class="main_pub_source_icon fw-light"></p>').append(publishDate).append(`  /  `).append(source);

                var description = $('<p class="card-text fw-light description_news"></p>').text(newsData.description);
                if (description.text().split(' ').length > 50) {
                    var shortDescription = description.text().split(' ').slice(0, 50).join(' ') + '...';
                    description.text(shortDescription);
                }

                cardBody.append(title, main_pub_source_icon, description);
                newsItem.append(cardBody);


                newsItem.click(function () {
                    window.open(newsData.url, '_blank');
                });


                if (index % 3 === 0) {
                    column1.append(newsItem);
                } else if (index % 3 === 1) {
                    column2.append(newsItem);
                } else {
                    column3.append(newsItem);
                }
            });


            newsContainer.append(column1, column2, column3);
            }
            else{

    
    var newsContainer = $('#news-container');
    newsContainer.empty();

    var main_ipo = data.data;
    //console.log(main_ipo);
    var column1 = $('<div class="news-column"></div>');
    var column2 = $('<div class="news-column"></div>');
    var column3 = $('<div class="news-column"></div>');

    main_ipo.forEach((ipo, index) => { // Here, index is properly included in the parameters.
        var ipoText = ipo.Arttext;
var words = ipoText.split(' ');

var truncatedText = words.slice(0, 50).join(' ');
var index1 = truncatedText.indexOf('.');
var index2 = truncatedText.indexOf(':');

if (index1 !== -1 || index2 !== -1) {
    var splitIndex = index1 !== -1 && (index1 < index2 || index2 === -1) ? index1 : index2;
    truncatedText = truncatedText.substring(0, splitIndex + 1);
} else {
    truncatedText = words.slice(0, 50).join(' ') + ' ' + words.slice(50).join(' ');
}

//console.log(truncatedText);



        var newsItem = $('<div class="card mb-2"></div>');
        var cardBody = $('<div class="card-body"></div>');

        var title = $('<h5 class="card-title"></h5>').text(ipo.Heading); // Updated to 'ipo.Heading'.

        var clockIcon = $('<i class="bi bi-clock"></i>');

    
        var publishDate = $('<p style="margin-bottom:auto"  class="card-text fw-light d-flex align-items-center"></p>').append(clockIcon).append(' ' + ipo.Date.split('T')[0]);

        var source = $('<p style="margin-bottom:auto" class="card-text fw-light d-flex align-items-center"></p>').append(ipo.Section_name);

        var main_pub_source_icon = $('<p class="main_pub_source_icon fw-light"></p>').append(publishDate).append(`  /  `).append(source);

        var description = $('<p class="card-text fw-light description_news"></p>').append(truncatedText);

        cardBody.append(title, main_pub_source_icon, description);
        newsItem.append(cardBody);

        if (index % 3 === 0) {
            column1.append(newsItem);
        } else if (index % 3 === 1) {
            column2.append(newsItem);
        } else {
            column3.append(newsItem);
        }
    });

    newsContainer.append(column1, column2, column3);
}

        }


        function updateDisplayMode() {
            var displayMode = localStorage.getItem('displayMode');
            if (displayMode === 'list') {
                $('.description_news').hide();
            } else {
                $('.description_news').show();
            }
        }


        var savedFilter = localStorage.getItem('newsFilter');
var savedLanguage = localStorage.getItem('newsLanguage');
if (savedFilter && savedLanguage) {
    $('#language-select').val(savedLanguage);
    if (savedFilter === 'IndianNews') {
        $('#filter-indian').addClass('active');
        $('#filter-world').removeClass('active');
        $('#filter-ipo').removeClass('active');
        $('#filter-mutual').removeClass('active');
        $('#language-dropdown').show();
        var url = '/get-news-data/?filter=' + savedFilter + '&language=' + savedLanguage;
        getNewsData(url);
    } else if (savedFilter === "WorldNews") {
        $('#filter-indian').removeClass('active');
        $('#filter-world').addClass('active');
        $('#filter-ipo').removeClass('active');
        $('#filter-mutual').removeClass('active');
        $('#language-dropdown').hide();
        var url = '/get-news-data/?filter=' + savedFilter + '&language=' + savedLanguage;
        getNewsData(url);
    } else if (savedFilter === "Iponews") {
        $('#filter-indian').removeClass('active');
        $('#filter-world').removeClass('active');
        $('#filter-ipo').addClass('active');
        $('#filter-mutual').removeClass('active');
        $('#language-dropdown').hide();
        var url = '/All_ipo_news';
        getNewsData(url);
    } else if (savedFilter === "mutualnews") {
        $('#filter-indian').removeClass('active');
        $('#filter-world').removeClass('active');
        $('#filter-ipo').removeClass('active');
        $('#filter-mutual').addClass('active');
        $('#language-dropdown').hide();
        var url = '/All_mutual_news';
        getNewsData(url);
    }
} else {
    //console.log('Hii ther false');
    saveSettings('IndianNews', 'English', 'grid',"indian_news");
    getNewsData('/get-news-data/?filter=IndianNews&language=English');
}


        var savedDisplayMode = localStorage.getItem('displayMode');
        if (!savedDisplayMode) {
            savedDisplayMode = 'grid';
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
            localStorage.setItem('displayMode', savedDisplayMode);
        }



        updateDisplayMode();




        $('.list_icon').on('click', function () {
            $('.list_icon').addClass('activek');
            $('.grid_icon').removeClass('activek');
            $('.description_news').hide();
        })

        $('.grid_icon').on('click', function () {
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
            $('.description_news').show();
        })
        $('.grid_icon').addClass('activek');
       
    });
</script>


<style>

    .description_news{
        display: flex;
    flex-direction: column;
    }
</style>

<div class="container py-4">
    <div class="main_top_header">
        <div class="left_news_head">
            <div class="mb-3" style="    display: flex;
            white-space: nowrap;
        ">
                <button id="filter-indian" class="filter-button active" data-news="indian_news">India News</button>
                <button id="filter-world" class="filter-button" data-news="world_news">World News</button>
                <button id="filter-ipo" class="filter-button" data-news="ipo_news">IPO News</button>
                <button id="filter-mutual" class="filter-button" data-news="mutual_news">Mutual Fund News</button>
            </div>
        </div>
        <div class="right_news_head">

            <div id="language-dropdown">
                <label for="language-select" style="white-space: nowrap; font-size: small;">View by
                    Language:</label>
                <select id="language-select" class="form-select form-select-sm ">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                </select>
            </div>


            <div class="main_icon_trim_expand">
                <div class="grid_icon">
                    <i class='bx bxs-grid'></i>
                </div>
                <div class="list_icon">
                    <i class="bi bi-list"></i>
                </div>
            </div>







        </div>

    </div>





    <div id="news-container" class="d-flex gap-2"></div>
</div>
{% endblock dashboard_body %}