{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    .filter-button {
        padding: 5px 10px;
        border: none;
        margin-right: 10px;
        cursor: pointer;
        font-weight: 600;
        border-radius: 7px;
        background-color: transparent;
        color: rgba(0, 0, 0, 0.6);
        transition: 0.3s;
    }


    #language-dropdown {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    .news-column {
        display: flex;
        flex-direction: column;
        min-width: 33%;
    }

    .news-container {
        margin-bottom: 20px;
    }

    .card {
        cursor: pointer;
    }


    .card-text {
        display: flex;
        align-items: center;
    }

    .card-text i {
        margin-right: 5px;
    }

    .main_pub_source_icon {
        display: flex;
    }

    .main_icon_trim_expand {
        display: flex;
        align-items: center;
    }

    .active {
        background: #eef7fe !important;
        color: #2196f3 !important;

    }

    .activek {
        background: #eef7fe !important;
        color: #2196f3 !important;
    }

    .grid_icon {
        font-size: 24px;
        border: 1px solid;
        width: 29px;
        height: 28px;
        padding: 5px 6px;
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.637);
        cursor: pointer;

    }

    .list_icon {
        font-size: 21px;
        border: 1px solid !important;
        padding: 4px 4px !important;
        border-radius: 6px !important;
        color: rgba(0, 0, 0, 0.637);
        cursor: pointer;
        width: 29px;
        height: 28px;
    
    }
</style>
<script>
    $(document).ready(function () {
       
        $('#filter-indian').click(function () {
            var filter = 'IndianNews';
            $('#filter-indian').addClass('active');
            $('#filter-world').removeClass('active');
            $('#language-dropdown').show();
            var language = $('#language-select').val();
            var url = '/get-news-data/?filter=' + filter + '&language=' + language;
            saveSettings(filter, language, 'grid');
            getNewsData(url);
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
        });

       
        $('#filter-world').click(function () {
            var filter = 'WorldNews';
            $('#filter-indian').removeClass('active');
            $('#filter-world').addClass('active');
            $('#language-dropdown').hide();
            var url = '/get-news-data/?filter=' + filter + '&language=' + 'English';
            saveSettings(filter, 'English', 'grid');
            getNewsData(url);
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
        });


        $('#language-select').change(function () {
            var filter = 'IndianNews';
            var language = $(this).val();
            var url = '/get-news-data/?filter=' + filter + '&language=' + language;
            saveSettings(filter, language, 'grid');
            getNewsData(url);
        });

        
        function saveSettings(filter, language, displayMode) {
            localStorage.setItem('newsFilter', filter);
            localStorage.setItem('newsLanguage', language);
            localStorage.setItem('displayMode', displayMode);
        }

    
        function getNewsData(url) {
            $.ajax({
                url: url,
                type: 'GET',
                beforeSend: function () {
                    $('#news-container').html('<div class="text-center py-5 w-100 h-100"><div class="spinner-border text-info" role="status"></div></div>');
                },
                success: function (data) {
                    updateNewsData(data); 
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function updateNewsData(data) {
            var newsContainer = $('#news-container');
            newsContainer.empty(); 

          
            var sortedData = data.resultData.sort(function (a, b) {
                var dateA = new Date(a.publishDate);
                var dateB = new Date(b.publishDate);
                return dateB - dateA;
            });

    
            var column1 = $('<div class="news-column"></div>');
            var column2 = $('<div class="news-column"></div>');
            var column3 = $('<div class="news-column"></div>');

          
            $.each(sortedData, function (index, newsData) {
                var newsItem = $('<div class="card mb-2"></div>');
                var cardBody = $('<div class="card-body"></div>');

                var title = $('<h5 class="card-title"></h5>').text(newsData.title);

            
                if (newsData.imageUrl) {
                    var image = newsData.imageUrl;
                    var imageElement = $('<img class="card-img-top">').attr('src', image);
                    cardBody.append(imageElement);
                }

                var clockIcon = $('<i class="bi bi-clock"></i>');
              
                function getTimeAgo(publishDate) {
                    var currentDate = new Date();
                    var newsDate = new Date(publishDate);

                    var timeDiff = Math.abs(currentDate.getTime() - newsDate.getTime());
                    var minutesDiff = Math.floor(timeDiff / (1000 * 60));
                    var hoursDiff = Math.floor(timeDiff / (1000 * 60 * 60));
                    var daysDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

                    if (minutesDiff < 60) {
                        return minutesDiff + ' minutes ago';
                    } else if (hoursDiff < 24) {
                        return hoursDiff + ' hours ago';
                    } else {
                        return daysDiff + ' days ago';
                    }
                }

          
                var publishDate = $('<p style="margin-bottom:auto"  class="card-text d-flex align-items-center"></p>').append(clockIcon).append(' ' + getTimeAgo(newsData.publishDate));

                var source = $('<p style="margin-bottom:auto" class="card-text d-flex align-items-center"></p>').append(newsData.source);
                var main_pub_source_icon = $('<p class="main_pub_source_icon"></p>').append(publishDate).append(' / ').append(source);

                var description = $('<p class="card-text description"></p>').text(newsData.description);
                if (description.text().split(' ').length > 50) {
                    var shortDescription = description.text().split(' ').slice(0, 50).join(' ') + '...';
                    description.text(shortDescription);
                }

                cardBody.append(title, main_pub_source_icon, description);
                newsItem.append(cardBody);

                
                newsItem.click(function () {
                    window.open(newsData.url, '_blank');
                });

               
                if (index % 3 === 0) {
                    column1.append(newsItem);
                } else if (index % 3 === 1) {
                    column2.append(newsItem);
                } else {
                    column3.append(newsItem);
                }
            });

         
            newsContainer.append(column1, column2, column3);
        }

      
        function updateDisplayMode() {
            var displayMode = localStorage.getItem('displayMode');
            if (displayMode === 'list') {
                $('.description').hide();
            } else {
                $('.description').show();
            }
        }

    
        var savedFilter = localStorage.getItem('newsFilter');
        var savedLanguage = localStorage.getItem('newsLanguage');
        if (savedFilter && savedLanguage) {
            $('#language-select').val(savedLanguage);
            if (savedFilter === 'IndianNews') {
                $('#filter-indian').addClass('active');
                $('#filter-world').removeClass('active');
                $('#language-dropdown').show();
            } else {
                $('#filter-indian').removeClass('active');
                $('#filter-world').addClass('active');
                $('#language-dropdown').hide();
            }
            var url = '/get-news-data/?filter=' + savedFilter + '&language=' + savedLanguage;
            getNewsData(url);
        }

        
        var savedDisplayMode = localStorage.getItem('displayMode');
        if (!savedDisplayMode) {
            savedDisplayMode = 'grid';
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
            localStorage.setItem('displayMode', savedDisplayMode);
        }


    
        updateDisplayMode();

     


        $('.list_icon').on('click', function () {
            $('.list_icon').addClass('activek');
            $('.grid_icon').removeClass('activek');
            $('.description').hide();
        })

        $('.grid_icon').on('click', function () {
            $('.list_icon').removeClass('activek');
            $('.grid_icon').addClass('activek');
            $('.description').show();
        })
        $('.grid_icon').addClass('activek');
        getNewsData('/get-news-data/?filter=IndianNews&language=English');
    });
</script>
</head>
<style>
.card-body:hover .card-title{
    color: #2196f3;
}
.card:hover {
    --bs-card-border-color: #2196f3 !important;
    box-shadow: rgba(3, 115, 171, 0.388) 0px 1px 4px;
}
.main_top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_news_head {
    display: flex;
    align-items: center;
    gap: 0.3rem;

}
.main_icon_trim_expand{
    gap: 0.3rem;
    transition: 0.3s;
}
</style>

<body>
<div class="container py-4">
    <div class="main_top_header">
        <div class="left_news_head">
            <div class="mb-3">
                <button id="filter-indian" class="filter-button active">Indian News</button>
                <button id="filter-world" class="filter-button">World News</button>
            </div>
        </div>
        <div class="right_news_head">

            <div id="language-dropdown">
                <label for="language-select" style="white-space: nowrap; font-size: small;">View by
                    Language:</label>
                <select id="language-select" class="form-select form-select-sm ">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                </select>
            </div>


            <div class="main_icon_trim_expand">
                <div class="grid_icon">
                    <i class='bx bxs-grid'></i>
                </div>
                <div class="list_icon">
                    <i class="bi bi-list"></i>
                </div>
            </div>







        </div>

    </div>





    <div id="news-container" class="d-flex gap-2"></div>
</div>
{% endblock dashboard_body %}
