{% extends "base_admin_panel.html" %}
{% load static %}
{% block dashboard_admin_body %}


<style>
    .books_btn{
        background-color: #2196f3;
        border: 1px solid #2196f3;
        padding: 10px !important;
        color: white;
        border-radius: 8px;
    }

    .books_btn:hover{
        background-color: white;
        color: #2196f3;
        border: 1px solid #2196f3;
        
    }

    .delete-btn{
    font-size: 25px;
    color: grey;
    }

    .delete-btn:hover{
    color: red !important;
    }

    #bookTable thead tr{
        background: -webkit-gradient(linear, left top, left bottom, from(#4399eb), to(#5cadfb));
    background: -moz-linear-gradient(top, #4399eb 0, #5cadfb 100%);
    background: linear-gradient(180deg, #4399eb, #5cadfb);
    color: #fff;
    }

    .border_collapsed {
    border-color: inherit !important;
    border: none;
    border-bottom-style: inherit !important;
    border-width: 1 !important;
}

.table-striped-custom>tbody>tr:nth-child(2n)>td,
  .table-striped-custom>tbody>tr:nth-child(2n)>th {
    background-color: rgb(240, 247, 253) !important;
  }

  .book_boxes{
    background: white;
    padding: 35px 21px;
    border-radius: 8px;
  }
.books_btn{
    text-align:right;
}
#bookForm{
    padding:3rem;
}
</style>

<section class="mt-3">
  
    <div class="book_boxes">

        <div class="text-right" style="text-align:right;">
            <button class="books_btn"  id="addBooksBtn" >ADD BOOKS</button>
        </div>

        <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addBookModalLabel">Add Book</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12" id="bookForm">
                            <div class="mb-3">
                                <label for="id_title" class="form-label">Title:</label>
                                <input type="text" name="title" id="id_title" class="form-control" required>
                                <div class="invalid-feedback">Please enter a title.</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="id_author_name" class="form-label">Author Name:</label>
                                        <input type="text" name="author_name" id="id_author_name" class="form-control" required>
                                        <div class="invalid-feedback">Please enter author name</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="id_publish_date" class="form-label">Publish Date:</label>
                                        <input type="date" name="publish_date" id="id_publish_date" class="form-control" required>
                                        <div class="invalid-feedback">Please enter publish date</div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="mb-3">
                                <label for="id_description" class="form-label">Description:</label>
                                <textarea name="description" id="id_description" class="form-control" required></textarea>
                                <div class="invalid-feedback">Please enter a description.</div>
                            </div>
                        
                            <div class="mb-3">
                                <label for="id_image" class="form-label">Image:</label>
                                <input type="file" name="image" id="id_image" class="form-control" required>
                                <div class="invalid-feedback">Please choose an image.</div>
                            </div>
                        
                            <div class="mb-3">
                                <label for="id_page" class="form-label">Page:</label>
                                <input type="number" name="page" id="id_page" class="form-control" required>
                                <div class="invalid-feedback">Please enter a valid page number.</div>
                            </div>
                        
                            <div class="mb-3">
                                <label for="id_read_sample" class="form-label">Read Sample (Enter URLs, one per line):</label>
                                <textarea name="read_sample" id="id_read_sample" class="form-control" required></textarea>
                                <div class="invalid-feedback">Please enter valid urls.</div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                    <div class="mb-3">
                                        <label for="id_book_category" class="form-label">Book Category:</label>
                                        <select name="book_category" id="id_book_category" class="form-control" required>
                                            <option value="Trading">Trading</option>
                                            <option value="Option Trading">Option Trading</option>
                                            <option value="Investment">Investment</option>
                                            <option value="Technical Analysis">Technical Analysis</option>
                                        </select>
                                        <div class="invalid-feedback">Please select a book category.</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="mb-3">
                                        <label for="id_book_language" class="form-label">Language</label>
                                        <select name="book_language" id="id_book_language" class="form-control" required>
                                            <option value="English">English</option>
                                            <option value="Hindi">Hindi</option>
                                        </select>
                                        <div class="invalid-feedback">Please select a language.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                
                             <div class="col-lg-6">
                                 <div class="mb-3">
                                     <label for="id_price" class="form-label">Price:</label>
                                     <input type="number" step="0.01" name="price" id="id_price" class="form-control" required>
                                     <div class="invalid-feedback">Please enter price</div>
                                 </div>
                             </div>
                             <div class="col-lg-6">
                                 <div class="mb-3">
                                     <label for="id_discount_price" class="form-label">Discount Price:</label>
                                     <input type="number" step="0.01" name="discount_price" id="id_discount_price" class="form-control" required>
                                     <div class="invalid-feedback">Discount price</div>
                                 </div>
                             </div>
                            
                            </div>
                        
                           
                        
                            <button class="btn btn-primary" type="submit" id="submitBtn">Submit</button>
                        </div>
                        
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save Book</button>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="row mt-3">
           
    
    
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped-custom mt-5" id="bookTable" >
                        <thead class="mt-5" style="white-space:nowrap;">
                            <tr>
                                <th scope="col">SL NO.</th>
                                <th scope="col">Image</th>
                                <th scope="col">Title</th>
                                <th scope="col">Author Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Pages</th>
                                <th scope="col">Price</th>
                                <th scope="col">Discount Price</th>
                                <th scope="col">Book Category</th>
                                <th scope="col">Publish Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="book_table_body">
        
                        </tbody>
                    </table>
                </div>
            </div>
    
        </div>
    </div>

  
</section>

<script>

    $(document).ready(function () {

        // $('#submitBtn').on('click', function () {


        //     const readSampleValue = $('#id_read_sample').val();
        //     let readSampleArray = [];

        //     try {
        //         readSampleArray = JSON.parse(readSampleValue);

        //         // Ensure readSampleArray is an array
        //         if (!Array.isArray(readSampleArray)) {
        //             throw new Error('Invalid JSON format for read_sample');
        //         }
        //     } catch (error) {
        //         console.error('Error parsing read_sample:', error);
        //     }

        //     // Collect form data
        //     const formData = {
        //         title: $('#id_title').val(),
        //         description: $('#id_description').val(),
        //         imgUrl: $('#id_imgUrl').val(),
        //         page: $('#id_page').val(),
        //         read_sample: readSampleArray,
        //         book_category: $('#id_book_category').val(),
        //     };

        //     // Send a POST request using AJAX
        //     const csrftoken = getCookie('csrftoken');
        //     $.ajax({
        //         type: 'POST',
        //         url: 'http://localhost:8001/books_list',  // Adjust the URL to your API endpoint
        //         contentType: 'application/json',
        //         data: JSON.stringify(formData),
        //         headers: {
        //             'X-CSRFToken': csrftoken,
        //         },
        //         success: function (response) {
        //             // Handle success
        //             console.log('Data sent successfully:', response);
        //         },
        //         error: function (error) {
        //             // Handle error
        //             console.error('Error sending data:', error);
        //         }
        //     });
        // });

        $('#addBooksBtn').on('click', function () {
    // Trigger the modal to open
    $('#addBookModal').modal('show');
});





    $('#submitBtn').on('click', function () {

        validateForm();
    // Create a FormData object to handle file uploads
    const formData = new FormData();

    // Add non-file fields to FormData
    formData.append('title', $('#id_title').val());
    formData.append('description', $('#id_description').val());
    formData.append('page', $('#id_page').val());
    formData.append('book_category', $('#id_book_category').val());
    formData.append('book_language', $('#id_book_language').val());
    formData.append('price', $('#id_price').val());
    formData.append('discount_price', $('#id_discount_price').val());
    formData.append('publish_date', $('#id_publish_date').val());
    formData.append('author', $('#id_author_name').val());

    // Add main book image
    const mainImageInput = $('#id_image')[0].files[0];
    formData.append('image', mainImageInput);

    // Add read samples
    const readSampleUrls = $('#id_read_sample').val().split('\n').map(url => url.trim());
    console.log(readSampleUrls);
    formData.append('read_sample', JSON.stringify(readSampleUrls));
    
    
    // Send a POST request using AJAX with FormData
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: '/books_list',  // Adjust the URL to your API endpoint
        processData: false,  // Prevent jQuery from processing the data
        contentType: false, // Prevent jQuery from setting contentType
        data: formData,
        headers: {
            'X-CSRFToken': csrftoken,
        },
        success: function (response) {

            $('#id_title').val('');
            $('#id_description').val('');
            $('#id_page').val('');
            $('#id_book_category').val('');
            $('#id_image').val('');
            $('#id_read_sample').val('');
            $('#id_author_name').val('')
            $('#id_publish_date').val('')
            $('#id_price').val('')
            $('#id_discount_price').val('')
            // Handle success
            console.log('Data sent successfully:', response);
        },
        error: function (error) {
            // Handle error
            console.error('Error sending data:', error);
        }
    });
});


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Check if the cookie name matches the expected format
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


       // Function to delete a book
function deleteBook(bookId, rowId) {
  
  $.ajax({
    type: 'DELETE',
    url: `/books_list/${bookId}`,  
    success: function (response) {
      console.log('Book deleted successfully:', response);

      // Remove the corresponding row from the table
      $(`#${rowId}`).remove();
    },
    error: function (error) {
      console.error('Error deleting book:', error);
    }
  });
}


// Event delegation for the Delete button
$('#bookTable tbody').on('click', '.delete-btn', function () {
  const bookId = $(this).data('book-id');
  const rowId = $(this).closest('tr').attr('id');

  deleteBook(bookId, rowId);
});


        function fetchBooks() {
    $.ajax({
      type: 'GET',
      url: '/books_list',  // Adjust the URL to your API endpoint
      success: function (data) {
        // Clear existing table data
        $('.book_table_body').empty();

        // Iterate through each book and append a new row to the table
        data.forEach(function (book, index) {

            const rowId = `bookRow_${book.id}`;

            const maxDescriptionLength = 50;
    const truncatedDescription = book.description.length > maxDescriptionLength ? `${book.description.substring(0, maxDescriptionLength)}...` : book.description;

    const descriptionHtml = book.description.length > maxDescriptionLength
        ? `<div class="description">${truncatedDescription}<span class="read-more" data-row-id="${rowId}"> Read more</span></div>`
        : `<div class="description">${book.description}</div>`;
            
          $('.book_table_body').append(
            `<tr id="${index+1}">
               <td>${index+1}</td>
               <td> <img src="${book.image}" alt="Book Image" style="max-width: 30px;"> </td>
               <td>${book.title}</td>
               <td>${book.author}</td>
               <td>${descriptionHtml}</td>
               <td>${book.page}</td>
               <td>${book.price}</td>
               <td>${book.discount_price}</td>
               <td>${book.book_category}</td>
               <td>${book.publish_date}</td>
               <td>
          
               <i class="bi bi-trash delete-btn" data-book-id="${book.id}")"></i>
               </td>
             </tr>`
          );
        });

        $("#bookTable").DataTable()
      },
      error: function (error) {
        console.error('Error fetching data:', error);
      }
    });
  }

  // Fetch data when the page loads
  fetchBooks();


  function validateForm() {
    const inputs = document.querySelectorAll('#bookForm input, #bookForm select, #bookForm textarea');

    inputs.forEach(input => {
        input.classList.remove('is-invalid');
    });

    let isValid = true;

    inputs.forEach(input => {
        if (!input.checkValidity()) {
            isValid = false;
            input.classList.add('is-invalid');
        }
    });

    if (isValid) {
        // Perform the form submission or other actions
        alert('Form is valid. Submitting...');
    }
}

    });
</script>
{% endblock dashboard_admin_body %}