{% extends "base_admin_panel.html" %}
{% load static %}
{% block dashboard_admin_body %}


<style>
    .books_btn{
        background-color: #2196f3;
        border: 1px solid #2196f3;
        padding: 10px !important;
        color: white;
        border-radius: 8px;
    }

    .books_btn:hover{
        background-color: white;
        color: #2196f3;
        border: 1px solid #2196f3;
        
    }

    .delete-btn{
    font-size: 25px;
    color: grey;
    }

    .delete-btn:hover{
    color: red !important;
    }

    #bookTable thead tr{
        background: -webkit-gradient(linear, left top, left bottom, from(#4399eb), to(#5cadfb));
    background: -moz-linear-gradient(top, #4399eb 0, #5cadfb 100%);
    background: linear-gradient(180deg, #4399eb, #5cadfb);
    color: #fff;
    }

    .border_collapsed {
    border-color: inherit !important;
    border: none;
    border-bottom-style: inherit !important;
    border-width: 1 !important;
}

.table-striped-custom>tbody>tr:nth-child(2n)>td,
  .table-striped-custom>tbody>tr:nth-child(2n)>th {
    background-color: rgb(240, 247, 253) !important;
  }

</style>

<section class="mt-5">
  
    <button class="books_btn"  id="addBooksBtn" >ADD BOOKS</button>


    <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBookModalLabel">Add Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label for="id_title">Title:</label>
                            <input type="text" name="title" id="id_title" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_description">Description:</label>
                            <textarea name="description" id="id_description" class="form-control" required></textarea>
                        </div>
            
                        <div class="mb-3">
                            <label for="id_image">Image:</label>
                            <input type="file" name="image" id="id_image" class="form-control" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="id_page">Page:</label>
                            <input type="number" name="page" id="id_page" class="form-control" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="id_read_sample">Read Sample (Enter URLs, one per line):</label>
                            <textarea name="read_sample" id="id_read_sample" class="form-control"></textarea>
                        </div>
            
                        <div class="mb-3">
                            <label for="id_book_category">Book Category:</label>
                            <select name="book_category" id="id_book_category" class="form-control" required>
                                <option value="Trading">Trading</option>
                                <option value="Option Trading">Option Trading</option>
                                <option value="Investment">Investment</option>
                                <option value="Technical Analysis">Technical Analysis</option>
                            </select>
                        </div>
            
                        <button class="btn btn-primary" type="submit" id="submitBtn">Submit</button>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save Book</button>
                </div> -->
            </div>
        </div>
    </div>
  
    <div class="row mt-3">
       


        <div class="col-lg-12">
            <table class="table table-striped-custom" id="bookTable" >
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image URL</th>
                        <th scope="col">Read Sample</th>
                        <th scope="col">Book Category</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>
</section>

<script>

    $(document).ready(function () {

        // $('#submitBtn').on('click', function () {


        //     const readSampleValue = $('#id_read_sample').val();
        //     let readSampleArray = [];

        //     try {
        //         readSampleArray = JSON.parse(readSampleValue);

        //         // Ensure readSampleArray is an array
        //         if (!Array.isArray(readSampleArray)) {
        //             throw new Error('Invalid JSON format for read_sample');
        //         }
        //     } catch (error) {
        //         console.error('Error parsing read_sample:', error);
        //     }

        //     // Collect form data
        //     const formData = {
        //         title: $('#id_title').val(),
        //         description: $('#id_description').val(),
        //         imgUrl: $('#id_imgUrl').val(),
        //         page: $('#id_page').val(),
        //         read_sample: readSampleArray,
        //         book_category: $('#id_book_category').val(),
        //     };

        //     // Send a POST request using AJAX
        //     const csrftoken = getCookie('csrftoken');
        //     $.ajax({
        //         type: 'POST',
        //         url: 'http://localhost:8001/books_list',  // Adjust the URL to your API endpoint
        //         contentType: 'application/json',
        //         data: JSON.stringify(formData),
        //         headers: {
        //             'X-CSRFToken': csrftoken,
        //         },
        //         success: function (response) {
        //             // Handle success
        //             console.log('Data sent successfully:', response);
        //         },
        //         error: function (error) {
        //             // Handle error
        //             console.error('Error sending data:', error);
        //         }
        //     });
        // });

        $('#addBooksBtn').on('click', function () {
    // Trigger the modal to open
    $('#addBookModal').modal('show');
});


    $('#submitBtn').on('click', function () {
    // Create a FormData object to handle file uploads
    const formData = new FormData();

    // Add non-file fields to FormData
    formData.append('title', $('#id_title').val());
    formData.append('description', $('#id_description').val());
    formData.append('page', $('#id_page').val());
    formData.append('book_category', $('#id_book_category').val());

    // Add main book image
    const mainImageInput = $('#id_image')[0].files[0];
    formData.append('image', mainImageInput);

    // Add read samples
    const readSampleUrls = $('#id_read_sample').val().split('\n').map(url => url.trim());
    console.log(readSampleUrls);
    formData.append('read_sample', JSON.stringify(readSampleUrls));
    
    
    // Send a POST request using AJAX with FormData
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: '/books_list',  // Adjust the URL to your API endpoint
        processData: false,  // Prevent jQuery from processing the data
        contentType: false, // Prevent jQuery from setting contentType
        data: formData,
        headers: {
            'X-CSRFToken': csrftoken,
        },
        success: function (response) {

            $('#id_title').val('');
            $('#id_description').val('');
            $('#id_page').val('');
            $('#id_book_category').val('');
            $('#id_image').val('');
            $('#id_read_sample').val('');
            // Handle success
            console.log('Data sent successfully:', response);
        },
        error: function (error) {
            // Handle error
            console.error('Error sending data:', error);
        }
    });
});


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Check if the cookie name matches the expected format
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


       // Function to delete a book
function deleteBook(bookId, rowId) {
  
  $.ajax({
    type: 'DELETE',
    url: `/books_list/${bookId}`,  
    success: function (response) {
      console.log('Book deleted successfully:', response);

      // Remove the corresponding row from the table
      $(`#${rowId}`).remove();
    },
    error: function (error) {
      console.error('Error deleting book:', error);
    }
  });
}


// Event delegation for the Delete button
$('#bookTable tbody').on('click', '.delete-btn', function () {
  const bookId = $(this).data('book-id');
  const rowId = $(this).closest('tr').attr('id');

  deleteBook(bookId, rowId);
});


        function fetchBooks() {
    $.ajax({
      type: 'GET',
      url: '/books_list',  // Adjust the URL to your API endpoint
      success: function (data) {
        // Clear existing table data
        $('#bookTable tbody').empty();

        // Iterate through each book and append a new row to the table
        data.forEach(function (book) {

            const rowId = `bookRow_${book.id}`;
          $('#bookTable tbody').append(
            `<tr id="${rowId}">
               <td>${book.id}</td>
               <td>${book.title}</td>
               <td>${book.description}</td>
               <td> <img src="${book.image}" alt="Book Image" style="max-width: 30px;"> </td>
               <td>${book.page}</td>
               <td>${book.book_category}</td>
               <td>
          
               <i class="bi bi-trash delete-btn" data-book-id="${book.id}")"></i>
               </td>
             </tr>`
          );
        });
      },
      error: function (error) {
        console.error('Error fetching data:', error);
      }
    });
  }

  // Fetch data when the page loads
  fetchBooks();

    });
</script>
{% endblock dashboard_admin_body %}