{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}


<style>

    /* gfff */

    .tracks {
        padding: 3rem;
    }

    .leaning_boxes {
        transition: 0.3s;
    }

    .leaning_boxes:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


    .course_card {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 10px;
    }

    .learning_card_header {
        padding: 2rem !important;
        max-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f4f7;
    }

    .footer_download {
        color: #2397f3;
        font-weight: 600 !important;
    }

    .courses_icon {
        background: #279af4;
        padding: 15px;
        border-radius: 10px;
        color: white;
        font-size: 25px;
    }

    .card_one {
        padding: 30px;
        border-radius: 20px;
        /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    }

    span {
        font-weight: 400 !important;
    }

    p {
        font-size: 13px !important;
        font-weight: 400 !important;
    }

    .rating {
        background-color: #fffaeb;
        padding: 8px;
        border-radius: 10px;
    }

    /* .content-grid-3 {
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        display: grid;

    } */

    .w-dyn-item {
        /* border: 1px solid #eaecf0; */
        width: 100%;
        border-radius: 1rem;
        display: flex;
    flex-direction: column;

    justify-content: space-between;
    }

    .split-card-outlined {
        width: 100%;
        border: 1px solid var(--gray200);
        border-radius: 1rem;
        overflow: hidden;
    }

    .card_section {
        padding: 0px 60px 16px 40px;
        overflow: hidden;
        position: relative;
    }

    .card_section_main_img{
        padding: 1rem;
        overflow: hidden;
        position: relative;
    }

    .background-color-gray100 {
        border-radius: 1rem 1rem 0 0;
        /* background-color: #f2f4f7;  */
    }
.shadow_header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px ;
}
    .card-category-head.card-library-head {
        max-height: 300px;
        justify-content: center;
        /* align-items: center; */
    }

    .card-category-head {
        flex-direction: column;
        flex: 0 auto;
        justify-content: space-between;
        padding: 24px 30px;
        display: flex;
    }

    .shadow-small-oa {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .05);
    }

    .margin-bottom,
    .margin-bottom.margin-xxsmall,
    .margin-bottom.margin-small,
    .margin-bottom.margin-medium,
    .margin-bottom.margin-xsmall,
    .margin-bottom.margin-xxlarge,
    .margin-bottom.margin-large,
    .margin-bottom.margin-xlarge,
    .margin-bottom.margin-tiny {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .text-style-2lines {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .expanded {
        -webkit-line-clamp: unset;
        /* Remove the line clamp */
        overflow: visible;
        /* Show all content */
    }

    .button-row-new {
        grid-column-gap: 0.75rem;
        grid-row-gap: 0.75rem;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
    }

    .button-link {
        grid-column-gap: 0.5rem;
        color: var(--primary800);
        white-space: nowrap;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-weight: 500;
        text-decoration: none;
        transition: all .3s;
        display: flex;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {

        color: black;
    }

    .heading-xxsmall {
        letter-spacing: 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
    }


    .text-size-small {
        letter-spacing: normal !important;
        font-size: .75rem !important;
        font-weight: 500 !important;
    }
    .text-size-small span{
        font-weight: 600 !important;
    }

    .download_book {
        color: #2397f3;
    }

    .read-more {
        color: #2196f3;
    }

    .read_sample_btn{
        background-color: #2196f3;
    }
    .read_sample_btn:hover{
        background-color: white;
        color: #2196f3;
        border: 1px solid #2196f3;
    }


    .content-grid-3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1rem;
        overflow-x: auto;
        max-width: 100%;
    }

    .description{
        padding-bottom: 0 !important;
    }

    .btn:hover {
        color: black !important;
        background-color: #dee2e6 !important;
        border-color: #dee2e6 !important;
    }

    #book_category_dropdown a:active {
    color: black !important;
    text-decoration: none;
    background-color: rgb(237 163 157 / 10%) !important;
}

#book_category_dropdown a:focus{
    background-color: rgb(237 163 157 / 10%) !important;
}
 #book_category_dropdown a:hover {
    
    background: rgb(237 163 157 / 10%) !important;
}



    @media (min-width: 1250px) {
        .content-grid-3 {
            grid-template-columns: repeat(4, minmax(250px, 1fr));
        }
    }

    @media (min-width: 3000px) {
        .content-grid-3 {
            grid-template-columns: repeat(5, minmax(250px, 1fr));
        }
    }

    #title_books{
        padding: 6px 2.7rem;

    }


    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        right: -78px !important;
    }
   
    .read-more span{
        color: #fec84b;
    }
    
</style>



<section class="tracks mt-3">


    <div class="search_book_sort d-flex align-items-center justify-content-between">
       
        <div class="d-flex align-items-center gap-4">
            <div class="language_filter">
                <select id="language-select" class="form-select form-select-sm">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                </select>
            </div>
            <div class="dropdown">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Category
                </button>
                <div class="dropdown-menu" aria-labelledby="sortDropdown" id="book_category_dropdown">
                    <a class="dropdown-item sort-btn" href="#" data-sort="">All</a>
                    <a class="dropdown-item sort-btn" href="#" data-sort="Trading">Trading</a>
                    <a class="dropdown-item sort-btn" href="#" data-sort="Option Trading">Option trading</a>
                    <a class="dropdown-item sort-btn" href="#" data-sort="Investment">Investment</a>
                    <a class="dropdown-item sort-btn" href="#" data-sort="Technical Analysis">Technical Analysis</a>
                </div>

            </div>
            
        </div>
        <input type="text" id="search_book" class="form-control form-control-sm" style="width: fit-content;" placeholder="Search">

    </div>

    <div class="content-grid-3 w-dyn-items mt-4 ">

    </div>

</section>

<script>




    $(document).ready(function () {

        function fetchBooks() {
            $.ajax({
                type: 'GET',
                url: '/books_list',  // Adjust the URL to your API endpoint
                success: function (data) {
                    // Clear existing table data
                    $('#bookTable tbody').empty();
                    console.log(data);
                    // Iterate through each book and append a new row to the table
                    data.forEach(function (book) {
                        var cardHtml = `
       
<div role="listitem" class="w-dyn-item" data-language="${book.language}" data-title="${book.title}"
        data-category="${book.book_category.toLowerCase()}">


        <a href="#" class="split-card-outlined w-inline-block">
            <div class="main_img_title">
                <div class="card_section_main_img background-color-gray100">
                    <div class="card-category-head card-library-head">
                        <img width="198" src="${book.image}" alt="" style="min-height:300px" data-book-id="${book.id}">
                    </div>
                </div>

                <div class="margin-bottom margin-xsmall" id="title_books">
                    <h3 class="heading-xxsmall">${book.title}</h3>
                </div>
            </div>



            <div class="card_section">

                <div class="card-meta-items-wrapper text-color-gray500 card-meta">
                    <div class="text-size-small d-flex justify-content-between"><span> ${book.page} pages</span> <span> Rs. ${book.discount_price} <del style="color: gray; margin-left: 8px;">Rs.${book.price} </del> </span></div>
                    <div class="text-size-small text-style-2lines" style="color: #2397f3; font-weight: 600 !important;">by ${book.author}</div>
                    <a href="#" class="read-more d-flex justify-content-between" data-bs-toggle="modal"
                        data-bs-target="#bookDetailsModal_${book.id}">Read
                        more <span><i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i></span> </a> 
                </div>
            </div>

        </a>

    </div>





        <div class="modal fade" id="bookDetailsModal_${book.id}" tabindex="-1" aria-labelledby="bookDetailsModalLabel_${book.id}" aria-hidden="true" style="z-index: 999999999999999999999999999999">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                           <div class="col-lg-4">
                             <div class="card-section">
                               <div class="card-category-head card-library-head">
                                <img width="198" src="${book.image}" alt="" style="min-height:300px">
                               </div>
                               </div>
                               <div>
                                Price: <i class="bi bi-currency-rupee"></i> ${book.discount_price}  <del> ${book.price} </del>
                               </div>
                               <a href="#" class="btn btn-primary col-lg-12 read_sample_btn mt-3" data-bs-toggle="modal" data-bs-target="#readSampleModal_${book.id}">Read Sample</a>
                           </div>
                           <div class="col-lg-8">
                               <div class="book_detail">
                                   <h3>${book.title}</h3>
                                   <span>by ${book.author}</span>
                               </div>
                                <hr/>
                               <div class="collapsed description">${book.description}</div>
                               <hr/>
                                 <div class="card-meta-items-wrapper text-color-gray500 d-flex justify-content-between">
                                   <div class="d-flex flex-column align-items-center gap-2">
                                    <span> Print length</span>  <i class="bi bi-file-earmark"></i> <span class="fw-5">${book.page}</span>
                                   </div>
                                   <div class="d-flex flex-column align-items-center gap-2">
                                    <span>language</span><i class="bi bi-translate"></i> <span class="fw-5">${book.language}</span>
                                   </div>
                                   <div class="d-flex flex-column align-items-center gap-2">
                                    <span>Publication Date</span><i class="bi bi-calendar-week"></i> <span >${book.publish_date}</span>
                                   </div>
                                 </div>
                                 <hr/>
                               </div>

                           </div>
                         <!-- Add other book details as needed -->
                       </div>
                </div>
            </div>
        </div>

        

<div class="modal fade" id="readSampleModal_${book.id}" tabindex="-1" aria-labelledby="readSampleModalLabel_${book.id}" aria-hidden="true" style="z-index: 999999999999999999999999999999">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="readSampleModalLabel_${book.id}">${book.title}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ${book.read_sample ?
        `<div class="row">
            ${JSON.parse(book.read_sample).map((imageUrl, index) => `
                <div class="text-center mb-3">
                    <img src="${imageUrl.trim()}" class="img-fluid" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" alt="Read Sample Image ${index + 1}" 
                        onerror="console.error('Error loading image:', '${imageUrl.trim()}')">
                </div>
            `).join('')}
        </div>` :
        '<p>No read sample available</p>'
    }
</div>

        </div>
    </div>
</div>



        `;
        console.log(book.read_sample);
        $(".w-dyn-items").append(cardHtml);
        
       
    });


    $('.card-category-head img').click(function () {
        // Get the book ID from the data attribute
        var bookId = $(this).data('book-id');
         console.log("hello");
        console.log(bookId);
        // Redirect to the book_details page with the book ID
        window.location.href = `/book_details/${bookId}`;
    });


                    $('#search_book').on('input', filterCards);
                    $("#language-select").change(function(){
                        console.log($(this).val())
                        filterCards();
                    })
                    $('.sort-btn').on('click', function () {
                        // Remove 'active' class from all buttons
                        $('.sort-btn').removeClass('active');

                        // Add 'active' class to the clicked button
                        $(this).addClass('active');

                        // Call the filterCards function
                        filterCards();
                    });
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        }


        // <h3 class="modal-title heading-xxsmall" id="bookDetailsModalLabel_${book.id}">${book.title}</h3>

        function filterCards() {
            var searchQuery = $('#search_book').val().toLowerCase();
            var language_filter = $("#language-select").val()
            // Explicitly get the data attribute value
            var category = $('.sort-btn.active').data('sort');
            category = category ? category.toLowerCase() : '';
            console.log(category);

            $('.w-dyn-item').each(function () {
                var title = $(this).data('title');
                var bookCategory = $(this).data('category');
                var language = $(this).data('language')
                console.log('Title:', title, 'Category:', bookCategory);

                var isTitleMatch = title.includes(searchQuery);
                var isCategoryMatch = category === '' || (bookCategory && category === bookCategory.toLowerCase());
                var isLanguageMatch = language_filter === '' || language === language_filter;
                if (isTitleMatch && isCategoryMatch && isLanguageMatch) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        fetchBooks();

        // $('.toggle-description').on('click', function () {
        // $(this).toggleClass('expanded');
        // });

        $('.toggle-description .read-more').on('click', function (event) {
            event.preventDefault();
            var description = $(this).data('description');
            var imgUrl = $(this).data('imgurl');
            var title = $(this).data('title');

            // Update modal content
            $('#modalDescription').text(description);
            $('#modalImg').attr('src', imgUrl);
            $('#modalTitle').text(title);

            // Show the modal
            $('#bookDetailsModal').modal('show');
        });



       

    });

</script>

{% endblock dashboard_body %}