{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}


<style>

    #api_config_table thead tr{
        padding: 12px 15px !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    background: #4399eb !important;
    color: #fff !important;
    }
    #dataTables_length,#api_config_table_filter{
        margin-bottom: 1rem;
    }
    #api_config_table tbody tr:nth-child(odd) {
        background-color: #FFF;
    }

    #api_config_table tbody tr:nth-child(even) {
        background-color: #f0f7fd !important;
    }

    tbody tr:hover td:first-child {
  color: #4399eb;
}
.btn_edit_broker{

font-size: 23px;
    color: gray;
    font-weight: 500 !important;
}
    .btn_edit_broker:hover{
        color: green;
    }
    .btn_delete_boker{
        font-size: 22px;
        color: gray;
    }
    .btn_delete_boker:hover{
        color: rgb(207 0 0)
    }
    .broker_name{
        padding: 2px 11px;color: white;border-radius: 5px;
    }
    .parent_div {
        border-radius: 10px;
        overflow: hidden; /* Ensures the border-radius is applied properly */
    }
    #api_config_table_wrapper{
        display: flex;
    flex-direction: column;
    }



    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: white !important;
        border: 1px solid #59aaf9 !important;
        background-color: rgba(230, 230, 230, 0.1);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
        background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        /* background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%); */
        background: #59aaf9;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 7px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        color: inherit !important;
        border: 1px solid transparent;
        border-radius: 7px;
        background: transparent;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        outline: none;
        background-color: #2b2b2b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
        background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        background: #59aaf9 !important;
        box-shadow: inset 0 0 3px #111;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
        border: 1px solid #59aaf9 !important;
        background-color: #585858;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
        background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
        background: -moz-linear-gradient(top, #585858 0%, #111 100%);
        background: -ms-linear-gradient(top, #585858 0%, #111 100%);
        background: -o-linear-gradient(top, #585858 0%, #111 100%);
        background: linear-gradient(to bottom, #585858 0%, #111 100%);
        background: #59aaf9 !important;
    }
    .paginate_button.previous::before {
        content: "<"; /* Unicode left arrow character */
        font-size: 16px !important;
      }
    
      /* Next page button icon */
      .paginate_button.next::before {
        content: ">"; /* Unicode right arrow character */
        font-size: 16px !important;
      }
    
      /* Hide text for Previous and Next buttons */
      #api_config_table_previous{
        font-size: 0 !important;
        background-color: white; /* Button background color */
        color: black; /* Button text color */
         /* Button border */
        padding: 7px 18px; /* Button padding */
        border-radius: 4px; /* Button border-radius */
        cursor: pointer; /* Add pointer cursor on hover */
        transition: background-color 0.3s ease; 
        box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
      }
      #api_config_table_previous {
        font-size: 0 !important;
        background-color: white; /* Button background color */
        color: black; /* Button text color */
         /* Button border */
        padding: 7px 18px; /* Button padding */
        border-radius: 4px; /* Button border-radius */
        cursor: pointer; /* Add pointer cursor on hover */
        transition: background-color 0.3s ease; 
        box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
      }
      #api_config_table_previous:hover {
        color: white !important;
        
      }
      #api_config_table_next {
        font-size: 0 !important;
        background-color: white; /* Button background color */
        color: black; /* Button text color */
         /* Button border */
        padding: 7px 18px; /* Button padding */
        border-radius: 4px; /* Button border-radius */
        cursor: pointer; /* Add pointer cursor on hover */
        transition: background-color 0.3s ease; 
        box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
      }

      #api_config_table_next:hover{
        color: white !important;
      }
    
      .paginate_button {
        box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important; /* Adjust the values as needed */
      }
    
    
      .dataTables_length select{
        border: 1px solid #aaa;
          
          background-color: transparent;
          
          margin: 0 5px !important;
          font-weight: 500 !important;
      }
    
      .dataTables_length label {
        text-transform: capitalize !important;
    }
    
    .parent_table {
        border-radius: 10px 10px 0 0 !important;
        overflow: auto !important;
    }
    
    .dataTables_info{
      margin-top: 5px !important;
    }
    #api_config_table_wrapper{
     padding: 10px !important;
    }
    #api_config_table thead tr th{
        padding: 20px !important;
    }
    #totp_key div{
     width: 280px !important;
     justify-content: center !important;
    }
    .dynamic_input_field{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 19px;
    }
    table.dataTable.display>tbody>tr.odd>* {
        box-shadow: none !important;
    }
    table.dataTable.display>tbody>tr.even>* {
        box-shadow: none !important;
    }

    table.dataTable.display>tbody>tr.odd>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
        box-shadow: none !important;
    }
    table.dataTable.display>tbody>tr.even>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1 {
        box-shadow: none !important;
    }
    .main_all_broker_table table thead tr th{
        border-right: .1px solid white !important;
    }
    .main_all_broker_table table tbody tr{
        border-bottom: 1px solid #80808000 !important;
    }
    .api_key p{
        width: 300px !important;
    }
</style>
<div class="main_broker_title mt-2 ms-3">
    <h5>   Broker Details</h5>
</div>
<div class="main_all_broker_table table-responsive mt-3">


    <table id="api_config_table" class="display table cell-border" style="width: -webkit-fill-available;">
        <thead style="white-space: nowrap;">
            <tr>
                <th>Broker</th>
                <th>App Name</th>
                <th>Phone number</th>
                <th>login id</th>
                <th>password</th>
                <th>API Key</th>
                <th>Secret Key</th>
                <th class="text-center">TOTP Key</th>
                <th>Active status</th>
                <th>Adv. Security status</th>
                <th>API Added At</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        var sensitiveDataSpan;

        function fetchDataAndAppendToTable() {
            $.ajax({
                url: 'get_api_config_data',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Clear existing table rows
                    var broker_detail = data.brokers;
                    console.log(data.brokers);
                    $('#api_config_table tbody').empty();
                    // Append new rows with fetched data
                    data.brokers.forEach(function(broker) {
                        var addedAt = new Date(broker.added_at);
                        var dateString = addedAt.toLocaleDateString();
                        var timeString = addedAt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                        var dateTimeString = dateString +' '+ timeString;
                        var status = broker.active_api ? 'Active' : 'Inactive';
                        var statusColor = broker.active_api ? 'text-success' : 'text-danger';
                        var adv_totp = broker.advance_totp_security ? "Active" : "Inactive";
                        var adv_totp_color = broker.advance_totp_security ? 'text-success' : 'text-danger';
        
                        function handleEmptyValue(value) {
                            if (!value) return '-';
                            value = value.charAt(0).toUpperCase() + value.slice(1);
                            if (value.toLowerCase() === 'upstocks') {
                                value = 'Upstox';
                            } else if (value.toLowerCase() === 'angelone') {
                                value = 'Angel One';
                            } else if (value.toLowerCase() === 'zerodha') {
                                value = 'Zerodha';
                            }
                            return value;
                        }
        
                        function generateCellContent(value) {
                            if (value && value !== '-') {
                                return `<div class="d-flex align-items-center"> <input type="password" class="form-control sensitive-data" style="font-size: 12px; all: unset !important;" value="${value}"><i class="bi bi-eye-slash ms-2 show-data-icon"></i></div>`;
                            } else {
                                return '-';
                            }
                        }
        
                        var row = `<tr>
                            <td>${handleEmptyValue(broker.broker_name)}</td>
                            <td>${handleEmptyValue(broker.app_name)}</td>
                            <td>${handleEmptyValue(broker.phone_number)}</td>
                            <td>${handleEmptyValue(broker.logging_id)}</td>
                            <td>${handleEmptyValue(broker.password)}</td>
                            <td class="api_key"><p> ${handleEmptyValue(broker.api_key)}</p></td>
                            <td>${handleEmptyValue(broker.api_secret)}</td>
                            <td id="totp_key">
                                ${generateCellContent(handleEmptyValue(broker.totp_key))}
                                <input type="hidden" class="form-control mt-2 hidden-input" value=${broker.id}>
                                 <div class="dynamic_input_field"></div>
                            </td>
                            
                            <td class="${statusColor}">${status}</td>
                            <td class="${adv_totp_color}">${adv_totp}</td>
                            <td>${dateTimeString}</td>
                        </tr>`;
                                
                        $('#api_config_table tbody').append(row);
                    });
                    // Initialize DataTable after appending data
                    $('#api_config_table').DataTable({
                        "dom": '<"top"lf>rt<"bottom"ip><"clear">',
                        "language": {
                            "search": '<div class="custom-search" style="position: relative"><i class="bi bi-search" style="position: absolute;right: 7px;top: 10px;"></i></i><input class="form-control" type="search" placeholder="Search" aria-controls="volume_shocker_table"></div>'
                        }
                    });
                    $('#api_config_table_filter input:eq(1)').hide();
                    $('#api_config_table_filter input[type="search"]').attr('placeholder', 'Search...');
                    $('#api_config_table').wrap('<div class="parent_table"></div>');
                    $('#api_config_table_length,#api_config_table_filter').wrapAll('<div class="parent_search_length"></div>');
        
                    $('.show-data-icon').click(function () {
                        var eyeIcon = $(this);
                        sensitiveDataSpan = $(this).prev('.sensitive-data');
                        var isHidden = sensitiveDataSpan.attr('type') === 'password';
                    
                        $(this).toggleClass('bi-eye bi-eye-slash');
                        if (isHidden) {
                            // Check if input field already exists
                            if (!$(this).closest('td').find('.totp_input_fields').length) {
                                // Remove any existing input fields
                                $('.dynamic_input_field').empty();
                    
                                // Create an input field
                                var inputField = $('<div class="totp_input_fields d-flex align-items-center"> <label class="totp_label">Enter TOTP : </label> <div> <input type="text" class="form-control totp-input" style="width: 140px !important; box-shadow: none !important;"></div> <p class="varify_totp" style="cursor: pointer; color: blue; margin-bottom: 0 !important;">Verify</p>  <i class="bx bx-x delete_topt_input" style="cursor:pointer;"></i> </div>');
                    
                                var td = eyeIcon.closest('td');
                                // Append the input field to the container
                                td.append(inputField);
                                td.closest('tr').find('.varify_totp').show();
                    
                                inputField.find('.totp-input').focus();
                            }
                        } else {
                            // Change input type from text to password
                            sensitiveDataSpan.attr('type', 'password');
                    
                            // Remove input field
                            $(this).closest('.totp_input_fields').remove();
                        }
                    
                        // Event listener for delete icon
                        $(document).on('click', '.delete_topt_input', function () {
                            $(this).closest('.totp_input_fields').remove();
                        });
                    });

        
                    // Event listener for verifying TOTP
                    $(document).on('click', '.varify_totp', function() {
                        // Get the values from the input fields
                        var clickedElement = $(this);
                        var totpValue = clickedElement.closest('td').find('.totp-input').val();
                        var brokerId = clickedElement.closest('td').find('.hidden-input').val();
                        varify_totp_fn(totpValue, brokerId, clickedElement);
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }
        
        // Call the function to fetch data and append it to the table
        fetchDataAndAppendToTable();
        
        // Function to verify TOTP
        function varify_totp_fn(totpValue, brokerId, clickedElement) {
            console.log(totpValue);
            console.log(brokerId);
            $.ajax({
                url: 'verify_totp_to_show_key',
                method: 'POST',
                data: {
                    'totp_value': totpValue,
                    'broker_id': brokerId
                },
                success: function(response) {
                    
                    console.log(response);
                    if(response.otp_verify === "failed"){
                        toastr.error('Incorrect OTP');
                    }
                    else{
                        clickedElement.closest('.totp_input_fields').remove();
                        clickedElement.closest('td').find('.totp_label').hide();
                        clickedElement.closest('td').find('.delete_topt_input').hide();
                        clickedElement.closest('td').find('.totp-input').hide();
                        clickedElement.closest('td').find('.varify_totp').hide();
                        console.log("Dynamic input field content after emptying:", clickedElement.closest('td').find('.dynamic_input_field').html());
                        console.log("Verify TOTP button visibility after hiding:", clickedElement.closest('td').find('.varify_totp').is(':visible'));
                
                        sensitiveDataSpan.attr('type', 'text');

                    }
            
                },
                error: function(xhr, status, error) {
                    console.error('Error verifying TOTP:', error);
                },
                // complete: function() {
                //     // Set input type back to password after completion, ensuring it's always hidden by default
                //     setTimeout(function() {
                //         sensitiveDataSpan.attr('type', 'password');
                //     }, 8000); // You can adjust the delay (in milliseconds) according to your needs
                // }
            });
        }
        
       
    });
</script>






{% endblock dashboard_body %}