{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    
</style>
<section>
  
    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                .inner_back_strategy:hover {
                    background: #00000012;
               
                    border-radius: 5px;
                    color: #2196f3 !important;
        
                }
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Bull Call Spread Strategy</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p>Bull Call Spread is a bullish strategy. It's used when an investor expects the underlying asset's price to rise moderately but wants to limit their potential losses.</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves two main components:</h3>
                    <ul>
                        <li><span>Long Call Option:</span>  The investor buys a call option with a lower strike price (the strike price at which they have the right to buy the underlying asset).</li>
                        <li class="mt-3"><span>Short Call Option: </span> Simultaneously, the investor sells (writes) a call option with a higher strike price. By doing this, they are obligated to sell the underlying asset if the option is exercised by the option buyer.</li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span> The maximum profit is limited and occurs when the price of the underlying asset at expiration is equal to or higher than the strike price of the short call option.</li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span>  The maximum loss is limited to the net cost of the options (the premium paid for the long call minus the premium received for the short call).</li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>The break-even point is the strike price of the long call option plus the net cost of the options (premium paid for the long call minus the premium received for the short call).</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The primary goal of a Bull Call Spread is to profit from a moderate increase in the underlying asset's price.</li>
                        <li>It's a limited-risk, limited-reward strategy suitable for investors who are moderately bullish but want to limit their downside risk.</li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                        <li>The risk is limited to the net cost of the options.</li>
                        <li>This strategy is designed to mitigate risk compared to simply buying a call option, as the premium received for the short call offsets the premium paid for the long call.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}