{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
   
</style>
<section>

    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Bullish Condor Strategy</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p>Bullish Condor is a moderately bullish strategy. It is used when an investor expects the underlying asset's price to rise moderately but wants to limit both potential gains and losses.</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves two main components:</h3>
                    <ul>
                        <li><span> Long Call Options: </span>The investor buys two call options with different strike prices, typically one with a lower strike price (lower strike call) and one with a higher strike price (higher strike call). These two call options create the "wings" of the condor.</li>
                        <li class="mt-3"><span>Short Call Option: </span> Simultaneously, the investor sells (writes) two call options with intermediate strike prices that fall between the lower strike call and the higher strike call. These two call options create the "body" of the condor.</li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span> The maximum profit is achieved if the underlying asset's price closes within the range defined by the strike prices of the short call options at expiration. The profit is the difference between the strike prices of the short and long calls, minus the net premium paid.</li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span>  The maximum loss is limited to the net premium paid to establish the strategy. </li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>There are typically two break-even points: one below the lower strike and one above the higher strike. These points depend on the specifics of the options used.</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The primary goal of a Bullish Condor is to profit from a moderately bullish view while defining a specific price range within which the investor expects the underlying asset to stay.</li>
                        <li>The strategy is designed to provide limited risk and limited reward within the defined range.</li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                        <li>The risk is limited to the net premium paid to establish the strategy.</li>
                        <li>Bullish Condors offer a controlled risk-reward profile, as losses are limited, and gains are capped within a specific range.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}