{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    
</style>
<section>

    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                .inner_back_strategy:hover {
                    background: #00000012;
               
                    border-radius: 5px;
                    color: #2196f3 !important;
        
                }
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Bullish Butterfly Strategy</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p> Bullish Butterfly is a moderately bullish options strategy. It is used when an investor expects the underlying asset's price to rise, but not by a significant amount.</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves two main components:</h3>
                    <ul>
                        <li><span>Two Long Call Options: </span>The investor buys two call options with the same expiration date, but with different strike prices. One call option has a lower strike price, while the other has a higher strike price.</li>
                        <li class="mt-3"><span>One Short Call Option: </span> Simultaneously, the investor sells (writes) a call option with a strike price that falls between the strike prices of the two long call options.</li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span>  The maximum profit occurs if the price of the underlying asset closes at the strike price of the short call option at expiration. The profit is the difference between the strike prices of the long and short call options, minus the initial cost of the strategy.</li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span>  The maximum loss is limited to the net premium paid to establish the strategy.</li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>The break-even points depend on the specific strike prices of the options. There are typically two break-even points: one below the lower strike and one above the higher strike.</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The primary goal of a Bullish Butterfly is to profit from a moderate price increase in the underlying asset.</li>
                        <li>The strategy is designed to provide a cost-effective way to benefit from a specific price range.</li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                        <li>The risk is limited to the net premium paid to establish the strategy.</li>
                        <li>This strategy offers a limited-risk, limited-reward opportunity with a specific profit zone.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}