{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="body body--start p-useCases">
    <!-- SECTION main :: START-->
    <section class="main guest-window position-relative" id="main">

        <div class="main__bg main__bg-0 position-absolute w-100 h-100">
<img class="main__bg-img main__bg-img-1 position-absolute" src="{% static '/img/img-main-bg-1.png' %}" srcset="/img/img-main-bg-1@2x.png 2x, /img/img-main-bg-1@3x.png 3x" alt="Background Image" title="Background Image">
</div>
<div class="strategy__bg position-absolute w-100 h-100">
<img src="{% static '/img/img-do-bg.png' %}" srcset="/img/img-do-bg@2x.png 2x, /img/img-do-bg@3x.png 3x" alt="Background Image" title="Background Image">
</div>

        <div class="d-flex justify-content-center position-relative">
            <div class="card shadow border-0">

                
                <h5 class="modal-title mt-4 mb-2">Reset Password</h5>
                <div class="card-body">
                    <form class="d-flex flex-column" method="post" >
                        {% csrf_token %}
                                    
                                   <div class="form-group mb-4">
                            <label for="resetPasswordEmail">Password </label>
                            <input class="form-control" type="password" id="resetPasswordEmail" name="new_pass" aria-describedby="emailHelp">
                                                        </div>
                                    
                                   <div class="form-group mb-4">
                            <label for="resetPasswordEmail">Confirm Password </label>
                            <input class="form-control" type="password" id="resetPasswordEmail" name="confirm_pass" aria-describedby="emailHelp">
                                                        </div>
                                                        <input type="hidden" name="user_id" value="{{user_id}}">
                        <div class="modal__btn-wrapper d-flex justify-content-center">
                            <button class="btn c-btn c-btn--bg" type="submit">Change you Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="main__bg main__bg-1 position-absolute w-100 h-100">
<div class="main__bg-row d-flex position-absolute w-100 h-100 justify-content-between">
    <div class="main__bg-col main__bg-col-1 position-absolute"></div>
    <div class="main__bg-col main__bg-col-2 d-flex align-items-start justify-content-end position-absolute">
        <img class="main__bg-img main__bg-img-3 img-fluid d-block position-absolute" src="{% static '/img/img-main-bg-2.png' %}" srcset="/img/img-main-bg-2@2x.png 2x, /img/img-main-bg-2@3x.png 3x" alt="Background Image" title="Background Image">
    </div>
</div>
</div>
    </section>
    <!-- SECTION main :: END-->
</div>
{% endblock body %}