{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}



<div class="main_contact_us mt-5">


    <div class="d-flex justify-content-center gap-4">

    <div class=text-center">

   <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="    display: flex;
                flex-direction: column;
                align-items: center;
            ">
              <h4>Contact us</h4>
            <h2 class="card-title text-center">KOZY KREATIVE CONCEPTS PRIVATE LIMITED</h2>
            <p class="card-text">Address: #6-2-659/3/2/1, Khairatabad, Hyderabad, Telangana, 500004</p>
            <p class="card-text">Phone: 9000500600</p>
            <p class="card-text">Email: <a href="mailto:info@kkreative.in">info@kkreative.in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
    </div>


</div>




{% endblock dashboard_body %}