{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}
<style>
    .desc_usage_active {
        color: #011490;
        text-align: center;
        border-bottom: 2px solid #011490;
        font-size: 21px;
        font-weight: 600;
    }

    .col-4 {
        text-align: center;
        transition: 0.3s;
        cursor: pointer;
    }

    @media (max-width: 768px) {

.head_image{
    width: fit-content !important;
}
}


</style>
<div class="container">

    <div class="main_head_strategies border-bottom my-4">

        <div class="strategies d-flex mt-4" style="align-items: center; gap: 0.3rem;">
            <h4 class="">Course Details
            </h4> <span><i class="bi bi-exclamation-circle" class="btn btn-primary" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample"></i></span>
        </div>




    </div>
    <div class="collapse" id="collapseExample" style="    margin-bottom: 25px;">
        <div class="card card-body">
            <div class="antd-pro-components-markdown-index-markdownStyle">
                <p> Course Introduction Video </p>
                <ul>
                    <li>Course Orientation</li>
                    <li>Module 1 starts here:-</li>
                    <li> Class 1 to Class 90</li>
                    <li> Reference classes</li>
                </ul>
            </div>
        </div>





    </div>


    <div class="course_head mt-3" style="    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;">


        <div class="course_image d-flex">
            <img src="{% static "img/english_basic.png" %}" alt="" style="     width:100%; height:245">
        


        </div>
        <div class="course_head_details"></div>
        <div class="column  relative courseMeta">
            <h2 class="title mt-0 mb-0">
                <span>A Complete Course on the Indian Stock Market</span>
            </h2>


            <div>
                <h2>भारतीय स्टॉक मार्किट का एक कम्पलीट कोर्स</h2>
            </div>


            <div>
                <table class="ratingIcons">
                    <tbody>
                        <tr style="    display: flex;
                        align-items: flex-end;
                    ">
                            <td class="text-gray pt-2">


                                <i class="bi bi-star-fill"></i>







                                <i class="bi bi-star-fill"></i>







                                <i class="bi bi-star-fill"></i>







                                <i class="bi bi-star-fill"></i>








                                <i class="bi bi-star-half"></i>



                            </td>
                            <td><small>4.9
                                    (840 ratings)</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <p class="ml-0 mb-0 instructor">
                <small>Instructor: <span class="text-primary">Vivek Bajaj</span></small>
            </p>


            <p class="ml-0 mb-0 language">
                <small>Language: <span class="text-primary">English</span></small>
            </p>


            <p class="ml-0 mb-0 enrolledLearners">
                <small>Enrolled Learners: <span class="text-primary">84517</span></small>
            </p>









            <div class="mt-2">



                <div class="validityTypes">





                    <div class="mt-2 mb-2 validityVariants p1" data-type="ONE_TIME">




                        <p class="ml-0 mb-0 validityPeriod">
                            <small>Validity Period:
                                <span class="text-primary">Lifetime</span></small>
                        </p>

                    </div>



                </div>
                <div class="productPricing">


                    <div class="v1-990-990 p1 vvpricing" data-price="990">







                        <h2 class="text-warning curr">₹990


                            <small class="text-dark" style="    font-size: 12px;">including 18% GST
                            </small>

                        </h2>













                    </div>


                </div>



            </div>

            <div class="columns cartBtns mt-2" style="width: 100%;     width: 100%;
            display: flex;
            gap: 1rem;">





                <div class=" previewBtn">
                    <a class="btn btn-outline-primary mr-2 btn-block" href="#">
                        <i class="bi bi-book-half"></i> <span class="icon-text">Preview</span>
                    </a>
                </div>


                <div class="column ">
                    <button data-purchasetype="cart" class="btn btn btn-primary buyBtn btn-block"
                        data-id="5e183a86e4b09411557ad4f6">




                        Add to Cart

                    </button>


                </div>



            </div>








        </div>
    </div>


    <div class="description_usage my-4">

        <div class="head_desc_usage">
            <div class="row border-bottom">
                <div class="col-4" onclick="filter_des_use(1)" data-btn-id="1" style=" font-size: 21px;">
                    Description
                </div>
                <div class="col-4" onclick="filter_des_use(2)" data-btn-id="2" style=" font-size: 21px;">

                    Course Content
                </div>
                <div class="col-4" onclick="filter_des_use(3)" data-btn-id="3" style=" font-size: 21px;">

                    How to use
                </div>
            </div>

            <div class="main_desc_usage mt-4" id="main_desc_usage">

            </div>
        </div>

    </div>




    <h4 class="border p-2">Reviews</h4>

    <div class="columns col-gapless pt-2 mb-3" style="    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;">
        <div class="column col-4 text-center">
            <div style="font-size: 72px; font-weight: 600;">4.9</div>
            <div class="text-gray">
                
                    
                        
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                        
                        
                    
                
            </div>
            <div>
                <i class="bi bi-people-fill"  style="vertical-align: middle;"></i>
                
                <span style="vertical-align: middle;">840
                    total</span>
            </div>
        </div>
        <div class="column col-8" style="margin-top: 25px;">
            <table class="width100">
                <thead>
                    <tr>
                        <td style="width: 20px;"></td>
                        <td style="    width: 87%;"></td>
                        <td style="width: 70px;"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5</td>
                        <td><div style="background-color: #8bc34a;min-width: 1%;width:100.0%;">&nbsp;</div></td>
                        <td class="text-right">785</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><div style="background-color: #cddc39;min-width: 1%;width:5.222929936305732%;">&nbsp;</div></td>
                        <td class="text-right">41</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><div style="background-color: #ffeb3b;min-width: 1%;width:0.89171974522293%;">&nbsp;</div></td>
                        <td class="text-right">7</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><div style="background-color: #ffc107;min-width: 1%;width:0.5095541401273885%;">&nbsp;</div></td>
                        <td class="text-right">4</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><div style="background-color: #ff9800;min-width: 1%;width:0.3821656050955414%;">&nbsp;</div></td>
                        <td class="text-right">3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<h5>
    ME</h5>


<div class="user_star d-flex mt-3" style="    align-items: center;
color: gray;
font-size: 18px;
gap: 0.3rem;">
Rate this course - <i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
</div>


<div class="my-3" style="    width: 87%;">
    
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write a review..."></textarea>

    <button class="btn btn-primary mt-2">Post your review</button>
  </div>


<h5 class="my-3 border p-2">Course Reviews</h5>


<div class="tile mt-2 review">
    <div class="tile-icon">
        <figure class="avatar" data-initial="S">
            <img src="https://dz8fbjd9gwp2s.cloudfront.net/users/6443bb10e4b04a17492571de/thumbnail.jpg" alt="" class="img-fit-cover" onerror="this.style.display='none'" style="display: none;">
        </figure>
    </div>
    <div class="tile-content">
        <p class="tile-title text-bold mb-0 uppercase">
           NAVEEN KUMAR<span class="chip border ms-1 bg-light">Featured Review</span>
            
            
        </p>
        <p style="font-size: small;" class="text-gray mt-2 mb-2">
            <span class="d-inline-block icon-text" style="color: #011490;"> 
                
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                    
                
            </span> <span><time class="timeago text-secondary" datetime="2023-05-11T20:09:24.884Z" title="May 12, 2023, 01:39 AM">29 days ago</time></span>
        </p>
        <p class="tile-subtitle" style="font-size: small;">Great</p>
    </div>
</div>










</div>


<script>
    var course_filter = [
        {
            id: 1,
            main_desc: `
          <iframe width="419" height="245"
                src="https://www.youtube.com/embed/videoseries?list=PLbLq81ZyYiocOcUD4XQ5FS7JOcfAL5MxF"
                title="YouTube video player" frameborder="0"
                class="head_image"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
                <h5 class="mt-2 text-warning">COURSE HIGHLIGHT</h5>


                <ul class="my-2">
	<li>Available in English &amp; Hindi</li>
	<li>100+ video lectures.</li>
	<li>50+ hours of video content.</li>
	<li>Live doubt-clearing sessions.</li>
	<li>Tests, Quizzes and&nbsp;case studies.</li>
	<li>Research report writing with certification.</li>
</ul>
<h5 class="my-2 text-warning">COURSE OBJECTIVE</h5>


<p><span style="color:null;">Traditional players have made the field of the stock market a mystery. And to solve this mystery, they charge hefty fees for their course, which is another mystery. Indians have been losing money in the market from decades as the hidden secrets have been kept away from them. We have been taught the wrong concepts and practices. It is one complete course through which I, Kundan Kishore, have tried to address every aspect of the stock market in an affordable way for every Indian.</span></p>

<h5 class="my-2 text-warning">COURSE BENEFITS</h5>

<ul>
	<li>Learn all hidden secrets, myths and trivia of the stock market.</li>
	<li>Learn to identify good stocks/share to invest.</li>
	<li>Learn to manage your stock investment portfolio.</li>
	<li>Learn to manage the risk of stock market investments.</li>
	<li>Learn to trade in options profitably.&nbsp;</li>
	<li>Learn to use technical analysis effectively.</li>
	<li>Learn how to make a career in the stock market.</li>
	<li>Learn about significant historical events of the stock market.<br>
        &nbsp;</li>
        </ul>
        <h5 class="my-2 text-warning">COURSE CREATOR</h5>
        <p>Hi. I am Kundan. A proud Indian. I was born and bought up in Bodhgaya, Bihar. I did my schooling in Kendriya Vidyalaya. Later, I joined BITS Pilani in 2001 and studied computing and finance. Maths, Economics, Computing and Finance is my life. After BITS Pilani, I worked for ten years with Citi bank, RBS, Morgan Stanley and Barclay capital. In 2014, I took retirement from corporate life. Post-retirement, I am managing my own money and spreading financial awareness among fellow Indians. I want to be remembered as a good teacher and a selfless person.</p>
          
        <p>You can connect to me via different socials:- <a href="#">Quora</a>,&nbsp;<a href="#">LinkedIn</a>, <a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Twitter</a><br>
You can also WhatsApp me on <a href="https://wa.me/">9**********</a>.</p>
        
        `
        },
        {
id:2,
main_desc:`
<table class="table table-borderless courseContents">
													<thead>
														<tr>
															<td style="width: 50px;"></td>
															<td style="width: 50px;"></td>
															<td></td>
															<td style="width: 20vw;"></td>
														</tr>
													</thead>
													<tbody>
														
														
															<tr>
																<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																<td colspan="2">1) आइये Options trading के बारे में जानना शुरू करते हैं ? 
																		<small>(1:00)</small>
																	
																	</td>
																<td class="text-right">
																		<a class="btn btn-link" style="    text-decoration: none;" href="/s/preview/courses/An-Advance-Course-on-Options-Trading-in-Hindi-616d2e770cf21c6527078f75#63c2dc38e4b0233522a11ac6">Preview</a>
																	</td>
															</tr>
															
														
															<tr>
																<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																<td colspan="2">2) किस उम्मीद से Options Trading नहीं करनी चाहिए ? 
																		<small>(3:00)</small>
																	
																	</td>
																<td class="text-right">
																		<a class="btn btn-link" style="    text-decoration: none;" href="/s/preview/courses/An-Advance-Course-on-Options-Trading-in-Hindi-616d2e770cf21c6527078f75#63c2dd24e4b00fd629db56c1">Preview</a>
																	</td>
															</tr>
															
														
															<tr>
																<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																<td colspan="2">3) Options trading से आप क्या हासिल कर सकते हैं ? 
																		<small>(3:00)</small>
																	
																	</td>
																<td class="text-right">
																		<a class="btn btn-link" style="    text-decoration: none;" href="/s/preview/courses/An-Advance-Course-on-Options-Trading-in-Hindi-616d2e770cf21c6527078f75#63c2ddb8e4b087ca8e8d4396">Preview</a>
																	</td>
															</tr>
															
														
															<tr>
																<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																<td colspan="2">4) Options Trading के कौन से concepts सीखना जरूरी है। 
																		<small>(6:00)</small>
																	
																	</td>
																<td class="text-right">
																		<a class="btn btn-link" style="    text-decoration: none;" href="/s/preview/courses/An-Advance-Course-on-Options-Trading-in-Hindi-616d2e770cf21c6527078f75#63c2ddc5e4b087ca8e8d4397">Preview</a>
																	</td>
															</tr>
															
														
															<tr>
																<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																<td colspan="2">5) Options Trading की शुरुआत कितने Capital के साथ करनी चाहिए ? 
																		<small>(3:00)</small>
																	
																	</td>
																<td class="text-right">
																		<a class="btn btn-link" style="    text-decoration: none;" href="/s/preview/courses/An-Advance-Course-on-Options-Trading-in-Hindi-616d2e770cf21c6527078f75#63c2ddd2e4b087ca8e8d4398">Preview</a>
																	</td>
															</tr>
															
														
															<tr>
																<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																<td colspan="2">6) Options Trading में अनुसाशन के साथ सफलतापूर्वक ट्रेडिंग करने के क्या तरीके हैं ? 
																		<small>(4:00)</small>
																	
																	</td>
																<td class="text-right">
																		<a class="btn btn-link" style="    text-decoration: none;" href="/s/preview/courses/An-Advance-Course-on-Options-Trading-in-Hindi-616d2e770cf21c6527078f75#63c2dddce4b087ca8e8d4399">Preview</a>
																	</td>
															</tr>
															
														
															<tr>
																<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																<td colspan="2">7) Options Trading को आसान कैसे बनाएं ? 
																		<small>(3:00)</small>
																	
																	</td>
																<td class="text-right">
																		<a class="btn btn-link" style="    text-decoration: none;" href="/s/preview/courses/An-Advance-Course-on-Options-Trading-in-Hindi-616d2e770cf21c6527078f75#63c2dde6e4b087ca8e8d439a">Preview</a>
																	</td>
															</tr>
															
														
															<tr>
																<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																<td colspan="2">8) मैं और मेरी team आपको एक सफल Option Trader बनने में कैसे मदद करेंगे। 
																		<small>(4:00)</small>
																	
																	</td>
																<td class="text-right">
																		<a class="btn btn-link" style="    text-decoration: none;" href="/s/preview/courses/An-Advance-Course-on-Options-Trading-in-Hindi-616d2e770cf21c6527078f75#63c2ddefe4b087ca8e8d439b">Preview</a>
																	</td>
															</tr>
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Welcome to the Course - Introductory Video. 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Video lecture 
																				<small>12:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Reference Class - Options Trading as a business 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Reference Class 1 - Introduction Class - Options and Insurances 
																				<small>23:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Reference Class 2 - Buyers Vs Sellers of Option 
																				<small>10:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Reference Classes - Current Options Market in India 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Reference Class 3 - Open Interest Vs Volume 
																				<small>18:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Reference Class 4 - Option market microstructure 
																				<small>22:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Module 1 - Know the basics. 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Class 1:- Put Options explained in Hindi 
																				<small>69:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>2. Initial payoff by buyer of option 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>3. Right of option buyer 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>4. Important date of the contract 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>5. Value of Put option 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>6. Profit and loss calculation of Put Options 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>7. Understand breakeven of Put Options 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>8. Call Options explained. 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>CALL OPTIONS explained in Hindi 
																				<small>29:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>9. Value of call options 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>10. Profit and loss calculation of Call options 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>11. Understand breakeven of call option 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>12. Welcome to google Colaboratory - Live Class 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>13_Put_Option_Payoff_.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>14_Call_Option_Payoff.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>15. Learn to calculate Fair Price 
																				<small>17:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>16. Concept of Moneyness of Options 
																				<small>13:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>17. Intrinsic Value and Time Value of Options 
																				<small>14:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>18. Find Time value of the option 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>19. Find Intrinsic value of the options 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>20. Option Chain, Open Interest and Volume explained 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>21. What is open interest ? 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>22. Calculate open interest 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>23. Calculate Volume 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>24. Options buying Vs Options Selling 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>25. Calculate the p&amp;l of options portfolio. - Part 1 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>26. Calculate the p&amp;l of options portfolio. - Part 2 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>27. Max Profit Range calculation 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-clipboard-data fs-2 text-primary"></i></td>
																		<td>28. Break even Range of Options position 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Module 2:- Application of Options in market 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Module 2 Introduction - Advance Options - Hindi 
																				<small>5:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>1. Currency Options - General Practice examples 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Understanding Currency Risk and Import/Export business 
																				<small>10:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Currency Options 
																				<small>19:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>2. Explaining need of Stock Options. 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Stock Options_v011 
																				<small>18:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>3. Index Options - Hedging need for investment portfolio 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Index Option Class Compress 
																				<small>18:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>4. Commodity Options - Business need for commodity traders and suppliers 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Commodity Options - Business need for commodity traders and suppliers 
																				<small>12:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>5. Bull call spread - Introduction to Options Trading strategy. 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Bull call spread 
																				<small>20:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>6. Bull Put Spread explained. 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Bull put spread 
																				<small>15:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>7. Relative analysis for Risk-Rewards. 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Relative analysis for Risk-Rewards. 
																				<small>15:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Module 3 - Understanding Volatility. 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>1. Know Volatility 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Know Volatility 
																				<small>13:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>2. Learn Implied volatility in practical way. 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Implied Volatility 
																				<small>14:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>3. India VIX and its application 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>India VIX and its application 
																				<small>24:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Module 4:- Paper Trading Practice 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>1. Introduction to Paper Trading module 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Paper trading introduction 
																				<small>15:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>2. Iron Condor strategy explained 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Strategies - Short Strangle and Iron Condor 
																				<small>26:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>3. Behavioural Finance (Belief and Biases) 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Belief and Bias 
																				<small>22:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>4. Why Iron Condor in BankNifty for Paper trading? 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Iron Condor and Behavioural finance 
																				<small>13:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>5. Iron Condor strike price selection 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>BankNifty Iron Condor strike selection 
																				<small>19:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>6. Risk-Reward based strategy building 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">5. Option Pricing and Greeks 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>1. Options Greeks 1 - Delta 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>1. Options Greek 1 -  Delta 
																				<small>29:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>2. Options Greek 2 - Gamma 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>3. Options Greeks 3 - Theta 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>3.Options Greeks 3 - Theta 
																				<small>25:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>4. Options Greeks 4 - Vega 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>4. Options Greeks 4 - Vega 
																				<small>47:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Module 6:- Options trading strategies 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Bull Call Spread 
																				<small>9:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Bull Put Spread 
																				<small>14:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>The Bear Put Spread 
																				<small>4:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>The Bear Call Spread 
																				<small>8:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>LONG STRADDLE 
																				<small>14:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Short straddle 
																				<small>10:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Long Strangle 
																				<small>10:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Short Strangle 
																				<small>5:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Class 56 Iron Condor Explained 
																				<small>12:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Module 7:- Behavioural Finance, Money management &amp; Trade management 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-file-earmark-bar-graph fs-2 text-primary"></i></td>
																		<td>Class Instruction. 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-tv fs-2 text-primary"></i></td>
																		<td>Live market class on the day of expiry. 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Recorded Live Class - August, 2022 
																				<small>98:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Module 8:- Advance Volatility trading strategies 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-file-earmark-bar-graph fs-2 text-primary"></i></td>
																		<td>Class Instruction. 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-tv fs-2 text-primary"></i></td>
																		<td>Advance Volatility Strategy Class 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-play-btn fs-2 text-primary"></i></td>
																		<td>Recorded Live Class Aug, 2022 
																				<small>61:00</small>
																			
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
															<tr>
																<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																<td colspan="2">Downloads 
																	</td>
																<td class="text-right"></td>
															</tr>
															
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-cloud-arrow-down fs-2 text-primary"></i></td>
																		<td>14. Put Options Payoff 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-cloud-arrow-down fs-2 text-primary"></i></td>
																		<td>15. Call Option Payoff 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-cloud-arrow-down fs-2 text-primary"></i></td>
																		<td>Bull Call Spread 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-cloud-arrow-down fs-2 text-primary"></i></td>
																		<td>Bear Put Spread 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-cloud-arrow-down fs-2 text-primary"></i></td>
																		<td>Protective Put 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-signpost-fill fs-2 text-primary"></i></td>
																		<td>Best Execution Strategy 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>01_Call_Option_Payoff.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>02_Put_Option_Payoff_.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr><i class="bi bi-link fs-2 text-primary"></i>
																		<td></td>
																		<td></td>
																		<td>04_Bull_Call_Spread.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>05_Bear_Put_Spread.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>06_Protective_Put.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>07_Covered_Call.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>08_Option Price.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>09_Greeks Calculator.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>10_Option Price with Delta &amp; Gama.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>11_Option Price Using Vega.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
																	<tr>
																		<td></td>
																		<td><i class="bi bi-link fs-2 text-primary"></i></td>
																		<td>12_Payoff Calendar Spread.ipynb 
																			</td>
																		<td class="text-right"></td>
																	</tr>
																
															
														
													</tbody>
												</table>

`
        },
        {
            id: 3,
            main_desc: `
            <div data-id="howtouse" class="tab-content pt-2" style="display: block;">
									
										
                                    <p>After successful purchase, this item would be added to your courses.</p>

<p>You can access your courses in the following ways :</p>

<ul>
<li>From the computer, you can access your <a href="/s/mycourses">courses</a> after successful login</li>
<li>For other devices, you can access your library using this web app through browser &nbsp;&nbsp;of your device.</li>
</ul>

                                
                        
                    
                </div>
          `
        }

    ]

    //   function filter_des_use(id) {
    //     alert(id)

    //   }
    document.getElementById("main_desc_usage").innerHTML = course_filter[0].main_desc
    function filter_des_use(id) {


        const Filtered_about = course_filter.filter((Curr_dest) => {
            return Curr_dest.id === id
        })
        Filtered_about.map((x) => {
            document.getElementById("main_desc_usage").innerHTML = x.main_desc

        })


    }
    $(document).ready(function () {

        $('[data-btn-id]:first-child').addClass('desc_usage_active')
        // Filter button click event
        $('[data-btn-id]').click(function () {
            var btnId = $(this).attr('data-btn-id');
            filterResults(btnId);
            changeButtonColor($(this));
        });

   
        filterResults(1)
  
        function filterResults(btnId) {
         


      


        }

        function changeButtonColor(button) {
         
            $('[data-btn-id]').removeClass('desc_usage_active');


          
            button.addClass('desc_usage_active');

        }
    });

</script>
{% endblock dashboard_body %}