{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}

<div class="container mb-4">
    <a class="back_to_main_strategy" href="/option_strategies" style="
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0.4rem;
    color: darkslategray;
    font-weight: 500;
    margin: 10px 0;
">
        <style>
            .inner_back_strategy:hover {
                background: #00000012;

                border-radius: 5px;
                color: #2196f3 !important;

            }
        </style>
        <div class="inner_back_strategy" style="     padding: 2px 9px;">
            <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
            <h5 style="
all: unset;
">Back to Strategies</h5>
        </div>

    </a>

    <div>
        <h2 class="mb-3 fs-5">Covered Put</h2>
        <p class="mb-3">
         Covered Put is created when a trader feels that the stock price is going to remain range bound. It is the opposite of the moderately bullish covered call strategy. In order to create a covered put, you have to short a stock and short a stock and also short put options on the stock.
        </p>
        <p class="mb-3">
         The put sold is generally at the money or slightly out of the money. The investor is moderately bearish on a stock and shorts it but will buy it back once it reaches a target price (the strike price he shorted the put option at). The trader who wrote the put option, is subjected to a very high risk if there is a dramatic rise in the stock price. As the stock price has no limit, the risk here is very high.
        </p>
        <p>
          <b>When to Use: If the investor is of the view that the markets are moderately bearish.</b>
        </p>
        <p>
          <b>Risk:</b> Unlimited if the price of the stock rises substantially.
        </p>
        <p><b>Reward: </b> Maximum is (Sale Price of the Stock – Strike Price) + Put Premium.</p>
        <p><b>Breakeven:</b> Sale Price of Stock + Put Premium.</p>
        <p>
          <b>Profit when: </b> Premium Received - Commissions Paid.
        </p>
        <p> <b>Loss when: </b>Price of Underlying - Sale Price of Underlying - Premium Received + Commissions Paid. </p>
        <h2 class="mt-4">Let's understand with an example:</h2>
        <img
          src="{% static 'img/assets/Covered-call.jpeg' %}"
          alt="Covered-call"
        />
        <p class="mt-3">
          In the above figure, we have underlying price on the "X" or the horizontal axis and Payoff/profit on the "Y" or the vertical axis.
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Stock sold</th>
              <th scope="col">Current Nifty index</th>
              <th scope="col">12000</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Put option shorted</td>
              <td>Strike Price (Rs.)</td>
              <td>11900</td>
            </tr>
            <tr>
              <td>Received</td>
              <td>Premium</td>
              <td>100</td>
            </tr>
            <tr>
              <td></td>
              <td>Break Even Point (Rs.) (Strike Price + Premium)</td>
              <td>12100</td>
            </tr>
          </tbody>
        </table>
        <h3>Conclusion</h3>
        <ul>
          <li>
            You create a covered put when you are moderately bearish on a security.
          </li>
          <li>
            A covered put strategy includes shorting stock and also shorting put options on that stock.
          </li>
          <li>
           It offers unlimited risk and limited profit.
          </li>
          <li>
            The break-even point for this strategy is Sale Price of Stock + Put Premium
          </li>
        </ul>
        <span>Create your own option payoff chart</span>
      </div>


</div>
{% endblock dashboard_body %}