{% extends "base_admin_panel.html" %}
{% load static %}
{% block dashboard_admin_body %}
<style>
  .dataTables_length {
    margin: 7px 0 10px 0 !important;
  }

  .main_report_admin {
    background: white;
    padding: 4rem 2rem;
    border-radius: 10px;
  }
</style>
<style>

  .feedback_management_table{
    padding: 50px 17px 19px 15px;
    background: white;
    border-radius: 12px;
  }
</style>


<div class="feedback_management_table">
<table class="table mt-4" id="feedback_table">
    <thead style="color: white; background-color: #01A3FF !important; border-bottom: 1px solid black !important;">
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Feedback</th>
        <th scope="col">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Mark</th>
        <td>Mark@gmail.com</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
    </tr>
      <tr>
        <th scope="row">Jacob</th>
        <td>Jacob@gmail.com</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">Larry The Bird</th>
        <td >LarrytheBird@gmail.com</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>


</div>






{% endblock dashboard_admin_body %}