{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}


<style>
    /* Base setup */
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    h1 {
        font-size: 2em;
        margin-bottom: .5rem;
    }

    /* Ratings widget */
    .rate {
        display: inline-block;
        border: 0;
    }
    /* Hide radio */
    .rate > input {
        display: none;
    }
    /* Order correctly by floating highest to the right */
    .rate > label {
        float: right;
    }
    /* The star of the show */
    .rate > label:before {
        display: inline-block;
        font-size: 1.1rem;
        padding: .3rem .2rem;
        margin: 0;
        cursor: pointer;
        font-size: 35px;
        font-family: FontAwesome;
        content: "\f005 "; /* full star */
    }
    /* Click + hover color */
    input:checked ~ label, /* color current and previous stars on checked */
    label:hover, label:hover ~ #lable_star { color: #00bfff;  } /* color previous stars on hover */

    /* Hover highlights */
    input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
    input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
    label:hover ~ input:checked ~ #lable_star /* highlight previous selected stars */ { color: #008ffd;  } 

</style>
<div class="main_feedback">
    <h3 class="fw-bolder my-3">Customer Feedback</h3>
    <h5 class="fw-light mb-3 fs-6">Please let us know about your experience with our product and service.</h5>
    <h5 class="fw-bolder mt-5">Share your opinion</h5>
    <hr class="m-0">
    <h5 class="mt-1">How is the user Interface and Experience?</h5>
    <fieldset class="rate" style="color: lightgray;">
        <input type="radio" id="rating6_1" name="rating1" value="5" onclick="logRating(this.value)" /><label id="lable_star" for="rating6_1" title="5 stars"></label>
        <input type="radio" id="rating5_1" name="rating1" value="4" onclick="logRating(this.value)" /><label id="lable_star" class="half" for="rating5_1" title="4 stars"></label>
        <input type="radio" id="rating4_1" name="rating1" value="3" onclick="logRating(this.value)" /><label id="lable_star" for="rating4_1" title="3 stars"></label>
        <input type="radio" id="rating3_1" name="rating1" value="2" onclick="logRating(this.value)" /><label id="lable_star" class="half" for="rating3_1" title="2 star"></label>
        <input type="radio" id="rating2_1" name="rating1" value="1" onclick="logRating(this.value)" /><label id="lable_star" for="rating2_1" title="1 star"></label>
    </fieldset>
    <h5>Did you find the platform's educational resources and tutorials helpful in improving your trading knowledge?</h5>
    <fieldset class="rate" style="color: lightgray;">
        <input type="radio" id="rating6_2" name="rating2" value="5" onclick="logRating(this.value)" /><label id="lable_star" for="rating6_2" title="5 stars"></label>
        <input type="radio" id="rating5_2" name="rating2" value="4" onclick="logRating(this.value)" /><label id="lable_star" class="half" for="rating5_2" title="4 stars"></label>
        <input type="radio" id="rating4_2" name="rating2" value="3" onclick="logRating(this.value)" /><label id="lable_star" for="rating4_2" title="3 stars"></label>
        <input type="radio" id="rating3_2" name="rating2" value="2" onclick="logRating(this.value)" /><label id="lable_star" class="half" for="rating3_2" title="2 star"></label>
        <input type="radio" id="rating2_2" name="rating2" value="1" onclick="logRating(this.value)" /><label id="lable_star" for="rating2_2" title="1 star"></label>
    </fieldset>

</div>



<style>
    label.btn.btn-outline-success{
        padding: 7px 23px;
        border-color: gray !important;
    }
    .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: white !important;
    background-color: rgb(2, 199, 243) !important;
    border-color: rgb(2, 199, 243) !important;
}
</style>


<h5 class="my-3">How would you rate the overall user experience of the trading platform?</h5>
<div class="one_ten_rating" style="width: fit-content;">
    <input type="radio" class="btn-check" value="1" name="options-outlined" id="success-outlined-1" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-1">1</label>
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-2" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-2">2</label>
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-3" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-3">3</label>
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-4" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-4">4</label>
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-5" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-5">5</label>
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-6" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-6">6</label>
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-7" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-7">7</label>
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-8" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-8">8</label>
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-9" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-9">9</label>
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-10" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-10">10</label>
    <div class="satis_unstis d-flex justify-content-between">
    <p style="margin-bottom: auto;     font-size: 0.8rem!important;" class="fw-light text-secondary ">Very Unsatisfied</p>
    <p style="margin-bottom: auto;     font-size: 0.8rem!important;" class="fw-light text-secondary ">Very Staticfied</p>
    </div>
    
</div>

<style>
    input[type="radio"] {
            -webkit-appearance: none;
        }
    .radio-label {
        height: 39px;
    width: 75px;
    border: 2px solid #d3d3d3;
    position: relative;
    margin: auto;
    border-radius: 10px;
    color: #d3d3d3;
    transition: 0.5s;

    }
    .radio-label .icon {
        font-size: 20px;
        font-family: "FontAwesome", sans-serif;
    }
    .radio-label span {
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }
    .radio-input:checked + .radio-label {
        color:rgb(2, 199, 243)!important;
        box-shadow: 0 15px 45px rgba(0, 0, 255, 0.2);
        border-color:rgb(2, 199, 243) !important;
    }
    .radio-input:checked + .radio-label:nth-of-type(2) {
        color: #ff0000 !important;
        border-color: #ff0000 !important;
        box-shadow: 0 15px 45px rgba(255, 0, 0, 0.2);
    }
    #card-input:hover{
        color:rgb(2, 199, 243) !important;
        box-shadow: 0 15px 45px rgba(0, 0, 255, 0.2);
        border-color:rgb(2, 199, 243) !important;
    }
    #down_thumbt:hover,#inner_thumb.hover,#down_thumb.hover{
        color:#ff0000 !important;
        box-shadow: 0 15px 45px rgba(0, 0, 255, 0.2);
        border-color:#ff0000 !important;
    }
    .inner{
        display: flex;
    align-items: center;
    justify-content: center;
    }

</style>



<h5 class="mt-4 mb-2">Do you have any suggestions how to improve our product and services?
</h5>
<div class="mb-3">

    <textarea class="form-control w-75" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>


<h5 class="mt-4 mb-2">Would you recommend our platform to your friends and colleagues?</h5>

<div class="thumb_up_down">
    <input type="radio" name="payment" id="card-input" class="radio-input">
    <label for="card-input" class="radio-label">
        <div class="inner">
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <span>YES</span>
        </div>
    </label>
    <input type="radio" name="payment" id="cash-input" class="radio-input">
    <label for="cash-input" class="radio-label" id="down_thumb">
        <div class="inner" id="inner_thumb" >
            <i class="bi bi-hand-thumbs-down-fill"></i>   
            <span>NO</span>
        </div>
    </label>

</div>

<button class="btn btn-primary my-4" style="    padding: 9px 24px;">Submit</button>

<script>
    const radioButtons = document.querySelectorAll('.one_ten_rating input[type="radio"]');

    radioButtons.forEach(function(radioButton) {
        radioButton.addEventListener('change', function() {
            if (this.checked) {
                console.log('Selected rating:', this.value);
            }
        });
    });
</script>






<script>
    function logRating(value) {
        console.log("Selected rating: " + value);
    }
</script>



</div>



{% endblock dashboard_body %}
