{% extends "base_dashboard.html" %}

{% load static %}

{% block dashboard_body %}
<style>
    a{
        text-decoration: none;
    }
</style>
<header class=" container-fluid mt-0" id="help_header">
    
<h3 class="text-center mt-3 text-light pt-3"> Help Center !</h3>
<h1 class="text-center mt-3 text-light">How can we help you today !</h1>

<nav class="navbar " >
    <div class="container-fluid" style="    display: flex;
    justify-content: center;">
        <form class="d-flex" role="search">
            <input class="form-control me-2 help_search" type="search" placeholder="I'm looking for..."
                aria-label="Search" style="      width: 28rem ">
            <button class="btn btn-outline-light" type="submit">Search </button>
        </form>
    </div>
</nav>
</header>

<div class="container my-5">
    <h4 class="text-secondary mb-5">Popupar Topics</h4>

    <div class="popular_topics d-flex">

        <div class="popular_boxes d-flex">
            <h5 class="fw-bold  mb-4 mb-4">Getting started</h5>
            <div class="topics_link">
                <a href="#">How to trade is Intraday trading?</a>
                <a href="#">How to trade is Intraday trading?</a>
                <a href="#">How to trade is Intraday trading?</a>
            </div>

        </div>
        <div class="popular_boxes d-flex">
            <h5 class="fw-bold  mb-4">Getting started</h5>
            <div class="topics_link">
                <a href="#">How to trade is Intraday trading?</a> 
                <a href="#">How to trade is Intraday trading?</a>
                <a href="#">How to trade is Intraday trading?</a>
            </div>

        </div>
        <div class="popular_boxes d-flex">
            <h5 class="fw-bold  mb-4">Getting started</h5>
            <div class="topics_link">
                <a href="#">How to trade is Intraday trading?</a>
                <a href="#">How to trade is Intraday trading?</a>
                <a href="#">How to trade is Intraday trading?</a>
            </div>

        </div>
        <div class="popular_boxes d-flex">
            <h5 class="fw-bold  mb-4">Getting started</h5>
            <div class="topics_link">
                <a href="#">How to trade is Intraday trading?</a>
                <a href="#">How to trade is Intraday trading?</a>
                <a href="#">How to trade is Intraday trading?</a>
            </div>

        </div>
        <div class="popular_boxes d-flex">
            <h5 class="fw-bold  mb-4">Getting started</h5>
            <div class="topics_link">
                <a href="#">How to trade is Intraday trading?</a>
                <a href="#">How to trade is Intraday trading?</a>
                <a href="#">How to trade is Intraday trading?</a>
            </div>

        </div>





    </div>
</div>

{% endblock dashboard_body %}