

{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>

</style>

<div class="main_head_strategies border-bottom my-4">
    <div
      class="strategies d-flex mt-4"
      style="align-items: center; gap: 0.3rem"
    >
      <h4 class="">Holidays</h4>
      <span>
        <i
          class="bi bi-exclamation-circle"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        ></i>
      </span>
    </div>
  </div>
  <div class="collapse" id="collapseExample" style="margin-bottom: 25px">
    <div class="card card-body">
      <div class="antd-pro-components-markdown-index-markdownStyle">
        <p>BSE NSE Holidays 2023 List</p>
        <ul>
          <li>NSE / BSE Opening Time: 09:15 AM IST</li>
          <li>NSE / BSE Closing Time: 3:30 PM IST</li>
        </ul>
      </div>
    </div>
  </div>



    <table id="example" class="display pt-3" width="100%">

<thead style='    background: #4399eb!important;
color: white; margin-top:1rem;'>
    <tr>

        <th>S.NO</th>
        <th>DATE</th>
        <th>DAY</th>
        <th>DESCRIPTION</th>
    </tr>
</thead>
<tbody>
    {% for holi in  table_data %}
    <tr>

        <td>{{holi.srno}}</td>
        <td>{{holi.date}}</td>
        <td>{{holi.day}}</td>
        <td>{{holi.description}}</td>
    </tr>
    {% endfor %}

   

   
</tbody>
    </table>

    




{% endblock dashboard_body %}
