{% extends "base_dashboard.html" %}

{% block title %}Indices Historical Data{% endblock title %}
{% load static %}
{% block dashboard_body %}



<style>
  .date_time_dropdown {
        display: none; /* Initially hide the dropdown */

    padding: 10px;
 background-color: white;
 z-index: 9;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .main_date_range_filter{
        position: relative;
        display: flex;
        align-items: center;

        gap: 0.4rem;
    }

    .date_time_dropdown{
        position: absolute;

        top: 40px;
    left: 136px;
}

    .date_time_filter_btn {
        width: 20rem;
    }

    .main_top_filter_historical_data{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 22px;
    }

    .main_frequency_filter,.main_index_symbol_filter{
        display: flex;
        gap: 0.4rem;
        align-items: center;
    }

    .main_index_symbol_filter label,
    .main_frequency_filter label,
    .main_date_range_filter label{
        white-space: nowrap;
    }
    .date_time_dropdown input{
        width: 12rem;
    }

    .main_all_index_historical_table_header{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 1rem;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    }

    .apply_button{
    background: #00a900;
    color: white;
    height: 37px;
    border-radius: 5px;
    font-size: 14px;
    width: 123px;
    font-weight: 600;
    border: 1px solid #00a900;
    }
    #historical_data_table thead tr{
    background: #59aaf9;
    color: white;
    }
    .top{
        padding: 6px !important;
    }
    .bottom{
        margin-top: 15px !important;
      }
    #historical_data_table_filter{
        padding-bottom: 14px !important;
    }
    #historical_data_table_wrapper{
        padding: 15px !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: white !important;
        border: 1px solid #59aaf9 !important;
        background-color: rgba(230, 230, 230, 0.1);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
        background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        /* background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%); */
        background: #59aaf9;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 7px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        color: inherit !important;
        border: 1px solid transparent;
        border-radius: 7px;
        background: transparent;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 7px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        color: inherit !important;
        border: 1px solid transparent;
        border-radius: 7px;
        background: transparent;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        outline: none;
        background-color: #2b2b2b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
        background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        background: #59aaf9 !important;
        box-shadow: inset 0 0 3px #111;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
        border: 1px solid #59aaf9 !important;
        background-color: #585858;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
        background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
        background: -moz-linear-gradient(top, #585858 0%, #111 100%);
        background: -ms-linear-gradient(top, #585858 0%, #111 100%);
        background: -o-linear-gradient(top, #585858 0%, #111 100%);
        background: linear-gradient(to bottom, #585858 0%, #111 100%);
        background: #59aaf9 !important;
    }
    
    .paginate_button.previous::before {
        content: "<"; /* Unicode left arrow character */
        font-size: 16px !important;
      }
    
      /* Next page button icon */
      .paginate_button.next::before {
        content: ">"; /* Unicode right arrow character */
        font-size: 16px !important;
      }
    
      #historical_data_table_previous {
        font-size: 0 !important;
        background-color: white; 
        color: black;
        padding: 7px 18px; 
        border-radius: 4px; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
        box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
      }
    
      #historical_data_table_previous:hover {
        color: white !important;
        
      }
    
      #historical_data_table_next {
        font-size: 0 !important;
        background-color: white; /* Button background color */
        color: black; /* Button text color */
         /* Button border */
        padding: 7px 18px; /* Button padding */
        border-radius: 4px; /* Button border-radius */
        cursor: pointer; /* Add pointer cursor on hover */
        transition: background-color 0.3s ease; 
        box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
      }
      #historical_data_table_next:hover{
        color: white !important;
      }
    
      .paginate_button {
        box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important; /* Adjust the values as needed */
      }
    
      .dataTables_length label {
        text-transform: capitalize !important;
    }

    .rounded-table {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 10px 10px 0 0; /* Adjust the value as needed */
        overflow: hidden; /* Ensure border-radius is applied properly */
    }
    
    thead tr th{
  border-right: .2px solid white !important;
  
}
    .table-striped-custom>tbody>tr:nth-child(2n)>td,
  .table-striped-custom>tbody>tr:nth-child(2n)>th {
    background-color: rgb(240, 247, 253) !important;
   
  }

  table.dataTable thead th,
  table.dataTable thead td {
    padding: 10px;
    border-bottom: 1px solid rgb(0 0 0 / 0%) !important;
  }

  table.dataTable tbody td {
    /* border: none !important; */
    border-top: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
  }

  table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after {
    opacity: 1 !important;
}
table.dataTable thead>tr>th.sorting_asc:after{
    position: absolute;
    display: block;
    opacity: .5 !important;
    right: 10px;
    line-height: 11px;
    font-size: .7em;
}

  table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before{
    position: absolute;
    display: block;
    opacity: .125;
    right: 10px;
    line-height: 11px !important;
    font-size: .7em !important;
  }

  .negative-value {
    color: red;
}

.positive-value {
    color: green;
}

#symbol_filter{
width: 180px !important;
}
#frequency_filter{
    width: 180px !important;
}
.buttons button{
    border: 1px solid #0000002e;
    padding: 2px 11px;
    border-radius: 3px;
    font-size: 13px;
    background: #f5f8fa;
    width: 50px;
}
.buttons button:hover{
    border: 1px solid #0f69ff ;
}

#done_date{
    background-color: #0d6efd;
    width: 100px;
}
#done_date:hover{
    color: #0d6efd;
    background-color: transparent;
    border: 1px solid #0d6efd !important;
}
#cancel_date{
    width: 100px;
}
#cancel_date:hover{
    color: white ;
    background-color: #0d6efd !important;
}
.date_active{
    border: 1px solid #0f69ff !important;
}
</style>



<div class="container mt-4" style="margin-bottom:200px ;">

    <h5 class="pb-2">Index Historical Data</h5>

<div class="main_all_index_historical_table_header">
<div class="main_top_filter_historical_data"> 

    <div class="main_index_symbol_filter">
        <label for="symbol_filter">Select Index :</label>
   <select name="" id="symbol_filter" class="form-select">


    <option value="%5ENSEI">Nifty</option>
    <option value="%5ENSEBANK">Bank Nifty</option>
    <option value="NIFTY_FIN_SERVICE.NS">Fin Nifty</option>
</select>
    </div>

    <div class="main_date_range_filter">
    <label for="range_date_btn">Date Range :</label>
  <button class="date_time_filter_btn form-select bg-light text-dark" id="range_date_btn"> 02/10/2020 - 02/10/2024 </button>

        <div class="date_time_dropdown">
            <div class="mb-2"> 
                <div class="buttons">
                    <div>
                        <button value="6_M" class="filter-btn">6M</button>
                        <button value="1_Y" class="filter-btn">1Y</button>
                        <button value="2_Y" class="filter-btn">2Y</button>
                        <button value="5_Y" class="filter-btn">5Y</button>
                    </div>
                </div>
            </div>
            <label for="from_date" style="font-size: 13px !important;">Start Date :</label>
            <input type="date" class="form-control mb-2" name="" id="from_date">
            <label for="to_date" style="font-size: 13px !important;">End Date :</label>
            <input type="date" class="form-control" name="" id="to_date">

            <div class="action_btn d-flex gap-2 mt-3">

                <div class="button btn btn-primary btn-sm" id="done_date">Done</div>
                <div class="button btn btn-outline-primary btn-sm" id="cancel_date">Cancel</div>
            </div>
        </div>
    </div>
    <div class="main_frequency_filter">
        <label for="frequency_filter">Frequency :</label>
        <select name="" id="frequency_filter" class="form-select">

            <option value="1d">Daily</option>
            <option value="1wk">Weekly</option>
            <option value="1mo">Monthly</option>
        </select>

    </div>

    <div class="main_apply_action">
    <button class="apply_button">GO</button>
    </div>

</div>


<div class="table-responsive">

    <table class="table mt-3 rounded-table cell-border table-striped-custom" id="historical_data_table">
        <thead>
            <tr>
                <th><div>Date</div></th>
                <th><div>Open</div></th>
                <th><div>High</div></th>
                <th><div>Low</div></th>
                <th><div>Close*</div></th>
    
                <th><div>Change</div></th>
                <th><div>Change %</div></th>
                <th><div>Volume</div></th>
            </tr>
        </thead>
        <tbody>
    
        </tbody>
    </table>
</div>
















</div>
<script>

$(document).ready(function () {

$("#done_date").click(function () {
    $(".date_time_dropdown").hide()
    
})
$("#cancel_date").click(function () {
    $(".date_time_dropdown").hide()
    
})



$(".apply_button").click(function () {
// Get the selected values of the select elements
get_all_filtered_historical_data()

});
function get_all_filtered_historical_data() {


var frequency = $("#frequency_filter").val();
var symbol = $("#symbol_filter").val();

// Get the text content of the button
var dateRangeText = $("#range_date_btn").text();
// Split the text to get start and end dates
var dates = dateRangeText.split(" - ");
var startDate = dates[0];
var endDate = dates[1];

// Prepare data to be sent to the backend
var requestData = {
'frequency': frequency,
'symbol': symbol,
'start_date': startDate,
'end_date': endDate
};

// Make AJAX request to Django backend
$.ajax({
url: '/get_index_historical_data', // URL of the Django backend endpoint
type: 'POST', // You can change this to 'POST' if needed
data: requestData,
success: function(response) {
    // Handle successful response from the backend
    console.log('Response from backend:', response.historical_data);

    var table = $("#historical_data_table");
    var tbody = table.find("tbody");
    tbody.empty();

    $("#historical_data_table").DataTable().clear().destroy();
    function formatNumber(num) {
        if (typeof num === 'number') {
            return num.toFixed(2);
        } else {
            return "<span style='color: red;'>-</span>";
        }
    }
    
function formatDate(dateString) {
const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
const [year, month, day] = dateString.split('-');
const monthIndex = parseInt(month, 10) - 1; // Subtract 1 as months are 0-indexed in JavaScript
return `${parseInt(day, 10)}-${months[monthIndex]}-${year}`;
}
    // Iterate through the historical data and append rows to the table body
    response.historical_data.forEach(function(data) {



var closePrice = parseFloat(data.Close);
var openPrice = parseFloat(data.Open);
var priceDifference = closePrice - openPrice;
var percentChange;

if (!isNaN(closePrice) && !isNaN(openPrice) && openPrice !== 0) {
percentChange = ((closePrice - openPrice) / openPrice) * 100;
} else {
percentChange = "-";
}



        var row = $("<tr>");
 
            row.append($("<td>").text( changeDateFormat(data.Date || "-")).attr("data-order", formatDateWithTimestamp(data.Date) ));


        row.append($("<td>").html(formatNumber(data.Open)));
            row.append($("<td class='text-success'>").html(formatNumber(data.High)));
                row.append($("<td class='text-danger'>").html(formatNumber(data.Low)));
                    row.append($("<td>").html(formatNumber(data.Close)));

                        var priceDifferenceTd = $("<td>").html(formatNumber(priceDifference || "-"));
                            // Apply conditional formatting based on the value of priceDifference
                            if (!isNaN(priceDifference)) {
                                if (priceDifference < 0) {
                                    priceDifferenceTd.addClass("text-danger");
                                } else if (priceDifference > 0) {
                                    priceDifferenceTd.addClass("text-success");
                                }
                            }
                        
                            // Append the price difference <td> element to the row
                            row.append(priceDifferenceTd);
                            row.append($("<td>").html(formatNumber(percentChange) + "<span>%</span>").addClass(percentChange < 0 ? 'text-danger' : 'text-success'));
                            row.append($("<td>").html(data.Volume || "<span style='color: red;'>-</span>"));
                            tbody.append(row);
    });

    table.DataTable({
        "dom": '<"top"lf>rt<"bottom"ip><"clear">',
        "language": {
        "search": '<div class="custom-search" style="position: relative"><i class="bi bi-search" style="position: absolute;right: 7px;top: 10px;"></i></i><input class="form-control" type="search" placeholder="Search" aria-controls="volume_shocker_table"></div>'
       },
       "pageLength": 25,
       'columnDefs': [
    				{ 'orderData':[1] },
    				{
        			'targets': [1],
		        	'visible': false
    				},
				],
     
    });
    $('#historical_data_table_filter input:eq(1)').hide();
    $('#historical_data_table_filter input[type="search"]').attr('placeholder', 'Search...');

},
error: function(xhr, status, error) {
    // Handle error response from the backend
    console.error('Error:', error);
}
});

}

function formatDateWithTimestamp(dateString) {
    // Convert date string to a JavaScript Date object
    var date = new Date(dateString);
    
    // Get the timestamp in seconds
    var timestamp = Math.floor(date.getTime() / 1000);
    
 
    
    return  timestamp

}


var from_date_input = $('#from_date');
var to_date_input = $('#to_date');
var date_filter_btn = $('.date_time_filter_btn');
var filter_btns = $(".filter-btn")

filter_btns.click(function() {
    var period = $(this).val();
    var toDate = new Date();
    var fromDate = new Date();

    filter_btns.removeClass('date_active');
    
    // Add active class to the clicked button
    $(this).addClass('date_active');

    switch (period) {
        case "6_M":
            // Set fromDate to six months ago from today
            fromDate.setMonth(fromDate.getMonth() - 6);
            break;
        case "1_Y":
            // Set fromDate to one year ago from today
            fromDate.setFullYear(fromDate.getFullYear() - 1);
            break;
        case "2_Y":
            // Set fromDate to two years ago from today
            fromDate.setFullYear(fromDate.getFullYear() - 2);
            break;
        case "5_Y":
            // Set fromDate to five years ago from today
            fromDate.setFullYear(fromDate.getFullYear() - 5);
            break;
        default:
            // Default to one month ago from today
            fromDate.setMonth(fromDate.getMonth() - 1);
    }

    // Set toDate to today
    toDate = new Date();
    function formatDate(date) {
        var mm = date.getMonth() + 1; // getMonth() is zero-based
        var dd = date.getDate();
    
        return [
            date.getFullYear(),
            (mm > 9 ? '' : '0') + mm,
            (dd > 9 ? '' : '0') + dd
        ].join('-');
    }

   
    // Update the input fields and button text with the selected dates
    from_date_input.val(formatDate(fromDate));

    function newformatDate(date) {
        var mm = date.getMonth() + 1;
        var dd = date.getDate();
        return [(mm>9 ? '' : '0') + mm, (dd>9 ? '' : '0') + dd, date.getFullYear()].join('/');
    }

    var fromDateFormatted = newformatDate(fromDate);
    var toDateFormatted = newformatDate(toDate);

    $(".date_time_filter_btn").text(fromDateFormatted + " - " + toDateFormatted);
  
});

// Function to set the initial date range and update button text
function setInitialDateRange() {
var currentDate = new Date();
var oneMonthBack = new Date(currentDate);
oneMonthBack.setMonth(currentDate.getMonth() - 1);

from_date_input.val(oneMonthBack.toISOString().slice(0,10));
to_date_input.val(currentDate.toISOString().slice(0,10));

updateButtonDateText(oneMonthBack, currentDate);
}

// Function to update the button text with the selected dates
function updateButtonDateText(fromDate, toDate) {
    var fromDateStr = formatDate(fromDate);
    var toDateStr = formatDate(toDate);
    console.log('updateButtonDateText');
    
    date_filter_btn.text(fromDateStr + " - " + toDateStr);
}

// Function to format date as "MM/DD/YYYY"
function formatDate(date) {

    console.log(date)
    var mm = date.getMonth() + 1;
    var dd = date.getDate();
    return [(mm>9 ? '' : '0') + mm, (dd>9 ? '' : '0') + dd, date.getFullYear()].join('/');
}
function changeDateFormat(dateStr) {
    // Split the date string into year, month, and day
    var parts = dateStr.split("-");
    
    // Rearrange the parts to form the new date string
    var formattedDateStr = parts[2] + "-" + parts[1] + "-" + parts[0];
    
    return formattedDateStr;
}

// Set initial date range and button text
setInitialDateRange();

// Disable weekends in to_date

to_date_input.on('input', function () {

    console.log('Changing to_date');

    filter_btns.removeClass('date_active');
    
var from_date_input = $('#from_date');
var inputDate = $(this).val();

// Store the existing value of the input
var existingValue = $(this).val();

// Check if the input date is empty
if (!inputDate) {
// If the input is empty, do not perform any further action
return;
}

var selectedDate = new Date(inputDate);
var today = new Date();
var dayOfWeek = selectedDate.getDay(); // 0 for Sunday, 1 for Monday, etc.

// Check if selected date is a weekend or beyond today
if (dayOfWeek === 6 || dayOfWeek === 0 || selectedDate < new Date(from_date_input.val()) || selectedDate > new Date()) {
if (dayOfWeek === 6 || dayOfWeek === 0) {
    toastr.error("You can't select Saturday or Sunday for the To Date.");
} else if (selectedDate < new Date(from_date_input.val())) {
    toastr.error("To Date cannot be before From Date.");
} else {
    toastr.error("To Date cannot be beyond today.");
}
// Set back the existing value if an error occurs
$(this).val(existingValue);
} else {
// Update button text only if the input date is valid
updateButtonDateText(new Date(from_date_input.val()), selectedDate);
}
});

// Update button text when from_date changes
// Update button text when from_date changes
from_date_input.on('input', function () {
var inputDate = $(this).val();
var existingValue = $(this).val();
filter_btns.removeClass('date_active');
// Check if the input date is empty
if (!inputDate) {
// If the input is empty, do not perform any further action
return;
}

var selectedDate = new Date(inputDate);
var toDate = new Date(to_date_input.val());

// Check if from_date is after to_date, if so, set to_date to from_date
if (selectedDate > toDate) {

toastr.error("To Date cannot be before From Date. To Date has been adjusted.");
$(this).val(existingValue);

} else if (selectedDate > new Date()) {
toastr.error("From Date cannot be beyond today.");
$(this).val(existingValue);
} else {
updateButtonDateText(selectedDate, toDate);
}
});


// Button click event to trigger some action with selected date range
date_filter_btn.click(function () {
    var fromDate = from_date_input.val();
    var toDate = to_date_input.val();
 
    // Perform some action with selected date range
});
get_all_filtered_historical_data()
});

</script>

</div>

<script>
$(document).ready(function () {

$(".date_time_filter_btn").click(function () {

    $(".date_time_dropdown").fadeToggle()
    
})

$(document).click(function(event) {
var $target = $(event.target);
if(!$target.closest('.date_time_filter_btn').length && !$target.closest('.date_time_dropdown').length) {
$(".date_time_dropdown").fadeOut();
}
});

})
</script>
{% endblock dashboard_body %}