{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<style>
    thead tr{
        font-weight: 600 !important;
        font-size: 16px;
    }
    tr{
        white-space: nowrap;
    }
    .bi.bi-graph-up {
        border: 1px solid #2397f3;
        border-radius: 7px;
        padding: 6px 9px;
        width: 33px;
        display: block;
        height: 23px;
        color: #2397f3;
        transition: 0.3s;
        display: inline;
    }

    .bi.bi-graph-up:hover {
        background-color: rgb(0, 132, 255);
        border: none;
        color: white !important;
    }

    tr:hover .symbol_name_watchlist {
        color: #2196f3;
    }

    /* Reset default margin and padding for the table */


    /* Style for the table header */


    th,
    td {
        padding: 12px 8px;
        text-align: left;
    }

    /* Add padding to tbody tr */
    tbody tr {
        font-size: 14px;
        border-bottom: 1px solid #000; /* Add borders between rows */
    }

    td > div,
    th > div {
        font-weight: 600 !important;
        padding: 7px;
    }
    .dataTables_length,.dataTables_filter{
        padding: 10px 0 !important;
        display: flex;
    justify-content: flex-start;
    
    
    
    }
    .main_instraday_breakout_table{
        margin: 12px 0;
        padding: 24px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    thead {
        padding: 12px 15px !important;
        font-size: 17px !important;
        
        /* background: #eff9ff !important; */
        background: #59aaf9 !important;
        /* color: #081a76 !important; */
        color: #fff !important;
        border-right: 1px solid var(--border-gray) !important;
    }
</style>
<style>
    .filter-btn {
      border: 1px solid #4399eb !important;
      background-color: #fff;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 13px;
      color: #4399eb;
      line-height: 1.923;
      padding: 4px 13.5px;
      margin-right: 9px;
      min-width: 100px;
      max-width: 150px;
      text-align: center;
      border-radius: 10px;
    }
  
    .active {
      background: -webkit-gradient(linear, left top, left bottom, from(#4399eb), to(#5cadfb));
      background: -moz-linear-gradient(top, #4399eb 0, #5cadfb 100%);
      background: linear-gradient(180deg, #4399eb, #5cadfb);
      color: #fff;
    }
  

  
    .table-striped-custom>tbody>tr:nth-child(2n)>td,
    .table-striped-custom>tbody>tr:nth-child(2n)>th {
      background-color: rgb(240, 247, 253) !important;
    }
  
    /* Custom CSS to change the background color of placeholder-glow */
    .placeholder-glow:focus::placeholder {
      background-color: red !important;
      /* Add any other custom styles you want for the placeholder */
    }
  
    /* Optionally, change the color of the glowing effect */
    .placeholder-glow:focus::placeholder:after {
      background-color: blue !important;
    }
  
    .placeholder {
      height: 2rem !important;
    }
  
    .long_buildup {
      background: green;
      color: white;
      border-radius: 50px;
      font-weight: 600;
      padding: 5px 15px 7px 30px;
      font-size: 14px;
    }
  
    .short_buildup {
      background: lightcoral;
      color: white;
      border-radius: 50px;
      font-weight: 600;
      padding: 5px 15px 7px 30px;
      font-size: 14px;
    }
  
    .short_covering {
      background: #c9c900;
      color: white;
      border-radius: 50px;
      font-weight: 600;
      padding: 5px 15px 7px 30px;
      font-size: 14px;
    }
  
    .long_unwinding {
      background: #ff9900;
      color: rgb(255, 255, 255);
      border-radius: 50px;
      font-weight: 600;
      padding: 5px 15px 7px 30px;
      font-size: 14px;
    }
  
    table.dataTable tbody tr {
      background-color: transparent;
      border-bottom: 1px solid #000000b9;
    }
  
    table.dataTable thead th,
    table.dataTable thead td {
      padding: 10px;
      border-bottom: 0px solid rgb(0 0 0 / 0%) !important;
    }
  
    table.dataTable tbody td {
      /* border: none !important; */
      border-top: 0 !important;
    }
  
    /* #bulk_data_wrapper{
    overflow: auto;
  }
  #bulk_data_length{
    position: fixed;
  }
  .dataTables_filter{
    margin-top: 2.5em !important;
    position: fixed;
  } */
  /* Custom CSS for DataTable's search input and length dropdown */
  .table-container {
    position: relative;
  }
  
  
  .parent_table{
    overflow: auto;
  }
  #bulk_data_wrapper{
    display: flex;
      flex-direction: column;
  }
  #breakoutTable_wrapper{
    display: flex;
    flex-direction: column;
  }

  .dataTables_filter input{
    
    text-align: left !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.611) !important;
  }
  .dataTables_filter label{
   position: relative;
  }
  .dataTables_filter label i{
   position: absolute;
   right: 2px;
  }

  tr td{
    border-bottom: 1px solid #80808029 !important;
  }
  
tr th {
border-right: .1px solid white !important;
}

tbody tr td{
    border-right: 1px solid #8080803b !important;
}

tbody tr td div span{
    font-weight: 500 !important;
}
tbody tr td div{
    font-weight: 500 !important;
}

.parent_table{
    border-radius: 10px !important;
  }

  table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: 1 !important;
    right: 10px;
    line-height: 10px;
    font-size: .7em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid #59aaf9 !important;
    background-color: rgba(230, 230, 230, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%); */
    background: #59aaf9;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 7px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 7px;
    background: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: #59aaf9 !important;
    box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #59aaf9 !important;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    background: #59aaf9 !important;
}
.paginate_button.previous::before {
    content: "<"; /* Unicode left arrow character */
    font-size: 16px !important;
  }

  /* Next page button icon */
  .paginate_button.next::before {
    content: ">"; /* Unicode right arrow character */
    font-size: 16px !important;
  }

  /* Hide text for Previous and Next buttons */
  #breakoutTable_previous{
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }
  #breakoutTable_previous {
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }
  #breakoutTable_previous:hover {
    color: white !important;
    
  }
  #breakoutTable_next {
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }

  .paginate_button {
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important; /* Adjust the values as needed */
  }


  .dataTables_length select{
    border: 1px solid #aaa;
      
      background-color: transparent;
      padding: 2px 9px !important;
      margin: 0 5px !important;
      font-weight: 500 !important;
  }

  .dataTables_length label {
    text-transform: capitalize !important;
}
.bottom{
  margin-top: 20px !important;
}

.dataTables_info{
  margin-top: 5px !important;
}

  </style>
<div>
    <h4 class="my-3">NSE Stocks – Intraday Breakouts</h4>
    <div class="main_instraday_breakout_table mt-3" >
        <table id="breakoutTable" class="table table-striped-custom">
            <thead >
                <tr>
                    <th>
                        <div>Symbol Name</div>
                    </th>
                    <th>
                        <div>Open</div>
                    </th>
                    <th>
                        <div>High</div>
                    </th>
                    <th>
                        <div>Low</div>
                    </th>
                    <th>
                        <div>Close</div>
                    </th>
                    <th>
                        <div>Last Trade Price</div>
                    </th>
                    <th>
                        <div>Avg Daily Volume</div>
                    </th>
                    <th>
                        <div>Total Volume</div>
                    </th>
                    <th>
                        <div>Ratio</div>
                    </th>
                    <th>
                        <div>Change</div>
                    </th>
                    <th>
                        <div>Change (%)</div>
                    </th>
                    <th>
                        <div>Chart</div>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="11" class="text-center">Loading data, please wait...</td>
                </tr>
            </tbody>
        </table>

        <h5 class="my-2">*Data is only available during market hours.</h5>
    </div>
    <script>
        // AJAX call to fetch data and populate the table
        $(document).ready(function () {
           
            $.ajax({
                url: "/get_intraday_breakout_data", // Replace with the URL of your API endpoint
                method: "GET",
                dataType: "json",
                success: function (data) {
                    populateTable(data);
                },
                error: function (error) {
                    console.error("Error fetching data:", error);
                }
            });
            function populateTable(data) {
                const tableBody = $("#breakoutTable tbody");
                tableBody.empty(); // Clear existing rows if any
    
                // Check if data is available
                if (data.length === 0) {
                    // If no data, display a message
                    tableBody.append(`
                        <tr>
                            <td colspan="11" class="text-center">No data available.</td>
                        </tr>
                    `);
                } else {
                    // Loop through the data and create rows for the table
                    data.forEach(item => {
                        const row = `
                            <tr>
                                <td>
                                    <div>
                                        <span class="symbol_name_watchlist">${item.symbol_name}</span>
                                        
                                    </div>
                                </td>
                                <td><div>${item.open}</div></td>
                                <td><div>${item.high}</div></td>
                                <td><div>${item.low}</div></td>
                                <td><div>${item.close}</div></td>
                                <td><div>${item.last_trade_price}</div></td>
                                <td><div>${item.avg_daily_volume}</div></td>
                                <td><div>${item.total_volume}</div></td>
                                <td><div>${item.ratio}</div></td>
                                <td><div>${item.change}</div></td>
                                <td><div>${item.change_percent}</div></td>
                                <td><div><span><a href="https://www.tradingview.com/chart/MgiGDMYM/?symbol=${item.symbol_name}'&aff_id=113877" target='_blank'><i class="bi bi-graph-up"></i></a></span></div></td>
                            </tr>
                        `;
                        tableBody.append(row);
                    });
                }
    
                // Initialize DataTable
                $("#breakoutTable").DataTable({
                    "paging": true,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "order": [], // Disable default sorting
                    "dom": '<"top"lf>rt<"bottom"ip><"clear">',
                    "language": {
                      "search": '<div class="custom-search" style="position: relative"><i class="bi bi-search" style="position: absolute;right: 7px;top: 10px;"></i></i><input class="form-control" type="search" placeholder="Search" aria-controls="volume_shocker_table"></div>'
                    }
                });
                $('#breakoutTable_filter input:eq(1)').hide();
                $('#breakoutTable_filter input[type="search"]').attr('placeholder', 'Search...');
                $('#breakoutTable').wrap('<div class="parent_table"></div>');
                $('#breakoutTable_length,#breakoutTable_filter').wrapAll('<div class="parent_search_length"></div>');
            }
         
        });

        // Function to populate the table with data
   
    </script>
</div>
{% endblock dashboard_body %}
