{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}
<style>
.leaning_boxes{
    transition: 0.3s;
}
.leaning_boxes:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

</style>

<div class="container">

    <div class="main_head_strategies">

        <div class="strategies d-flex mt-4" style="align-items: center; gap: 0.3rem;">
            <h4 class="">Learning Center
            </h4> <span><i class="bi bi-exclamation-circle" class="btn btn-primary" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample"></i></span>
        </div>




    </div>
    <div class="collapse" id="collapseExample" style="    margin-bottom: 25px;">
        <div class="card card-body">
            <div class="antd-pro-components-markdown-index-markdownStyle">
                <p>Learn the trading as earliest possible </p>
                <ul>
                    <li>Free courses are available</li>
                    <li>Paid courses with minimum price range</li>
                    <li> Start trading now with us &amp; soon you wil become professional</li>
                </ul>
            </div>
        </div>





    </div>


    <div class="sort_filter d-flex mt-3 border-bottom pb-3" style="
    display: flex!important;
    justify-content: space-between;
    align-items: center;">

        <div class="filter_modal">

            <div class="dropdown">
                <button class="button btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Category
                </button>
                <ul class="dropdown-menu" style="    width: fit-content;">
                    <li><a class="dropdown-item" href="#">Advanced Options Trading</a></li>
                    <li><a class="dropdown-item" href="#">Options Trading Free Courses</a></li>
                    <li><a class="dropdown-item" href="#">Indian Stock Market</a></li>
                </ul>
            </div>
        </div>
        <div class="sort_input d-flex" style="
    align-items: center;
    gap: 1rem;">
            <h5 style="white-space: nowrap;">Sort By</h5>
            <select class="form-select" aria-label="Default select example">
                <option selected>Newly Added</option>
                <option value="1">Top Selling</option>
                <option value="2">Price : Low to High</option>
                <option value="2">Price : High to Low</option>
                <option value="3">Title</option>
            </select>
        </div>
    </div>



    <div class="learning_main d-flex mt-3 "
        style="flex-direction: row; flex-wrap: wrap;     row-gap: 2rem;    justify-content: space-evenly;align-items: center;">

   
   
        <a class="leaning_boxes border {% if request.path == "/courses_details"  %} active_dash {% endif %}" style="width: 320px; height: 370px;border-radius: 10px;text-decoration: none;" href="{% url "courses_details" %}">



       <img src="{% static "img/english_basic.png" %}" alt="" style="    width: inherit;">
            <div class="card_description" style="    padding: 13px 16px 10px 8px;">
                <h5 style="
                    
    font-size: 1.14rem;
    color: darkslategray; margin: 0;
">A Complete Course on the Indian ...</h5>


                <div class="rating_course d-flex" style="color: #002464;  margin: 0 0 -18px 0; font-weight: 400;   align-items: baseline;gap: 0.3rem;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <p>4.9</p>
                    <p>(221 ratings)</p>
                </div>
                <h5 style=" font-weight: 400;   color: gray;">Learn2Trade</h5>
                <h5 style="  font-weight: 400;  color: #002464;">₹990</h5>
            </div>

        </a>
        <a class="leaning_boxes border {% if request.path == "/courses_details"  %} active_dash {% endif %}" style="width: 320px; height: 370px;border-radius: 10px;text-decoration: none;" href="{% url "courses_details" %}">



          
       <img src="{% static "img/english_advanced.png" %}" alt="" style="    width: inherit;">
            <div class="card_description" style="    padding: 13px 16px 10px 8px;">
                <h5 style="
                    
    font-size: 1.14rem;
    color: darkslategray; margin: 0;
">An Advanced Course on Options Trading...</h5>


                <div class="rating_course d-flex" style="color: #002464;  margin: 0 0 -18px 0; font-weight: 400;   align-items: baseline;gap: 0.3rem;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <p>4.9</p>
                    <p>(221 ratings)</p>
                </div>
                <h5 style=" font-weight: 400;   color: gray;">Learn2Trade</h5>
                <h5 style="  font-weight: 400;  color: #002464;">₹990</h5>
            </div>

        </a>
        <a class="leaning_boxes border {% if request.path == "/courses_details"  %} active_dash {% endif %}" style="width: 320px; height: 370px;border-radius: 10px;text-decoration: none;" href="{% url "courses_details" %}">


    
            <img src="{% static "img/Options-Trading-Hindi-COurse-After-Correction (1).png" %}" alt="" style="    width: inherit;">
            <div class="card_description" style="    padding: 13px 16px 10px 8px;">
                <h5 style="
                    
    font-size: 1.14rem;
    color: darkslategray; margin: 0;
">How to make profit in options Trading?</h5>


                <div class="rating_course d-flex" style="color: #002464;  margin: 0 0 -18px 0; font-weight: 400;   align-items: baseline;gap: 0.3rem;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <p>4.9</p>
                    <p>(221 ratings)</p>
                </div>
                <h5 style=" font-weight: 400;   color: gray;">Learn2Trade</h5>
                <h5 style="  font-weight: 400;  color: #002464;">₹990</h5>
            </div>

        </a>
        <a class="leaning_boxes border {% if request.path == "/courses_details"  %} active_dash {% endif %}" style="width: 320px; height: 370px;border-radius: 10px;text-decoration: none;" href="{% url "courses_details" %}">



            <img src="{% static "img/Options-Trading-Hindi-COurse-After-Correction (1).png" %}" alt="" style="    width: inherit;">
            <div class="card_description" style="    padding: 13px 16px 10px 8px;">
                <h5 style="
                    
    font-size: 1.14rem;
    color: darkslategray; margin: 0;
">How to make profit in options Trading?</h5>


                <div class="rating_course d-flex" style="color: #002464;  margin: 0 0 -18px 0; font-weight: 400;   align-items: baseline;gap: 0.3rem;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <p>4.9</p>
                    <p>(221 ratings)</p>
                </div>
                <h5 style=" font-weight: 400;   color: gray;">Learn2Trade</h5>
                <h5 style="  font-weight: 400;  color: #002464;">₹990</h5>
            </div>

        </a>
        <a class="leaning_boxes border {% if request.path == "/courses_details"  %} active_dash {% endif %}" style="width: 320px; height: 370px;border-radius: 10px;text-decoration: none;" href="{% url "courses_details" %}">



            <img src="{% static "img/hindi_basic.png" %}" alt="" style="    width: inherit;">
            <div class="card_description" style="    padding: 13px 16px 10px 8px;">
                <h5 style="
                    
    font-size: 1.14rem;
    color: darkslategray; margin: 0;
">A Complete Course on the Indian ...</h5>


                <div class="rating_course d-flex" style="color: #002464;  margin: 0 0 -18px 0; font-weight: 400;   align-items: baseline;gap: 0.3rem;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <p>4.9</p>
                    <p>(221 ratings)</p>
                </div>
                <h5 style=" font-weight: 400;   color: gray;">Learn2Trade</h5>
                <h5 style="  font-weight: 400;  color: #002464;">₹990</h5>
            </div>

        </a>
        <a class="leaning_boxes border {% if request.path == "/courses_details"  %} active_dash {% endif %}" style="width: 320px; height: 370px;border-radius: 10px;text-decoration: none;" href="{% url "courses_details" %}">



            <img src="{% static "img/hindi_advanced.png" %}" alt="" style="    width: inherit;">
            <div class="card_description" style="    padding: 13px 16px 10px 8px;">
                <h5 style="
                    
    font-size: 1.14rem;
    color: darkslategray; margin: 0;
">An Advanced Course on Options Trading...</h5>


                <div class="rating_course d-flex" style="color: #002464;  margin: 0 0 -18px 0; font-weight: 400;   align-items: baseline;gap: 0.3rem;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <p>4.9</p>
                    <p>(221 ratings)</p>
                </div>
                <h5 style=" font-weight: 400;   color: gray;">Learn2Trade</h5>
                <h5 style="  font-weight: 400;  color: #002464;">₹990</h5>
            </div>

        </a>
   
 
   


    </div>



























    <div aria-label="Page navigation example " style="    margin-top: 1rem;">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>

{% endblock dashboard_body %}