{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}

<div class="container mb-4">
    <a class="back_to_main_strategy" href="/option_strategies" style="
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0.4rem;
    color: darkslategray;
    font-weight: 500;
    margin: 10px 0;
">
    <style>
        .inner_back_strategy:hover {
            background: #00000012;
       
            border-radius: 5px;
            color: #2196f3 !important;

        }
    </style>
        <div class="inner_back_strategy" style="     padding: 2px 9px;">
            <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
            <h5 style="
all: unset;
">Back to Strategies</h5>
        </div>

    </a>
    <h2 class="mb-3 fs-5 fw-bold my-3">Long Call Option Strategy</h2>
    <p class="mb-3">
      When you long an option, it simply means that you buy it with the
      expectation that it will rise in value. A long call gives you the
      right but not the obligation to buy a security at a particular
      price. Call options are often used as an alternative to buying the
      stock directly. Since there is no limit as to how high the stock
      price can be at expiration date, the profit potential is
      “unlimited”. Also, in options trading, you avoid all of the risk
      that would result from direct ownership of a security.
    </p>
    <p class="mb-3">
      Note: Buying too many options increases the risk as, call options
      have a limited lifespan. If the stock price does not move above the
      strike price before the option expiry, the option will expire
      worthless. When options expire worthless, you will lose your entire
      investment. On the other hand if you own a security, it will still
      be worth something.
    </p>
    <p>
      <b>When to Use: Investor is very Bullish on a stock / index.</b>
    </p>
    <p>
      <b>Risk:</b> Limited to the Premium. (Maximum loss if market expires
      at or below the option strike price).
    </p>
    <p><b>Reward: </b> Unlimited</p>
    <p><b>Breakeven:</b> Strike Price + Premium</p>
    <p>
      <b>Profit when: </b> The underlying security closes above the strike
      price.
    </p>
    <h2 class="mt-4">Let's understand with an example:</h2>
    <img
      src="{% static 'img/assets/Long-Call-Option-Strategy.jpeg' %}"
      alt="Long-Call-Option-Strategy"
    />
    <p class="mt-3">
      In the above figure, we have underlying price on the 'X' or the
      horizontal axis and Payoff/profit on the 'Y' or the vertical axis.
    </p>
    <h2 class="mt-5 fs-4 mb-3">Here, I longed 1 lot of NIFTY</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Current Nifty index</th>
          <th scope="col">120000</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Call Option</td>
          <td>Strike Price (Rs.)</td>
          <td>12100</td>
        </tr>
        <tr>
          <td>Paying</td>
          <td>Premium</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Paying</td>
          <td>Break Even Point (Rs.) (Strike Price + Premium)</td>
          <td>12150</td>
        </tr>
      </tbody>
    </table>
    <p class="mb-4">
      This strategy limits the downside risk to the extent of the premium
      I paid (Rs.50). But the potential return is unlimited in case of
      rise in NIFTY. A long call option is definitely the simplest way to
      benefit if you believe that the market will make an upward move and
      is the most common choice among first time option traders. As the
      price of the security rises, the long Call moves into profit more
      quickly.
    </p>
    <h3>Conclusion</h3>
    <ul>
      <li>
        A long call gives you the right but not the obligation to buy a
        security at a particular price
      </li>
      <li>
        When you long a call option, you do it with bullish expectations
        from the market.
      </li>
      <li>
        A long call strategy offers limited risk and unlimited profit.
        But, as you long more and more call options, the risk increases.
      </li>
    </ul>
    <span>Create your own option payoff chart</span>
  </div>

{% endblock dashboard_body %}