{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}

<div class="container mb-4">

    <a class="back_to_main_strategy" href="/option_strategies" style="
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0.4rem;
    color: darkslategray;
    font-weight: 500;
    margin: 10px 0;
">
    <style>
        .inner_back_strategy:hover {
            background: #00000012;
       
            border-radius: 5px;
            color: #2196f3 !important;

        }
    </style>
        <div class="inner_back_strategy" style="     padding: 2px 9px;">
            <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
            <h5 style="
all: unset;
">Back to Strategies</h5>
        </div>

    </a>
    <section class="long-put-option">
        <h2 class="fs-5 mb-3 fw-bold my-3">Long Put option Strategy</h2>
        <p class="mb-3">
            Buying a Put option is just the opposite of buying a Call option.
            You buy a Call option when you are bullish about a security. When a
            trader is bearish, he can buy a Put option contract. A Put Option
            gives the holder of the Put a right, but not the obligation, to sell
            a security at a pre-specified price.
        </p>
        <p class="mb-3">
            A long Put is a Bearish strategy. To take advantage of a falling
            market an traders buy Put options. If the price of the stock falls,
            the put option increases. This is one of the most commonly used
            strategy when an investor is bearish.
        </p>
        <p class="mb-3">
            A long put is also used by traders in order to hedge against
            unfavorable moves in a long stock position. This hedging strategy is
            known as married put.
        </p>
        <p class="mb-3">
            <b>When to Use:</b> The underlying security closes above the strike
            price.
        </p>
        <p>
            <b>Risk: </b>Limited to the amount of Premium paid. (Maximum loss if
            stock / index expires at or above the option strike price).
        </p>
        <p>
            <b>Reward:</b> Unlimited
        </p>
        <p>
            <b>Breakeven: </b>Stock Price Premium
        </p>
        <p>
            <b>Profit when: </b>The underlying security closes below the strike
            price.
        </p>
        <p>
            <b>Loss when: </b>The underlying security closes above the strike
            price.
        </p>
        <h2>Let's understand with an example:</h2>
        <img src="{% static 'img/assets/Long-Call-Option-Strategy.jpeg' %}" alt="long-call-option-strategy" />
        <p>Covered Call Payoff Chart: In the above figure, we have underlying price on the "X" or the horizontal axis
            and Payoff/profit on the "Y" or the vertical axis.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Underlying stock</th>
                    <th scope="col">Market Price (Rs)</th>
                    <th scope="col">12000</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Call Option</td>
                    <td>Strike Price (Rs.)</td>
                    <td>12100</td>
                </tr>
                <tr>
                    <td>Received</td>
                    <td>Premium</td>
                    <td>50</td>
                </tr>
            </tbody>
        </table>

        <h2>Conclusion</h2>
        <ul>
            <li>
                Covered call includes having a pre-owned or buying a lot of a particular security and also selling call
                options on that security.
            </li>
            <li>
                The strategy offers limited rewards and unlimited profits.
            </li>
        </ul>
        <h3>Create your own option payoff chart</h3>
    </section>
</div>

{% endblock dashboard_body %}