{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    
</style>
<section>
  
    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                .inner_back_strategy:hover {
                    background: #00000012;
               
                    border-radius: 5px;
                    color: #2196f3 !important;
        
                }
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Long Synthetic Strategy</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p> Long Synthetic is a bullish strategy. It's used when an investor has a very bullish outlook on the underlying asset's price. </p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves two main components:</h3>
                    <ul>
                        <li><span>Long Call Option:  </span> The investor buys a call option with a specific strike price. This option gives the investor the right to buy the underlying asset at the strike price.</li>
                        <li class="mt-3"><span>Short Put Option:</span> Simultaneously, the investor sells (writes) a put option with the same strike price. By doing so, they may be obligated to buy the underlying asset at the strike price if the option is exercised by the option buyer.</li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span> The maximum profit is theoretically unlimited. It occurs when the price of the underlying asset rises significantly. The profit increases as the asset's price goes up.</li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span>  The maximum loss is limited to the total premium paid for the long call option.</li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>The break-even point is the strike price of the long call plus the premium paid for the option.</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The risk is limited to the premium paid for the long call option.</li>
                        <li>The strategy allows the investor to benefit from a significant price increase while limiting their potential loss.</li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                        <li>The risk is limited to the net premium received or paid for the options.</li>
                        <li>The strategy offers protection against a significant adverse price movement as the long call options provide a hedge.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}