{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}

<div class="container mb-4">
    <a class="back_to_main_strategy" href="/option_strategies" style="
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0.4rem;
    color: darkslategray;
    font-weight: 500;
    margin: 10px 0;
">
        <style>
            .inner_back_strategy:hover {
                background: #00000012;

                border-radius: 5px;
                color: #2196f3 !important;

            }
        </style>
        <div class="inner_back_strategy" style="     padding: 2px 9px;">
            <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
            <h5 style="
all: unset;
">Back to Strategies</h5>
        </div>

    </a>
    <div>
        <h2 class="mb-3 fs-5">Long Straddle</h2>
        <p class="mb-3">
         We may form a straddle strategy when we expect the stock price to show large movements. In order to create a long straddle, we buy one ATM call option and one ATM put option on the same stock for the same maturity and strike price. Doing this, we are able to take the advantage of the market whether it goes up or comes down. If there is an increase in the stock price, the call is exercised and the put expires worthless. On the other hand, if the price of the stock decreases, the put option is exercised while the call option expires.
        </p>
        <p>
          <b>When to Use: The investor thinks that the underlying stock / index will experience significant volatility in the near term.</b>
        </p>
        <p>
          <b>Risk:</b> Limited to the initial premium paid.
        </p>
        <p><b>Reward: </b> Unlimited</p>
        <p><b>Breakeven:</b> 
          Upper Break even Point = Strike Price of Long Call + Net Premium Paid
          Lower Break even Point = Strike Price of Long Put − Net Premium Paid
        </p>
        <h2 class="mt-4">Let's understand with an example:</h2>
        <img
          src="{% static 'img/assets/Long-Straddle.jpeg' %}"
          alt="Long-Straddle"
        />
        <p class="mt-3">
         Long Straddle Chart: In the above figure, we have underlying price on the "X" or the horizontal axis and Payoff/profit on the "Y" or the vertical axis.
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nifty index</th>
              <th scope="col">Current Value</th>
              <th scope="col">11700</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Call and Put</td>
              <td>Strike Price (Rs.)</td>
              <td>11750</td>
            </tr>
            <tr>
              <td>Payed</td>
              <td>Total Premium (Call + Put) (Rs.)</td>
              <td>207</td>
            </tr>
            <tr>
              <td></td>
              <td>Break Even Point (Rs.)</td>
              <td>11,957 (U)</td>
            </tr>
            <tr>
              <td></td>
              <td>(Rs.)</td>
              <td>11543 (L)</td>
            </tr>
          </tbody>
        </table>
        <h3>Conclusion</h3>
        <ul>
          <li>
           A Long Straddle strategy includes longing an ATM put option and an ATM call option.
          </li>
          <li>
           It offers limited risk and unlimited profit.
          </li>
          <li>
           The upper break-even point for this strategy is Strike Price of Long Call + Net Premium Paid.
          </li>
          <li>
            The lower break-even point for this strategy is Strike Price of Long Put – Net Premium Paid.
          </li>
        </ul>
        <span></span>
      </div>


</div>
{% endblock dashboard_body %}