{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<div class="main_head_strategies border-bottom my-4">
    <div
      class="strategies d-flex mt-4"
      style="align-items: center; gap: 0.3rem"
    >
      <h4 class="">NSE F&O Lot Size </h4>
      <span>
        <i
          class="bi bi-exclamation-circle"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        ></i>
      </span>
    </div>
  </div>
  <div class="collapse" id="collapseExample" style="margin-bottom: 25px">
    <div class="card card-body">
      <div class="antd-pro-components-markdown-index-markdownStyle">
        <p>BSE NSE Holidays 2023 List</p>
        <ul>
          <li>Below are the NSE F&O Lot Size for the stocks and indices traded on NSE.</li>
         
        </ul>
      </div>
    </div>
  </div>







<table id="lots" class="display py-3">
    <thead style='    background: #002771;
    color: white;'>
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock dashboard_body %}
