{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
  .parent_table{
    overflow: auto;
  }
  #example{
    
    white-space: nowrap;
  
  }
  #example_wrapper{
    display: flex;
    flex-direction: column;
  }
  
  .table-striped-custom>tbody>tr:nth-child(2n)>td,
      .table-striped-custom>tbody>tr:nth-child(2n)>th {
          background-color: rgb(240, 247, 253) !important;
      }
      table.dataTable tbody tr {
          background-color: transparent;
          border-bottom:transparent;
      }
      /* table.dataTable thead th, table.dataTable thead td {
      padding: 10px;
      border-bottom: 0px solid rgb(0 0 0 / 0%);
  } */

  /* td{
    border-right: 1px solid gray !important;
  } */
    
  table.dataTable tbody td {
        border: none !important;
        border-top: 0 !important;
      }
      .parent_search_length{
        display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
      }

      table.dataTable {
    margin: 0 auto;
    clear: both;
    border-collapse: collapse;
    border-spacing: 0;
}
     
      table.dataTable.display>tbody>tr.odd>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
    box-shadow: none !important;
}

table.dataTable.display>tbody tr>.sorting_1, table.dataTable.display>tbody tr>.sorting_2, table.dataTable.display>tbody tr>.sorting_3 {
    box-shadow: none !important;
}

table.dataTable.display>tbody>tr.odd>* {
    box-shadow: none !important;
}

table.dataTable.display>tbody>tr:hover>* {
    box-shadow: none !important;
}

/* table.dataTable.display>tbody>tr.odd>* {
    box-shadow: none !important;
} */

table.dataTable.display>tbody>tr.odd>* {
    box-shadow: none !important;
}

tbody td {
  font-weight: 200 !important;
}
  </style>
<div class="main_head_strategies border-bottom my-4">
    <div
      class="strategies_main d-flex mt-4"
      style="align-items: center; gap: 0.3rem"
    >
      <h4 class="">NSE F&O Lot Size </h4>
     
    </div>
  </div>
  <div class="collapse" id="collapseExample" style="margin-bottom: 25px">
    <div class="card card-body">
      <div class="antd-pro-components-markdown-index-markdownStyle">
        <p>BSE NSE Holidays 2023 List</p>
        <ul>
          <li>Below are the NSE F&O Lot Size for the stocks and indices traded on NSE.</li>
         
        </ul>
      </div>
    </div>
  </div>







<table id="lots" class="display py-3 table-striped-custom table table-bordered cell-border">
    <thead style='    background: #4399eb!important;
    color: white;'>
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody >
        {% for row in table_data %}
        <tr style="border-bottom: 1px solid #80808036 !important;">
            {% for cell in row %}
            <td style="border-right: 1px solid #80808036 !important;">{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock dashboard_body %}
