{% extends "base_dashboard.html" %}

{% load static %}

{% block dashboard_body %}

<div class="main_chart d-flex mt-4">
    <div class="chart_child mb-3">
      <p class="text-center mt-1">Dow Futures</p>
      <iframe
        data-v-1efe7064=""
        src="https://ssltvc.forexprostools.com/?pair_ID=8873&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"
        class="responsive-iframe"
         style="width: 23rem; height: 28rem; display: inline;"
        class=""
      ></iframe>
    </div>
  
    <div class="chart_child mb-3">
      <p class="text-center mt-1">Nifty 50 Futures</p>
      <iframe
        data-v-1efe7064=""
        src="https://ssltvc.forexprostools.com/?pair_ID=8985&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"
        class="responsive-iframe"
         style="width: 23rem; height: 28rem; display: inline;"
      ></iframe>
    </div>
  
    <div class="chart_child mb-3">
      <p class="text-center mt-1">Banknifty</p>
      <iframe
        data-v-1efe7064=""
        src="https://ssltvc.forexprostools.com/?pair_ID=104423&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=20"
        class="responsive-iframe"
         style="width: 23rem; height: 28rem; display: inline;"
      ></iframe>
    </div>
  

    {% comment %} <iframe src="https://tvc-invdn-com.investing.com/web/1.12.34/index60-prod.html?carrier=be45bb8c3b3ef172c1f50c563254abc6&amp;time=1688347736&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=8&amp;version=1.12.34&amp;locale=en&amp;timezone=America/New_York&amp;pair_ID=1168990&amp;interval=D&amp;session=session&amp;prefix=www&amp;suffix=&amp;client=0&amp;user=guest&amp;family_prefix=tvc6&amp;init_page=instrument&amp;sock_srv=https://streaming.forexpros.com&amp;m_pids=&amp;watchlist=&amp;geoc=IN&amp;site=https://www.investing.com"
     frameborder="0" scrolling="no" seamless="seamless" style="width: 100%; height:100%;" class="abs"></iframe> {% endcomment %}


    <div class="chart_child mb-3">
      <p class="text-center mt-1">Fin Nifty</p>
      <iframe
        data-v-1efe7064=""
        src="https://ssltvc.forexprostools.com/?pair_ID=1168990&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=20"
        class="responsive-iframe"
         style="width: 23rem; height: 28rem; display: inline;"
      ></iframe>
    </div>
  
    <div class="chart_child mb-3">
      <p class="text-center mt-1">India Vix</p>
      <iframe
        data-v-1efe7064=""
        src="https://ssltvc.forexprostools.com/?pair_ID=17942&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=20"
        class="responsive-iframe"
         style="width: 23rem; height: 28rem; display: inline;"
      ></iframe>
    </div>
    <div class="chart_child mb-3">
      <p class="text-center mt-1">Crude Oil</p>
      <iframe
        data-v-1efe7064=""
        src="https://ssltvc.forexprostools.com/?pair_ID=8849&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=20"
        class="responsive-iframe"
         style="width: 23rem; height: 28rem; display: inline;"
      ></iframe>
    </div>
    <div class="chart_child mb-3">
      <p class="text-center mt-1">USD / INR</p>
      <iframe
        data-v-1efe7064=""
        src="https://ssltvc.forexprostools.com/?pair_ID=160&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=20"
        class="responsive-iframe"
         style="width: 23rem; height: 28rem; display: inline;"
      ></iframe>
    </div>
  </div>

{% endblock dashboard_body %}