{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}


<div class="main_chart d-flex mt-4">
    <div class="chart_child mb-3">
      <p class="text-center mt-1">Reliance Industries(RELI)</p>
      
      <iframe 
      
      
      src="https://tvc6.investing.com/init.php?pair_ID=18367&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"
      class="responsive-iframe"
      
   
       style="width: 23rem; height: 28rem; display: inline;"></iframe>
    </div>
  
 <div class="chart_child mb-3">
      <p class="text-center mt-1">Tata Consultancy Services Ltd. (TCS)</p>
      
      <iframe
      src="https://tvc6.investing.com/init.php?pair_ID=18420&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"
      class="responsive-iframe"
      
      style="width: 23rem; height: 28rem; display: inline;"></iframe>
    </div>
 
<div class="chart_child mb-3">
      <p class="text-center mt-1">ICICI Bank Ltd (ICBK)
    </p>
      <iframe 
      src="https://tvc6.investing.com/init.php?pair_ID=18198&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"
      class="responsive-iframe"
      
      style="width: 23rem; height: 28rem; display: inline;"></iframe>
    </div>
  
    <div class="chart_child mb-3">
      <p class="text-center mt-1">HDFC Bank Ltd (HDBK)
    </p>
      <iframe 
      
      src="https://tvc6.investing.com/init.php?pair_ID=18177&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"
      style="width: 23rem; height: 28rem; display: inline;"></iframe>
    </div>
    <div class="chart_child mb-3">
      <p class="text-center mt-1">Infosys Ltd (INFY)
    </p>
      <iframe 
      
      src="https://tvc6.investing.com/init.php?pair_ID=18217&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"

      style="width: 23rem; height: 28rem; display: inline;"></iframe>
    </div>
    <div class="chart_child mb-3">
      <p class="text-center mt-1">State Bank of India(SBIN)
    </p>
      <iframe
      src="https://tvc6.investing.com/init.php?pair_ID=18376&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"

      style="width: 23rem; height: 28rem; display: inline;"></iframe>
    </div>
    <div class="chart_child mb-3">
      <p class="text-center mt-1">Kotak Mahindra Bank Ltd. (KTKM)</p>
      <iframe
      src="https://tvc6.investing.com/init.php?pair_ID=18260&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"

      style="width: 23rem; height: 28rem; display: inline;"></iframe>
    </div> 
    <div class="chart_child mb-3">
      <p class="text-center mt-1">Larsen & Toubro Ltd (L&T) </p>
      <iframe
      src="https://tvc6.investing.com/init.php?pair_ID=18268&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"

      style="width: 23rem; height: 28rem; display: inline;"></iframe>
    </div> 
    <div class="chart_child mb-3">
      <p class="text-center mt-1">Axis Bank Ltd (AXBK) </p>
      <iframe
      src="https://tvc6.investing.com/init.php?pair_ID=18017&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"

      style="width: 23rem; height: 28rem; display: inline;"></iframe>
    </div> 
  </div>

{% endblock dashboard_body %}