{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}
<style>
    td {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        vertical-align: middle;
    }
</style>
<div class="container">
    <div class="main_head_strategies">

        <div class="strategies d-flex mt-4" style="align-items: center; gap: 0.3rem;">
            <h4 class="">My Strategies
            </h4> <span><i class="bi bi-exclamation-circle" class="btn btn-primary" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample"></i></span>
        </div>

        <button class="button btn btn-primary">+ Add Strategies</button>


    </div>
    <div class="collapse" id="collapseExample" style="    margin-bottom: 25px;">
        <div class="card card-body">
            <div class="antd-pro-components-markdown-index-markdownStyle">
                <p>Manage backtesting, paper trading, tweaked and real trading algo strategies</p>
                <ul>
                    <li>Add new strategies to live</li>
                    <li>Add strategies to Live trading to begin real trading</li>
                    <li>Add strategies to Virtual Trading to begin backtesting, Paper Trading &amp; Tweaking</li>
                </ul>
            </div>
        </div>





    </div>





    <div class="profit_loss_volume" style="    margin-top: 2rem;">
        <p>Updated 50 seconds ago
        </p>

        <div class="icons_ref_full">
            <i class="bi bi-arrow-clockwise"></i>
            <i class="bi bi-arrows-expand"></i>
            <i class="bi bi-gear"></i>
            <i class="bi bi-arrows-fullscreen"></i>
        </div>
    </div>


    <div class="search_filter">

        <div class="search_icons d-flex">
            <input type="email" class="form-control" aria-describedby="emailHelp" id="market_input"
                placeholder="Search for strategies" data-listener-added_94b28f4e="true">
            <i class="bi bi-search" id="market_search"></i>

        </div>


        <div class="filter d-flex">

            <button class="button btn-market"> <i class="bi bi-filter-left"></i> Filter</button>

        </div>
        <div class="sort d-flex">

            <button class="button btn-market"> <i class="bi bi-sort-down"></i> Sort</button>

        </div>



    </div>

    <table class="table mt-4 table_strategies" style="overflow: auto;">
        <thead class="bg-light">
            <tr>
                <th scope="col " class="border-end"> Strategy</th>
                <th scope="col " class="border-end"> Instruments</th>
                <th scope="col" class="border-end">Tags</th>
                <th scope="col" class="border-end">Config</th>
                <th scope="col" class="border-end">Live Trading</th>
                <th scope="col"> Virtual Trading </th>
            </tr>
        </thead>
        <tbody>
            <tr>


                <td>
                    <div class="strategies_main_table" style="    display: flex;
                    align-items: center;
                ">

                        <div class="checkbox-wrapper-4">
                            <input class="inp-cbx" id="morning" type="checkbox" />
                            <label class="cbx" for="morning"><span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check-4"></use>
                                    </svg></label>
                            <svg class="inline-svg">
                                <symbol id="check-4" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </symbol>
                            </svg>
                        </div>

                        <div class="strategies_name">
                            <p style="margin-bottom: auto;  
                            font-size: 14px;
                            font-weight: 600;">STAB274
                            </p>
                            <p style="margin-bottom: auto;     font-size: 14px;
                        "> PSU Setup
                            </p>
                            <p style="margin-bottom: auto; font-size: 14px;"> 2023-06-07 | 15:15
                            </p>

                        </div>
                    </div>



                </td>

                <td>

                    <p style="margin-bottom: auto; font-weight: 500;">BHEL</p>
                    <p style="margin-bottom: auto; ">NSE</p>

                </td>
                <td>
                    <i class="bi bi-plus-lg" style="    border: black;
                    border-style: dotted;
                    font-size: 22px;
                    padding: 11px;
                    border-width: thin;
                    display: flex;
                    justify-content: center;
                    align-items: center;"></i>
                </td>
                <td>

                    <i class="bi bi-gear" style="    border: black;
                    border-style: dotted;
                    font-size: 22px;
                    padding: 15px;
                    border-width: thin;
                    display: flex;
                    justify-content: center;
                    align-items: center;"></i>
                </td>


                <td>


                    <div class="checkbox-wrapper-34">
                        <input class='tgl tgl-ios' id='toggle-34' type='checkbox'>
                        <label class='tgl-btn' for='toggle-34'></label>
                      </div>
                      
                     
                      


                </td>
                <td>


                    <div class="checkbox-wrapper-35">
                        <input class='tgl tgl-ios' id='toggle-35' type='checkbox'>
                        <label class='tgl-btn' for='toggle-35'></label>
                      </div>
                      
                     
                      


                </td>
            </tr>
        </tbody>
    </table>


    <div class="paginations_mode d-flex">

        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="pagination_drop">
                2/page
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"> 4/page</a></li>
                <li><a class="dropdown-item" href="#"> 8/page</a></li>
                <li><a class="dropdown-item" href="#"> 12/page</a></li>
            </ul>
        </div>

        <div class="mode">
            <i class="bi bi-border-all"></i>
            <i class="bi bi-list-task"></i>
            <i class="bi bi-layout-three-columns"></i>

        </div>

    </div>

</div>

{% endblock dashboard_body %}