<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Confirmation</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f5f5f5; color: #333; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 50px auto; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
        <div style="text-align: center;">
            <img src="https://optionperks.com/static/img/OptionPerksLogo-2-14-24.png" alt="Option Perks" style="width: 200px;">
        </div>
        <hr style="border: none; border-top: 1px solid #ddd;">
        <h2 style="text-align: center; color: #59aaf9; font-size: 24px; font-weight: bold;">Welcome to Our Newsletter!</h2>
        
        <p style="font-size: 18px;">Dear Subscriber</p>
        
        <p style="font-size: 18px;">Thank you for subscribing to our newsletter. We are thrilled to have you on board!</p>
        
        <p style="font-size: 18px;">As a subscriber, you will receive regular updates, news, and exclusive offers related to trading and stocks.</p>
        <p style="font-size: 18px;">Get ready to receive the latest updates, market insights, and exclusive offers related to trading and stocks.</p>
    
        <p style="font-size: 18px;">Feel free to explore our website and discover the resources we offer to help you succeed in your trading journey.</p>
        
        <p style="font-size: 18px;">If you have any questions or need assistance, feel free to reach out to us at <a href="mailto:optionperks@gmail.com" style="color: #59aaf9; text-decoration: none;">optionperks@gmail.com</a>.</p>
        
        <p style="font-size: 18px;">Happy trading!</p>
        <div style="text-align: center; margin-top: 20px;">
            <a href="https://optionperks.com" style="display: inline-block; background-color: #59aaf9; color: #fff; text-decoration: none; font-size: 18px; padding: 12px 24px; border-radius: 5px;">Explore Our Site</a>
        </div>
        
        <p style="font-size: 16px;">If you wish to unsubscribe from our newsletter, <a href="https://optionperks.com/unsubscribes_mail" style="color: #59aaf9; text-decoration: none; font-weight: bold;">click here</a>.</p>
        
        <hr style="border: none; border-top: 1px solid #ddd;">
        <p style="text-align: center; color: #888;">This email was sent to you because you subscribed to our newsletter. If you did not subscribe, please ignore this email.</p>
    </div>
</body>
</html>
