<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Confirmation</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 20px 0; background-color: #f7f7f7;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <img src="https://optionperks.com/static/img/OptionPerksLogo-2-14-24.png" alt="OptionPerks Logo" style="display: block; margin: 0 auto 20px; width: 150px;">
        <h1 style="color: #59aaf9; text-align: center;">Thank You for Subscribing!</h1>
        <p style="color: #333333; font-size: 16px; text-align: center;">You are now subscribed to our newsletter. Get ready to receive the latest updates, offers, and news directly to your inbox.</p>

        <hr style="border: none; border-top: 1px solid #dddddd; margin: 20px 0;">

        <h2 style="color: #333333; text-align: center;">What to Expect:</h2>
        <ul style="list-style-type: none; padding: 0; margin: 0 auto; max-width: 400px;">
            <li style="margin-bottom: 10px; text-align: center;">
                <img src="https://www.iconpacks.net/icons/2/free-arrow-right-icon-2844-thumb.png" alt="" width="30px" style="vertical-align: middle; margin-right: 10px;">Exclusive deals and promotions
            </li>
            <li style="margin-bottom: 10px; text-align: center;">
                <img src="https://www.iconpacks.net/icons/2/free-arrow-right-icon-2844-thumb.png" alt="" width="30px" style="vertical-align: middle; margin-right: 10px;">Insightful articles and guides
            </li>
            <li style="margin-bottom: 10px; text-align: center;">
                <img src="https://www.iconpacks.net/icons/2/free-arrow-right-icon-2844-thumb.png" alt="" width="30px" style="vertical-align: middle; margin-right: 10px;">Product updates and announcements
            </li>
            <li style="margin-bottom: 10px; text-align: center;">
                <img src="https://www.iconpacks.net/icons/2/free-arrow-right-icon-2844-thumb.png" alt="" width="30px" style="vertical-align: middle; margin-right: 10px;">Event invitations and special offers
            </li>
        </ul>

        <p style="color: #ffffff; text-align: center; font-size: 12px; background-color: #333333; padding: 10px; border-radius: 5px;">This email was sent to confirm your subscription to our newsletter. If you no longer wish to receive emails from us, <a href="/unsubsribe_user" style="color: #ffffff; text-decoration: underline;">unsubscribe here</a>.</p>
    </div>

</body>
</html>
