
{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<style>
    .bi-graph-up{
        border: 1px solid #2397f3 !important;
        border-radius: 7px;
        padding: 6px 9px;
        width: 33px;
        display: block;
        height: 29px;
        color: #2397f3;
        transition: 0.3s;
        display: inline;
    }

    .bi-graph-up:hover {
        background-color: rgb(0, 132, 255);
        border: none;
        color: white !important;
    }

    a{
        text-decoration: none !important;
    }

    tr:hover .symbol_name_watchlist {
        color: #2196f3;
    }

    /* Reset default margin and padding for the table */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    /* Style for the table header */
    thead {
        background-color: #f2f2f2;
    }

    th,
    td {
        padding: 12px 8px;
        text-align: left;
    }

    /* Add padding to tbody tr */
    tbody tr {
        border-bottom: 1px solid #ddd;
        /* Add borders between rows */
    }

    td>div,
    th>div {
        padding: 9px;
    }

    .dataTables_length,
    .dataTables_filter {
        padding: 10px 0 !important;
        display: flex;
        justify-content: flex-start;



    }

    th>div {
        color: rgb(255 255 255);
        font-size: 15px;
    }

    .open_clue_low {
        margin: 12px 0;
        padding: 24px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    
    .parent_table {
        overflow: auto;
    }
    tr{
        white-space: nowrap;
    }
    #high-table_wrapper,#low-table_wrapper{
        display: flex;
    flex-direction: column;
    }
    thead {
        padding: 12px 15px !important;
        font-size: 12px !important;
     
        background: #4399eb !important;
        color: #fff !important;
        border-right: 1px solid var(--border-gray) !important;
    }
    .table-striped-custom>tbody>tr:nth-child(2n)>td,
    .table-striped-custom>tbody>tr:nth-child(2n)>th {
        background-color: rgb(240, 247, 253) !important;
    }
    table.dataTable tbody tr {
        background-color: transparent;
        border-bottom:transparent;
    }
    table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
    border-bottom: 0px solid rgb(0 0 0 / 0%);
}

thead tr th{
    border-right: .2px solid white !important;
  }

  
  

  .parent_table{
    border-radius: 10px !important;
  }

  table.dataTable thead>tr>th.sorting:before,
  table.dataTable thead>tr>th.sorting:after,
  table.dataTable thead>tr>th.sorting_asc:before,
  table.dataTable thead>tr>th.sorting_asc:after,
  table.dataTable thead>tr>th.sorting_desc:before,
  table.dataTable thead>tr>th.sorting_desc:after,
  table.dataTable thead>tr>th.sorting_asc_disabled:before,
  table.dataTable thead>tr>th.sorting_asc_disabled:after,
  table.dataTable thead>tr>th.sorting_desc_disabled:before,
  table.dataTable thead>tr>th.sorting_desc_disabled:after,
  table.dataTable thead>tr>td.sorting:before,
  table.dataTable thead>tr>td.sorting:after,
  table.dataTable thead>tr>td.sorting_asc:before,
  table.dataTable thead>tr>td.sorting_asc:after,
  table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
      position: absolute;
      display: block;
      opacity: 1 !important;
      right: 10px;
      line-height: 10px;
      font-size: .7em;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid #59aaf9 !important;
    background-color: rgba(230, 230, 230, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%); */
    background: #59aaf9;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 7px !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 7px;
    background: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: #59aaf9 !important;
    box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #59aaf9 !important;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    background: #59aaf9 !important;
}

.paginate_button.previous::before {
    content: "<"; /* Unicode left arrow character */
    font-size: 16px !important;
  }

  /* Next page button icon */
  .paginate_button.next::before {
    content: ">"; /* Unicode right arrow character */
    font-size: 16px !important;
  }

  /* Hide text for Previous and Next buttons */
  #low-table_previous,#high-table_previous {
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }
  #high-table_previous:hover {
    color: white !important;
    
  }
  #low-table_next,#high-table_next {
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }

  .paginate_button {
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important; /* Adjust the values as needed */
  }

  .dataTables_length select{
    border: 1px solid #aaa;
      
      background-color: transparent;
      padding: 2px 9px !important;
      margin: 0 5px !important;
      font-weight: 500 !important;
  }

  .dataTables_length label {
    text-transform: capitalize !important;
}

.bottom{
    margin-top: 20px !important;
}

tbody td div span{
    font-weight: 400 !important;
}

tbody td div {
    font-weight: 400 !important;
}

</style>

<div>
    <h5 class="my-3 ms-4">Opening Price Clues</h5>

    <div class="open_clue_low">
        <div class="low_table" id="open_low">
            <table id="low-table" class="table  table-striped-custom cell-border">
                <p>Filter Criteria : Stocks With Same Open And Low
                </p>
                <thead class="text-light">
                    <tr>
                        <th>
                            <div>SYMBOL </div>
                        </th>
                        <th>
                            <div>52W HIGH</div>
                        </th>
                        <th>
                            <div>52W LOW</div>
                        </th>
                        <th>
                            <div>OPEN</div>
                        </th>
                        <th>
                            <div>HIGH</div>
                        </th>
                        <th>
                            <div>LOW</div>
                        </th>
                        <th>
                            <div>LTP</div>
                        </th>
                        <th>
                            <div>VOL</div>
                        </th>
                        <th>
                            <div>CHART</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Low Data rows will be populated here -->
                </tbody>
            </table>
        </div>
    </div>







    <div class="open_clue_low">
        <p>Filter Criteria: Stocks With Same Open And High
        </p>
        <div class="high_table" id="open_high">
            <table id="high-table" class="table table-striped-custom cell-border">
                <thead >
                    <tr>
                        <th>
                            <div>SYMBOL </div>
                        </th>
                        <th>
                            <div>52W HIGH</div>
                        </th>
                        <th>
                            <div>52W LOW</div>
                        </th>
                        <th>
                            <div>OPEN</div>
                        </th>
                        <th>
                            <div>HIGH</div>
                        </th>
                        <th>
                            <div>LOW</div>
                        </th>
                        <th>
                            <div>LTP</div>
                        </th>
                        <th>
                            <div>VOL</div>
                        </th>
                        <th>
                            <div>CHART</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- High Data rows will be populated here -->
                </tbody>
            </table>
        </div>

    </div>


    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/opening_clue_data_view",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    displayHighData(data.high);
                    displayLowData(data.low);
                },
                error: function (error) {
                    console.log("Error fetching data:", error);
                }
            });

            function displayHighData(data) {
                var table = $("#high-table tbody");
                table.empty(); // Clear existing rows if any
                // Populate High Data rows
                $.each(data, function (index, item) {
                    const row = `
                        <tr>
                            <td>
                                <div>
                                    <span class="symbol_name_watchlist">${item.symbol_name}</span>
                                </div>
                            </td>
                            <td><div>${item.prev_high52}</div></td>
                            <td><div>${item.prev_low52}</div></td>
                            <td><div>${item.today_open}</div></td>
                            <td><div>${item.today_high}</div></td>
                            <td><div>${item.today_low}</div></td>
                            <td><div>${item.today_close}</div></td>
                            <td><div>${item.today_volume}</div></td>
                            <td><div><span><a href="https://www.tradingview.com/chart/MgiGDMYM/?symbol=${item.symbol_name}&aff_id=113877" target="_blank"><i class="bi bi-graph-up"></i></a></span></div></td>
                        </tr>
                    `;
                    table.append(row);
                });
                $("#high-table").DataTable({
                    "paging": true,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "order": [], // Disable default sorting
                    "dom": '<"top"lf>rt<"bottom"ip><"clear">',
                    "language": {
                      "search": '<div class="custom-search" style="position: relative"><i class="bi bi-search" style="position: absolute;right: 7px;top: 10px;"></i></i><input class="form-control" type="search" placeholder="Search" aria-controls="volume_shocker_table"></div>'
                    }
                });
                $('#high-table_filter input:eq(1)').hide();
                $('#high-table_filter input[type="search"]').attr('placeholder', 'Search...');
                // Initialize DataTables for the table with no default sorting
                $('#high-table').wrap('<div class="parent_table"></div>');
                $('#high-table_filter,#high-table_length').wrapAll('<div class="parent_search_length"></div>');
            }
            
            
            function displayLowData(data) {
                var table_low = $("#low-table tbody");
                table_low.empty(); // Clear exi
                // Populate Low Data rows
                $.each(data, function (index, item) {
                    const row = `
                    <tr>
                            <td>
                            <div>
                             <span class="symbol_name_watchlist">${item.symbol_name}</span>
                            </div>
                            </td>
                            <td><div>${item.prev_high52}</div></td>
                            <td><div>${item.prev_low52}</div></td>
                            <td><div>${item.today_open}</div></td>
                            <td><div>${item.today_high}</div></td>
                            <td><div>${item.today_low}</div></td>
                            <td><div>${item.today_close}</div></td>
                            <td><div>${item.today_volume}</div></td>
                            <td>
                            <div>
                                <span><a href="https://www.tradingview.com/chart/MgiGDMYM/?symbol=${item.symbol_name}&aff_id=113877" target="_blank"><i class="bi bi-graph-up"></i></a></span>
                            </div>
                            </td>
                        </tr>
                        `;
                        table_low.append(row);
                    });
                    
                    // Initialize Datatable_lows for the table with no default sorting
                    $("#low-table").DataTable({
                        "paging": true,
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "order": [], // Disable default sorting
                        "dom": '<"top"lf>rt<"bottom"ip><"clear">',
                    "language": {
                      "search": '<div class="custom-search" style="position: relative"><i class="bi bi-search" style="position: absolute;right: 7px;top: 10px;"></i></i><input class="form-control" type="search" placeholder="Search" aria-controls="volume_shocker_table"></div>'
                    }
                    });
                    $('#low-table_filter input:eq(1)').hide();
                    $('#low-table_filter input[type="search"]').attr('placeholder', 'Search...');
                    $('#low-table').wrap('<div class="parent_table"></div>');
                    $('#low-table_filter,#low-table_length').wrapAll('<div class="parent_search_length"></div>');
            }


        });
    </script>
</div>

{% endblock dashboard_body %}