{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      /* font-family: "Roboto", sans-serif; */
    }
    
    .card__container {
      position: relative;
      width: 350px;
      height: 300px;
      border-radius: 0.5rem;
      overflow: hidden;
      cursor: pointer;
      box-shadow: rgba(100, 100, 111, 0.08) 0px 7px 29px 0px;
    }
    
    .card {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: all 0.7s ease;
    }
    
    .card__front,
    .card__back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .card__container:hover .card {
      transform: rotateY(180deg);
    }
    
    /* card front */
    .card__front {
      text-align: center;
      padding: 1.2rem;
    }
    
    .card__icons {
      display: flex;
      justify-content: space-between;
      align-content: center;
    }
    
    .card__info {
      margin-bottom: 1rem;
    }
    
    .card__info p,
    .card__info h2 {
      font-size: 1.56rem;
    }
    
    .card__info p,
    .card__info h4 {
      margin-bottom: 0.4rem;
    }
    
    .card__info h2 {
      margin-bottom: 0.5rem;
    }
    
    .card__info h4 {
      color: rgb(21, 173, 21);
    }
    
    .card__info h3 {
      font-weight: 500;
      opacity: 0.5;
    }
    
    .card__badges {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1rem;
    }
    
    .card__rank,
    .card__change {
      font-size: 0.8rem;
      padding: 0.4rem 0.8rem;
      border-radius: 0.2rem;
      background-color: #e0e0e0;
    }
    
    .card__rank span,
    .card__change span {
      color: rgba(0,0,0,.87);
    }
    
    .card__progressbar > div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    
    .card__progressbar span {
      font-weight: 500;
    }
    
    .card__progressbar__container {
      width: 100%;
      height: 10px;
      background-color: rgb(227, 190, 190);
    }
    
    .card__progressbar__container .card__progressbar__indication {
      width: 20%;
      height: 100%;
      background-color: rgb(230, 10, 10);
    }
    
    /* backside */
    .card__back {
      padding: 1.2rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(255, 154, 154);
      transform: rotateY(180deg);
    }
    
    .card__back p {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    
    .card__back span {
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    

    /* Table_wrapper */

    .table_wrapper{
      width: 90%;
      margin: 0 auto;
    }

    /* card wrapper */
    .cards__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      width: 90%;
      margin: 0 auto;
    }
    
    /* sort and filter*/
    .option-sort-filter {
      width: 90%;
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-weight: 500;
    }
    
    .option-sort-filter .filter,
    .option-sort-filter .sort {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    
    .option-sort-filter .option_dashboard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      height: 80px;
    }
    
    .option-sort-filter button {
      cursor: pointer;
    }
    
    .option-sort-filter .sort p,
    .option-sort-filter .filter p {
      color: #808080;
      font-size: 1.2rem;
    }
    
    /* .option-sort-filter .filter button {
      padding: 0.5rem 1rem;
    border: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: linear-gradient(180deg, #4399eb, #5cadfb) !important;
    color: white;
    border-radius: 8px;
    } */
    
    /* .option-sort-filter .sort button {
      font-weight: 500;
      background: linear-gradient(180deg, #4399eb, #5cadfb) !important;
      padding: 0.5rem 1rem;
      border: none;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
        Color: white;
        border-radius: 8px;
    } */
    
    /* titles sort*/
    .tiles-sort {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 1.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .tiles-sort button {
      cursor: pointer;
      padding: 5px 18px;
      border: none;
      font-weight: 500;
      background: linear-gradient(180deg, #4399eb, #5cadfb) !important;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
      color: white;
    }
    
    /* dashboard-search */
    .dashboard-search {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 1rem;
    }
    
    .dashboard-search h1 {
      font-size: 3rem;
      font-weight: 400;
    }
    
    .dashboard-search input {
      width: 300px;
      height: 40px;
      padding: 0 1rem;
      
      border: 1px solid black;
      margin-right: 1.5rem;
    }
    .dashboard-search input[type="text"]:focus{
      border: none !important;
      border-bottom: 1px solid #5cadfb !important;
    }

    .dashboard-search button {
      border: none;
      padding: 0.5rem 1.5rem;
      background: linear-gradient(180deg, #4399eb, #5cadfb) !important;
      border-radius: 5px;
      font-weight: 500;
      color: white;
    }
    .option-sort-filter .sort{
      display: none;
    }

        .table {
            display: none;      /* Set the table section to be active by default */
        }

        .option_icon i{
          cursor: pointer;
        }


 .content table thead tr{
  border-bottom: 1px solid black;
  background-color: #eff9ff;
  color: black;
 }       
        @media only screen and (max-width: 768px) {
       .tiles-sort{
        flex-wrap: wrap;
       }
       .dashboard-search{
        flex-wrap: wrap;
       }
       .search_div{
        flex-wrap: wrap;
       }
       .search_div button{
        margin-top: 5px;
       }
       .dashboard-search h1{
        font-size: 34px !important;
       }
     }
     

</style>
<div>
    <section class="dashboard-search">
      <h1>Options Dashboard</h1>
      <div class="d-flex align-items-center search_div">
        <span style="position: relative;"> <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search"></span>
        <button>Information</button>
      </div>
    </section>
    <section class="option-sort-filter">
      <hr />
      <div class="option_dashboard d-flex justify-content-between">
        <div class="filter">
          <!-- <span>Filter By:</span> -->
          <select class="form-select" aria-label="Default select example">
            <option selected>Filter By</option>
            <option value="1">High</option>
            <option value="2">Earnings</option>
            <option value="3">Liquidity</option>
          </select>
          </div>
        <div class="sort" id="sort_option">
          <!-- <span>Sort By:</span> -->
          <select class="form-select" aria-label="Default select example">
            <option selected>Sort By</option>
            <option value="1">IV Percentage</option>
            <option value="2">IV Rank</option>
            <option value="3">IV Charge</option>
          </select>
           
        </div>
      </div>
      <hr />
    </section>
    <section class="tiles-sort">
      <span>
        Last Updated At: 10:55 AM - 19-07-2023 | * IV/IVPs shift to next month
        expiry in the last week of front month expiry
      </span>
      <div class="option_icon d-flex">
        <!-- <i class="bi bi-list " ></i>
        <i class="bi bi-grid-fill ms-5 "></i> -->

        <i class='bx bx-menu fs-2' id="showTable"></i>
        <i class='bx bxs-grid-alt fs-2 ms-5'  id="showCards"></i>
      </div>
      
    </section>
   
   
    <section class="content cards__wrapper">
      <article class="card__container">
        <div class="card">
          <div class="card__front">
            <div class="card__icons">
              <i class="fa-solid fa-bell"></i>
              <i class="fa-solid fa-star" style="color: #f39512"></i>
            </div>
            <div class="card__info">
              <h2>NIFTY</h2>
              <p>&#8377; 19789.15</p>
              <h4>+18.6 (+0.09%)</h4>
              <h3>IV : 11.79</h3>
            </div>
            <div class="card__badges">
              <div class="card__rank">
                <span>IV Rank: 17</span>
              </div>
              <div class="card__change">
                <span>IV Change: +2.08%</span>
              </div>
            </div>
            <div class="card__progressbar">
              <div>
                <span>IVP:30</span>
                <div class="card__progressbar__container">
                  <div class="card__progressbar__indication"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__back">
            <p>Suggested Option Strategies</p>
            <span>Debit Spread</span>
            <span>Calender Spread</span>
            <span>Long Straddle</span>
            <span>Long Strangle</span>
          </div>
        </div>
      </article>
    </section>
    <section class="table_wrapper">
      <div class="content table table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Result</th>
              <th scope="col">Liquidity</th>
              <th scope="col">Ticker</th>
              <th scope="col">Price</th>
              <th scope="col">Change %</th>
              <th scope="col">Straddle</th>
              <th scope="col">CallIV</th>
              <th scope="col">PutIV</th>
              <th scope="col">IV</th>
              <th scope="col">IV Change</th>
              <th scope="col">IVP </th>
            </tr>
          </thead>
          <tbody id="option-table">
             
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <script>
    const cardObj = [
      {
        name: "BANKNIFTY",
        value: 45589.5,
        points: "+105(+0.23%)",
        IV: 15.14,
        rank: 26,
        change: "+4.49%",
        ivp: 40,
        strategies: [
          "Debit spread",
          "calendar spread",
          "Long straddle",
          "long strangle",
        ],
      },
      {
        name: "ABB",
        value: 45389.5,
        points: "+46(+1.23%)",
        IV: 31.14,
        rank: 34,
        change: "+4.49%",
        ivp: 52,
        strategies: ["Iron Condor", "Butterfly"],
      },
      {
        name: "BANKNIFTY",
        value: 45589.5,
        points: "+105(+0.23%)",
        IV: 15.14,
        rank: 26,
        change: "+4.49%",
        ivp: 40,
        strategies: [
          "Debit spread",
          "calendar spread",
          "Long straddle",
          "long strangle",
        ],
      },
      {
        name: "ABFRL",
        value: 213.65,
        points: "+1.3(+0.61%)",
        IV: 39.34,
        rank: 37,
        change: "+1.49%",
        ivp: 76,
        strategies: [
          "Short Straddle",
          "Short Strangle",
          "ratio spread",
          "credit spread",
        ],
      },
      {
        name: "ABBOTINDIA",
        value: 22997.65,
        points: "+100(-0.23%)",
        IV: 27.34,
        rank: 45,
        change: "+1.49%",
        ivp: 48,
        strategies: [
          "Short Straddle",
          "Short Strangle",
          "ratio spread",
          "credit spread",
        ],
      },
      {
        name: "ABFRL",
        value: 213.65,
        points: "+1.3(+0.61%)",
        IV: 39.34,
        rank: 37,
        change: "+1.49%",
        ivp: 76,
        strategies: [
          "Short Straddle",
          "Short Strangle",
          "ratio spread",
          "credit spread",
        ],
      },
      {
        name: "BANKNIFTY",
        value: 45589.5,
        points: "+105(+0.23%)",
        IV: 15.14,
        rank: 26,
        change: "+4.49%",
        ivp: 40,
        strategies: [
          "Debit spread",
          "calendar spread",
          "Long straddle",
          "long strangle",
        ],
      },
      {
        name: "ABFRL",
        value: 213.65,
        points: "+1.3(+0.61%)",
        IV: 39.34,
        rank: 37,
        change: "+1.49%",
        ivp: 36,
        strategies: [
          "Short Straddle",
          "Short Strangle",
          "ratio spread",
          "credit spread",
        ],
      },
      {
        name: "ABFRL",
        value: 213.65,
        points: "+1.3(+0.61%)",
        IV: 39.34,
        rank: 37,
        change: "+1.49%",
        ivp: 36,
        strategies: [
          "Short Straddle",
          "Short Strangle",
          "ratio spread",
          "credit spread",
        ],
      },
      {
        name: "ABFRL",
        value: 213.65,
        points: "+1.3(+0.61%)",
        IV: 39.34,
        rank: 37,
        change: "+1.49%",
        ivp: 36,
        strategies: [
          "Short Straddle",
          "Short Strangle",
          "ratio spread",
          "credit spread",
        ],
      },
      {
        name: "ABFRL",
        value: 213.65,
        points: "+1.3(+0.61%)",
        IV: 39.34,
        rank: 37,
        change: "+1.49%",
        ivp: 36,
        strategies: [
          "Short Straddle",
          "Short Strangle",
          "ratio spread",
          "credit spread",
        ],
      },
    ];
    $("#option-table").empty()
    cardObj.forEach(element => {
      var row = `<tr>
                    <td><i class="bi bi-star"></i></td>
                    <td> <i class="bi bi-bell"></i></td>
                    <td>${element.name}</td>
                    <td>${element.value}</td>
                    <td>${element.change}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>${element.IV}</td>
                    <td>-</td>
                    <td>${element.ivp}</td>
                 </tr>`
      var table = $("#option-table")
      table.append(row)
    });

    const cards__wrapper = document.querySelector(".cards__wrapper");

    for (let card of cardObj) {
      cards__wrapper.innerHTML += `<article class="card__container">
        <div class="card">
          <div class="card__front">
            <div class="card__icons">
              <i class="fa-solid fa-bell"></i>
              <i class="fa-solid fa-star" style="color: #f39512"></i>
            </div>
            <div class="card__info">
              <h2>${card.name}</h2>
              <p>&#8377; ${card.value}</p>
              <h4>${card.points}</h4>
              <h3>IV : ${card.IV}</h3>
            </div>
            <div class="card__badges">
              <div class="card__rank">
                <span>IV Rank: ${card.rank}</span>
              </div>
              <div class="card__change">
                <span>IV Change: ${card.change}</span>
              </div>
            </div>
            <div class="card__progressbar">
              <div>
                <span>IVP:${card.ivp}</span>
                <div class="card__progressbar__container" ${
                  card.ivp < 40 && 'style="background-color:#FBC6C2"'
                }   ${
        card.ivp >= 40 && card.ivp < 70 && 'style="background-color:#FFE0B2"'
      }  ${card.ivp >= 70 && 'style="background-color:#C9E7CA"'}>
                  <div class="card__progressbar__indication" 'style='width:${
                    card.ivp
                  }%' ${card.ivp < 40 && 'style="background-color:red"'}  ${
        card.ivp >= 40 && card.ivp < 70 && 'style="background-color:#FF9800"'
      }  ${card.ivp >= 70 && 'style="background-color:#4CAF50"'}></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__back" ${
            card.ivp < 40 && 'style="background-color:#E57373"'
          } ${
        card.ivp >= 40 && card.ivp < 70 && 'style="background-color:#FFB74D"'
      } ${card.ivp >= 70 && 'style="background-color:#D4E157"'}>
            <p>Suggested Option Strategies</p>
          ${card.strategies.map((e) => `<span>${e}</span>`).join("")}
          </div>
        </div>
      </article>`;
    }
  </script>


  <script>
 const showCards = document.getElementById("showCards");
        const showTable = document.getElementById("showTable");
        const cards = document.querySelector(".cards__wrapper");
        const table = document.querySelector(".table");
        const sort = document.getElementById("sort_option")
        // Add click event listeners to icons
        showCards.addEventListener("click", function () {
            // Hide the table and show the cards
            cards.style.display = "flex";
            table.style.display = "none";

            sort.style.display = "block"
           
        });

        showTable.addEventListener("click", function () {
            // Hide the cards and show the table
            cards.style.display = "none";
            table.style.display = "block";
            $(".table").show()
            sort.style.display = "none"
        });
  </script>

  <script>
    $(document).ready(function () {
      function get_option_data_table() {
        $.ajax({
          type:"get",
          url:"/option_dashboard_data",
          dataType:"json",
          success:function(data){
           console.log(data);
          }
        })
      }
      get_option_data_table()
    });
  </script>
{% endblock dashboard_body %}