{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}
<style>
  .main_long_call {
    border: 1px solid lightgray;
    padding: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.738);
  }

  .main_long_call:hover {
    box-shadow: rgb(2 147 255 / 20%) 0px 2px 8px 0px;
    border: 1px solid #2196f3 !important;
  }

  .main_long_call:hover #strategy_title {
    color: #2196f3;
  }



  .All_strategies {
    flex-wrap: wrap;
  }
</style>
<div class="main_container container">
  <h5 class="my-3">List Of Strategies</h5>
  <div class="main_all_startegies" style="display: flex;     flex-direction: column;
  align-content: center;
  flex-wrap: wrap;">
  <div class="All_strategies d-flex" style="gap: 1rem;
  display: flex;
">
    <a class="main_long_call " href="{% url 'long_call_option' %}">
      <p id="strategy_title">Long Call Option Strategy</p>
      <img src="{% static "/Options_chart/long-call-options-strategy-payoff-chart.png" %}" alt=""
        style="    width: 250px;">
    </a>

    <a class="main_long_call" href="{% url 'long_put_option' %}">
      <p id="strategy_title">Long Put Option Strategy</p>
      <img src="{% static "/Options_chart/long-put-options-strategy-payoff-chart.png" %}" alt=""
        style="    width: 250px;">
    </a>

    <a class="main_long_call " href="{% url 'covered_call' %}">
      <p id="strategy_title">Covered Call Option Strategy</p>
      <img src="{% static "/Options_chart/covered-call-options-strategy-payoff-chart.png" %}" alt=""
        style="    width: 250px;">
    </a>

    <a class="main_long_call " href="{% url 'short_call_option' %}" >
      <p id="strategy_title">Short Call Option Strategy</p>
      <img src="{% static "/Options_chart/short-call-options-strategy-payoff-chart.png" %}" alt=""
        style="    width: 250px;">
    </a>









  </div>
  <div class="All_strategies d-flex my-3" style="gap: 1rem;
  display: flex;
 ">


    <a class="main_long_call " href="{% url 'synthetic_long_call' %}">
      <p id="strategy_title">Synthetic Long Call </p>
      <img src="{% static "/Options_chart/synthetic-long-call-options-strategy-payoff-chart.png" %}" alt=""
        style="    width: 250px;">
    </a>


    <a class="main_long_call " href="{% url 'covered_put' %}">
      <p id="strategy_title">Covered Put </p>
      <img src="{% static "/Options_chart/covered-put-options-strategy-payoff-chart.png" %}" alt=""
        style="    width: 250px;">
    </a>
    <a class="main_long_call " href="{% url 'long_combo' %}">
      <p id="strategy_title">Long Combo </p>
      <img src="{% static "/Options_chart/long-combo-options-strategy.png" %}" alt=""
        style="    width: 250px;">
    </a>
    <a class="main_long_call " href="{% url 'long_straddle' %}">
      <p id="strategy_title">Long Straddle </p>
      <img src="{% static "/Options_chart/long-straddle-options-strategy-payoff-chart.png" %}" alt=""
        style="    width: 250px;">
    </a>


  </div>
  <div class="All_strategies d-flex my-3" style="gap: 1rem;
  display: flex;
 ">


    <a class="main_long_call " href="{% url 'short_straddle' %}">
      <p id="strategy_title">Short Strddle </p>
      <img src="{% static "/Options_chart/short-straddle-options-strategy-payoff-chart.png" %}" alt=""
        style="    width: 250px;">
    </a>
    <a class="main_long_call " href="{% url 'pretective_call' %}">
      <p id="strategy_title">Protective Call </p>
      <img src="{% static "/Options_chart/protective-call-options-strategy-payoff-chart.png" %}" alt=""
        style="    width: 250px;">
    </a>
    


  </div>
</div>
</div>
{% endblock dashboard_body %}