{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}

<style>
  #all_broker,#individual_broker_user{
    width: 23rem;
  }

  .main_top_filters{
    align-items: center;
  }

  .broker_position_icon{
    width: 40px;
  }
  .position_names_user_details h5{
    font-size: 15px;

  }
  .position_names_user_details p{
    font-size: 12px;

  }
  .main_profile_broker_details{
    display: flex;
    align-items: center; 
    gap: 0.2rem;
  }
</style>


<div class="main_top_filters d-flex gap-3 my-3 px-2">
  <label for="all_broker">Select Broker :</label>
  <select name="" id="all_broker" class="form-select">
    <option value="zerodha">zerodha</option>
  </select>

  <label for="individual_broker_user">Select User :</label>
  <select name="" id="individual_broker_user" class="form-select">
    <option value="XF1020">XF1020</option>

  </select>
  <button class="btn btn-success">Get All Positions</button>
</div>

<div class="main_profile_broker_details px-2">
  <div class="broker_position_icon"></div>
  <div class="position_names_user_details">
    <h5 class="m-0"></h5>
    <p class="m-0"></p>
  </div>
</div>

<div class="All_positions table-responsive">
    <table id="positionsTable" class="display table">
      <thead>
        <tr>
          <th>
            <div class="form-check">
              <input class="form-check-input  main_global_check_btn" type="checkbox" value="" id="flexCheckDefault">

            </div>
          </th>
          <th>Products</th>
          <th>Symbol</th>
          <th>Exchange</th>
          <th>Quantity</th>
          <th>Average Price</th>

          <th>Last Price</th>
          <th>P&L</th>

        </tr>
      </thead>
      <tbody class="All_positions_body">
        <!-- DataTable will populate this tbody dynamically -->
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><button type="button" class="button-small button-blue" fdprocessedid="x3nu1">
              Exit 1 position<!----> <!----></button></td>
          <td colspan="2"></td>
          <td class="text-right">Total</td>
          <td class="text-right"><span class="main_all_pnl"></span>
          </td>

        </tr>
      </tfoot>
    </table>

  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body exit_window_main">

        <div class="trading_symbol">
          

        </div>

        <div class="main_instraday_normal_buttons d-flex gap-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="intraday">
            <label class="form-check-label" for="flexRadioDefault1">
              Intraday MIS
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="overnight" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Overnight NRML
            </label>
          </div>
        </div>





<div class="main_qty_price">
  <div class="form-group">
    <label for="order_qty">Qty</label>
    <input type="text" class="form-control" id="order_qty">

  </div>

  <div class="form-group">
    <label for="order_price">Price</label>
    <input type="text" class="form-control" id="order_price">

    <div class="main_limit_market_btns">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="market_limit" id="market_order" value="market">
        <label class="form-check-label" for="market_order">
       Market
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="market_limit" id="limit_order" checked value="limit">
        <label class="form-check-label" for="limit_order">
        Limit
        </label>
      </div>
    </div>
  </div>


</div>








      </div>
      <div class="modal-footer">
<div class="buy_sell_btn"></div>
      </div>
    </div>
  </div>
</div>

       <script>

$(document).ready(function () {
  var intervalId_order = null; // Initialize the interval ID variable
  var totalPLAdded = false; // Variable to track if Total_p_l is added

  function fetchData() {

    console.log('Initial called');
    $.ajax({
      type: "GET",
      url: "/get_order_positions_details", // Replace with the actual URL

      
      success: function (response) {
        // Log the response
        // //////console.log(response.main_net_ohlc);
        let mainNetOHLC = response.main_net_ohlc;
        let lastPrices = {};

        // Loop through the mainNetOHLC array
        for (let i = 0; i < mainNetOHLC.length; i++) {
          let tradingsymbol = Object.keys(mainNetOHLC[i])[0];
          let lastPrice = mainNetOHLC[i][tradingsymbol].last_price;

          // Remove "NFO:" from the tradingsymbol
                  tradingsymbol = tradingsymbol.replace(/NSE:|NFO:/g, '');


          // Store lastPrice in the object
          lastPrices[tradingsymbol] = lastPrice;
        }

        // //////console.log(lastPrices);

        $(".broker_position_icon").empty().append(`
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 60">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #f6461a;
                      }

                      .cls-2 {
                        fill: #db342c;
                      }
                    </style>
                  </defs>
                  <title>Kite logo trimmed</title>
                  <polygon class="cls-1" points="30 0 0 30 30 60 60 30 90 0 30 0" />
                  <polygon class="cls-2" points="30 60 60 30 90 60 30 60" />
                </svg>
              `);

        var zerodha_kite_profile = response.all_profile.data;
        $(".position_names_user_details h5").text(zerodha_kite_profile.user_name);
        $(".position_names_user_details p").text(`Client ID:${zerodha_kite_profile.user_id}`);

        if ($.fn.DataTable.isDataTable('#positionsTable')) {
          $('#positionsTable').DataTable().destroy();
        }

        $('#positionsTable tbody').empty();

        const rowTemplate = (position, lastPrice, main_p_n_l) => `
                          <tr class="selected order_leg_main" id="order_leg_main">
                            <td>
                              <div class="form-check">
                                <input class="form-check-input legs_instant_exit_check" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                            </td>
                            <td>
                              <div class="${position.product === "NRML" ? 'normal_order_background' : 'normal_order_background'}">${position.product}</div>
                            </td>
                            <td> <div class="main_tradingsymbol">${position.tradingsymbol}</div>
                              <button type="button" class="btn btn-primary exit_order" id="exit_order" data-bs-toggle="modal" data-bs-target="#exampleModal">
 Exit
</button>
                              </td>
                            <td>${position.exchange}</td>
                            <td class="${parseFloat(position.exchange) > 0 ? 'text-success' : 'text-danger'} all_quantity">${position.quantity}</td>
                            <td>${position.average_price.toFixed(2)}</td>


                            <td class="lastPrice">${lastPrice}</td>
                            <td class="${main_p_n_l > 0 ? 'text-success' : 'text-danger'} All_net_pl">${main_p_n_l > 0 ? '+' : ''}${(main_p_n_l).toFixed(2)}</td>
                          </tr>`;

        // Assuming 'tradingsymbol' is available in the position object
        // Initialize a variable to store the total P&L
        let totalMainPNL = 0;

        response.all_position.net.forEach(function (position) {
          let tradingsymbol = position.tradingsymbol;
          // //////console.log(tradingsymbol);

          // Remove "NFO:" from the tradingsymbol
                  tradingsymbol = tradingsymbol.replace(/NSE:|NFO:/g, '');


          let lastPrice = lastPrices[tradingsymbol] || ''; // Retrieve lastPrice from the object
          var average_price_main = position.average_price;
          var quantity_main = position.quantity;

          // Check if both average_price_main and quantity_main are zero
          if (average_price_main === 0 && quantity_main === 0) {
            var main_p_n_l = position.pnl;
          } else {
            var main_p_n_l = lastPrice * quantity_main - average_price_main * quantity_main;
          }

          // //////console.log(main_p_n_l);

          // Add main_p_n_l to the total
          totalMainPNL += main_p_n_l;

          // Use the modified row template with lastPrice
          $('#positionsTable tbody').append(rowTemplate(position, lastPrice, main_p_n_l));
        });

        // Display the total P&L in the element with the class .main_all_pnl
        let totalPNLElement = $('.main_all_pnl');
        totalPNLElement.text(`Total P&L: ${(totalMainPNL.toFixed(2))}`);

        // Add class based on the condition
        if (totalMainPNL < 0) {
          totalPNLElement.addClass('text-danger');
        } else {
          totalPNLElement.addClass('text-success');
        }



$('input[name="market_limit"]').change(function() {
    // Check if the value of the selected radio button is "market_order"
    if ($(this).val() === "market") {
      console.log('market');
      
      $('#order_price').prop('disabled', true);
    } else {

      console.log('limit');
      $('#order_price').prop('disabled', false);
    }
  });


     $('.main_global_check_btn').click(function(){
      // Check if it's checked or unchecked
      if($(this).is(':checked')){

        console.log('Checked');
        
        // If checked, check all checkboxes with class .legs_instant_exit_check
        $('.legs_instant_exit_check').prop('checked', true);
      } else {

        console.log('UnChecked');
        // If unchecked, uncheck all checkboxes with class .legs_instant_exit_check
        $('.legs_instant_exit_check').prop('checked', false);
      }
    });





        $(".exit_order").click(function () {
        console.log('Hi there');
        var order_leg_main = $(this).closest(".order_leg_main");
        console.log(order_leg_main.find(".main_tradingsymbol").text());

        $(".trading_symbol").text(order_leg_main.find(".main_tradingsymbol").text())


        if (order_leg_main.find(".normal_order_background").text() === "NRML" || order_leg_main.find(".normal_order_background").text() === "CNC") {
        console.log("Overnight NRML");
        $("#flexRadioDefault2").prop("checked", true); // Set Overnight NRML radio button
    } else {
        console.log("Intraday MIS");
        $("#flexRadioDefault1").prop("checked", true); // Set Intraday MIS radio button
    }






        console.log(order_leg_main.find(".normal_order_background").text());
        console.log(order_leg_main.find(".all_quantity").text());
        console.log(order_leg_main.find(".lastPrice").text());


    $("#order_qty").empty().val(order_leg_main.find(".all_quantity").text())
    $("#order_price").empty().val(order_leg_main.find(".lastPrice").text())

    $("#limit_order").prop("checked" , true)
    $('#order_price').prop('disabled', false);


    if (parseFloat(order_leg_main.find(".all_quantity").text()) < 0) {

      console.log('BUY');

      $(".buy_sell_btn").replaceWith(`<button class="buy_exit">BUY</button>`)
      
      
    }else{
      console.log('SELl');
      $(".buy_sell_btn").replaceWith(`<button class="sell_exit">SELL</button>`)
    }


    // [{"orderNumber":1,"sell_buy_indicator":"SELL","tradingsymbol":"NIFTY24F2222050CE","main_trading_symbol":"NIFTY2422222050CE",
    // "strikePrice_order_window":"22050","Quantity":"50","price":"62.7","isRadioChecked":"market","mis_select":"overnight","main_instrument_token":"","main_strikePrice_values":"0","stockDropdown_main":"NIFTY"}
    // ,{"orderNumber":2,"sell_buy_indicator":"SELL","tradingsymbol":"NIFTY24F2222050PE","main_trading_symbol":"NIFTY2422222050PE","strikePrice_order_window":"22050","Quantity":"50","price":"106.6","isRadioChecked":"market","mis_select":"overnight","main_instrument_token":"","main_strikePrice_values":"0","stockDropdown_main":"NIFTY"}]

    $(".sell_exit").click(function (event) {
    event.stopPropagation(); // Exclude event propagation

    var All_positionTrade = []; // Initialize as an array

    var sell_buy_indicator = "SELL";
    console.log("sell_buy_indicator:", sell_buy_indicator);

    var tradingsymbol = $(".trading_symbol").text();
    console.log("tradingsymbol:", tradingsymbol);

    var main_trading_symbol = $(".trading_symbol").text();
    console.log("main_trading_symbol:", main_trading_symbol);

    var Quantity = $("#order_qty").val();
    console.log("Quantity:", Quantity);

    var price = $("#order_price").val();
    console.log("price:", price);

    var isRadioChecked = $('input[name="market_limit"]:checked').val();
    console.log("isRadioChecked:", isRadioChecked);

    var mis_select = $('input[name="flexRadioDefault"]:checked').val();
    console.log("mis_select:", mis_select);

    All_positionTrade.push({
        sell_buy_indicator: sell_buy_indicator,
        tradingsymbol: tradingsymbol,
        main_trading_symbol: main_trading_symbol,
        Quantity: Quantity, // Corrected variable name
        price: price, // Corrected variable name
        isRadioChecked: isRadioChecked,
        mis_select: mis_select,
    });

    $.ajax({
        url: "/exit_zerodha_order", // Replace with the actual URL of your Django view
        type: "POST",
        data: JSON.stringify(All_positionTrade),
        contentType: "application/json",
        success: function (response) {
            console.log(response);

            
            response.order_details.forEach((order, index) => {
              var order_status_text = order.order_id;

              //////console.log(order_status_text);

              // Check if order_status_text is not an object
              if (typeof order_status_text === 'object') {
                // Run this code block if it's not an object
        toastr.success(`<strong>Success</strong><br> Order Exited Successfully : Order Id - ${order_status_text.data.order_id}`)
              } else {
                // If it's an object, proceed with JSON parsing
                var orderObject = JSON.parse(order_status_text);

                if (orderObject.status === "error") {
       

                      toastr.error( `<strong>Error</strong><br> ${orderObject.message.replace(/\s*\[Read more.\].*$/, '')}`)
                }
              }
            });
        }
    });
});


    });



     
        //     $('#positionsTable').DataTable({
        //       order: [[6, 'asc']], // 6 is the column index for "Unrealised P&L"
        //       drawCallback: function () {
        //         if (!totalPLAdded) {
        //           var totalUnrealised = response.all_position.net.reduce(function (sum, position) {
        //             return sum + position.unrealised;
        //           }, 0);

        //           var totalPLDiv = $(`
        // <div class="Total_p_l">
        //   <div class="main_exit_positions">
        //     <button class="exit_all_positions_zerodha">Exit Positions</button>
        //   </div>
        //   <div class="main_p_l_table">Total P&L: <span class="${totalUnrealised > 0 ? 'text-success' : 'text-danger'}">${totalUnrealised > 0 ? '+' : '-'}${totalUnrealised.toFixed(2)}</span></div>
        // </div>`);

        //           $('#positionsTable_wrapper').append(totalPLDiv);
        //           totalPLAdded = true;
        //         }
        //       }
        //     });


      },
      
      
      
      
      error: function (error) {
        console.error("Error:", error);
      }
    });
  }


      // Run the fetchData function every 1000 milliseconds (1 second)
      // intervalId_order = setInterval(fetchData, 3000);


  // Initial call to fetchData
  fetchData();


  function fetchData_dynamic() {

    console.log('Dynamic called');
    
    $.ajax({
      type: "GET",
      url: "/get_order_positions_details", // Replace with the actual URL

      
      success: function (response) {

        // console.log("response",response);



        var get_net_positions = response.all_position.net
            // console.log(get_net_positions);
            
        let mainNetOHLC = response.main_net_ohlc;
        let lastPrices = {};

        // Loop through the mainNetOHLC array
        for (let i = 0; i < mainNetOHLC.length; i++) {
          let tradingsymbol = Object.keys(mainNetOHLC[i])[0];
          let lastPrice = mainNetOHLC[i][tradingsymbol].last_price;

          // Remove "NFO:" from the tradingsymbol
                  tradingsymbol = tradingsymbol.replace(/NSE:|NFO:/g, '');

          // tradingsymbol = tradingsymbol.replace(`${ mainNetOHLC[i].exchange}:${ mainNetOHLC[i].tradingsymbol}`);
          // Store lastPrice in the object
          lastPrices[tradingsymbol] = lastPrice;
        }


        var  get_user_positions_length= response.all_position.net.length

        // console.log();



          var positionsTable = $(".All_positions_body");
          var bodyTrLength = 0;
          
          // Iterate over each <tr> element directly under the positionsTable
          positionsTable.find('tr').each(function() {
              // Increment the count for each <tr> found
              bodyTrLength++;
          });

          // console.log(bodyTrLength);


          if (get_user_positions_length!==bodyTrLength) {
            fetchData();

            // console.log('False');
            
          }
    else if ($('.All_positions_body').find('.all_quantity').length > 0) {
    var allQuantitiesMatch = true;
    $('.All_positions_body').find('.all_quantity').each(function(index, element) {
        var quantity = parseInt($(element).text());
        if (quantity !== get_net_positions[index].quantity) { // Assuming you want to check if the quantity is 100
            allQuantitiesMatch = false;
 
            return false; // Exit the loop early
        }
    });

    if (allQuantitiesMatch) {
        // Do something if all quantities match
        

        $('.All_positions_body').find('.lastPrice').each(function(index) {
    // Check if the element has class .lastPrice

    // console.log("index",index);
    if ($(this).hasClass('lastPrice')) {
        // Set the new value for .lastPrice element based on index


          let tradingsymbol = get_net_positions[index].tradingsymbol;
          // //////console.log(tradingsymbol);

          // Remove "NFO:" from the tradingsymbol
                  tradingsymbol = tradingsymbol.replace(/NSE:|NFO:/g, '');


          let lastPrice = lastPrices[tradingsymbol] || ''; // Retrieve lastPrice from the object

          // console.log(lastPrice);
            $(this).text(lastPrice);

        
    } else {
        // Set the new value for .All_net_pl element based on index
    
    }
});


let totalMainPNL = 0;

            $('.All_positions_body').find('.All_net_pl').each(function(index) {
    // Check if the element has class .lastPrice

    // console.log("index",index);
    let tradingsymbol = get_net_positions[index].tradingsymbol;
          // Remove "NFO:" from the tradingsymbol
                  tradingsymbol = tradingsymbol.replace(/NSE:|NFO:/g, '');


          let lastPrice = lastPrices[tradingsymbol] || ''; // Retrieve lastPrice from the object
          var average_price_main = get_net_positions[index].average_price;
          var quantity_main = get_net_positions[index].quantity;

          // Check if both average_price_main and quantity_main are zero
          if (average_price_main === 0 && quantity_main === 0) {
            var main_p_n_l = get_net_positions[index].pnl;
          } else {
            var main_p_n_l = lastPrice * quantity_main - average_price_main * quantity_main;
          }
          totalMainPNL+=main_p_n_l
        // Set the new value for .lastPrice element based on index
// console.log(main_p_n_l);
$(this).text((main_p_n_l > 0 ? '+' : '') + main_p_n_l.toFixed(2)).removeClass("text-success text-danger").addClass(main_p_n_l > 0 ? 'text-success' : 'text-danger');

        // Display the total P&L in the element with the class .main_all_pnl
        let totalPNLElement = $('.main_all_pnl');
        totalPNLElement.text(`Total P&L: ${(totalMainPNL.toFixed(2))}`);

        // Add class based on the condition
        if (totalMainPNL < 0) {
          totalPNLElement.addClass('text-danger');
        } else {
          totalPNLElement.addClass('text-success');
        }


});











    } else {
      fetchData();
        console.log('False'); // Log 'False' if quantities don't match
    }


            // console.log('True');
          }

          


      },
      
      
      
      
      error: function (error) {
        console.error("Error:", error);
      }
    });
  }

         intervalId_order = setInterval(fetchData_dynamic, 3000);
  


});


</script>


{% endblock dashboard_body %}