{% extends "base_admin_panel.html" %}
{% load static %}
{% block dashboard_admin_body %}





<table class="table mt-4" id="payments_details_table">
    <thead>
      <tr>
        <th scope="col">S No.</th>
        <th scope="col"> Customer Name </th>
        <th scope="col"> Plan Purchased (Basic/Advanced/Specialized)</th>
        <th scope="col">Invoice Number</th>

        <th scope="col">Bank Trans. Ref No.</th>
        <th scope="col">Status(Pendings/Success/Fails)</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Payment Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
    </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >Larry the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>









{% endblock dashboard_admin_body %}