{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}

<div class="container mb-4">
    <a class="back_to_main_strategy" href="/option_strategies" style="
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0.4rem;
    color: darkslategray;
    font-weight: 500;
    margin: 10px 0;
">
        <style>
            .inner_back_strategy:hover {
                background: #00000012;

                border-radius: 5px;
                color: #2196f3 !important;

            }
        </style>
        <div class="inner_back_strategy" style="     padding: 2px 9px;">
            <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
            <h5 style="
all: unset;
">Back to Strategies</h5>
        </div>

    </a>
    <div>
        <h2 class="mb-3 fs-5">Protective Call</h2>
        <p class="mb-3">
          To create a Protective call, you begin with shorting a stock and buying a call option on that stock. You create a protective call when you are bearish on a stock. But in order to protect your decision of shorting the stock, you buy a call option. Protective call is also known as synthetic long put. This is because the payoff chart of this strategy looks like a long put payoff chart. The strategy offers limited risk and unlimited profit. This strategy is the opposite of the Synthetic Call option strategy. The call option you buy, is either at the money or slightly out of the money. When the price of the stock falls, you don't exercise the call option. And when the price is higher than the break-even point, at the time of expiry, you can exercise the option and earn the profit.
        </p>
        <p>
          <b>When to Use: If the investor is of the view that the markets will go down (bearish) but wants to protect against any unexpected rise in the price of the stock.</b>
        </p>
        <p>
          <b>Risk:</b>Limited. Maximum Risk is Call Strike Price − Stock Price + Premium
        </p>
        <p><b>Reward: </b> Maximum is Stock Price − Call Premium</p>
        <p><b>Breakeven:</b> 
          Stock Price − Call Premium
        </p>
        <h2 class="mt-4">Let's understand with an example:</h2>
        <img
          src="{% static 'img/assets/Protective-Call.jpeg' %}"
          alt="short-straddle"
        />
        <p class="mt-3">
         Protective Call Option Payoff chart: In the above figure, we have underlying price on the "X" or the horizontal axis and Payoff/profit on the "Y" or the vertical axis.
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Buy Stock</th>
              <th scope="col">Current Market Price of the stock (Rs.)</th>
              <th scope="col">12000</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>Strike Price (Rs)</td>
              <td>12100</td>
            </tr>
            <tr>
              <td>Buy Put</td>
              <td>Premium (Rs.)</td>
              <td>150</td>
            </tr>
            <tr>
              <td></td>
              <td>Break Even Point (Rs.) (Put Strike Price + Put Premium + Stock Price – Put Strike Price)</td>
              <td>11850</td>
            </tr>
          </tbody>
        </table>
        <h3>Conclusion</h3>
        <ul>
          <li>
          This is a strategy where an investor has gone short on a stock and buys a call to hedge.
          </li>
          <li>
           The strategy offers limited risk and unlimited profit potential.
          </li>
          <li>
           This strategy is also known as Synthetic Long Put.
          </li>
        </ul>
        <span>Create your own option payoff chart</span>
      </div>


</div>
{% endblock dashboard_body %}