{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
.privacy_policy{
    padding-top: 1rem;
}
.privacy_policy h5{
    font-size: 1rem !important;
    line-height: 1.7 !important;
}
.second_list li{
    list-style-type: disc !important;
}
.first_ol li{
    margin: 15px 0;
    font-weight: 500 !important;
}
</style>

<section class="privacy_policy">
    <div class="container">

        <div>
            <h5>Welcome to OptionPerks.com, where safeguarding your privacy is our top priority. We're dedicated to ensuring the confidentiality, integrity, and security of all personal information provided by our users. This Privacy Policy details how we protect the personal information you provide through our website (referred to as the "Site") and how we use that information in relation to our services (referred to as the "Service"). For the purpose of this Policy, "Personal information" includes details that identify you, such as your email address or mobile phone number.</h5>
        </div>
        <div>
            <ol class="first_ol">
                <li>Disclosure, if required by law: If mandated by governmental authorities, such as the Government of India, OptionPerks will share your personal information as necessary.</li>
                <li>Security of your data:
                    <ul class="second_list">
                        <li>We prioritize your security by not storing passwords and implementing two-factor authentication.</li>	
                       <li> All sensitive data is encrypted both at rest and in transit using advanced encryption methods.</li>   
                      <li>Measures are in place to prevent CSRF attacks, and we use Virtual Private Cloud (VPC) for network isolation.</li>   
                     <li> Our servers are fortified with firewall rules, and we keep software updated to ensure secure configurations.</li> 
    
                    </ul>
                </li>
                <li>	Confidentiality of your Login ID and Password: Your password should be at least 6 characters long, and it's crucial to keep your login credentials secure. If you suspect any compromise, contact us immediately.</li>
                <li>	Non-disclosure or sale of email addresses or mobile numbers.</li>
                <li>	Third-Party Cookies: Third-party vendors, like Google, may use cookies for targeted advertising based on your browsing history.</li>
                <li>	Third-party Advertising: We utilize Google for ad services, which may use cookies to display ads tailored to your interests.</li>
                <li>	Utilization of your information: We process your information to enhance services, fulfill contracts, comply with legal obligations, and with your consent.</li>
                <li>	Will your information be shared with anyone?: We only share information with your consent, to comply with laws, protect rights, or fulfill business obligations</li>
                <li>	How long do we keep your information?: We retain your information as long as necessary for the purposes outlined in this policy, unless otherwise required by law.
                </li>
                <li>
                      Information Collected for account creation: To access certain features, account creation is necessary. Users must provide necessary information as outlined in our Terms and Conditions
                </li>
                <li>
                    Use of Personal Information: Personal information is used to respond to your requests and improve our services.
                </li>
                <li>
                   Account Deletion: Users can request account deletion by contacting us via email. Upon request, accounts and related data will be deleted promptly.
                </li>
                <li>
                        Updates to this policy: This policy may be updated periodically to stay compliant with relevant laws. We encourage you to review it frequently for updates.
                </li>
            </ol>
    
            <div class="ms-3">
                For any questions or concerns about this policy, feel free to contact us at <b>info@kkreative.in</b> 
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}