<!-- promotional_email.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading and Stocks Newsletter</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f5f5f5; color: #333; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 50px auto; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
         <h2>{{ promotional_email.title }}</h2>
        
        <img src="{{promotional_email.image.url}}" alt="{{ promotional_email.title }}" style="display: block; margin: 30px auto; max-width: 100%; height: auto; border-radius: 10px;">

        <div class="descriptions">
          {{promotional_email.description | safe}}
        </div>

        <p style="text-align: center; color: #888;">This email was sent to you because you subscribed to our Trading and Stocks Newsletter. If you no longer wish to receive these emails, you can <a href="https://optionperks.com/unsubscribes_mail" style="color: #007bff;">unsubscribe here</a>.</p>
    </div>
</body>
</html>
