{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    
</style>
<section>

    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                .inner_back_strategy:hover {
                    background: #00000012;
               
                    border-radius: 5px;
                    color: #2196f3 !important;
        
                }
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Put Ratio Spread</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p>Put Ratio Spread is a neutral to bearish strategy. It's employed when an investor expects the underlying asset's price to remain stable or decline slightly.</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves two main components:</h3>
                    <ul>
                        <li><span> Short Put Option: </span>The investor sells (writes) one out-of-the-money put option with a specific strike price. </li>
                        <li class="mt-3"><span>Long Put Option: </span>Simultaneously, the investor buys two or more put options with a lower strike price. The number of long put options bought is typically greater than the number of short put options sold. </li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span>The maximum profit is limited. It occurs if the underlying asset's price declines moderately but remains above the strike price of the short put option. The profit is capped at the net credit received from selling the short put and buying the long puts. </li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span>The maximum loss is limited and occurs if the underlying asset's price drops sharply below the strike prices of the long put options. The loss is limited to the net debit (premium paid) when buying the long puts.    </li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>There are typically multiple break-even points based on the specifics of the options used. These points can be calculated based on the strike prices of the options.</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The primary goal of a Put Ratio Spread is to generate a net credit by selling the short put option, while the purchase of multiple long put options provides some downside protection.</li>
                        <li>The strategy is suitable when an investor has a mildly bearish outlook and wants to profit from a modest price decline or a stable price.</li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                       <li>The risk is limited to the net debit (premium paid) when buying the long put options. This defines the maximum loss.</li>
                       <li>The strategy provides controlled risk with a limited profit potential.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}