{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    
</style>
<section>
  
    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                .inner_back_strategy:hover {
                    background: #00000012;
               
                    border-radius: 5px;
                    color: #2196f3 !important;
        
                }
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Range forward Strategy</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p> Range Forward is typically used for hedging and managing currency risk, but it can also be used for speculative purposes.</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves two main components:</h3>
                    <ul>
                        <li><span>Forward Contract:  </span> The buyer and seller agree to exchange a specified amount of one currency for another at a predetermined future date (the settlement date) and at an agreed-upon exchange rate (the forward rate).</li>
                        <li class="mt-3"><span>Option Features: </span>  The Range Forward includes option-like features that create a range within which the exchange rate must fall. This range is defined by two strike rates: the upper strike and the lower strike.</li>
                    </ul>
                </div>
    
                <div>
                    <h3>Payoff Structure:</h3>
                    <ul>
                        <li>  If the exchange rate at the settlement date falls within the specified range (between the upper and lower strikes), the seller delivers the agreed-upon amount of currency to the buyer at the forward rate.</li>
                        <li class="mt-3">  If the exchange rate falls outside the specified range, the seller does not deliver the currency at the forward rate, and the buyer may be required to purchase the currency at the prevailing market rate.</li>
                    </ul>
                </div>
    
                <div class="mt-3">
                    <h3>Cost:</h3>
                     <p>Range Forwards may involve a premium or fee, similar to options. The cost depends on factors such as the chosen range and strike rates.</p>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <p>For hedging purposes, Range Forwards provide a predetermined range of exchange rates, limiting exposure to unfavorable currency movements. However, there is a risk of not participating in favorable movements if the exchange rate remains within the range.                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}