{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}

<div class="container mt-2">
    <h1>Refund and Cancellation Policy</h1>
    <p class="mb-2">At Optionperks, our commitment lies in delivering top-notch service and support to our valued customers. We kindly request that you carefully review our Refund and Cancellation Policy before making any purchases. By placing an order on our website or mobile app, you acknowledge and consent to the terms and conditions outlined below.</p>
  
    <h2>Cancellation Policy:</h2>
    <p class="mb-2">Upon placing an order on our site, your service will be activated immediately. Cancellation requests will be considered only under the following circumstances:</p>

      <h2>Duplicate Orders: </h2>
        
     <p class="mb-2">   If you inadvertently place duplicate orders for the same account, you may request cancellation of the duplicate order within 7 days of purchase. In such instances, please reach out to our customer support team via email at <a href="mailto:info@kkreative.in">info@kkreative.in</a> or by contacting our customer support number to initiate the cancellation process. Please note that once premium access is enabled or you have commenced utilizing any paid services, including screeners, live analysis, or other features, cancellation requests will not be accommodated.</p>

  
    <h2>Refund Policy:</h2>
    <p class="mb-2">We highly value your investment and are dedicated to ensuring a satisfactory customer experience. However, refunds will not be provided for any purchased plans or services, except in cases of duplicate payments. Refunds for duplicate payments made for the same account will be processed upon verification. If you believe you have made a duplicate payment, please contact our customer support team immediately for assistance.</p>
  
    <h2>Plan Usage and Expiry:</h2>
    <p class="mb-2">Upon purchasing a plan, you will have access to the benefits and services outlined in the plan description until the plan's expiry date. We encourage you to fully utilize the services within the specified timeframe to optimize your experience.</p>
  
    <h2>Modifications to Policy:</h2>
    <p class="mb-2">Optionperks reserves the right to update or modify this Refund and Cancellation Policy periodically. Any changes will be effective immediately upon posting the updated policy on our website. It is the responsibility of customers to periodically review this policy.</p>
  
    <p class="mb-2">If you have any questions or require further assistance regarding our Refund and Cancellation Policy, please do not hesitate to contact our customer support team.</p>
  </div>


{% endblock dashboard_body %}
