{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<div class="container">

    <div class="main_head_strategies border-bottom my-4">
        <div
          class="strategies d-flex mt-4"
          style="align-items: center; gap: 0.3rem"
        >
          <h4 class="">Profit & Loss</h4>
          <span>
            <i
              class="bi bi-exclamation-circle"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            ></i>
          </span>
        </div>
      </div>
      <div class="collapse" id="collapseExample" style="margin-bottom: 25px">
        <div class="card card-body">
          <div class="antd-pro-components-markdown-index-markdownStyle">
            <p>Strategies</p>
            <ul>
              <li>Bear Call, Put, Spread</li>
              <li>Bull Call, Put, Spread</li>
            </ul>
          </div>
        </div>
      </div>
















      <div class="row" style="    row-gap: 1rem;
    ">
        <div class="col-md-2 col-sm-6">
          <select class="form-select">
            <option selected>Segments</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-6">
          <select class="form-select">
            <option selected>P&L</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-6">
          <select class="form-select">
            <option selected>Symbol</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-6">
            <input class="form-control form-control-solid" placeholder="Pick date rage" id="kt_daterangepicker_1" data-listener-added_a06394db="true">
        </div>
       
        <div class="col-md-2 col-sm-6">
          <input type="text" class="form-control" placeholder="Tags">
        </div>
      
        <div class="col-md-1 col-sm-6">
          <button class="btn btn-primary"  style="    height: 37px;"><i class="bi bi-arrow-right"></i></button>
        </div>
      </div>

      <div class="month_png mt-5">
        <img src="{% static "Zerodha-console-PL (1).png" %}" alt="" style="
        width: -webkit-fill-available;
    ">
      </div>

      <div class="build_png mt-5" style="       display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  ">
<img src="{% static "build-robots-with-artificial-intelligence-chips_18660-1404.jpg" %}" alt="" style="    width: 150px;">

<h5>Build a report </h5>
<p>Use the above to generate a report</p>

      </div>
   
</div>
<script>
    $("#kt_daterangepicker_1").daterangepicker();
</script>
{% endblock dashboard_body %}