{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}

<div class="body body--start p-useCases">
    <!-- SECTION main :: START-->
    <section class="main guest-window position-relative" id="main">

        <div class="d-flex justify-content-center position-relative">
            <div class="card shadow border-0">

                
                <h5 class="modal-title mt-4 mb-2">Reset Password</h5>
                <p class="text-center">A 6-digit OTP will be sent to your Phone Number for password setup..</p>
                <div class="card-body">
                    <form class="d-flex flex-column" id="form_reset_pass">
                        {% csrf_token %}
                        <input type="hidden" name="" class="secret_key" style="visibility: hidden; position: absolute;">

                            <label for="resetPhoneNumber">Phone Number</label>
                            <input class="form-control" type="text" id="resetPhoneNumber" name="email" aria-describedby="emailHelp" placeholder="Enter your phone number">
                            <label for="otp" class="sr-only d-none mt-2">Enter OTP</label>
                            <input type="hidden" id="otp" name="otp" class="form-control otp_val" placeholder="Enter OTP">
                            
                            <div class="mb-3" style="position: relative;">
                            <label for="password" class="sr-only d-none mt-2">Enter Password</label>
                            <input type="hidden" id="password" name="password" class="form-control password" placeholder="Enter Password">
                            <span  id="r_eyeicon" style="cursor: pointer;">
                                <i class="bi-eye-slash" aria-hidden="true"></i>
                            </span>
                            </div>

                            <div class="mb-2" style="position: relative;">
                            <label for="c_password" class="sr-only d-none mt-2">Enter Confirm Password</label>
                            <input type="hidden" id="c_password" name="c_password" class="form-control c_password" placeholder="Enter Confirm Password">
                            <span  id="confirm_r_EyeIcon" style="cursor: pointer;">
                                <i class="bi-eye-slash" aria-hidden="true"></i>
                            </span>
                            </div>
                            <div class="mt-3 modal__btn-wrapper d-flex justify-content-center" id="set_otp_button">
                                <button class="btn c-btn c-btn--bg" id="set_otp_reset" type="submit">Get OTP</button>
                            </div>
                        
                <div class="reset_retry_otp text-center mt-2">
                    Retry in 30 sec
                  </div>
                        </div>
    
                                                 
             
                    </form>
                </div>
            </div>
        </div>

        <div class="main__bg main__bg-1  w-100 h-100">
<div class="main__bg-row d-flex position-absolute w-100 h-100 justify-content-between">
    <div class="main__bg-col main__bg-col-1"></div>
   
</div>
</div>
    </section>
    <!-- SECTION main :: END-->
</div>
<script>
$(document).ready(function () {
                     // Countdown timer function
                     function startCountdown() {
                          var seconds = 30;
                          var intervalId = setInterval(function () {
                            if (seconds <= 0) {
                              clearInterval(intervalId);
                              $('.reset_retry_otp').text('Resend OTP').prop('disabled', false).css("cursor", "pointer");

                            } else {
                              $('.reset_retry_otp').text('Retry in ' + seconds + ' sec').prop('disabled', true).css("cursor", "auto");

                              seconds--;
                            }
                          }, 1000);
                        }




// Click event for the "Retry now" button
$('.reset_retry_otp').click(function () {
    var csrfToken = "{{ csrf_token }}";

    // Collect form data


    var formData = {
        secret_key: $(".secret_key").val(),
        phone_number: $('#resetPhoneNumber').val(),
    
    };

    // console.log(formData);

    // Only perform the retry action if the button is enabled
    if (!$(this).prop('disabled')) {
        // Your retry action here
        startCountdown(); // Restart the countdown

        // Send AJAX request with CSRF token
        $.ajax({
            type: 'POST',
            url: "resend_reset_otp",
            contentType: "application/json", // Change content type to JSON
            data: JSON.stringify(formData),
            headers: {
                'X-CSRFToken': csrfToken
            },
            success: function (response) {
              // {status: true, message: 'OTP has been resent to your number!'}

              if (response.status) {
                
                toastr.success(response.message);
              }
                // Handle success response from the server
                console.log(response);

                // You can redirect or perform other actions here
            },
            error: function (error) {
                // Handle error response from the server
                var error_main = JSON.parse(error.responseText);

                console.log('Error:', error_main);
                toastr.error(error_main.error);

                // You can display an error message to the user
            }
        });
    }
});












   
    $(document).on('click', '#set_otp_reset', function(e) {
        e.preventDefault();  // Added the missing 'e' parameter and the preventDefault() call

        var phoneNumber = $("#resetPhoneNumber").val();
        var key = 'mobile';  // Assuming key is defined somewhere in your code

        if (key === 'mobile' && (phoneNumber.length !== 10 || !/^[6-9]\d+$/.test(phoneNumber))) {
            toastr.clear();
            toastr.error("Please fill in a valid phone number (min 10 digits and starts with 6, 7, 8, or 9)");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '/reset_pass_otp',  // Updated the URL, make sure to include the trailing slash
            data: {
                'phone_number': phoneNumber,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                // Handle success, e.g., show a message to the user
                console.log(data);
                // {status: 'error', message: 'User does not exist'}
                if (data.status==="error") {
                    
                    toastr.error(data.message);
                }
                if (data.status==="success") {
                    startCountdown()
                        // Make labels and inputs visible

                        $(".reset_retry_otp").show()
                        $("label[for='otp']").removeClass("d-none");
                        $("#otp").removeClass("d-none");

                        $("label[for='password']").removeClass("d-none");
                        $("#password").removeClass("d-none");

                        $("label[for='c_password']").removeClass("d-none");
                        $("#c_password").removeClass("d-none");

                            // Replace hidden inputs with text inputs
                        $("#otp").replaceWith("<input type='text' id='otp' name='otp' class='form-control otp_val' placeholder='Enter OTP' >");

                        $("#password").replaceWith("<input type='password' id='password' name='password' class='form-control password' placeholder='Enter Password' >");

                        $("#c_password").replaceWith("<input type='password' id='c_password' name='c_password' class='form-control c_password' placeholder='Enter Confirm Password' >");
                                       $("#set_otp_reset").replaceWith(" <button class='btn c-btn c-btn--bg' id='set_password' type='submit'>Reset Password</button>")     
                    toastr.success(data.message);
                    console.log(data.secret);
                    $(".secret_key").val(data.secret)
                }
                console.log('OTP sent successfully');
            },
            error: function (xhr, errmsg, err) {
                // Handle error, e.g., show an error message
                console.log('Error sending OTP');
            }
        });
    });

    $(document).on('click', "#set_password", function (e) {
        e.preventDefault();

        // Get all values
        var secret_key =$(".secret_key").val()
        var phone_number = $('#resetPhoneNumber').val();
        var otp = $('#otp').val();
        var password = $('#password').val();
        var c_password = $('#c_password').val();

        // Validate the form data (add your validation logic here)

        // Make AJAX request
        $.ajax({
            type: 'POST',
            url: '/otp_update_pass',  // Change this to your actual URL
            data: {
                secret_key:secret_key,
                phone_number: phone_number,
                otp: otp,
                password: password,
                c_password: c_password,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                console.log('Password reset successful', data);

                                            if (data.status==="error") {

                                                toastr.error(data.message);
                                                return
                                                
                                            }
                                                        $("#signinModal").modal("show")
                toastr.success(data.message);
                 $(".secret_key").val("")
         $('#resetPhoneNumber').val("");
         $('#otp').val("");
         $('#password').val("");
         $('#c_password').val("");
         $("label[for='otp']").addClass("d-none");
                        $("#otp").addClass("d-none");

                        $("label[for='password']").addClass("d-none");
                        $("#password").addClass("d-none");

                        $("label[for='c_password']").addClass("d-none");
                        $("#c_password").addClass("d-none");
                        $("#set_password").replaceWith(" <button class='btn c-btn c-btn--bg' id='set_otp_reset' type='submit'>Get OTP</button>")     
         $(".reset_retry_otp").hide()
                // {status: 'success', message: 'Password updated successfully'}
                // Add any additional logic or redirection on success
            },
            error: function (error) {
                console.error('Error resetting password', error);
                // Handle error scenario
            }
        });
    });

    $('#r_eyeicon').click(function() {
        var passwordInput = $('#password');
        var icon = $(this).find('i');

        if (passwordInput.attr('type') === 'password') {
            passwordInput.attr('type', 'text');
            icon.removeClass('bi-eye-slash').addClass('bi-eye');
        } else {
            passwordInput.attr('type', 'password');
            icon.removeClass('bi-eye').addClass('bi-eye-slash');
        }
    });

    // Toggle confirm password visibility when eye icon is clicked
    $('#confirm_r_EyeIcon').click(function() {
        var confirmPasswordInput = $('#c_password');
        var icon = $(this).find('i');

        if (confirmPasswordInput.attr('type') === 'password') {
            confirmPasswordInput.attr('type', 'text');
            icon.removeClass('bi-eye-slash').addClass('bi-eye');
        } else {
            confirmPasswordInput.attr('type', 'password');
            icon.removeClass('bi-eye').addClass('bi-eye-slash');
        }
    });

});

</script>
<style>

    #r_eyeicon{
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 44px;
    }
    #confirm_r_EyeIcon{
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 44px;
    }
     .main {
        padding-top: 50px !important;
        padding-bottom: 200px;
    }
    #set_otp_reset,#set_password{
        background: #59aaf9 !important;
        Color: white !important;
    }
    #set_otp_reset:hover,
    #set_password:hover{
        color: #59aaf9 !important;
        background: white !important;
        border: 1px solid #59aaf9 !important;
    }

    .guest-window .d-flex {
        position: revert !important;
        z-index: 0 !important;
        
    }
    #resetPhoneNumber,#otp,#password,#c_password{
        background: #f2f2f2 !important;
    }
    #resetPhoneNumber::placeholder,
    #otp::placeholder,
    #password::placeholder,
    #c_password::placeholder{
     font-size: 0.9rem !important;
    }
#form_reset_pass label{
    color: gray !important;
}

.reset_retry_otp{
    color: rgb(61, 61, 61);
    display: none;
    font-size: 15px;
}
</style>
{% endblock dashboard_body %}