{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    
</style>
<section>

    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                .inner_back_strategy:hover {
                    background: #00000012;
               
                    border-radius: 5px;
                    color: #2196f3 !important;
        
                }
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Risk Reversal Strategy</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p>A Risk Reversal is a neutral to slightly bullish strategy. It is used when an investor expects the underlying asset's price to remain stable or increase slightly.</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves two main components:</h3>
                    <ul>
                        <li><span> Short Put Option: </span> The investor sells (writes) a put option with a specific strike price. This option gives the investor an obligation to buy the underlying asset at the strike price if the option is exercised by the option buyer.</li>
                        <li class="mt-3"><span>Long Call Option: </span> Simultaneously, the investor buys a call option with a higher strike price. This call option provides upside potential and limits potential losses.</li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span> The maximum profit is theoretically unlimited if the underlying asset's price increases significantly.</li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span>   The maximum loss is limited to the difference between the strike prices of the put and call options, minus the net premium received from selling the put. </li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>The break-even point on the upside is the strike price of the long call plus the net premium received from selling the put. The break-even point on the downside is the strike price of the short put minus the net premium received.</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The primary goal of a Risk Reversal is to provide downside protection while allowing for some upside potential.</li>
                        <li>The strategy aims to generate income through the sale of the put option.</li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                        <li>The risk is limited to the difference between the strike prices of the put and call options, minus the net premium received from selling the put.</li>
                        <li>The strategy offers controlled risk, particularly on the downside.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}