{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
    
</style>
<section>

    <div class="stratgies">
        <div class="container">
            <a class="back_to_main_strategy" href="/option_strategies" style="
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 0.4rem;
            color: darkslategray;
            font-weight: 500;
            margin: 10px 0;
        ">
            <style>
                .inner_back_strategy:hover {
                    background: #00000012;
               
                    border-radius: 5px;
                    color: #2196f3 !important;
        
                }
            </style>
                <div class="inner_back_strategy" style="     padding: 2px 9px;">
                    <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
                    <h5 style="
        all: unset;
        ">Back to Strategies</h5>
                </div>
        
            </a>
            <div class="stratgies">
                <h2 class="mb-3 fs-5 fw-bold my-3">Short Iron Condor Strategy</h2>
                
                <div >
                    <h3>Strategy Type:</h3>
                    <p>Short Iron Condor is a neutral strategy. It's used when an investor anticipates limited price movement in the underlying asset and aims to profit from time decay and declining option premiums.</p>
                </div>
        
                <div class="mt-3">
                    <h3>Components: The strategy involves four components:</h3>
                    <ul>
                        <li><span> Short Call Option: </span>The investor sells (writes) a call option with a specific strike price </li>
                        <li class="mt-3"><span>Long Call Option: </span>Simultaneously, the investor buys a call option with a higher strike  </li>
                        <li class="mt-3"><span>Short Put Option: </span>The investor sells (writes) a put option with a specific strike price. </li>
                        <li class="mt-3"><span>Long Put Option: </span>Simultaneously, the investor buys a put option with a lower strike price. This provides downside protection and defines the maximum loss on the put side. </li>
                    </ul>
                </div>
    
                <div>
                    <h3>Profit and Loss Potential:</h3>
                    <ul>
                        <li> <span class="text-success"> Maximum Profit:</span>The maximum profit is limited to the net credit received when selling the options. It occurs if the underlying asset's price remains within a specific range defined by the strike prices of the options. </li>
                        <li class="mt-3"> <span class="text-danger">Maximum Loss:</span>The maximum loss is limited and occurs if the underlying asset's price moves significantly beyond the range defined by the strike prices of the options.    </li>
                    </ul>
                </div>
    
                <div class="mt-3">
                  <span class="fw-bold fs-5">Break-Even Point:</span> <span>There are typically multiple break-even points, depending on the specifics of the options used. Break-even points can be calculated based on the strike prices of the options.</span>
                </div>
    
                <div class="mt-3">
                    <h3>Strategy Goals:</h3>
                    <ul>
                        <li>The primary goal of a Short Iron Condor is to profit from limited price movement in the underlying asset while generating premium income from selling the options.</li>
                        <li>The strategy provides a defined profit range between the strike prices of the options.                        </li>
                    </ul>
                </div>
                 
                <div class="mt-3">
                    <h3>Risk Management:</h3>
                    <ul>
                       <li>The risk is limited to the difference between the strike prices of the long options. This defines the maximum loss.</li>
                       <li>The strategy offers controlled risk with a limited profit potential.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard_body %}