{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}

<div class="container mb-4">
    <a class="back_to_main_strategy" href="/option_strategies" style="
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0.4rem;
    color: darkslategray;
    font-weight: 500;
    margin: 10px 0;
">
        <style>
            .inner_back_strategy:hover {
                background: #00000012;

                border-radius: 5px;
                color: #2196f3 !important;

            }
        </style>
        <div class="inner_back_strategy" style="     padding: 2px 9px;">
            <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
            <h5 style="
all: unset;
">Back to Strategies</h5>
        </div>

    </a>

    <div>
        <h2 class="mb-3 fs-5">Short Call Option Strategy</h2>
        <p class="mb-3">
          When you expect the price of a stock to fall, you do the opposite of the Long Call. You can sell Call options, when you are highly bearish on a stock. It is important to clear that, this position has a limited profit potential and the possibility of large losses. It is a risky strategy since the seller of the Call is exposed to unlimited risk. It is suggested not to carry overnight positions. Also, you should always strictly comply with Stop Loss in order to regulate your losses.
        </p>
        <p class="mb-3">
         To limit losses, some traders often apply a short call while owning the underlying stock. This is known as a Covered Call.
        </p>
        <p>
          <b>When to Use: Investor is highly Bearish on a stock / index.</b>
        </p>
        <p>
          <b>Risk:</b>Unlimited
        </p>
        <p><b>Reward: </b>Limited to the Premium.</p>
        <p><b>Breakeven:</b>Strike Price + Premium</p>
        <p>
          <b>Profit when: </b> The underlying security closes below the strike price.
        </p>
        <p>
          <b>Loss When:</b>The underlying security closes above the strike price.
        </p>
        <h2 class="mt-4">Let's understand with an example:</h2>
        <img
          src="{% static 'img/assets/short-call.jpeg' %}"
          alt="short-call"
        />
        <p class="mt-3">
         Short Call Payoff chart: In the above figure, we have underlying price on the "X" or the horizontal axis and Payoff/profit on the "Y" or the vertical axis.</p>
        <h2 class="mt-5 fs-4 mb-3">Here, I longed 1 lot of NIFTY</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Current Nifty index</th>
              <th scope="col">120000</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Call Option</td>
              <td>Strike Price (Rs.)</td>
              <td>11900</td>
            </tr>
            <tr>
              <td>Paying</td>
              <td>Premium</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Paying</td>
              <td>Break Even Point (Rs.) (Strike Price + Premium)</td>
              <td>11950</td>
            </tr>
          </tbody>
        </table>
        <p class="mb-4">
          This strategy is used when an investor is aggressive and strongly believes that the price is going to fall. This is a risky strategy as, if the stock price rises, the short call loses money at a fast pace and the seller may suffer significant losses. Since the trader does not own the underlying stock that he is shorting, this strategy is often called Short Naked Call. Again, the maximum profit to be made from this strategy is the amount of premium paid.
        </p>
        <h3>Conclusion</h3>
        <ul>
          <li>
            When you short a call option, you do it with bear expectations from the market.
          </li>
          <li>
            While shorting calls, you should comply with Stop Loss in order to regulate your losses.
          </li>
          <li>
            Some traders, in order to limit losses, often apply a short call while owning the underlying stock. This is known as a Covered Call.</li>
        </ul>
        <span>Create your own option payoff chart</span>
      </div>


</div>
{% endblock dashboard_body %}