{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}

<div class="container mb-4">
    <a class="back_to_main_strategy" href="/option_strategies" style="
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0.4rem;
    color: darkslategray;
    font-weight: 500;
    margin: 10px 0;
">
        <style>
            .inner_back_strategy:hover {
                background: #00000012;

                border-radius: 5px;
                color: #2196f3 !important;

            }
        </style>
        <div class="inner_back_strategy" style="     padding: 2px 9px;">
            <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
            <h5 style="
all: unset;
">Back to Strategies</h5>
        </div>

    </a>
    <div>
        <h2 class="mb-3 fs-5">Short Straddle</h2>
        <p class="mb-3">
        When we create a short straddle, we do so with a feeling that the market will not show any major movements. To create this strategy the investor sells one call option and a put option on the same stock for the same stock price and expiry. If the stock does not show any major movement in either direction, the options will not be exercised and the option writer will retain the premium as his profit. The profit here is limited to the premium received but the risk is unlimited.
        </p>
        <p>
          <b>When to Use: The investor thinks that the underlying stock / index will experience very little volatility in the near term.</b>
        </p>
        <p>
          <b>Risk:</b> Unlimited
        </p>
        <p><b>Reward: </b>Limited to the premium received</p>
        <p><b>Breakeven:</b> 
          Upper Break even Point = Strike Price of Short Call + Net Premium Received
          Lower Break even Point = Strike Price of Short Put – Net Premium Received
        </p>
        <h2 class="mt-4">Let's understand with an example:</h2>
        <img
          src="{% static 'img/assets/short-straddle.jpeg' %}"
          alt="short-straddle"
        />
        <p class="mt-3">
         Short Straddle Chart: In the above figure, we have underlying price on the "X" or the horizontal axis and Payoff/profit on the "Y" or the vertical axis.
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nifty index</th>
              <th scope="col">Current Value</th>
              <th scope="col">11700</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Call and Put</td>
              <td>Strike Price (Rs.)</td>
              <td>11750</td>
            </tr>
            <tr>
              <td>Payed</td>
              <td>Total Premium (Call + Put) (Rs.)</td>
              <td>207</td>
            </tr>
            <tr>
              <td></td>
              <td>Break Even Point (Rs.)</td>
              <td>11,957 (U)</td>
            </tr>
            <tr>
              <td></td>
              <td>(Rs.)</td>
              <td>11543 (L)</td>
            </tr>
          </tbody>
        </table>
        <h3>Conclusion</h3>
        <ul>
          <li>
           You create a Short Straddle when you feel that market is not going to show any major movements.
          </li>
          <li>
           A Short Straddle strategy includes shorting an ATM put option and an ATM call option. The options must have the same strike price as well as the same maturity.
          </li>
          <li>
           It offers unlimited risk and limited profit.
          </li>
          <li>
           If the stock price stays close to the strike price at the time of expiry, the investor will keep the premium as his profit. This is the maximum gain potential that can be derived by using this strategy.
          </li>
          <li>
            The upper break-even point for this strategy is Strike Price of Short Call + Net Premium Received.
          </li>
          <li>
            The lower break-even point for this strategy is Strike Price of Short Put – Net Premium Received.
          </li>
        </ul>
        <span>Create your own option payoff chart</span>
      </div>


</div>
{% endblock dashboard_body %}