{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<div class="container">
    <div class="main_head_strategies border-bottom my-4">
        <div
          class="strategies d-flex mt-4"
          style="align-items: center; gap: 0.3rem"
        >
          <h4 class="">Stock Scanner</h4>
          <span>
            <i
              class="bi bi-exclamation-circle"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            ></i>
          </span>
        </div>
      </div>
      <div class="collapse" id="collapseExample" style="margin-bottom: 25px">
        <div class="card card-body">
          <div class="antd-pro-components-markdown-index-markdownStyle">
            <p>Strategies</p>
            <ul>
              <li>Bear Call, Put, Spread</li>
              <li>Bull Call, Put, Spread</li>
            </ul>
          </div>
        </div>
      </div>





<div class="all_scans" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <div class="today_scan border-bottom" style="
    padding: 11px 8px 5px 12px;
    color: darkblue;
">
        <h5>Scans for 16 Jun 2023</h5>

    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" style="
                  padding: 4px 18px 11px 40px;
        " data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <div class="accrodian_scan d-flex flex-column">
                <h5 style="color: darkblue;">Price Scans</h5>
                <p style="margin-bottom: auto;     margin-bottom: auto;
                font-size: 12px;
                color: dimgray;
            ">Monitor significant price movements, patterns/ breaching of threshold.</p>
            </div>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="    display: flex;
            flex-direction: column;
            gap: 1rem;
        ">

                <div class="main_accordian_body" style="    display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 0 30px;">
                    <div class="left_accor_body" style="display: flex;
                    gap: 1rem;">
                        <p style="margin-bottom: auto;     margin-bottom: auto;
                        background: darkblue;
                        color: white;
                        padding: 0 16px 0 16px;
                        border-radius: 12px;">LD</p>
                        <p style="margin-bottom: auto; ">Previous Day Breakout Scans</p>
                    </div>
                    <div class="right_accor_body">
                        <i class="bi bi-info" style="    background: darkblue;
                        color: white;
                        font-size: 18px;
                        border-radius: 50%;"></i>
                    </div>
                </div>
                <div class="main_accordian_body" style="    display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 0 30px;">
                    <div class="left_accor_body" style="display: flex;
                    gap: 1rem;">
                        <p style="margin-bottom: auto;     margin-bottom: auto;
                        background: darkblue;
                        color: white;
                        padding: 0 16px 0 16px;
                        border-radius: 12px;">MB</p>
                        <p style="margin-bottom: auto; ">Monthly Breakout Scans</p>
                    </div>
                    <div class="right_accor_body">
                        <i class="bi bi-info" style="    background: darkblue;
                        color: white;
                        font-size: 18px;
                        border-radius: 50%;"></i>
                    </div>
                </div>
            </div>
          </div>
        </div>



        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" style="
                  padding: 4px 18px 11px 40px;
        " data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <div class="accrodian_scan d-flex flex-column">
                <h5 style="color: darkblue;">Volume And Delivery Scans</h5>
                <p style="margin-bottom: auto;     margin-bottom: auto;
                font-size: 12px;
                color: dimgray;
            ">Monitor highly Traded & Delivered stocks.</p>
            </div>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><div class="main_accordian_body" style="    display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 0 30px;">
                    <div class="left_accor_body" style="display: flex;
                    gap: 1rem;">
                        <p style="margin-bottom: auto;     margin-bottom: auto;
                        background: darkblue;
                        color: white;
                        padding: 0 16px 0 16px;
                        border-radius: 12px;">LD</p>
                        <p style="margin-bottom: auto; ">Previous Day Breakout Scans</p>
                    </div>
                    <div class="right_accor_body">
                        <i class="bi bi-info" style="    background: darkblue;
                        color: white;
                        font-size: 18px;
                        border-radius: 50%;"></i>
                    </div>
                </div></div>
          </div>
        </div>


        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" style="
                  padding: 4px 18px 11px 40px;
        " data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <div class="accrodian_scan d-flex flex-column">
                <h5 style="color: darkblue;">Technicals Scans</h5>
                <p style="margin-bottom: auto;     margin-bottom: auto;
                font-size: 12px;
                color: dimgray;
            ">Get scans when technical conditions are met for all NSE & BSE stocks.</p>
            </div>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><div class="main_accordian_body" style="    display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 0 30px;">
                    <div class="left_accor_body" style="display: flex;
                    gap: 1rem;">
                        <p style="margin-bottom: auto;     margin-bottom: auto;
                        background: darkblue;
                        color: white;
                        padding: 0 16px 0 16px;
                        border-radius: 12px;">LD</p>
                        <p style="margin-bottom: auto; ">Previous Day Breakout Scans</p>
                    </div>
                    <div class="right_accor_body">
                        <i class="bi bi-info" style="    background: darkblue;
                        color: white;
                        font-size: 18px;
                        border-radius: 50%;"></i>
                    </div>
                </div></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" style="
                  padding: 4px 18px 11px 40px;
        " data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            <div class="accrodian_scan d-flex flex-column">
                <h5 style="color: darkblue;">Fundamental Scans</h5>
                <p style="margin-bottom: auto;     margin-bottom: auto;
                font-size: 12px;
                color: dimgray;
            ">Identify Companies based on various fundamental parameters.</p>
            </div>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><div class="main_accordian_body" style="    display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 0 30px;">
                    <div class="left_accor_body" style="display: flex;
                    gap: 1rem;">
                        <p style="margin-bottom: auto;     margin-bottom: auto;
                        background: darkblue;
                        color: white;
                        padding: 0 16px 0 16px;
                        border-radius: 12px;">LD</p>
                        <p style="margin-bottom: auto; ">Previous Day Breakout Scans</p>
                    </div>
                    <div class="right_accor_body">
                        <i class="bi bi-info" style="    background: darkblue;
                        color: white;
                        font-size: 18px;
                        border-radius: 50%;"></i>
                    </div>
                </div></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" style="
                  padding: 4px 18px 11px 40px;
        " data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            <div class="accrodian_scan d-flex flex-column">
                <h5 style="color: darkblue;">Strike Wise Opitons Scans</h5>
                <p style="margin-bottom: auto;     margin-bottom: auto;
                font-size: 12px;
                color: dimgray;
            ">Monitor major Strike Wise Option OI changes.</p>
            </div>
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><div class="main_accordian_body" style="    display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 0 30px;">
                    <div class="left_accor_body" style="display: flex;
                    gap: 1rem;">
                        <p style="margin-bottom: auto;     margin-bottom: auto;
                        background: darkblue;
                        color: white;
                        padding: 0 16px 0 16px;
                        border-radius: 12px;">LD</p>
                        <p style="margin-bottom: auto; ">Previous Day Breakout Scans</p>
                    </div>
                    <div class="right_accor_body">
                        <i class="bi bi-info" style="    background: darkblue;
                        color: white;
                        font-size: 18px;
                        border-radius: 50%;"></i>
                    </div>
                </div></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" style="
                  padding: 4px 18px 11px 40px;
        " data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            <div class="accrodian_scan d-flex flex-column">
                <h5 style="color: darkblue;">Candlestick Scans</h5>
                <p style="margin-bottom: auto;     margin-bottom: auto;
                font-size: 12px;
                color: dimgray;
            ">Explore formation of Candlestick patterns in all NSE &amp; BSE stocks.</p>
            </div>
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><div class="main_accordian_body" style="    display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 0 30px;">
                    <div class="left_accor_body" style="display: flex;
                    gap: 1rem;">
                        <p style="margin-bottom: auto;     margin-bottom: auto;
                        background: darkblue;
                        color: white;
                        padding: 0 16px 0 16px;
                        border-radius: 12px;">LD</p>
                        <p style="margin-bottom: auto; ">Previous Day Breakout Scans</p>
                    </div>
                    <div class="right_accor_body">
                        <i class="bi bi-info" style="    background: darkblue;
                        color: white;
                        font-size: 18px;
                        border-radius: 50%;"></i>
                    </div>
                </div></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" style="
                  padding: 4px 18px 11px 40px;
        " data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            <div class="accrodian_scan d-flex flex-column">
                <h5 style="color: darkblue;">Future And Opitons Scans</h5>
                <p style="margin-bottom: auto;     margin-bottom: auto;
                font-size: 12px;
                color: dimgray;
            ">Monitor exceptional Open Interest changes and identify Future and Option Positions.</p>
            </div>
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><div class="main_accordian_body" style="    display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 0 30px;">
                    <div class="left_accor_body" style="display: flex;
                    gap: 1rem;">
                        <p style="margin-bottom: auto;     margin-bottom: auto;
                        background: darkblue;
                        color: white;
                        padding: 0 16px 0 16px;
                        border-radius: 12px;">LD</p>
                        <p style="margin-bottom: auto; ">Previous Day Breakout Scans</p>
                    </div>
                    <div class="right_accor_body">
                        <i class="bi bi-info" style="    background: darkblue;
                        color: white;
                        font-size: 18px;
                        border-radius: 50%;"></i>
                    </div>
                </div></div>
          </div>
        </div>
       
      </div>
</div>


</div>
{% endblock dashboard_body %}