{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}


<div class="main_chart d-flex mt-4">

    <div class="chart_child mb-3">
        <p class="text-center mt-1">Dow Futures</p>
        <iframe data-v-1efe7064=""
            src="https://ssltvc.forexprostools.com/?pair_ID=8873&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"
            class="responsive-iframe" style="width: 30rem; height:30rem;" class=""></iframe>
    </div>

    <div class="chart_child mb-3 ">
        <p class="text-center mt-1">Nifty 50 Futures </p>
        <iframe data-v-1efe7064=""
            src="https://ssltvc.forexprostools.com/?pair_ID=8985&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=1&amp;lang_ID=1&amp;timezone_ID=20"
            class="responsive-iframe" style="width: 30rem; height:30rem;"></iframe>
    </div>



    <div class="chart_child mb-3 ">
        <p class="text-center mt-1">Banknifty </p>
        <iframe data-v-1efe7064=""
            src="https://ssltvc.forexprostools.com/?pair_ID=104423&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=20"
            class="responsive-iframe" style="width: 30rem; height:30rem;"></iframe>
    </div>


    <div class="chart_child mb-3 ">
        <p class="text-center mt-1">India Vix </p>
        <iframe data-v-1efe7064=""
            src="https://ssltvc.forexprostools.com/?pair_ID=17942&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=20"
            class="responsive-iframe" style="width: 30rem; height:30rem;"></iframe>
    </div>
    <div class="chart_child mb-3 ">
        <p class="text-center mt-1">Crude Oil </p>
        <iframe data-v-1efe7064=""
            src="https://ssltvc.forexprostools.com/?pair_ID=8849&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=20"
            class="responsive-iframe" style="width: 30rem; height:30rem;"></iframe>
    </div>
    <div class="chart_child mb-3 ">
        <p class="text-center mt-1">USD / INR </p>
        <iframe data-v-1efe7064=""
            src="https://ssltvc.forexprostools.com/?pair_ID=160&amp;height=1200&amp;width=1920&amp;interval=300&amp;plotStyle=candles&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=20"
            class="responsive-iframe" style="width: 30rem; height:30rem;"></iframe>
    </div>

</div>

{% endblock dashboard_body %}