{% extends "base_admin_panel.html" %}
{% load static %}
{% block dashboard_admin_body %}
<style>
    .dataTables_length {
      margin: 7px 0 10px 0 !important;
    }
  
    .main_report_admin {
      background: white;
      padding: 4rem 2rem;
      border-radius: 10px;
    }
  </style>
  <style>
  
    .feedback_management_table{
      padding: 50px 17px 19px 15px;
      background: white;
      border-radius: 12px;
    }
  #stars_feeback{
      color: gold; /* Change the color to gold */
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  }
  </style>
  <style>
    .rating-scale {
        width: 100px; /* Width of the scale */
        height: 15px; /* Height of the scale */
        background: linear-gradient(74deg, rgba(50,164,255,1) 0%, rgba(250,88,88,1) 0%, rgba(67,255,196,1) 100%);
        position: relative;
    }

    .table-striped-custom>tbody>tr:nth-child(2n)>td,
      .table-striped-custom>tbody>tr:nth-child(2n)>th {
          background-color: rgb(240, 247, 253) !important;
      }
  .main_table_subscriber{
        background: white;
      padding: 35px 21px;
      border-radius: 8px;
  }
  table.dataTable tbody tr {
          background-color: transparent;
          border-bottom:transparent;
      }
      table.dataTable thead th, table.dataTable thead td {
      padding: 10px;
      border-bottom: 0px solid rgb(0 0 0 / 0%);
  }
  #subscriberTable{
    width: -webkit-fill-available !important;
  }
  .parent_table{
      overflow: auto;
  }
  #subscriberTable_wrapper{
    display: flex;
      flex-direction: column;
  
  }
  .parent_search_length{
    margin-bottom: 3px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid #59aaf9 !important;
    background-color: rgba(230, 230, 230, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%); */
    background: #59aaf9;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 7px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 7px;
    background: transparent;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: #59aaf9 !important;
    box-shadow: inset 0 0 3px #111;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #59aaf9 !important;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    background: #59aaf9 !important;
  }
  .paginate_button.previous::before {
    content: "<"; /* Unicode left arrow character */
    font-size: 16px !important;
  }
  
  /* Next page button icon */
  .paginate_button.next::before {
    content: ">"; /* Unicode right arrow character */
    font-size: 16px !important;
  }
  
  /* Hide text for Previous and Next buttons */
  #subscriberTable_previous{
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }
  #subscriberTable_previous {
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }
  #subscriberTable_previous:hover {
    color: white !important;
    
  }
  #subscriberTable_next {
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }
  #subscriberTable_next:hover {
    color: white !important;
  }
  
  .paginate_button {
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important; /* Adjust the values as needed */
  }
  
  
  .dataTables_length select{
    border: 1px solid #aaa;
      
      background-color: transparent;
      
      margin: 0 5px !important;
      font-weight: 500 !important;
  }
  
  .dataTables_length label {
    text-transform: capitalize !important;
  }
  
  .dataTables_wrapper{
    padding: 10px !important;
  }
  .dataTables_filter{
    margin-bottom: 10px !important;
  }
  
  .parent_table {
    border-radius: 10px 10px 0 0 !important;
  }
  #sendPromotionalEmailsBtn{
    background: #59aaf9;
    border: 1px solid #59aaf9;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
  }
  #form_submit_btn{
    background: #59aaf9;
    border: 1px solid #59aaf9;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
  }
  </style>
  <div class="d-flex justify-content-between align-items-center">
    <h5>Subscriber List</h5>
    <button id="sendPromotionalEmailsBtn">Click to send mail</button>
  </div>
  <div class="row mt-5">

    <div class="col-lg-6">
      <input type="text" name="title" id="title" class="form-control mb-3" placeholder="Title">
      <input type="file" name="img" id="img" class="form-control mb-3" placeholder="Upload image here">
      <input type="text" name="img_url" id="img_url" class="form-control mb-3" placeholder="Image URL">
      <textarea name="" id="mytextarea" cols="30" rows="8" class="form-control" required></textarea>
      <button id="form_submit_btn">Save</button>
      <div id="validation_feedback" class="invalid-feedback" style="display: none;">Please fill out all required fields.</div>
    </div>
    <div class="col-lg-6">
      <img id="image_preview" src="" alt="Image Preview" style="max-width: 100%; height: auto;">
    </div>
  </div>
<div class="main_table_subscriber">
<table id="subscriberTable" class="table-striped-custom table">
    <thead style="    background: -webkit-gradient(linear, left top, left bottom, from(#4399eb), to(#5cadfb));
    background: -moz-linear-gradient(top, #4399eb 0, #5cadfb 100%);
    background: linear-gradient(180deg, #4399eb, #5cadfb);
    color: #fff;">
        <tr>
            <th>Email</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
<script type="text/javascript">
  $(document).ready(function () {


    tinymce.init({
      selector: '#mytextarea',
      plugins: [
      'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
      'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media',
      'table', 'emoticons', 'template', 'help'
    ],
    toolbar: "undo redo  h2 h3 bold italic underline  blockquote bullist numlist  hr",
  });

    // Fetch data via AJAX


    function updateImagePreview(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
              $('#image_preview').attr('src', e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
      }
  }

  // Trigger updateImagePreview when a file is selected
  $('#img').change(function() {
      updateImagePreview(this);
  });


    $('#form_submit_btn').click(function(event) {
      event.preventDefault();
      
      var title = $('#title').val();
      var img_url = $('#img_url').val();
      var image = $('#img').prop('files')[0];
      var description = tinymce.get('mytextarea').getContent();

      if (title.trim() === '' || (!image && img_url.trim() === '')) {
        $('#validation_feedback').show();
        return; // Exit early if fields are not valid
    }
      
      var formData = new FormData();
      formData.append('title', title);
      formData.append('img_url', img_url);
      formData.append('img', image);
      formData.append('description', description);
      
      $.ajax({
          type: 'POST',
          url: '/add_newsletter_data',
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
              alert(response.message);
              // Optionally, clear form fields after successful submission
              $('#title').val('');
              $('#img_url').val('');
              $('#img').val('');
              tinymce.get('mytextarea').setContent('');
              $('#image_preview').attr('src', '');
                $('#validation_feedback').hide();
          },
          error: function(xhr, status, error) {
              console.error(xhr.responseText);
          }
      });
  });


    $('#sendPromotionalEmailsBtn').click(function() {
      $.ajax({
          url: '/send_promotional_emails',
          type: 'GET',
          success: function(response) {
            Swal.fire(
              'Success!',
              response.message,
              'success'
          );
          },
          error: function(xhr, status, error) {
            console.log('Error sending promotional emails.');
          }
      });
  });

function get_all_subs() {
  console.log('Run the function');
  
  $.ajax({
        url: '/get_subscribers/', // Replace with your URL
        method: 'GET',
        success: function (data) {
          $('#subscriberTable').DataTable().destroy();
          $('#subscriberTable tbody').empty()
            // Append data to the table
            data.subscribers.forEach(function (subscriber) {
              const subscribedTime = new Date(subscriber.subscribed_at); // Convert subscribed time to Date object
              const subscribe_status = subscriber.active == true ? "Active": "Inactive"
              $('#subscriberTable tbody').append(`
                  <tr>
                      <td>${subscriber.email}</td>
                      <td>${new Date(subscriber.subscribed_at).toLocaleDateString()}</td>
                      <td>${subscribedTime.toLocaleTimeString()}</td> <!-- Display subscribed time -->
                      <td class="${subscribe_status == "Active" ? 'text-success':'text-danger'}">${subscribe_status}</td>
                      <td><button data-id="${subscriber.id}" class="delete_subs">Delete</button></td>
                  </tr>
              `);
            });

            $(".delete_subs").click(function() {
              var subscriberId = $(this).data("id");
     delete_subs_back(subscriberId)
          });
    



            // Initialize DataTables
            $('#subscriberTable').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                pageLength: 50,
                dom: 'lrtip',
                language: {
                    search: '<div class="custom-search"><input class="form-control" type="search" placeholder="Search"></div>'
                }
            });
        },
        error: function (xhr, status, error) {
            console.error("Error:", error);
            alert("Error fetching subscribers.");
        }
    });

}
get_all_subs()
function delete_subs_back(subscriberId) {
  $.ajax({
                  url: '/delete_subscriber',
                  type: 'POST',
                  data: {
                      'subscriber_id': subscriberId,
                      'csrfmiddlewaretoken': '{{ csrf_token }}'
                  },
                  dataType: 'json',
                  success: function(data) {
                      if (data.success) {
                          console.log('Subscriber deleted successfully');
                          get_all_subs()
                          // Optionally, you can remove the deleted subscriber from the UI
                      } else {
                          console.error('Failed to delete subscriber: ' + data.error);
                      }
                  },
                  error: function(xhr, textStatus, errorThrown) {
                      console.error('Error deleting subscriber: ' + errorThrown);
                  }
              });
}

});
    
</script>


{% endblock dashboard_admin_body %}