{% extends "base_dashboard.html" %} {% load static %} {% block dashboard_body %}

<div class="container mb-4">
    <a class="back_to_main_strategy" href="/option_strategies" style="
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0.4rem;
    color: darkslategray;
    font-weight: 500;
    margin: 10px 0;
">
        <style>
            .inner_back_strategy:hover {
                background: #00000012;

                border-radius: 5px;
                color: #2196f3 !important;

            }
        </style>
        <div class="inner_back_strategy" style="     padding: 2px 9px;">
            <i class="bi bi-arrow-left" style="    font-size: larger;"></i>
            <h5 style="
all: unset;
">Back to Strategies</h5>
        </div>

    </a>

    <div>
        <h2 class="mb-3 fs-5">Synthetic Long Call</h2>
        <p class="mb-3">
         In this strategy, we buy a stock we feel bullish about. Now, it is a possibility that we may be wrong and the stock price may go down. So, to safeguard our investment, we buy a put option on the stock. This enables us with the right to sell the security at a certain price (i.e. the strike price). The strike price can be at the money or slightly below out of the money.</p>
        <p class="mb-3">
         In case the stock price rises you will get the full benefit of the price rise. And if the stock price falls, you can exercise the Put Option. You have limited your loss in this manner. The Put option stops your further losses. The strategy can yield either limited loss or unlimited profit. The payoff diagram of this strategy looks like the diagram of a long call strategy and therefore it is referred to as Synthetic Call!</p>
        <p>
          <b>When to Use:When ownership is desired of stock yet investor is concerned about near-term downside risk. The outlook is conservatively bullish.</b>
        </p>
        <p>
          <b>Risk:</b>Losses limited to Stock price + Put Premium − Put Strike price
        </p>
        <p><b>Reward: </b>Profit potential is unlimited.</p>
        <p><b>Breakeven:</b>Put Strike Price – Put Premium</p>
        <p>
          <b>Profit when: </b>  Put Strike Price + Put Premium + Stock Price − Put Strike Price.
        </p>
        <p>
          <b>Loss When:</b>The underlying security closes below the strike price.
        </p>
        <h2 class="mt-4">Let's understand with an example:</h2>
        <img
          src="{% static 'img/assets/Synthetic-long-call.jpeg' %}"
          alt="short-call"
        />
        <p class="mt-3">
         Short Put payoff chart: In the above figure, we have underlying price on the "X" or the horizontal axis and Payoff/profit on the "Y" or the vertical axis.<h2 class="mt-5 fs-4 mb-3">Here, I longed 1 lot of NIFTY</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Current Nifty index</th>
              <th scope="col">120000</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Put Option</td>
              <td>Strike Price (Rs.)</td>
              <td>11900</td>
            </tr>
            <tr>
              <td>Receiving</td>
              <td>Premium</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Paying</td>
              <td>Break Even Point (Rs.) (Strike Price + Premium)</td>
              <td>11950</td>
            </tr>
          </tbody>
        </table>
        <p class="mb-4">
          Analysis: Selling Puts can be profitable in range bound markets. Still, the writer should be careful as the potential losses can be significant, if security price falls. This strategy is often considered as an income generating strategy.</p>
        <h3>Conclusion</h3>
        <ul>
          <li>When you short a put option, you do so believing that the underlying security's price will rise.</li>
          <li>A long put strategy offers limited profit (premium) and unlimited risk.</li>
        </ul>
        <span>Create your own option payoff chart</span>
      </div>


</div>
{% endblock dashboard_body %}