<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Placeholder Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .row1,
        .row2,
        .row3 {
            width: 32% ;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }

        .main_placeholder_container {
            gap: 0.8rem;
        }
        @media (max-width: 768px) {
            .row1,
        .row2,
        .row3 {
            width: 100% !important;
            
        }
        .main_placeholder_container{
flex-wrap: wrap;
        }
        }
    </style>
</head>

<body>
    <div class="main_placeholder_container flex-sm-wrap d-flex">

        <div class="row1">
            <div class="main_placeholder">
                <div class="placeholder-glow">
                    <span class="placeholder col-12" style="height: 250px;"></span>
                </div>
            </div>

            <div class="main_placeholder">
                <div class="placeholder-glow">
                    <span class="placeholder col-12" style="height: 250px;"></span>
                </div>
            </div>


            <div class="main_placeholder">
                <div class="placeholder-glow">
                    <span class="placeholder col-12" style="height: 250px;"></span>
                </div>
            </div>


        </div>
        <div class="row2">
            <div class="main_placeholder">
                <div class="placeholder-glow">
                    <span class="placeholder col-12" style="height: 350px;"></span>
                </div>
            </div>
            <div class="main_placeholder">
                <div class="placeholder-glow">
                    <span class="placeholder col-12" style="height: 350px;"></span>
                </div>
            </div>
            <div class="main_placeholder">
                <div class="placeholder-glow">
                    <span class="placeholder col-12" style="height: 350px;"></span>
                </div>
            </div>
        </div>
        <div class="row3">

            <div class="main_placeholder">
                <div class="placeholder-glow">
                    <span class="placeholder col-12" style="height: 250px;"></span>
                </div>
            </div>
            <div class="main_placeholder">
                <div class="placeholder-glow">
                    <span class="placeholder col-12" style="height: 250px;"></span>
                </div>
            </div>
            <div class="main_placeholder">
                <div class="placeholder-glow">
                    <span class="placeholder col-12" style="height: 250px;"></span>
                </div>
            </div>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</body>

</html>