left: -6px;
margin-top: 0;
position: absolute;
top: 5px;
z-index: 1
}

@-webkit-keyframes growDown {
0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0)
}

80% {
    -webkit-transform: scaleY(1.1);
    transform: scaleY(1.1)
}

to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}
}

@-moz-keyframes growDown {
0% {
    -moz-transform: scaleY(0);
    transform: scaleY(0)
}

80% {
    -moz-transform: scaleY(1.1);
    transform: scaleY(1.1)
}

to {
    -moz-transform: scaleY(1);
    transform: scaleY(1)
}
}

@keyframes growDown {
0% {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    transform: scaleY(0)
}

80% {
    -webkit-transform: scaleY(1.1);
    -moz-transform: scaleY(1.1);
    transform: scaleY(1.1)
}

to {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1)
}
}