{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}


<style>
    .text-success {
        color: rgb(0, 217, 0) ;
    }

    .text-danger {
        color: red !important;
    }

    tr {
        white-space: nowrap;
    }

    .bi.bi-graph-up {
        border: 1px solid #2397f3;
        border-radius: 7px;
        padding: 6px 9px;
        width: 33px;
        display: block;
        height: 29px;
        color: #2397f3;
        transition: 0.3s;
        display: inline;
    }

    .bi.bi-graph-up:hover {
        background-color: rgb(0, 132, 255);
        border: none;
        color: white !important;
    }

    tr:hover .symbol_name_watchlist {
        color: #2196f3;
    }

    /* Reset default margin and padding for the table */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    /* Style for the table header */
    thead {
        background-color: #f2f2f2;
    }

    th,
    td {
        padding: 12px 8px;
        text-align: left;
    }

    /* Add padding to tbody tr */


    td>div,
    th>div {
        padding: 9px;
    }

    .dataTables_length,
    .dataTables_filter {
        padding: 10px 0 !important;
        display: flex;
        justify-content: flex-start;



    }

    .main_derivative_table {
        margin: 12px 0;
        padding: 24px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    th {
        font-size: 16px;
        font-weight: 500;
    }

    td {
        color: darkslategray !important;
        font-size: 14px;
        font-weight: 500;
    }
</style>
<style>
    .filter-btn {
        border: 1px solid #4399eb !important;
        background-color: #fff;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #4399eb;
        line-height: 1.923;
        padding: 4px 13.5px;
        margin-right: 9px;
        min-width: 100px;
        max-width: 150px;
        text-align: center;
        border-radius: 10px;
    }

    .active {
        background: -webkit-gradient(linear, left top, left bottom, from(#4399eb), to(#5cadfb));
        background: -moz-linear-gradient(top, #4399eb 0, #5cadfb 100%);
        background: linear-gradient(180deg, #4399eb, #5cadfb);
        color: #fff;
    }

    thead {
        padding: 12px 15px !important;
        font-size: 12px !important;
     
        background: #4399eb !important;
        color: #fff !important;
        border-right: 1px solid var(--border-gray) !important;
    }

    .table-striped-custom>tbody>tr:nth-child(2n)>td,
    .table-striped-custom>tbody>tr:nth-child(2n)>th {
        background-color: rgb(240, 247, 253) !important;
    }

    /* Custom CSS to change the background color of placeholder-glow */
    .placeholder-glow:focus::placeholder {
        background-color: red !important;
        /* Add any other custom styles you want for the placeholder */
    }

    /* Optionally, change the color of the glowing effect */
    .placeholder-glow:focus::placeholder:after {
        background-color: blue !important;
    }

    .placeholder {
        height: 2rem !important;
    }

    .long_buildup {
        background: #c1f8c1a6;
    color: #167f18e0;
    border-radius: 50px;
    font-weight: 600;
    padding: 5px 15px 7px 30px;
    font-size: 14px;
    }

    .short_buildup {


    background: #ffa0a047;
    color: #f52c2cc4;
    border-radius: 50px;
    font-weight: 600;
    padding: 5px 15px 7px 30px;
    font-size: 14px;
    }

    .short_covering {
        background: #c9c90030;
    color: #7a7a02;
    border-radius: 50px;
    font-weight: 600;
    padding: 5px 15px 7px 30px;
    font-size: 14px;
    }
    .long_unwinding {
        background: #ff990026;
    color: rgb(255 139 0);
    border-radius: 50px;
    font-weight: 600;
    padding: 5px 15px 7px 30px;
    font-size: 14px;
    }
    table.dataTable tbody tr {
        background-color: transparent;
        border-bottom:transparent;
    }
    table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
    border-bottom: 0px solid rgb(0 0 0 / 0%);
}
.parent_table{
    overflow: auto;
}

#data-table_wrapper{
    display: flex;
    flex-direction: column;
}
#stock-table_wrapper{
    display: flex;
    flex-direction: column;
}

</style>

<style>


    th {
        background: -webkit-gradient(linear, left top, left bottom, from(#4399eb), to(#5cadfb)) !important;
        background: -moz-linear-gradient(top, #4399eb 0, #5cadfb 100%) !important;
        background: linear-gradient(180deg, #4399eb, #5cadfb) !important;
        color: white;
    }
    td{
        color: rgba(0, 0, 0, 0.595);
    }

    .filter {
        cursor: pointer;
        margin-right: 10px;
    }

    .active {
        font-weight: bold;
    }

    .filter {
        border: 1px solid #4399eb !important;
        background-color: #fff;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #4399eb;
        line-height: 1.923;
        padding: 7px 14.5px;
        margin-right: 9px;
        min-width: 100px;
        border-radius: 9px;
        max-width: 150px;
        text-align: center;
    }

    .filter:hover,
    .active {
        border: 1px solid #4399eb !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline: 0 !important;
        -webkit-transition: all .2s ease-in-out !important;
        -moz-transition: all .2s ease-in-out !important;
        transition: all .2s ease-in-out !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#4399eb), to(#5cadfb)) !important;
        background: -moz-linear-gradient(top, #4399eb 0, #5cadfb 100%) !important;
        background: linear-gradient(180deg, #4399eb, #5cadfb) !important;
        color: #fff !important;
    }

    .top_loosers {
        padding: 4px 10px;
        border-radius: 10px;
        border: 1px solid #4399eb;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        background: -webkit-gradient(linear, left top, left bottom, from(#4399eb), to(#5cadfb));
        background: -moz-linear-gradient(top, #4399eb 0, #5cadfb 100%);
        background: linear-gradient(180deg, #4399eb, #5cadfb);
        color: #fff;
        cursor: pointer;
        text-decoration: none !important;
    }

    .top_loosers:hover {
        border: 1px solid #4399eb !important;
        background: #fff !important;
        color: #4399eb !important;
    }
    .main_top_gainer{
        margin: 12px 0;
        padding: 24px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .filters{
        padding: 12px 0;
    }
    .dataTables_length,.dataTables_filter{
        padding: 10px 0 !important;
        display: flex;
    justify-content: flex-start;
    
    }
    #top_gainers_chart{
        border: 1px solid #2397f3;
    color: #2397f3;
    padding: 6px 8px;
    width: auto;
    height: auto;
    border-radius: 6px;
    }
    .main_table{

    overflow: auto;
    }
    #top_gainers_chart:hover{
        -webkit-transition: all .2s ease-in-out !important;
        -moz-transition: all .2s ease-in-out !important;
        transition: all .2s ease-in-out !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#4399eb), to(#5cadfb)) !important;
        background: -moz-linear-gradient(top, #4399eb 0, #5cadfb 100%) !important;
        background: linear-gradient(180deg, #4399eb, #5cadfb) !important;
        color: white !important;
    }
    .text-success{
        color: rgb(73, 213, 73);
    }
    .symbol_name,.top_gainer_redirect{
        display: inline !important;
    }

    thead tr th{
        border-right: .2px solid white !important;
        padding: 18px !important;
      }

      
      tbody td{
        padding: 18px !important;
      }

      .parent_table{
        border-radius: 10px !important;
      }

      tr:hover .symbol_name {
        color: #2196f3;
    }

      .dataTables_wrapper table.dataTable thead .sorting:before,
.dataTables_wrapper table.dataTable thead .sorting_asc:before,
.dataTables_wrapper table.dataTable thead .sorting_desc:before,
.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:before {
    color: white !important;
}

table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after {
    opacity: 5;
}

      table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: 1 !important;
    right: 10px;
    line-height: 10px;
    font-size: .7em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid #59aaf9 !important;
    background-color: rgba(230, 230, 230, 0.1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%); */
    background: #59aaf9;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 7px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 7px;
    background: transparent;
}

#stock-table_paginate{
    padding-bottom: 15px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: #59aaf9 !important;
    box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #59aaf9 !important;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    background: #59aaf9 !important;
}

.paginate_button.previous::before {
    content: "<"; /* Unicode left arrow character */
    font-size: 16px !important;
  }

  /* Next page button icon */
  .paginate_button.next::before {
    content: ">"; /* Unicode right arrow character */
    font-size: 16px !important;
  }

  /* Hide text for Previous and Next buttons */
  #stock-table_previous {
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }
  #stock-table_previous:hover {
    color: white !important;
    
  }
  #stock-table_next {
    font-size: 0 !important;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
     /* Button border */
    padding: 7px 18px; /* Button padding */
    border-radius: 4px; /* Button border-radius */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; 
    box-shadow: 0 3px 16px 0 rgba(35,47,62,.15)!important;
  }
  #stock-table_next:hover {
    color: white !important;
    
  }

  .paginate_button {
    box-shadow:0 3px 16px 0 rgba(35,47,62,.15)!important; /* Adjust the values as needed */
  }

  .dataTables_length select{
    border: 1px solid #aaa;
      
      background-color: transparent;
      padding: 2px 9px !important;
      margin: 0 5px !important;
      font-weight: 500 !important;
  }

  .dataTables_length label {
    text-transform: capitalize !important;
}
.bottom{
  margin-top: 20px !important;
}

.main_table{
    padding: 10px !important;
}

</style>

<script>
    $(document).ready(function () {
        // Retrieve the last selected filter from local storage, or set it to "day" by default
        var selectedFilter_topgainers = localStorage.getItem("selectedFilter_topgainers") || "day";
        var table = $("#stock-table").DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "order": [], // Disable default sorting
            "dom": '<"top"lf>rt<"bottom"ip><"clear">',
            "language": {
                 "search": '<div class="custom-search" style="position: relative"><i class="bi bi-search" style="position: absolute;right: 7px;top: 10px;"></i></i><input class="form-control" type="search" placeholder="Search" aria-controls="volume_shocker_table"></div>'
            }
        });
        $('#stock-table_filter input:eq(1)').hide();
        $('#stock-table_filter input[type="search"]').attr('placeholder', 'Search...');
        $('#stock-table').wrap('<div class="parent_table"></div>');
        $('#stock-table_length,#stock-table_filter').wrapAll('<div class="parent_search_length"></div>');
        function loadStockData(filter) {
            $.ajax({
                url: "/get_gainers_data_separate",
                type: "GET",
                dataType: "json",
                data: { range_type: filter.toLowerCase() },
                success: function (data) {
                    table.clear().draw();
                    data.forEach(function (stock) {
                        var row = $("<tr>");

                        // Add the graph link and symbol name to the table
                        $("<td>").append('<p style="margin-top: 0rem; margin-bottom: 0rem;" class="symbol_name">' + stock.symbol_name + '</p>').appendTo(row);

                        // Add the other columns data to the table
                        $("<td>").text(stock.today_close).appendTo(row);
                        $("<td>").text(stock.today_high).appendTo(row);
                        $("<td>").text(stock.today_low).appendTo(row);
                        // $("<td>").text(stock.today_close).appendTo(row);
                        // $("<td>").text(stock.prev_open).appendTo(row);
                        $("<td>").text(stock.prev_high).appendTo(row);
                        $("<td>").text(stock.prev_low).appendTo(row);
                        $("<td>").text(stock.prev_close).appendTo(row);
                            $("<td>").text(stock.change_percent+"%"+"("+stock.change_value+")").appendTo(row).addClass("text-success");
                            $("<td>").text(stock.today_volume).appendTo(row);
                            $("<td>").append('<a class="top_gainer_redirect" href="https://www.tradingview.com/chart/MgiGDMYM/?symbol=' + stock.symbol_name + '&aff_id=113877" target="_blank"><i class="bi bi-graph-up" id="top_gainers_chart"></i></a>').appendTo(row);
                                // $("<td>").text(stock.change_percent).appendTo(row);
                                    
                        table.row.add(row).draw(false);
                    });

                    $(".filter").removeClass("active");
                    $(".filter[data-value='" + filter + "']").addClass("active");

                    // Save the selected filter to local storage
                    localStorage.setItem("selectedFilter_topgainers", filter);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error loading stock data:", errorThrown);
                }
            });
        }

        $(".filter").on("click", function () {
            var filterValue = $(this).attr("data-value");
            selectedFilter_topgainers = filterValue;
            loadStockData(filterValue);
        });

        // Initial loading with the last selected filter value
        loadStockData(selectedFilter_topgainers);
    });
</script>






<div>
    <div class="top_gainer_header mt-5 d-flex justify-content-between" style="padding: 0 15px !important;">
        <h5>Top Gainers Stock </h5>

        <a class="top_loosers" href="{% url 'top_loosers' %}">
            Top Looser
        </a>
    </div>
    <div class="main_top_gainer" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
        <div class="main_filter d-flex">
        <div class="filters" style="    display: flex;
        overflow: auto;">
            <span class="filter active" data-value="day">1 Day</span>
            <span class="filter" data-value="week">1 Week</span>
            <span class="filter" data-value="month">1 Month</span>
            <span class="filter" data-value="year">1 Year</span>
        </div>
    </div>
    <div class="upper_main_top_gainers_table">
        <div class="main_table">
        <table id="stock-table" class="table table-striped-custom cell-border" style='    white-space: nowrap;'>
            <thead>
                <tr>
                 
                    <th>Symbol Name</th>
                    <th>LTP </th>
                    <th>Today High</th>
                    <th>Today Low</th>
                    <!-- <th>Today Close</th> -->
                    <th>Previous High</th>
                    <th>Previous Low</th>
                    <th>Previous Close</th>
                    <th>Change Value</th>
                    <th>Today Volume</th>
                    <th>Chart</th>
                    <!-- <th>Change Percent</th> -->
                </tr>
            </thead>
            <tbody>
                <!-- Table data will be loaded dynamically here -->
            </tbody>
        </table>
    </div>
    </div>
</div>
</div>

{% endblock dashboard_body %}