{% extends 'base.html' %}
{% load static %}
{% block title %}Invester | Algo Trading{% endblock title %}

{% block  body%}

<div class="body body--start p-useCases">
    <!-- SECTION main :: START-->
<section class="main main--features main--useCases position-relative" id="main">
<div class="main__bg main__bg-0 position-absolute w-100 h-100"><img class="main__bg-img main__bg-img-1 position-absolute"
     src="{% static '/img/img-main-bg-1.png' %}" srcset="/img/img-main-bg-1@2x.png 2x, /img/img-main-bg-1@3x.png 3x" alt="Background Image"
      title="Background Image"><img class="main__bg-img main__bg-img-3 img-fluid d-none d-md-block d-lg-none position-absolute" 
      src="{% static '/img/img-main-bg-2.png' %}" srcset="/img/img-main-bg-2@2x.png 2x, /img/img-main-bg-2@3x.png 3x" alt="" title=""></div>
<div class="main__wrapper position-relative">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main__text-wrapper">
                    <h1 class="main__title">Follow the smart money.</h1>
                    <p class="main__desc main__desc-0 main__desc--pb">As a Strategy Subscriber you have the
                        opportunity to search our strategy market to see exactly how high-performing strategies have
                        worked for other brokers, traders, and investors. And then subscribe to the same strategies
                        to use on Tradetron. Your only focus then will be to find the best strategies and allocate
                        capital based on your
                        risk tolerance levels. Simply put, until you figure out a way to do it yourself, follow
                        someone who does.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main__bg main__bg-1 position-absolute w-100 h-100">
    <div class="main__bg-row d-flex position-absolute w-100 h-100 justify-content-between">
        <div class="main__bg-col main__bg-col-1 position-absolute"></div>
        <div class="main__bg-col main__bg-col-2 d-flex align-items-start justify-content-end position-absolute">
            <img class="main__bg-img main__bg-img-3 img-fluid d-block position-absolute" src="{% static '/img/img-main-bg-2.png' %}"
             srcset="/img/img-main-bg-2@2x.png 2x, /img/img-main-bg-2@3x.png 3x" alt="" title="">
             <img class="main__bg-img main__bg-img-2 img-fluid d-block position-absolute" src="{% static '/img/img-investing.svg' %}"
              srcset="/img/img-investing.svg 2x, /img/investing.svg 3x" alt="" title=""></div>
    </div>
</div>
</section>
<!-- SECTION main :: END-->
<!-- SECTION description :: START-->
<section class="description position-relative" id="description">
<div class="description__bg position-absolute w-100 h-100"><img src="{% static '/img/img-do-bg.png' %}" 
    srcset="/img/img-do-bg@2x.png 2x, /img/img-do-bg@3x.png 3x" alt="" title=""></div>
<div class="description__wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="description__title description__title-0 c-subtitle">Your broker is not algo enabled. Now
                    what?</h2>
                <p class="description__text description__text-0 c-text">We will help you receive all trades via
                    email, SMS, whatsapp and phone notifications to carry on taking trades in the manner you are
                    accustomed to. But if you really want to fast track things, then shift to a broker who has an
                    algo-enabled system (<a href="https://tradetron.tech/html-view/partners" style="text-decoration: underline;">Here are a few</a>). Alternatively get your broker to write to us and we can
                    guide them.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="description__title description__title-1 c-subtitle">So what will all of this cost
                    you?</h2>
                <p class="description__text description__text-1 c-text">Our fees are fairly straight forward and
                    depend entirely on how you plan to use Tradetron.</p>
                <ul class="trading__list mb-3">
                    <li class="trading__list-item">
                        <p class="c-text">A monthly fee to become a Tradetron subscriber</p>
                    </li>
                    <li class="trading__list-item">
                        <p class="c-text">A monthly fee to subscribe to the strategies you like (though many strategies are completely
                            free)</p>
                    </li>
                    <li class="trading__list-item">
                        <p class="c-text">
                            A percentage of profits as fixed by the strategy creator (though many creators ask for a
                            percentage only if their strategy has made money for you)
                        </p>
                    </li>
                </ul>
                <p class="description__text description__text-1 c-text">
                    Needless to mention, if you have your own strategies, you don’t have to bother about fee 2 and 3.
                    In fact, your top performing strategies can actually be listed on the marketplace and earn you
                    money.
                </p>
            </div>
        </div>
    </div>
</div>
</section>
<!-- SECTION description :: END-->
</div>



{% endblock body %}