{% extends 'base.html' %}
{% load static %}

{% block title %}Use Case | Algo Trading{% endblock title %}

{% block body %}

<div class="body body--start p-useCases">
    <!-- SECTION main :: START-->
<section class="main main--features main--useCases position-relative" id="main">
<div class="main__bg main__bg-0 position-absolute w-100 h-100"><img class="main__bg-img main__bg-img-1 position-absolute" 
    src="{% static '/img/img-main-bg-1.png' %}" srcset="/img/img-main-bg-1@2x.png 2x, /img/img-main-bg-1@3x.png 3x" alt="Background Image"
     title="Background Image"><img class="main__bg-img main__bg-img-3 img-fluid d-none d-md-block d-lg-none position-absolute" 
     src="{% static '/img/img-main-bg-2.png' %}" srcset="/img/img-main-bg-2@2x.png 2x, /img/img-main-bg-2@3x.png 3x" alt="Background Image" title="Background Image"></div>
<div class="main__wrapper position-relative">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main__text-wrapper">
                    <h1 class="main__title">Realise your dream of being a PMS provider.</h1>
                    <p class="main__desc main__desc-0 main__desc--pb">As a strategy creator, you have
                        undoubtedly gone through enough loss making trades to realise that haphazard trading
                        makes no money. Then you discovered what works and realised you can do this for
                        multiple people. As you give out your trades to your clients you realise soon enough
                        that they are, for various reasons, unable to manage the trade in the way you had
                        imagined. So you begin by handling their trading account. For a few accounts, this
                        works well, but as the number of accounts increase, it becomes cumbersome to manage
                        different quantities of the same trades in different accounts. And of course, when
                        it’s an SOS exit across all accounts, the slippage in some accounts could go through
                        the roof.</p>
                    <p class="main__desc main__desc-1">Thankfully, we have a solution. Create a strategy
                        with either a set of rules or if the algo trading bug has still not bit you, you can
                        manually add your buy or sell signals and once you add it to your strategy, it will
                        get executed across all brokerage accounts of your subscribers at one go. Regardless
                        of whether there are 3 or 3000 - In different quantities across different brokers.
                        If any account faces any execution issue, our system will immediately alert the user
                        to take quick corrective offline action.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main__bg main__bg-1 position-absolute w-100 h-100">
    <div class="main__bg-row d-flex position-absolute w-100 h-100 justify-content-between">
        <div class="main__bg-col main__bg-col-1 position-absolute"></div>
        <div class="main__bg-col main__bg-col-2 d-flex align-items-start justify-content-end position-absolute">
            <img class="main__bg-img main__bg-img-3 img-fluid d-block position-absolute" src="{% static '/img/img-main-bg-2.png' %}"
             srcset="/img/img-main-bg-2@2x.png 2x, /img/img-main-bg-2@3x.png 3x" alt="" title="">
             <img class="main__bg-img main__bg-img-2 img-fluid d-block position-absolute" src="{% static '/img/img-setup-analytics.png' %}" srcset="/img/img-setup-analytics@2x.png 2x, /img/img-setup-analytics@3x.png 3x" alt="" title=""></div>
    </div>
</div>
</section>
<!-- SECTION main :: END-->
<!-- SECTION description :: START-->
<section class="description position-relative" id="description">
<div class="description__bg position-absolute w-100 h-100"><img src="{% static '/img/img-do-bg.png' %}"
     srcset="/img/img-do-bg@2x.png 2x, /img/img-do-bg@3x.png 3x" alt="" title=""></div>
<div class="description__wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="description__title description__title-0 c-subtitle">Make a strategy. Make some
                    money. And some fans.</h2>
                <p class="description__text description__text-0 c-text">Tradetron offers you the unique
                    opportunity to become a Strategy Creator and sell your strategies on our social trading
                    platform. You can market your strategies, using your ROI as proof of the pudding. Right
                    off Tradetron. But don’t take our word for it. Sign up, create your one free strategy
                    and then decide for yourself. If it works for you, the right to list your strategy on
                    the marketplace is yours for a small monthly fee. Needless to add, your strategy logic
                    and decision making criterion are never disclosed to your users. A win-win
                    situation.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="description__title description__title-1 c-subtitle">Your next business plan -
                    right here</h2>
                <p class="description__text description__text-1 c-text">Start a manual strategy to add
                    positions based on your fav analyst / investor / mutual fund and keep adding and
                    removing scrips they recommend and market it to other users who would like to follow
                    them but dont have the time to manually track their each move.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="description__title description__title-2 c-subtitle">So what will all of this cost
                    you?</h2>
                <p class="description__text description__text-2 description__text--last c-text">Our fees are
                    fairly straightforward and depends on your success on our platform.<br>1) A monthly fee
                    to become a Tradetron subscriber and list your strategy on the marketplace<br>2) A small
                    percentage of your fees depending upon your subscription plan. <a href="./pricing.html" title="Pricing" style="text-decoration: underline;">
                                    See the pricing page for
                    details.</a></p>
            </div>
        </div>
    </div>
</div>
</section>
<!-- SECTION description :: END-->
</div>


{% endblock body %}