<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="container" style="width: 100%; margin-top: 30px;">
        <canvas id="mychart"></canvas>
    </div>

    <script>
        Chart.defaults.LineWithLine = Chart.defaults.line;
        Chart.controllers.LineWithLine = Chart.controllers.line.extend({
            draw: function(ease) {
                Chart.controllers.line.prototype.draw.call(this, ease);

                if (this.chart.tooltip._active && this.chart.tooltip._active.length) {
                    var activepoint = this.chart.tooltip._active[0],
                        ctx = this.chart.ctx,
                        x = activepoint.tooltipPosition().x,
                        topY = this.chart.scales['y-axis-0'].top,
                        bottomY = this.chart.scales['y-axis-0'].bottom;

                    // Draw line
                    ctx.save();
                    ctx.beginPath();
                    ctx.moveTo(x, topY);
                    ctx.lineTo(x, bottomY);
                    ctx.lineWidth = 4;
                    ctx.strokeStyle = '#757575';
                    ctx.stroke();
                    ctx.restore();
                }
            }
        });

        Chart.defaults.global.defaultFontFamily = 'arial';
        Chart.defaults.global.defaultFontSize = 16;
        Chart.defaults.global.defaultFontColor = '#000';

        var ctx = document.getElementById("mychart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'LineWithLine',
            data: {
                labels: ['20/09/2017', '20/10/2017', '20/11/2017', '20/12/2017'],
                datasets: [{
                    label: 'us dollar',
                    fill: false,
                    lineTension: 0,
                    data: [123, 143, 156, 122],
                    pointBackgroundColor: '#f90',
                    pointHoverBackgroundColor: '#fff',
                    backgroundColor: ['#2277bb', '#2277bb', '#2277bb', '#000000'],
                    borderWidth: 3,
                    borderColor: '#f90',
                    pointHoverRadius: 5
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'chart 1',
                    fontSize: 16
                },
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true,
                    intersect: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        });
    </script>
</body>
</html>
